Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-5205 Add ACC env (#1030)
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: none

fix: update date
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Mijn-6997 implement logout hint (#1025)
  package-lock.json
  package.json
  src/server/config.ts
  src/server/helpers/app.test.ts
  src/server/helpers/app.ts
  src/server/router-oidc.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Regenerate lock file
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Try with key[0]
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

Try keyset
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

Api
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

Get key
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

Remove unused
  src/server/helpers/app.development.ts
Due: azure-pipeline-bff.yaml

Remove log and comments
  src/server/helpers/app.development.ts
Due: azure-pipeline-bff.yaml

fix: update sorting
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
  src/client/pages/Vergunningen/__snapshots__/Vergunningen.test.tsx.snap
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix: add header
  src/server/config.ts
Due: azure-pipeline-bff.yaml

fix: update text
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen-content.ts
Due: azure-pipeline-bff.yaml

fix: update statuslines
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

fix: make prettier
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

fix: integrate old/new
  src/client/AppState.ts
  src/server/services/controller.ts
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix: add erfpachtv2 to appstate
  src/client/AppState.ts
Due: azure-pipeline-ui.yaml

Test prod id_token
  src/server/router-oidc.ts
Due: azure-pipeline-bff.yaml

Differentiate logout call in prd/acc
  src/server/router-oidc.ts
Due: azure-pipeline-bff.yaml

Update src/server/config.ts
  src/server/config.ts
Due: azure-pipeline-bff.yaml

MIJN-5242 - connectie test erfpacht (#938)
  src/client/AppState.ts
  src/client/hooks/useChapters.ts
  src/server/config.ts
  src/server/services/controller.ts
  src/server/services/simple-connect/erfpacht.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-5123 - Aanvragen stadspas toggle (#1020)
  src/client/App.tsx
  src/client/components/Search/search-config.json
  src/client/config/api.ts
  src/client/pages/Stadspas/Stadspas.tsx
  src/client/pages/Stadspas/__snapshots__/Stadspas.test.tsx.snap
  src/server/services/wpi/api-service.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-6522- Fat fixes RVV-sloterweg (#1024)
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
  src/client/pages/Vergunningen/__snapshots__/Vergunningen.test.tsx.snap
  src/server/mock-data/json/vergunningen.json
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen-content.ts
  src/server/services/vergunningen/vergunningen.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-7130 package api updates (#1031)
  package-lock.json
  package.json
  src/client/assets/icons/index.tsx
  src/client/assets/icons/map/index.tsx
  src/client/components/Button/Button.test.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainNavBar/MainNavBar.tsx
  src/client/components/MainNavBar/MainNavBarSimple.tsx
  src/client/pages/ApplicationError/ApplicationError.tsx
  src/client/pages/Landing/LandingYivi.tsx
  src/server/app.ts
  src/server/config.ts
  src/server/helpers/app.development.ts
  src/server/helpers/app.test.ts
  src/server/helpers/app.ts
  src/server/mock-data/index.ts
  src/server/router-development.ts
  src/server/router-oidc.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/buurt/helpers.ts
  src/server/services/buurt/supercluster.ts
  src/server/services/simple-connect/subsidie.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Extract overtredingen from api response
  src/client/config/api.ts
  src/server/services/simple-connect/cleopatra.ts
  src/universal/config/chapter.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add Overtredingen
  src/client/AppState.ts
  src/client/assets/icons/index.tsx
  src/client/config/chapterIcons.tsx
  src/server/config.ts
  src/server/mock-data/index.ts
  src/server/mock-data/json/cleopatra.json
  src/server/mock-data/json/milieuzone.json
  src/server/openapi.yml
  src/server/services/controller.ts
  src/server/services/simple-connect/cleopatra.test.ts
  src/server/services/simple-connect/cleopatra.ts
  src/server/services/simple-connect/index.ts
  src/server/services/tips-and-notifications.ts
  src/universal/config/app.ts
  src/universal/helpers/chapters.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add number sort
  src/server/services/afval/afvalpunten.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix bug
  src/server/services/afval/afvalpunten.ts
Due: azure-pipeline-bff.yaml

Change service conditions
  src/server/services/simple-connect/cleopatra.ts
Due: azure-pipeline-bff.yaml

fix: update statusline
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
Due: azure-pipeline-ui.yaml

test: update snapshot
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-7105 env based token hint (#1038)
  src/server/router-oidc.ts
Due: azure-pipeline-bff.yaml

Fix name
  src/client/config/api.ts
  src/universal/config/chapter.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix: update code and tests
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add icon
  src/client/assets/icons/Overtredingen.svg
  src/client/assets/icons/index.tsx
Due: azure-pipeline-ui.yaml

MIJN-7117 - RVV Sloterweg statustrein update (#1040)
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Change color + lineheight
  src/client/assets/icons/Overtredingen.svg
  src/client/components/MainNavSubmenu/MainNavSubmenu.module.scss
  src/client/components/MyChaptersPanel/MyChaptersPanel.tsx
Due: azure-pipeline-ui.yaml

Don’t trigger on main
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
Due: none

fix: use name of vergunning for content
  src/client/pages/VergunningDetail/RvvSloterweg.tsx
  src/server/mock-data/json/vergunningen.json
  src/server/services/vergunningen/vergunningen-content.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
