Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add isready to error
  src/client/hooks/useAppState.ts
Due: azure-pipeline-ui.yaml

FIX be tests
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis.test.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Update appState/fetch related functionality
  __mocks__/zustand.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/client/hooks/api/useDataApi-v2.ts
  src/client/hooks/useAppState.test.tsx
  src/client/hooks/useAppStateFallbackServicesAll.ts
  src/client/hooks/useAppStateRemote.ts
  src/client/hooks/useAppStateStore.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix
  src/client/components/MainFooter/MainFooter.tsx
Due: azure-pipeline-ui.yaml

Update tests
  src/client/components/ErrorMessages/ErrorMessages.test.tsx
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/config/api.ts
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/hooks/api/useDataApi-v2.ts
  src/client/hooks/useAppState.test.tsx
  src/client/hooks/useAppState.ts
  src/client/hooks/useNotifications.ts
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Landing/Landing.test.tsx
  src/client/pages/MyNotifications/MyNotifications.test.tsx
  src/client/pages/Search/Search.test.tsx
  src/client/pages/Thema/AVG/AVG.test.tsx
  src/client/pages/Thema/AVG/AVGDetail.test.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Afis/AfisList.test.tsx
  src/client/pages/Thema/Afis/AfisThema.test.tsx
  src/client/pages/Thema/Afval/Afval.test.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren.test.tsx
  src/client/pages/Thema/Bezwaren/BezwarenDetail.test.tsx
  src/client/pages/Thema/Burgerzaken/Burgerzaken.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtFacturen.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtListOpenFacturen.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
Due: azure-pipeline-ui.yaml

use single bffApi store
  mocks/routes/decos.js
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/Search/useSearch.tsx
  src/client/hooks/api/useCmsMaintenanceNotifications.ts
  src/client/hooks/api/useDataApi-v2.ts
  src/client/hooks/api/useItemStore.ts
  src/client/hooks/api/useSessionApi.ts
  src/client/hooks/useAppState.ts
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Thema/Erfpacht/DossierDetail/useErfpachtDossierData.hook.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/useStadspassen.hook.tsx
  src/client/pages/Thema/Profile/private/useAantalBewonersOpAdres.hook.ts
  src/client/pages/Thema/Vergunningen/detail-page-content/useVergunningDocumentsList.hook.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post merge fix
  src/client/pages/Thema/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Thema/Varen/VarenList.test.tsx
Due: azure-pipeline-ui.yaml

Add tests
  pnpm-lock.yaml
  src/client/hooks/api/useBffApi.test.ts
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml

Fix loading display
  src/client/App.tsx
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml

Add additional identifier
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

MIJN-12141-Bug - Add additional identifier (#2136)
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Simplify authenticated route handling
  src/server/routing/bff-routes.ts
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/bezwaren/bezwaren-route-handlers.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/shared/document-download-route-handler.ts
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/zorgned/fetch-docs.js
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add raw endpoints
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add authMethod
  src/server/services/patroon-c/subsidie.ts
Due: azure-pipeline-bff.yaml

Include polyfill for toSorted
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Comment van Roan toegevoegd
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

Set a new lib so we know what to polyfill
  src/index.tsx
  tsconfig.json
Due: azure-pipeline-ui.yaml

Add api key to smile
  src/server/config/source-api.ts
  src/server/services/avg/avg.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

MIJN-12143-Bug - Add authMethod - MIJN-12142-Bug - toSorted polyfill (#2137)
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/server/services/patroon-c/subsidie.ts
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Skip tests. See acceptance criteria in: https://gemeente-amsterdam.atlassian.net/browse/MIJN-12053
  src/client/pages/GeneralInfo/GeneralInfo.test.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

MIJN-12145-Chore - Add api key to smile (#2138)
  src/server/config/source-api.ts
  src/server/services/avg/avg.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

Bodem-thema-config.ts:
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

make tests less strict for upcoming statusline addition
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

feat(bodem): uitlegsecties vanuit themaConfig tonen op BodemThema pagina
  src/client/pages/Thema/Bodem/BodemThema.tsx
Due: azure-pipeline-ui.yaml

app.types.ts:
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

GeneralInfo.tsx:
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

Bodem.test.tsx:
  src/client/pages/Thema/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

Add comment
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Rename method, move transform outside to prevent caching
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
Due: azure-pipeline-bff.yaml

Simplify varen decos zaken
  src/server/services/varen/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Update varen meer informatie link
  src/client/pages/Thema/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml

BodemDetail.tsx:
  src/client/pages/Thema/Bodem/BodemDetail.tsx
Due: azure-pipeline-ui.yaml

BodemList.tsx:
  src/client/pages/Thema/Bodem/BodemList.tsx
Due: azure-pipeline-ui.yaml

Test aangeapst en laatste item van Pagefooter amsterdam verwijderd
  mocks/fixtures/cms-footer.json
  src/client/components/MainFooter/MainFooter.tsx
Due: azure-pipeline-ui.yaml

link3 verwijderd
  src/client/components/MainFooter/MainFooter.test.tsx
Due: azure-pipeline-ui.yaml

van to href gemaakt
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

Test aangepast
  src/client/components/MainFooter/MainFooter.test.tsx
Due: azure-pipeline-ui.yaml

Testfile changes uitgehaald
  src/client/components/MainFooter/MainFooter.test.tsx
Due: azure-pipeline-ui.yaml
