Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

use DS for sep color
  src/client/components/AfspraakCard/AfspraakCard.module.scss
Due: azure-pipeline-ui.yaml

use percentage
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

retore bad commit
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

fix test
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

border variable
  src/client/components/AfspraakCard/AfspraakCard.module.scss
Due: azure-pipeline-ui.yaml

pagecontent=null
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

improve types
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/pages/Thema/KlantContact/useKlantcontactData.hook.tsx
  src/server/services/salesforce/klantcontact.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update src/client/pages/Thema/KlantContact/KlantContactThema.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

MIJN-12964-FEATURE: Applicatie offline bij wegvallen database connectie (#2565)
  eslint.config.mjs
  src/jobs/fetch-notifications-amsapp.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/db/postgres-watchdog.test.ts
  src/server/services/db/postgres-watchdog.ts
  src/server/services/db/postgres.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/varen/varen-notifications.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/universal/helpers/date.ts
  src/universal/helpers/utils.test.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove featuretoggle
  src/server/config/feature-toggles.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

use pool specification from infra
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

specify repo
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

absolute path
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add path param
  src/server/services/admin/admin-route-handlers.ts
Due: azure-pipeline-bff.yaml

Eerste opzet
  src/server/services/vergunningen/decos-status-steps.ts
  src/server/services/vergunningen/vergunningen-notifications-config.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

Apply suggestion from @timvanoostrom
  azure-pipeline-ui.yaml
Due: azure-pipeline-ui.yaml

correct!
  azure-pipeline-bff.yaml
  azure-pipelines.yaml
Due: azure-pipeline-bff.yaml

try
  azure-pipelines.yaml
Due: none

Make sure @ is not part of path
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12977-FEATURE: Change link, rm obsolete file (#2572)
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin.ts
Due: azure-pipeline-bff.yaml

Without decos removed from calls
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Testscript aangepast
  src/server/services/vergunningen/decos-status-steps.test.ts
  src/server/services/vergunningen/decos-status-steps.ts
Due: azure-pipeline-bff.yaml

add simple test
  src/server/services/vergunningen/vergunningen.test.ts
Due: azure-pipeline-bff.yaml

Add optional chain for verblijfplaats.verblijfadres in case it is undefined
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

Clarify andere erfpachtfacturen tekst on erfpacht thema
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

Fix newly detected lint problems
  src/server/routing/app-router-oidc.test.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.ts
Due: azure-pipeline-bff.yaml

simplify and make more appearant that data is mocked
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

Add dayname to default date format
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactor service a bit
  src/server/config/source-api.ts
  src/server/helpers/ics.ts
  src/server/helpers/source-api-helpers.ts
  src/server/services/controller.ts
  src/server/services/klantcontact/klantcontact-afspraken.ts
  src/server/services/klantcontact/klantcontact-contactmomenten.ts
  src/server/services/klantcontact/klantcontact-salesforce.ts
  src/server/services/klantcontact/klantcontact-service-config.ts
  src/server/services/klantcontact/klantcontact.test.ts
  src/server/services/klantcontact/klantcontact.ts
  src/server/services/klantcontact/klantcontact.types.ts
  src/server/services/salesforce/klantcontact.ts
Due: azure-pipeline-bff.yaml

Change loader display
  index.html
  src/index.tsx
Due: azure-pipeline-ui.yaml

Move calender link generation to BFF
  src/client/components/CalendarLink/CalendarLink.test.tsx
  src/client/components/CalendarLink/CalendarLink.tsx
Due: azure-pipeline-ui.yaml

Add a button that looks like a link
  src/client/components/MaLink/MaLink.module.scss
  src/client/components/MaLink/MaLink.tsx
Due: azure-pipeline-ui.yaml

Add a button + modal combo
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Use new ButtonModal component
  src/client/components/LocationModal/LocationModal.tsx
Due: azure-pipeline-ui.yaml

Remobe QR detail paga
  src/client/pages/Thema/KlantContact/KlantContact-render-config.ts
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

Unify design for Afspraak card (experimental)
  src/client/components/AfspraakCard/AfspraakCard.module.scss
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/KlantContact/AfspraakListPage.tsx
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.module.scss
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.test.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
  src/client/pages/Thema/KlantContact/useKlantcontactData.hook.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

MIJN-13057-BUG: Optional chain verblijfadres to allow undefined value (#2575)
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

MIJN-12114-CHORE: Replace sada pool with mdp (#2574)
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13048-CHORE: Verbetervoorstel gpk gpp nav kto alg meldingen en beheer (#2577)
  src/server/services/vergunningen/decos-status-steps.test.ts
  src/server/services/vergunningen/decos-status-steps.ts
  src/server/services/vergunningen/vergunningen-notifications-config.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-13039-CHORE: Update erfpacht text (#2576)
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml
