Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Fix list items and intro text
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Separate concerns
  src/client/App.tsx
  src/client/pages/Parkeren/Parkeren.module.scss
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenDetail.tsx
  src/client/pages/Parkeren/detail-page-content/BZB.tsx
  src/client/pages/Parkeren/detail-page-content/BZP.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/client/pages/Parkeren/detail-page-content/GPK.tsx
  src/client/pages/Parkeren/detail-page-content/GPP.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Vergunningen/VergunningenList.tsx
  src/client/pages/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Vergunningen/useVergunningenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Add statuscode, add more flexible route matcher
  mocks/handlers/IntermediateAPIHandler.js
  mocks/routes/enableu-2-smile.js
Due: none

Refine types + postfix merges
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Upgrade Bezwaren
  src/client/config/api.ts
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.tsx
  src/client/pages/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Vergunningen/detail-page-content/useVergunningDocumentsList.hook.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/bezwaren/bezwaren-route-handlers.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Upgrade klacht detail
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Klachten/KlachtenDetail.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

Fix styles
  mocks/fixtures/wpi-specificaties.json
  src/client/pages/Inkomen/InkomenSpecificaties.module.scss
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/server/services/wpi/api-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Inkomen upgrade
  src/client/App.tsx
  src/client/config/routes.ts
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Inkomen/InkomenDetailTonk.tsx
  src/client/pages/Inkomen/InkomenDetailTozo.tsx
  src/client/pages/Inkomen/InkomenDetailUitkering.tsx
  src/client/pages/Inkomen/InkomenListPage.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.module.scss
  src/client/pages/Inkomen/InkomenSpecificaties.test.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Inkomen/useAddDocumentLinks.tsx
  src/client/pages/Inkomen/useInkomenDetailData.hook.ts
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/InkomenSpecificaties/InkomenSpecificaties.tsx
  src/client/pages/InkomenSpecificaties/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/InkomenSpecificaties/useAddDocumentLinks.tsx
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename components
  src/client/App.tsx
  src/client/pages/InkomenDetail/InkomenDetailTonk.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
Due: azure-pipeline-ui.yaml

Improve hooks, remove bloat
  src/client/pages/Inkomen/useAddDocumentLinks.tsx
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Conver inkomen detail pagina’s
  src/client/pages/InkomenDetail/InkomenDetailBbz.tsx
  src/client/pages/InkomenDetail/InkomenDetailTonk.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
  src/client/pages/InkomenDetail/InkomenDetailUitkering.tsx
  src/client/pages/InkomenDetail/useInkomenDetailData.hook.ts
  src/client/pages/StatusDetail/StatusDetail.module.scss
  src/client/pages/StatusDetail/StatusDetail.test.tsx
  src/client/pages/StatusDetail/StatusDetail.tsx
  src/client/pages/StatusDetail/__snapshots__/StatusDetail.test.tsx.snap
  src/server/services/wpi/wpi-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactor prop names
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/Inkomen.test.tsx
  src/server/services/wpi/api-service.ts
  src/server/services/wpi/content/specificaties.ts
  src/server/services/wpi/helpers.ts
  src/server/services/wpi/wpi-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add dependency error handling
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Update ListPage component, remove redundant PageContentCell
  src/client/App.tsx
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.test.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
Due: azure-pipeline-ui.yaml

Add some mock data
  mocks/fixtures/wpi-specificaties.json
Due: none

Add title link
  src/client/pages/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Fix Some sass warnings
  src/client/AppState.ts
  src/client/pages/Dashboard/WelcomeHeading.module.scss
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/styles/_z-index.scss
Due: azure-pipeline-ui.yaml

Take correct
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Chane import style
  src/client/App.tsx
  src/client/components/MainHeaderHero/MainHeaderHero.tsx
  src/client/components/MyArea/MyAreaLoader.tsx
  src/client/pages/Accessibility/Accessibility.tsx
  src/client/pages/BffError/BffError.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/HLI/HLIRegeling.tsx
  src/client/pages/HLI/HLIRegelingen.tsx
  src/client/pages/HLI/HLIStadspasDetail.tsx
  src/client/pages/HLI/HLIThemaPagina.tsx
  src/client/pages/Landing/Landing.tsx
  src/client/pages/NotFound/NotFound.tsx
  src/client/pages/Search/Search.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/client/pages/Zorg/Zorg.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
  src/client/pages/ZorgDetail/ZorgDetail.tsx
Due: azure-pipeline-ui.yaml

Go back
  src/client/components/PageHeading/PageHeadingV2.tsx
Due: azure-pipeline-ui.yaml

Add selectFields prop
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Post merge fixes
  src/client/pages/HLI/HLIStadspasDetail.tsx
  src/client/pages/Parkeren/Parkeren.module.scss
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen.module.scss
  src/client/pages/Vergunningen/Vergunningen.tsx
Due: azure-pipeline-ui.yaml

Migrate Verguninngen P1
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/Location.tsx
  src/client/pages/Vergunningen/detail-page-content/Nachtwerkontheffing.tsx
  src/client/pages/Vergunningen/detail-page-content/Omzettingsvergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Vergunningen/detail-page-content/StatusLineItems.tsx
  src/client/pages/Vergunningen/detail-page-content/TVMRVVObject.tsx
  src/client/pages/Vergunningen/detail-page-content/VOB.tsx
  src/client/pages/Vergunningen/detail-page-content/Woonvergunningen.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunning-rvv-sloterweg.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix some typing
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunning-rvv-sloterweg.ts
Due: azure-pipeline-bff.yaml

Add vergunningen transformers
  src/client/pages/Vergunningen/detail-page-content/AanbiedenDiensten.tsx
  src/client/pages/Vergunningen/detail-page-content/ERVV.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementMelding.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Add some more props
  src/server/services/decos/decos-field-transformers.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add sequential fetching
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Select everything
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Remove comments
  src/client/pages/Krefia/Krefia.tsx
Due: azure-pipeline-ui.yaml

Add some checks
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Change import
  src/client/App.tsx
  src/client/pages/BffError/BffError.tsx
Due: azure-pipeline-ui.yaml

Add decos raw data service
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove components
  src/client/components/MainHeader/SecondaryLinks.module.scss
  src/client/components/MainHeader/SecondaryLinks.tsx
Due: azure-pipeline-ui.yaml

Align statussteps
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.module.scss
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen.module.scss
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove type
  src/client/components/Alert/Alert.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/LoadingContent/LoadingContent.tsx
  src/client/components/Modal/Modal.tsx
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Panel/Panel.tsx
  src/client/components/StatusLine/StatusLine.tsx
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Upate route
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Rename type
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Horeca/HorecaDetail.test.tsx
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Horeca/useHorecaThemaData.hook.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add vergunnng
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

Add polling timeout as prop
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Generalize status steps for (decos) vergunningen
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml
