Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

fix small bug
  scripts/generate-user-data-overview.ts
Due: none

Add postpone setting
  src/server/services/patroon-c/svwi.ts
Due: azure-pipeline-bff.yaml

Update iframe in waitForUsabillaLiveInWindow
  src/client/hooks/useUsabilla.ts
Due: azure-pipeline-ui.yaml

convert too booleangit st
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

MIJN-11722-Bug - Add postpone setting (#1957)
  src/server/services/patroon-c/svwi.ts
Due: azure-pipeline-bff.yaml

MIJN-11636-FEATURE/facturen-vervangen-bij-erfpacht-voor-link-naar-facturen (#1958)
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

simple filename for easier azure pipeline publishing
  scripts/generate-user-data-overview.ts
Due: none

Replace usabilla image with local image
  src/client/components/Modal/Modal.tsx
  src/client/helpers/utils.ts
  src/client/hooks/useUsabilla.ts
Due: azure-pipeline-ui.yaml

MIJN-11706-BUG Replace usabilla image with local image (#1959)
  src/client/components/Modal/Modal.tsx
  src/client/helpers/utils.ts
  src/client/hooks/useUsabilla.ts
Due: azure-pipeline-ui.yaml

fix column headers shown with indexes
  scripts/generate-user-data-overview.ts
Due: none

Fix no thema's shown at notifications (actueel)
  scripts/generate-user-data-overview.ts
Due: none

Update cachKey of fetchBBDocumentsList to be unique between sessions
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

MIJN-7071-CHORE/digid-eh-testgegevens-aan-de-praat-krijgen-in-pipeline (#1960)
  .env.local.template
  package.json
  scripts/generate-user-data-overview.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use createSessionBasedCacheKey function
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

MIJN-11666-BUG Update cachKey of fetchBBDocumentsList to be unique between sessions (#1961)
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

set from disk var to false
  scripts/generate-user-data-overview.ts
Due: none

Cleanup
  src/client/helpers/utils.ts
  src/client/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

MIJN-11731-CHORE/fix-wrongly-configured-test-data-export-script (#1962)
  scripts/generate-user-data-overview.ts
Due: none

Remove collapsible variant, add aria-label
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/components/MyNotification/MyNotification.tsx
Due: azure-pipeline-ui.yaml

Change label
  src/client/components/MyArea/LegendPanel/CollapsiblePanel.tsx
Due: azure-pipeline-ui.yaml

Update tests
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add zaakproduct_id filter
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

RM log call
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Enable subsidie toggle for all envs
  src/client/pages/Thema/Subsidies/Subsidies-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-117360-Bug - Enable subsidie toggle for all envs (#1967)
  src/client/pages/Thema/Subsidies/Subsidies-thema-config.ts
Due: azure-pipeline-ui.yaml

Remove
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
Due: azure-pipeline-bff.yaml

MIJN-11734-Bug - Add zaakproduct_id filter (#1966)
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Update implementation
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

MIJN-11734-Bug - Update implementation (#1968)
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Mijn-11530-Chore - WCAG - improvements (#1965)
  src/client/components/MyArea/LegendPanel/CollapsiblePanel.tsx
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/components/MyNotification/MyNotification.tsx
  src/client/helpers/utils.ts
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/client/pages/MyNotifications/MyNotifications.tsx
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

Simplify
  src/client/pages/Dashboard/DashboardHeader.module.scss
  src/client/pages/Dashboard/DashboardHeader.tsx
Due: azure-pipeline-ui.yaml

add nodemon as dev dependency for running bff
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

check openstaande facturen in AFIS, not in erfpacht
  mocks/fixtures/afis/openstaande-facturen.json
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

Make fade once
  src/client/pages/Dashboard/DashboardHeader.module.scss
  src/client/pages/Dashboard/DashboardHeader.tsx
Due: azure-pipeline-ui.yaml

Add line
  src/client/components/Search/Search.module.scss
  src/client/pages/Dashboard/DashboardHeader.module.scss
Due: azure-pipeline-ui.yaml

fix test
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
Due: azure-pipeline-ui.yaml

Tip gemaakt, nieuwe const gemaakt, hasKidsBetween aangepast en andere hasKidsBetweenNamen aangepast, opmerking YearTo geplaatst
  mocks/fixtures/brp.json
  src/server/services/content-tips/predicates.ts
  src/server/services/content-tips/tips-content.ts
Due: azure-pipeline-bff.yaml

Add test
  src/client/components/MainHeader/ProfileName.tsx
  src/client/components/Search/Search.tsx
  src/client/components/Search/useSearch.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/server/services/content-tips/predicates.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
