Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-13636-FEATURE: Erfpacht notification status (#2781)
  src/client/apps/bob/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/server/services/erfpacht/erfpacht-notifications.test.ts
  src/server/services/erfpacht/erfpacht-notifications.ts
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken.test.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove aanvraag from aanvraag afgerond notification title
  src/server/services/erfpacht/erfpacht-notifications.ts
Due: azure-pipeline-bff.yaml

Add in for in behandeling case for notifications title
  src/server/services/erfpacht/erfpacht-notifications.ts
Due: azure-pipeline-bff.yaml

FEATURE: Add notification titles for 'Afgerond' and 'In behandeling' statuses
  src/server/services/erfpacht/erfpacht-notifications.ts
Due: azure-pipeline-bff.yaml

Put new zwd data in bff behind featureToggle
  src/server/services/tips-and-notifications.ts
  src/server/services/wonen/zwd.ts
Due: azure-pipeline-bff.yaml

Various frontend fixes to mimick behaviour and design in other themas
  src/client/apps/bob/pages/Thema/Profile/private/VvEDetail.tsx
  src/client/apps/bob/pages/Thema/Profile/private/__snapshots__/VvEDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Refactor transformZWDCasesToNotifications to handle single case input and update related tests
  src/server/services/wonen/zwd-notifications.test.ts
  src/server/services/wonen/zwd-notifications.ts
Due: azure-pipeline-bff.yaml

Correct filters for tables
  src/client/apps/bob/pages/Thema/Jeugd/Jeugd-thema-config.ts
Due: azure-pipeline-ui.yaml

Rename "Aanvraag" to "Melding" ontvangen within tests
  src/client/apps/bob/pages/Thema/Jeugd/JeugdDetail.test.tsx
  src/client/apps/bob/pages/Thema/Jeugd/JeugdThema.test.tsx
Due: azure-pipeline-ui.yaml

Extend mock data with new test data
  src/mocks-server/fixtures/zorgned-leerlingenvervoer-aanvragen.json
Due: none

Update types to reflect missing product
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Add featuretoggle for erfpacht wijzigingen on erfpacht detail page
  src/client/apps/bob/pages/Thema/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

MIJN-13653-BUG: Erfpacht wijzigingen behind feature toggle on detail page (#2784)
  src/client/apps/bob/pages/Thema/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

MIJN-13636-FEATURE: Erfpacht notification status 2 (#2783)
  src/server/services/erfpacht/erfpacht-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-13573-FEATURE: Zwd aanvragen (#2761)
  src/client/apps/bob/pages/Thema/Profile/Profile-thema-config.ts
  src/client/apps/bob/pages/Thema/Profile/private/VvEDetail.test.tsx
  src/client/apps/bob/pages/Thema/Profile/private/VvEDetail.tsx
  src/client/apps/bob/pages/Thema/Profile/private/__snapshots__/VvEDetail.test.tsx.snap
  src/mocks-server/fixtures/zwd-vve.json
  src/server/config/feature-toggles.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/wonen/zwd-notifications.test.ts
  src/server/services/wonen/zwd-notifications.ts
  src/server/services/wonen/zwd.test.ts
  src/server/services/wonen/zwd.ts
  src/server/services/wonen/zwd.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Show tip reason when tip is expanded
  src/client/components/TipCard/TipCard.tsx
Due: azure-pipeline-ui.yaml

Improve readability by splitting up useMemo's
  src/client/hooks/useNotifications.ts
Due: azure-pipeline-ui.yaml

Add test for tips dashboard
  src/client/apps/bob/pages/Dashboard/Dashboard.test.tsx
Due: azure-pipeline-ui.yaml

Revert removal pagination at the top until discussed with Bram
  src/client/apps/bob/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

Add pagination at top for tips page as in design until discussed with Bram
  src/client/apps/bob/pages/MyTips/MyTips.tsx
Due: azure-pipeline-ui.yaml

Add displayProps for the "In behandeling" table
  src/client/apps/bob/pages/Thema/Jeugd/Jeugd-thema-config.ts
Due: azure-pipeline-ui.yaml

Show voorzieningen in behandeling for LLV
  src/server/config/feature-toggles.ts
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/jeugd/jeugd.ts
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/jzd/jzd-service-config.ts
  src/server/services/jzd/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/jzd/wmo/status-line-items/wmo-status-line-items.test-utils.ts
  src/server/services/jzd/wmo/wmo-zorgned-service.test.ts
  src/server/services/jzd/wmo/wmo-zorgned-service.ts
  src/server/services/jzd/wmo/wmo.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-status-line-items.test.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Fix types for files that were related to the Zorgned types
  src/server/services/hli/hli-regelingen-types.ts
  src/server/services/hli/hli.test.ts
  src/server/services/hli/rtm/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Substeps for meer informatie
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/jzd/wmo/status-line-items/wmo-generic.test.ts
  src/server/services/jzd/wmo/status-line-items/wmo-generic.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Remove few examples from sample data
  src/mocks-server/fixtures/zorgned-leerlingenvervoer-aanvragen.json
Due: none

Hide "In behandeling" date within Progress List
  src/client/components/StatusSteps/StatusSteps.test.tsx
  src/client/components/StatusSteps/StatusSteps.tsx
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
  src/server/services/zorgned/zorgned-types.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Revert column lable
  src/client/apps/bob/pages/Thema/Jeugd/Jeugd-thema-config.ts
Due: azure-pipeline-ui.yaml

Impore readability of test
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Show pending table conditionally
  src/client/apps/bob/pages/Thema/Jeugd/Jeugd-thema-config.ts
Due: azure-pipeline-ui.yaml

Rename symbol MELDING_ONTVANGEN, change texts
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/zorgned/zorgned-status-line-items.test.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Refactor getInBehandelingBijGemeenteDate function
  src/server/services/jzd/jeugd/status-line-items.ts
Due: azure-pipeline-bff.yaml

PR Feedback of Copilot
  src/mocks-server/fixtures/zorgned-leerlingenvervoer-aanvragen.json
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Cleanup a few things
  src/client/components/StatusSteps/StatusSteps.test.tsx
  src/server/services/jzd/jeugd/jeugd.ts
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/jzd/wmo/wmo-zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix tests
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/wmo/wmo-zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
Due: azure-pipeline-bff.yaml

Eerste opzet, datum besluit is nu niet gevuld, label wel aangepast
  src/client/apps/bob/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
Due: azure-pipeline-ui.yaml

Einddatum nu maar gebruikt.. Mockdata was incompleet en blijft incompleet
  src/client/apps/bob/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

snap gewijzigd
  src/server/services/bezwaren/__snapshots__/bezwaren.test.ts.snap
Due: azure-pipeline-bff.yaml

Remove duplicate import
  src/client/apps/bob/pages/Thema/KlantContact/Contactmomenten/useTransformContactmomenten.tsx
Due: azure-pipeline-ui.yaml

Add missing type from next branch in gh stack
  src/server/services/admin/admin-types.ts
Due: azure-pipeline-bff.yaml

Fix package.json
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
