Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

MIJN-12553-CHORE: Bezwaren thema config omzetten adhv hli bodem alg techniek (#2385)
  src/client/components/Search/search-config.tsx
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/Bezwaren.test.tsx
  src/client/pages/Thema/Bezwaren/BezwarenDetail.test.tsx
  src/client/pages/Thema/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Thema/Bezwaren/BezwarenList.tsx
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/InfoSection.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

all works, need to fix tests
  src/client/components/ListPagePaginated/FilterModal.module.scss
  src/client/components/ListPagePaginated/FilterModal.tsx
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/TableV2.types.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisList.tsx
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

snapshot updated
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
Due: azure-pipeline-ui.yaml

another test update, removed unexisting prompt
  src/client/components/ListPagePaginated/ListPagePaginated.test.tsx
Due: azure-pipeline-ui.yaml

updated name search to currentSearch to be in line with other table mutations
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
Due: azure-pipeline-ui.yaml

new feature toggle + renames
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/VvEDetail.tsx
  src/client/pages/Thema/Profile/private/useProfileData.hook.tsx
  src/client/pages/Thema/Profile/private/useWonenThemaData.hook.ts
  src/server/services/controller.ts
  src/server/services/wonen/zwd.test.ts
  src/server/services/wonen/zwd.ts
  src/server/services/wonen/zwd.types.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

themaConfig 'id' | 'title' | 'redactedScope' | 'profileTypes' | 'featureToggle' toegevoegd
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/InfoSection.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.ts
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

ZWD ipv VVE
  .env.local.template
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

pageLinks toegevoegd aan themaConfig
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.ts
Due: azure-pipeline-ui.yaml

themaConfig rond > route en uitlegpag erbij
  src/client/components/MainFooter/MainFooter.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Erfpacht/InfoSection.tsx
Due: azure-pipeline-ui.yaml

Detailpage toegevoegd aan themaconfig
  src/client/pages/Thema/Erfpacht/DossierDetail/useErfpachtDossierData.hook.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.tsx
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

ListPage gemaakt in themaconfig
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtList.tsx
Due: azure-pipeline-ui.yaml

WithDetailPageFactuur toegevoegd
  src/client/config/thema-types.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-helpers.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

WithListPageFacturen toegevoegd
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

beetje opgeschoond
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.ts
Due: azure-pipeline-ui.yaml

changes
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/MainMenu/MainMenu.module.scss
  src/client/components/MyNotification/MyNotification.module.scss
  src/client/pages/Dashboard/Dashboard.module.scss
Due: azure-pipeline-ui.yaml

MIJN-12551-CHORE: Avg thema config omzetten a d h v hli bodem alg techniek (#2378)
  src/client/components/Search/search-config.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/AVG/AVG.test.tsx
  src/client/pages/Thema/AVG/AVGDetail.test.tsx
  src/client/pages/Thema/AVG/AVGDetail.tsx
  src/client/pages/Thema/AVG/AVGList.tsx
  src/client/pages/Thema/AVG/AVGThema.tsx
  src/client/pages/Thema/AVG/InfoSection.tsx
  src/client/pages/Thema/AVG/useAVGData.hook.tsx
  src/client/pages/Thema/AVG/useAVGDetailPage.hook.tsx
  src/client/pages/Thema/AVG/useAVGListPage.hook.ts
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove from erfpacht
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Erfpacht/WoningIcon.svg
Due: azure-pipeline-ui.yaml

Add test update
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

Standardize businesspartnerId with 0 pad to 10
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add more debugging
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add invoices prop
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Change nummer
  mocks/routes/afis.js
Due: none

Use Mandate bankaccount_name
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add comment, fix type
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

FE test
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/server/services/brp/brp-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update test
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

unieke efrpacht type sin de themaConfi van erfpacht opgenomen
  src/client/config/thema-types.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

opmerkingen weggehaald en wel een comment betreft profiltype commercial geplaatst
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

Address PR comments
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add Iban redaction for logging
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

Do not mutate object
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

Fallback to >30 on aantal-bewoners-error-tooManyResults
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/useAantalBewonersOpAdres.hook.ts
  src/client/pages/Thema/Profile/private/useProfileData.hook.tsx
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add missing space
  src/server/services/brp/brp.test.ts
Due: azure-pipeline-bff.yaml

Add local session sync
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
Due: azure-pipeline-ui.yaml

Update title
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
Due: azure-pipeline-ui.yaml

Fix test with string reply over number for aantal-bewoners
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
Due: azure-pipeline-ui.yaml

title en id op de themaConfig
  src/client/pages/Thema/Jeugd/InfoSection.tsx
  src/client/pages/Thema/Jeugd/Jeugd-render-config.tsx
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
  src/client/pages/Thema/Jeugd/useJeugdThemaData.ts
Due: azure-pipeline-ui.yaml
