Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Update variable name + add comment
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

MIJN-11102-Chore - rtm fat bevindingen3 (#2048)
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

MIJN-11921-Chore - change test env (#2043)
  package.json
  pnpm-lock.yaml
  src/client/App.test.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.test.tsx
  src/client/components/DocumentList/DocumentLink.tsx
  src/client/components/DocumentList/DocumentListV2.test.tsx
  src/client/components/MainFooter/MainFooter.test.tsx
  src/client/pages/ApplicationError/ApplicationError.test.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/Horeca/Horeca.test.tsx
  src/client/pages/Thema/Horeca/HorecaDetail.test.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.test.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.tsx
  src/client/pages/Thema/Parkeren/Parkeren.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenList.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/testing/setup.ts
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-11744-bug schermdelen modal co browser schermdelen (#2049)
  public/css/cobrowse.css
Due: azure-pipeline-ui.yaml

wip
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

no longer ask BRP for data with commercial accounts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

MIJN-11936-BUG-brp-word-overbevraagd (#2052)
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

Boyscout: disable script loading during unittesting
  package.json
  pnpm-lock.yaml
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/hooks/useUsabilla.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11935-bug - Fix filtering
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-11900-FEATURE-afis-facturen-loading-indicatie-blijft-staan-indien-je-geen-businesspartner-bent (#2051)
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Mijn-11102-chore - rtm fat bevindingen4 (#2053)
  package.json
  pnpm-lock.yaml
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/hooks/useUsabilla.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add bff url helper
  src/client/helpers/api.ts
Due: azure-pipeline-ui.yaml

Change table config
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Add services + route handlers initial
  .env.local.template
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Add standard helper for decrypting json payload
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Add routes
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Add bff routes
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Refine types Afis
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add mock data
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
Due: none

Add ActionButton component
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add E-mandates initial
  .env.local.template
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Change Feature toggle value
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine types
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Add function to encrypt a JSON payload
  src/server/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Fix import
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Update E-mandates service
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Hook up loading state
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Use new url generating function
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Implement POM payment links
  mocks/routes/pom.js
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Update component and styles
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.module.scss
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Align urls and payloads
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Adjust payload
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add some comments, rename var
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add end date
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Refine type
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add refId’s
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Use a payload object
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Fix linkListItems
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Add generic route handler
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
