Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Change pending handling
  src/client/hooks/storage.hook.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename method
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Typos
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
Due: azure-pipeline-ui.yaml

Change severity and title
  src/client/components/Thema/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Add interaction
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Updates
  mocks/routes/powerbrowser.js
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/server/app.ts
  src/server/config/source-api.ts
  src/server/helpers/source-api-helpers.test.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
  src/server/services/afis/afis-types.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Updates with main
  src/client/components/MyArea/MyArea.hooks.ts
  src/client/hooks/api/useBffApi.test.ts
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
Due: azure-pipeline-ui.yaml

Updates
  mocks/routes/pom.js
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
Due: azure-pipeline-ui.yaml

Tie everything back together
  mocks/routes/pom.js
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/server/routing/route-helpers.ts
  src/server/routing/router-private.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
  src/server/services/wmo/wmo-service-config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  src/server/services/afis/afis-service-config.ts
Due: azure-pipeline-bff.yaml

Temp disable
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

MIJN-12225-bug - remove setting (#2180)
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Disable test
  src/server/routing/route-helpers.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12225-Bug - fix prod (#2181)
  src/server/routing/route-helpers.test.ts
Due: azure-pipeline-bff.yaml

Fix implementation
  src/server/routing/route-helpers.test.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

MIJN-12225-bug - Fix implementation (#2182)
  src/server/routing/route-helpers.test.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Do not fetch varen aanvragen exploitatievergunning
  src/server/services/decos/decos-service.test.ts
  src/server/services/varen/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Show '-' when betrokkenen is an empty string
  mocks/fixtures/zorgned-av-aanvragen-rtm.json
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

add extra text for a wijzigins aanvraag voor meerdere betrokkenen
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

kleine toevoegingen of aanpassingen
  package.json
  pnpm-lock.yaml
  readme.md
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Veranderingen op basis van feedback op comments die ik had opgepakt.
  readme.md
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/BodemDetail.tsx
  src/client/pages/Thema/Bodem/BodemThema.tsx
Due: azure-pipeline-ui.yaml

Het bestand infosection.tsx voor bodem verwijderd.
  src/client/pages/Thema/Bodem/InfoSection.tsx
Due: azure-pipeline-ui.yaml

Add statustrein that starts with a bunch of declines regelingen
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

check Aanvraag in, aanvraag to in behandeling chaings
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Merged branch
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

Align open api
  pnpm-lock.yaml
  src/server/openapi-dienstverlening.yml
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add api key security
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Add temp router
  src/server/routing/router-private.ts
  src/server/services/afis/afis-temp-router.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Add test scenario
  src/server/services/hli/rtm/rtm-aanvragen.ts
  src/server/services/hli/rtm/statustrein-result-from-sheet-and-more.json
Due: azure-pipeline-bff.yaml

Allow bun to start the app
  src/server/app.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Remove unused
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

wip: already fixed correct isActual state. Now correct statustrein
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Bodem-thema-config.ts:
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/useBodemListPageData.hook.ts
Due: azure-pipeline-ui.yaml

stacked statustrain for trains starting with different aanvragen
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

handle all aanvragen the same, no more ontvanger and the rest split
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Bodem-thema-config.ts:
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

In de thema's Jeugd, Erfpacht en HLI trackingurl toegevoegd. Dit komt door trackingurl nu verplicht is bij de themarouteconfig en die wordt in andere thema's gebruikt.
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
