Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

MIJN-12393 - add ext true
  src/server/services/patroon-c/cleopatra.ts
Due: azure-pipeline-bff.yaml

MIJN-13027-CHORE: Goedemorgen aanschrijfwijze alg user e xperience (#2666)
  src/client/pages/Dashboard/WelcomHeading.tsx
  src/client/pages/Dashboard/WelcomeHeading.module.scss
Due: azure-pipeline-ui.yaml

Regenerate lock file
  pnpm-lock.yaml
Due: none

Add feature-toggle to private router
  src/server/config/feature-toggles.ts
  src/server/services/jzd/jzd-service-config.ts
Due: azure-pipeline-bff.yaml

Rm connection to azure feature toggle
  src/server/config/feature-toggles.ts
  src/server/services/jzd/jzd-service-config.ts
Due: azure-pipeline-bff.yaml

Remove short values
  src/scripts/generate-user-data-overview.ts
Due: none

Remove types, add fallback
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary awaits
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Throw if network fails
  src/server/helpers/test-accounts.ts
Due: azure-pipeline-bff.yaml

Use elm
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

MIJN-13244-CHORE: Add feature toggle to private router (#2667)
  src/server/services/jzd/jzd-service-config.ts
Due: azure-pipeline-bff.yaml

Disable eMandates
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-12349-BUG: Disable eMandates (#2668)
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-13240-BUG: Test account generation changes (#2664)
  .env.local.template
  package.json
  pnpm-lock.yaml
  src/client/config/api.ts
  src/mocks-server/routes/storage-account-blob.ts
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-development.ts
  src/server/auth/auth-helpers-development.ts
  src/server/auth/generated/digid-test-accounts.json
  src/server/auth/generated/eherkenning-test-accounts.json
  src/server/config/azure-storage.ts
  src/server/helpers/env.test.ts
  src/server/helpers/env.ts
  src/server/helpers/test-accounts.ts
  src/server/routing/app-router-development.ts
  src/server/services/brp/brp.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/hr-kvk/hr-kvk.ts
  src/server/services/patroon-c/belasting.ts
  src/server/services/patroon-c/cleopatra.ts
  src/server/services/wonen/zwd.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactor redirect handling for improved readability
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

MIJN-13165-CHORE: Refactor redirect and returnto for readability (#2670)
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Use generatepath tableConfig route instead of themaconfig in pagination
  src/client/pages/Thema/KlantContact/Contactmomenten/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/Contactmomenten/ContactmomentenTable.tsx
Due: azure-pipeline-ui.yaml

Small fixes
  src/client/pages/Thema/KlantContact/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/KlantContact-render-config.ts
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

Fix incorrect passing of id prop in klantcontact
  src/client/pages/Thema/KlantContact/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

Remove unused and incorrect hook properties
  src/client/pages/Thema/Horeca/useHorecaThemaData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Remove unnecessary typing
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

Remove duplicate file
  src/client/pages/Thema/KlantContact/ContactmomentenListPage.tsx
Due: azure-pipeline-ui.yaml

Add gracefull fallback handling of optional page parameter in PaginationV2 for production
  src/client/components/Pagination/Pagination.test.tsx
  src/client/components/Pagination/PaginationV2.tsx
Due: azure-pipeline-ui.yaml

MIJN-13134-BUG: Paginering contactmomenten (#2671)
  src/client/pages/Thema/KlantContact/Contactmomenten/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/Contactmomenten/ContactmomentenTable.tsx
  src/client/pages/Thema/KlantContact/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/KlantContact-render-config.ts
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

MIJN-13165-CHORE: REMOVE unused and incorrect hook properties (#2672)
  src/client/pages/Thema/Horeca/useHorecaThemaData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Clarify comment pending payment text 11
  src/server/services/decos/decos-field-transformers.ts
Due: azure-pipeline-bff.yaml

Various fixes
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/KlantContact/Afspraken/AfspraakListPage.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
  src/mocks-server/fixtures/salesforce-afspraken-stadsloket.json
Due: azure-pipeline-ui.yaml

fix test
  src/client/pages/Dashboard/Dashboard.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-13159-BUG: Add condition for processed override (#2669)
  src/server/services/decos/decos-field-transformers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-service-config.ts
Due: azure-pipeline-bff.yaml

Add afspraken fixtures
  src/mocks-server/fixtures/salesforce-afspraken-stadsloket.json
Due: none

fix(dashboardheadersearch): overflow of content in searchresult
  src/client/pages/Dashboard/DashboardHeader.module.scss
Due: azure-pipeline-ui.yaml

MIJN-13282-BUG: Loading content rendert boven zoekresultaten (#2677)
  src/client/pages/Dashboard/DashboardHeader.module.scss
Due: azure-pipeline-ui.yaml

feat(afspraakcard): move buttons
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

refactor(afspraakcard): standaardiseer structuur
  src/client/components/AfspraakCard/AfspraakCard.module.scss
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

chore: remove unused import
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

test(afspraakcard): update snapshot
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

improv(afspraakcard): remove inline style
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

feat(Afspraakcard): remove icon in compact style
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml
