Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add log
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add mock data, refine StatusTrein determination
  mocks/fixtures/zorgned-av-aanvragen.json
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/status-line-items/pcvergoeding.ts
  src/server/services/zorgned/zorgned-config-and-types.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-status-line-items.ts
Due: azure-pipeline-bff.yaml

Remove log calls
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add HLI icon
  src/client/assets/icons/HLI.svg
  src/client/assets/icons/index.tsx
Due: azure-pipeline-ui.yaml

Add voorwaarde niet voldaan
  src/server/services/hli/status-line-items/pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Restore WMO documents
  src/server/services/wmo/wmo.ts
  src/server/services/zorgned/__snapshots__/zorgned-service.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Add test skeleton
  src/server/services/hli/hli-zorgned-service.test.ts
  src/server/services/hli/hli-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Remove commented code
  src/server/services/hli/hli-zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/services/hli/hli-zorgned-service.test.ts
  src/server/services/hli/hli-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Change line
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
Due: azure-pipeline-ui.yaml

Update lock
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update imports
  src/server/router-protected.ts
Due: azure-pipeline-bff.yaml

Add import
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

Add HLI responses to mocks
  mocks/collections.json
  mocks/fixtures/zorgned-av-persoonsgegevensNAW.json
  mocks/fixtures/zorgned-jzd-aanvragen.json
  mocks/fixtures/zorgned-wmo-aanvragen.json
  mocks/routes/zorgned.js
  src/server/config.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/client/components/DocumentList/DocumentList.test.tsx
  src/client/pages/BezwarenDetail/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Bodem/__snapshots__/LoodMeting.test.tsx.snap
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/HLI/helpers.ts
  src/client/pages/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/InkomenSpecificaties/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/StatusDetail/__snapshots__/StatusDetail.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/server/services/__snapshots__/brp.test.ts.snap
  src/server/services/hli/stadspas.test.ts
  src/server/services/horeca.test.ts
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/wmo-zorgned-service.test.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/wmo/wmo.ts
  src/server/services/zorgned/zorgned-service.test.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename file
  src/server/router-protected.ts
  src/server/services/zorgned/zorgned-wmo-hli-document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Add logging
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/wmo/wmo-zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Add feature toggle
  src/client/AppState.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add Feature toggle, update snaps
  src/client/App.tsx
  src/client/pages/InkomenSpecificaties/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/universal/helpers/themas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use full url
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Remove whitespace
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Change url
  src/client/pages/VergunningDetail/VergunningDetail.test.tsx
Due: azure-pipeline-ui.yaml

Update snaps, remove beforeEach
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Remove unused packages + Add error handling
  mocks/routes/zorgned.js
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change status code
  mocks/routes/zorgned.js
Due: none

Restore import dep
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update xlsx
  package.json
  vendor/xlsx-0.20.0.tgz
  vendor/xlsx-0.20.2.tgz
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update lock file
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Belastingen en meer nog niet klaar
  src/client/config/menuItems.ts
  src/client/hooks/useThemas.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Erfpacht (beide) ook gedaan
  src/client/config/menuItems.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Enable-logout-hint
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-8761 Enable logout hint
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-8761 Enable logout hint (#1330)
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add release notes via github cli within the release notification github workflow
  .github/workflows/release-notification.yml
  package.json
  scripts/release-notifications/card.js
  scripts/release-notifications/release-notes.js
  scripts/release-notifications/teams.js
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Moved data to sep file + start replace routes
  src/universal/config/routes.ts
  src/universal/config/thema-data.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
