Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Use correct api
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add POM routes, add update functionality
  mocks/collections.json
  mocks/routes/afis.js
  mocks/routes/pom.js
Due: none

Add object pyload
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Change comment
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add fetch bank account function
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Add prop omits
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Add bff routes
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Add createBankAccount
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add iso date helper
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add sign request return to placeholder
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml

Updates and refactor
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Change prop
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Remove unused env var
  .env.local.template
Due: none

RM comment
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add firstName, lastName to type
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Add initial external consumer endpoint
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Add static data
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Add initial fetch bank account
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

ADd comment
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Remove unused styles, rename selectors
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Post rebase fixes
  .env.local.template
  mocks/routes/afis.js
  package.json
  pnpm-lock.yaml
  src/client/helpers/api.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/config/source-api.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/shared/decrypt-route-param.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comments, parse body, change name
  mocks/routes/pom.js
  src/server/app.ts
  src/server/routing/bff-routes.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Add payload example
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Use base url
  mocks/routes/afis.js
Due: none

Fix post merge errors
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add bankaccount check
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Move
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add delivery mock endpoint
  mocks/collections.json
  mocks/routes/pom.js
  src/server/app.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Remove custom fn
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Add BFF sign request norification endpoint
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Fix ref
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Change formatting
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Update design
  mocks/routes/afis.js
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add mock route
  mocks/collections.json
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Parse xml payload
  package.json
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add create fn
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Update lock file
  pnpm-lock.yaml
Due: none

Change severity and title
  src/client/components/Thema/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml
