Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-10063-FEATURE Do not show button aanvragen exploitatie vergunning on varen thema page (#1834)
  src/client/pages/Varen/useVarenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

live
  src/client/config/thema.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix test
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
Due: azure-pipeline-ui.yaml

Add tests for varen status steps
  src/server/services/varen/varen-status-steps.test.ts
  src/server/services/varen/varen-status-steps.ts
Due: azure-pipeline-bff.yaml

Revert hashing decos zaak id
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Fix bug where two consecutive non checked statusses do not correctly set the isChecked and isActive for the other steps
  src/server/services/varen/varen-status-steps.ts
Due: azure-pipeline-bff.yaml

MIJN-8106-CHORE/live-zetten-op-prod-erfpacht-via-vernise (#1837)
  src/client/config/thema.ts
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

change disclaimer texts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

Remove titel check
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

Resolve PR conversations
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Varen/VarenList.test.tsx
  src/client/pages/Varen/useVarenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

MIJN-9999-BUG/disclaimer-tekst-bij-hulpmiddelen-van-1-11-acc-prod-meldingen (#1831)
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

MIJN-9476-CHORE Revert hashing decos zaak id (#1836)
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Re-add message capturing
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

Restore error capturing
  src/server/helpers/source-api-request.test.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Mijn-11267-Bug - restore error capturing (#1839)
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Fix bug
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Refactored
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

make test data more accurate
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

datepublish
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

move config base to top
  src/client/pages/Bodem/config.ts
Due: azure-pipeline-ui.yaml

add tests
  src/client/pages/Bodem/Bodem.test.tsx
  src/client/pages/Bodem/__snapshots__/Bodem.test.tsx.snap
Due: azure-pipeline-ui.yaml

No more snapshot tests and fix stateful renders
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

use asserts
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

add type checking and fix bug
  src/client/pages/Bodem/config.ts
  src/server/services/bodem/loodmeting-status-line-items.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/bodem/types.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove redundant '!!'
  src/client/pages/Bodem/config.ts
Due: azure-pipeline-ui.yaml

Enforce string type
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Eslint unused
  src/server/services/bodem/loodmetingen.ts
Due: azure-pipeline-bff.yaml

remove filter
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Fix test
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Refactor varen transformVarenFrontend to omit unnecessary properties
  src/client/pages/Varen/VarenDetailExploitatie.test.tsx
  src/server/services/decos/helpers.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/varen.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add varen fetchVaren tests
  src/server/services/varen/varen.test.ts
Due: azure-pipeline-bff.yaml

remove optional
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

test column headers
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

Replace as HTMLElement from varen tests with non-null assertion operator
  src/client/pages/Varen/Varen.test.tsx
  src/client/pages/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Varen/VarenList.test.tsx
Due: azure-pipeline-ui.yaml

Remove asserts
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-11269-BUG/threw-error-when-trying-to-filter-an-undefined (#1840)
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Reference dedicated release template
  azure-release-pipeline.yaml
Due: none

remove inthedocument boilerplate
  src/client/pages/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
