Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Rename type
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Horeca/HorecaDetail.test.tsx
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Horeca/useHorecaThemaData.hook.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add margin
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Add some safety
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add display status
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/varen.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add polling timeout as prop
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Polishing, focus trap, doc title functions
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/CollapsiblePanel/CollapsiblePanel.tsx
  src/client/components/LinkToListPage/LinkToListPage.tsx
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.tsx
  src/client/components/MyArea/MyArea.tsx
  src/client/components/MyArea/MyAreaLoader.tsx
  src/client/components/MyNotification/MyNotification.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Table/TableV2.tsx
  src/client/config/thema.ts
  src/client/pages/AVG/AVG-thema-config.ts
  src/client/pages/AVG/useAVGData.hook.tsx
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Bezwaren/Bezwaren-thema-config.tsx
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Profile/private/ContactMomenten.tsx
  src/client/pages/Profile/private/VertrokkenOnbekendWaarheen.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/avg/avg-status-line-items.ts
  src/server/services/avg/avg.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add session id to documents url
  src/server/helpers/encrypt-decrypt.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Generate url with encrypted id
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Update flag
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

Fix condition
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Respond with error if no test accounts are present
  src/server/routing/router-development.ts
Due: azure-pipeline-bff.yaml

Use different polling selector
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MyArea/Map/Zoom.tsx
  src/client/components/MyArea/MyArea.tsx
Due: azure-pipeline-ui.yaml

Allow different type
  mocks/routes/powerbrowser.js
Due: none

Rename title path parameter to caseType for consistency
  src/client/App.tsx
  src/client/config/routes.ts
  src/client/pages/HorecaDetail/HorecaDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/VergunningDetail/VergunningDetail.test.tsx
  src/server/services/decos/decos-service.ts
  src/server/services/decos/helpers.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/vergunningen.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Unleash the EGIS check
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add varen detail page
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenDetail.tsx
  src/client/pages/Varen/helpers.ts
  src/client/pages/Varen/useVarenDetailPage.hook.tsx
  src/client/pages/Varen/useVarenThemaData.hook.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/varen.ts
  src/server/services/varen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update search config
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Make formulieren endpoints in varen dynamice
  src/client/pages/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml

Replace Info details with DataLists
  src/client/pages/Parkeren/detail-page-content/BZB.tsx
  src/client/pages/Parkeren/detail-page-content/BZP.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/client/pages/Parkeren/detail-page-content/GPK.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Remove extended condition
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
Due: azure-pipeline-ui.yaml

Update Eigenparkeerplaats
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
Due: azure-pipeline-ui.yaml

Add spans
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Add basic styling
  src/client/pages/Varen/Varen.module.scss
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenDetail.tsx
  src/client/pages/Varen/helpers.ts
Due: azure-pipeline-ui.yaml

Rename vergunningen status steps to varen and rename step Afgehandeld to Besluit
  src/server/services/varen/varen-status-steps.ts
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Type varen labelMaps fully
  src/client/pages/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml

Move buttons/list items to hooks
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenDetail.tsx
  src/client/pages/Varen/useVarenDetailPage.hook.tsx
  src/client/pages/Varen/useVarenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Set gridColumnSpan for all screen widths
  src/client/pages/Varen/VarenDetail.tsx
  src/client/pages/Varen/helpers.ts
Due: azure-pipeline-ui.yaml

Hide button actiongroup when empty
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenDetail.tsx
Due: azure-pipeline-ui.yaml

Verify if the rowSet has any rows before showing it
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenDetail.tsx
Due: azure-pipeline-ui.yaml

Set check when in behandeling status is present
  src/server/services/varen/varen-status-steps.ts
Due: azure-pipeline-bff.yaml

Rename gridColumnNumber parameter to columnSpan in transformDetailsIntoRowSet and accept static and responsive span
  src/client/pages/Varen/helpers.ts
Due: azure-pipeline-ui.yaml

Implement varen list page
  src/client/App.tsx
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenLijst.tsx
  src/client/pages/Varen/useVarenListPage.hook.ts
Due: azure-pipeline-ui.yaml

Rename VarenLijst to VarenList
  src/client/App.tsx
  src/client/pages/Varen/VarenList.tsx
Due: azure-pipeline-ui.yaml

Revert ListPagePaginated change
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
Due: azure-pipeline-ui.yaml

Aggregate config into one object for readability
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Unleash the EGIS check (#1772)
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

set cert settings like other endpoints using the same one. Taking away the certificate error
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

refactor
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

fix wrong cert
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

rename
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
