Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Use deeplink redirect for logout dialog
  src/client/App.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/hooks/useDeeplink.hook.ts
Due: azure-pipeline-ui.yaml

Change ErrorMessages display
  src/client/App.tsx
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/Modal/Modal.tsx
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Post merge fixes
  package-lock.json
  src/client/components/MaLink/MaLink.module.scss
  src/client/pages/Varen/VarenDetail.tsx
  src/server/services/controller.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix status steps
  src/client/components/Datalist/Datalist.module.scss
  src/client/components/StatusLine/StatusLineV2.module.scss
  src/client/components/StatusLine/StatusLineV2.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove styles
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Post merge fixes
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Remove old component
  src/client/components/StatusLine/StatusLine.module.scss
  src/client/components/StatusLine/StatusLine.test.tsx
  src/client/components/StatusLine/StatusLine.tsx
Due: azure-pipeline-ui.yaml

Update tests
  src/client/AppState.ts
  src/client/components/Search/search-config.tsx
  src/client/components/Search/useSearch.test.tsx
  src/client/components/Search/useSearch.tsx
  src/client/config/thema.ts
  src/client/helpers/themas.ts
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.test.tsx
  src/client/pages/Inkomen/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Profile/private/useContactmomenten.hook.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

Update lock file
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add test suite for horeca
  src/server/services/horeca/horeca.test.ts
Due: azure-pipeline-bff.yaml

Change style, add attr
  src/client/components/MaLink/MaLink.tsx
  src/client/components/StatusLine/StatusLineV2.module.scss
Due: azure-pipeline-ui.yaml

Fix date
  src/client/pages/Dashboard/Dashboard.test.tsx
Due: azure-pipeline-ui.yaml

Re-add default arg
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunningen-helpers.ts
  src/server/services/vergunningen/vergunningen-notification-labels.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml

Remove default arg
  src/server/services/decos/config-and-types.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/server/services/__snapshots__/brp.test.ts.snap
  src/server/services/bezwaren/__snapshots__/bezwaren.test.ts.snap
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/decos/decos-route-handlers.test.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/horeca/horeca.test.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/krefia.test.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/simple-connect/belasting.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml

Change caseType to string
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/universal/types/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine types
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-helpers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/parkeren/config-and-types.ts
  src/server/services/varen/varen-status-steps.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunningen-helpers.ts
  src/server/services/vergunningen/vergunningen-notification-labels.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/pages/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Horeca/Horeca.test.tsx
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
Due: azure-pipeline-ui.yaml

Upate tests
  src/server/services/controller.test.ts
  src/server/services/controller.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml

Align types
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenDetail.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/server/services/decos/decos-helpers.test.ts
  src/server/services/decos/decos-helpers.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/decos-zaken.ts
  src/server/services/parkeren/parkeren-notifications.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-helpers.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/universal/types/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add tests
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen-status-steps.test.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Add and update tests
  src/server/services/parkeren/parkeren-decos-service.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
Due: azure-pipeline-bff.yaml

Fix endpoint
  src/server/services/bodem/loodmetingen.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/services/vergunningen/vergunning-rvv-sloterweg.test.ts
  src/server/services/vergunningen/vergunningen-status-steps.test.ts
Due: azure-pipeline-bff.yaml

Add some negative margin
  src/client/components/PageHeading/PageHeadingV2.module.scss
Due: azure-pipeline-ui.yaml

Styling + route fix
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/useCloseMenu.hook.ts
  src/client/components/MainHeaderHero/MainHeaderHero.module.scss
  src/client/components/MainMenu/MainMenu.module.scss
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/components/Modal/Modal.tsx
  src/client/pages/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/client/pages/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Bodem/__snapshots__/Bodem.test.tsx.snap
  src/client/pages/Bodem/__snapshots__/LoodMeting.test.tsx.snap
  src/client/pages/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
  src/client/pages/GeneralInfo/__snapshots__/GeneralInfo.test.tsx.snap
  src/client/pages/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Inkomen/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Klachten/__snapshots__/KlachtenDetail.test.tsx.snap
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/client/pages/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/ZorgDetail/__snapshots__/ZorgDetail.test.tsx.snap
  src/server/services/__snapshots__/brp.test.ts.snap
  src/server/services/bezwaren/__snapshots__/bezwaren.test.ts.snap
  src/server/services/simple-connect/__snapshots__/erfpachtv2.test.ts.snap
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/__snapshots__/zorgned-service.test.ts.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix list page kind assignment
  src/client/pages/Horeca/Horeca-thema-config.tsx
  src/client/pages/Parkeren/Parkeren-thema-config.ts
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/pages/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/client/pages/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Bodem/__snapshots__/Bodem.test.tsx.snap
  src/client/pages/Bodem/__snapshots__/LoodMeting.test.tsx.snap
  src/client/pages/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/client/pages/Inkomen/InkomenListPage.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.test.tsx
  src/client/pages/Inkomen/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Klachten/__snapshots__/KlachtenDetail.test.tsx.snap
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
Due: azure-pipeline-ui.yaml

Fix post-merge
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.ts
Due: azure-pipeline-bff.yaml

Styling
  src/client/App.tsx
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/SearchBar.module.scss
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.module.scss
  src/client/components/Search/Search.module.scss
  src/client/components/Search/Search.tsx
  src/client/components/Search/useSearch.tsx
  src/client/styles/_z-index.scss
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Fix button selector
  src/client/components/MainHeader/useCloseMenu.hook.ts
Due: azure-pipeline-ui.yaml

Update package files
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update sizing
  src/client/components/ErrorMessages/ErrorMessages.module.scss
Due: azure-pipeline-ui.yaml

Rename
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Change styles
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/pages/Zorg/Zorg.tsx
Due: azure-pipeline-ui.yaml

Buurt styling
  src/client/components/MyArea/Datasets.module.scss
  src/client/components/MyArea/LegendPanel/CollapsiblePanel.tsx
  src/client/components/MyArea/LegendPanel/DatasetPanel.tsx
  src/client/components/MyArea/LegendPanel/PanelComponent.module.scss
  src/client/components/MyArea/LegendPanel/PanelComponent.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/MyArea/MyArea.module.scss
  src/client/components/MyArea/MyAreaDatasets.module.scss
  src/client/components/MyArea/MyAreaSuperCluster.tsx
  src/client/styles/_z-index.scss
Due: azure-pipeline-ui.yaml

Change style of status steps component
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ZorgDetail/ZorgDetail.tsx
Due: azure-pipeline-ui.yaml

Styling
  src/client/pages/Dashboard/Dashboard.module.scss
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/styles/_z-index.scss
Due: azure-pipeline-ui.yaml
