Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Add some comments, rename var
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add request method to POM config
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

Fix import
  src/client/pages/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Update component and styles
  src/client/pages/Afis/AfisBetaalVoorkeuren.module.scss
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Add object pyload
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Update E-mandates service
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add POM routes, add update functionality
  mocks/collections.json
  mocks/routes/afis.js
  mocks/routes/pom.js
Due: none

Add generic route handler
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Refine type
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add refId’s
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Implement POM payment links
  mocks/routes/pom.js
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Align urls and payloads
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Fix routes
  src/client/config/routes.ts
Due: azure-pipeline-ui.yaml

Fix linkListItems
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Hook up loading state
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Use correct api
  src/client/pages/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/pages/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/server/services/__snapshots__/brp.test.ts.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add filter and sort to parkeren list page
  src/client/pages/Parkeren/ParkerenList.tsx
  src/client/pages/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Add filter and sort for ListPagePaginated implementations
  src/client/pages/AVG/AVGList.tsx
  src/client/pages/Bodem/BodemList.tsx
  src/client/pages/Burgerzaken/BurgerZakenList.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

Adjust payload
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Mijn-8990-FEATURE burgerzaken aanpassen naar pp of (#1668)
  package-lock.json
  src/client/config/routes.ts
  src/client/config/thema.ts
  src/client/pages/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Burgerzaken/config.ts
  src/client/pages/Burgerzaken/helpers.test.ts
  src/client/pages/Burgerzaken/helpers.ts
  src/server/services/__snapshots__/brp.test.ts.snap
  src/server/services/brp.ts
  src/universal/config/routes.ts
  src/universal/types/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Update src/client/pages/VergunningenV2/VergunningenList.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

Add end date
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Combine vergunningen en toeristische verhuur in zaakstatus
  package-lock.json
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change imports
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add identifier attrs
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
Due: azure-pipeline-bff.yaml

Changed bag to use new endpoint
  mocks/fixtures/bag.json
  src/server/config/source-api.ts
  src/server/services/bag.test.ts
  src/server/services/bag.ts
  src/server/services/brp.test.ts
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Removed comments in favor of new variable name
  src/server/services/home.ts
Due: azure-pipeline-bff.yaml

MIJN-9890-bug/Add filter and sort for ListPagePaginated implementations (#1670)
  src/client/pages/AVG/AVGList.tsx
  src/client/pages/Bodem/BodemList.tsx
  src/client/pages/Burgerzaken/BurgerZakenList.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

Accept decosZaakTransformers as input in decosService functions
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/decos/helpers.test.ts
  src/server/services/decos/helpers.ts
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/server/services/vergunningen-v2/vergunningen-notification-labels.ts
  src/server/services/vergunningen-v2/vergunningen-notifications.ts
  src/server/services/vergunningen-v2/vergunningen-route-handlers.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Add tests for when no valid transformer is provided
  src/server/services/decos/decos-service.test.ts
Due: azure-pipeline-bff.yaml

Replace a captureMessage for a comment for case that is no longer considered an error
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

add test voor dynamische title voor HLI en Stadpas
  src/client/pages/HLI/helpers.test.ts
Due: azure-pipeline-ui.yaml

add test voor dynamische title voor HLI en Stadpas (#1672)
  src/client/pages/HLI/helpers.test.ts
Due: azure-pipeline-ui.yaml

Change number in fake address
  src/server/services/my-locations.test.ts
Due: azure-pipeline-bff.yaml

Rename file, add tests
  src/server/services/adoptable-trash-containers.test.ts
  src/server/services/adoptable-trash-containers.ts
  src/server/services/afval/afval.ts
  src/server/services/controller.ts
  src/server/services/my-locations.test.ts
  src/server/services/my-locations.ts
  src/server/services/wior.ts
Due: azure-pipeline-bff.yaml

Update src/server/services/home.ts
  src/server/services/home.ts
Due: azure-pipeline-bff.yaml

Clarify testing data
  src/server/services/adoptable-trash-containers.test.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
