Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Rewrite multiple slashes to single
  src/server/routing/route-helpers.test.ts
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Add some redundant checks
  src/server/auth/auth-routes.ts
  src/server/config/app.ts
  src/server/routing/route-helpers.test.ts
  src/server/routing/route-helpers.ts
  src/server/services/admin/admin-route-handlers.test.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Comment
  src/server/config/app.ts
Due: azure-pipeline-bff.yaml

Change test
  src/server/routing/route-helpers.test.ts
Due: azure-pipeline-bff.yaml

Fix
  src/server/config/app.ts
Due: azure-pipeline-bff.yaml

Remove additional check
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Make all urls required in all envs
  src/server/config/app.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/routing/app-router-oidc.ts
  src/server/routing/route-helpers.test.ts
Due: azure-pipeline-bff.yaml

Add admin base url
  .env.local.template
Due: none

Add fw slash
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Parse
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Move to const
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Change name
  src/server/services/jzd/jzd-voorzieningen-api-service.ts
Due: azure-pipeline-bff.yaml

Update comments
  src/server/services/jzd/jzd-voorzieningen-api-config.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.test.ts
Due: azure-pipeline-bff.yaml

Add to fn body
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Change comment
  src/server/config/app.ts
Due: azure-pipeline-bff.yaml

Fix comment
  src/server/config/app.ts
Due: azure-pipeline-bff.yaml

Make test more robust
  src/server/services/admin/admin-route-handlers.test.ts
Due: azure-pipeline-bff.yaml

Add type checks
  src/server/auth/auth-after-redirect-returnto.ts
Due: azure-pipeline-bff.yaml

Rename test
  src/server/routing/route-helpers.test.ts
Due: azure-pipeline-bff.yaml

Use storage for test-accounts
  src/server/app-start.ts
  src/server/config/azure-storage.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename env
  .env.local.template
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

Add comments, use expected origin
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Fix race condition and add fallback
  src/server/routing/app-router-development.ts
  src/server/services/decos/decos-route-handlers.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13162-BUG: Open redirect + add url generation safety (#2620)
  .env.local.template
  src/server/app.ts
  src/server/auth/auth-after-redirect-returnto.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-routes.ts
  src/server/config/app.ts
  src/server/routing/app-router-development.ts
  src/server/routing/app-router-oidc.test.ts
  src/server/routing/app-router-oidc.ts
  src/server/routing/route-helpers.test.ts
  src/server/routing/route-helpers.ts
  src/server/services/admin/admin-route-handlers.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/amsapp/amsapp-service-config.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Use new X-Session-Credentials-Key over X-Api-Key for amsapp route
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

RM test
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Thema/KlantContact/Contactmomenten/useTransformContactmomenten.tsx
Due: azure-pipeline-ui.yaml

Fix mistake
  src/scripts/generate-user-data-overview.ts
Due: none

Remove redundant check
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

do not update test account file eveytime
  src/scripts/generate-user-data-overview.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add flags to file docs
  src/scripts/generate-user-data-overview.ts
Due: none

Update src/server/services/jzd/jzd-voorzieningen-api-service.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.ts
Due: azure-pipeline-bff.yaml

Simplify startup to make it more scalable
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

Prevent missusage when initliazing the client
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

Move missing documents email handling to client to mitigate import client from server
  src/client/pages/Thema/Vergunningen/Vergunningen-missing-documents-email.test.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactor: Move test account data imports from universal to server directory and remove deprecated auth.development.ts
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-development.ts
  src/server/routing/app-router-development.ts
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

MIJN-13176-BUG: Remove imports client to server (#2622)
  src/client/pages/Thema/Vergunningen/Vergunningen-missing-documents-email.test.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove redundant async
  src/server/app-start.ts
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

Simplify with singleton pattern
  src/server/app-start.ts
  src/server/config/azure-storage.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
