Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

import and remove comment
  src/server/services/parkeren/parkeren-egis-service.ts
Due: azure-pipeline-bff.yaml

only show kentenNieuw if present
  src/client/pages/Thema/Parkeren/detail-page-content/GPP.tsx
Due: azure-pipeline-ui.yaml

RM
  pnpm-lock.yaml
Due: none

add tests for kentekenNieuw label
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
Due: azure-pipeline-ui.yaml

refactor
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
Due: azure-pipeline-ui.yaml

rename
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
Due: azure-pipeline-ui.yaml

automatically turn on dependency for DEBUG_RESPONSE_DATA
  readme.md
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Update src/server/app.ts
  src/server/app.ts
Due: azure-pipeline-bff.yaml

replace deprecated
  src/server/app.test.ts
Due: azure-pipeline-bff.yaml

Move fn,
  mocks/routes/afis.js
  package.json
  pnpm-lock.yaml
  src/client/components/LoadingContent/LoadingContent.module.scss
  src/client/components/LoadingContent/LoadingContent.tsx
  src/client/config/api.ts
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/config/source-api.ts
  src/server/helpers/cert.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/helpers/file-cache.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/server/services/decos/decos-service.ts
  src/server/services/patroon-c/subsidie.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Ik laat de punt staan
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

MIJN-11250-CHORE/parkeren-dynamisch-thema-op-basis-van-bekendheid-in-egis-voor-prod (#2011)
  .env.local.template
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
  src/server/services/parkeren/parkeren-egis-service.ts
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Functienaam gewijzigd en conditie eruit gehaald
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

commentregel verplaatst
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-11703-FEATURE-fe-erfpacht-wijzigingen (#2038)
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-ui.yaml

MIJN-11601-FEATURE/gpp-decos-wijzigen-kenteken-oud-toevoegen-kenteken-nieuw (#2039)
  mocks/fixtures/decos-vergunningen-zaken-response.json
  readme.md
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/GPP.tsx
  src/server/app.test.ts
  src/server/app.ts
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add interaction
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
Due: azure-pipeline-ui.yaml

Show correct list items
  src/client/pages/Thema/Inkomen/InkomenThema.tsx
Due: azure-pipeline-ui.yaml

MIJN-1191-Bug - Show correct list items (#2040)
  src/client/pages/Thema/Inkomen/InkomenThema.tsx
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
Due: azure-pipeline-ui.yaml

Typos
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
Due: azure-pipeline-ui.yaml

Remove complex failed dependency logic
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Use json endpoint
  mocks/routes/pom.js
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Error handling
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

RM
  src/client/pages/Thema/Afis/Afis-thema-config.ts
Due: azure-pipeline-ui.yaml

Change pending handling
  src/client/hooks/storage.hook.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change decision description
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Only return betrokkenen for PCV/UPC
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Remove naam ontvanger (we can’t determine this reliably
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Add isAanvrager flag
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Fat fixes
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove obsolete fn
  src/server/services/hli/status-line-items/generic.ts
Due: azure-pipeline-bff.yaml

Reuse filter
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIThema.tsx
Due: azure-pipeline-ui.yaml

Add isAanvrager check
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Add paragraph
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/server/services/hli/hli-zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

mock-server done
  mocks/handlers/IntermediateAPIHandler.js
  mocks/handlers/ProfileTypeHandler.js
  mocks/hit-endpoints.js
  mocks/loadFixtureAndReplaceBaseUrl.js
  mocks/routes/afis.js
  mocks/routes/app-amsterdam-nl.js
  mocks/routes/belastingen.js
  mocks/routes/bezwaren.js
  mocks/routes/brp.js
  mocks/routes/cleopatra.js
  mocks/routes/cms.js
  mocks/routes/decos.js
  mocks/routes/enableu-2-smile.js
  mocks/routes/erfpacht.js
  mocks/routes/gpass.js
  mocks/routes/krefia.js
  mocks/routes/kvk.js
  mocks/routes/loodmetingen.js
  mocks/routes/ms-oauth.js
  mocks/routes/parkeren.js
  mocks/routes/patroon-c.js
  mocks/routes/powerbrowser.js
  mocks/routes/salesforce.js
  mocks/routes/subsidie.js
  mocks/routes/svwi.js
  mocks/routes/toeristische-verhuur-registraties.js
  mocks/routes/wpi.js
  mocks/routes/zorgned.js
  mocks/settings.js
Due: none

remove unstable
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
