Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Update tests
  src/server/services/bag/bag.test.ts
  src/server/services/bag/my-locations.test.ts
Due: azure-pipeline-bff.yaml

RM
  public/img/stadsdeel-foto/buiten-amsterdam-default-commercial.jpg
  public/img/stadsdeel-foto/buiten-amsterdam-default-private.jpg
Due: azure-pipeline-ui.yaml

const naam ditmaal met F2 gewijzigd.
  pnpm-lock.yaml
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/tips-content.ts
Due: azure-pipeline-bff.yaml

Add thema title
  src/server/services/patroon-c/subsidie.test.ts
  src/server/services/patroon-c/subsidie.ts
Due: azure-pipeline-bff.yaml

MIJN-11741-BUG/erfpacht-toont-volgens-gebruiker-een-disclaimer-naar-openstaande-facturen-terwijl-die-er-niet-zijn (#1969)
  mocks/fixtures/afis/openstaande-facturen.json
  package-lock.json
  package.json
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11742-Bug - Add thema title (#1972)
  src/server/services/patroon-c/subsidie.test.ts
  src/server/services/patroon-c/subsidie.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/client/components/Table/TableV2.types.ts
Due: azure-pipeline-ui.yaml

Refactor displayProps, add colWidths + filtering
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/Search/Search.tsx
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/TableV2.types.ts
  src/client/components/Table/helpers.ts
  src/client/config/app.ts
  src/client/hooks/media.hook.ts
  src/client/hooks/useUsabilla.ts
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Burgerzaken/Burgerzaken-thema-config.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Krefia/Krefia-thema-config.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Restore label
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
Due: azure-pipeline-ui.yaml

remove strict dev engine, was annoying with docker
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix test, it forgot to importOriginal
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/shared/document-download-route-handler.test.ts
Due: azure-pipeline-bff.yaml

add pnpm to dockerfile
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

force use of pnpm
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

update dockerfile
  Dockerfile
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix dockerfile
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove unused
  src/server/app.ts
Due: azure-pipeline-bff.yaml

fix logging
  pnpm-lock.yaml
  src/server/app.ts
Due: azure-pipeline-bff.yaml

use pnpm, fix backend not building
  package.json
  src/server/routing/route-helpers.ts
  src/server/routing/router-admin.ts
  src/server/routing/router-development.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

update readme and engine
  package.json
  readme.md
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

lock-file update
  pnpm-lock.yaml
Due: none

Add test data to mock fixture
  mocks/fixtures/zorgned-av-aanvragen.json
Due: none

wip: Add new verzilerings code
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

wip: Add to statusline transformers
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Optimize code
  src/client/components/Table/TableV2.tsx
Due: azure-pipeline-ui.yaml

Rename
  src/client/pages/Dashboard/DashboardHeader.tsx
Due: azure-pipeline-ui.yaml

Mijn-11539-feature - display props enhancement (#1973)
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/Search/Search.tsx
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/TableV2.types.ts
  src/client/components/Table/helpers.ts
  src/client/config/app.ts
  src/client/hooks/media.hook.ts
  src/client/hooks/useUsabilla.ts
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Dashboard/DashboardHeader.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Burgerzaken/Burgerzaken-thema-config.ts
  src/client/pages/Thema/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Thema/Krefia/Krefia-thema-config.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

MIJN-11658-CHORE-overstappen-npm-naar-pnpm (#1974)
  Dockerfile
  package.json
  pnpm-lock.yaml
  readme.md
  src/server/app.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-admin.ts
  src/server/routing/router-development.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/shared/document-download-route-handler.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11772-Bug sorteren fix
  mocks/fixtures/zorgned-av-aanvragen-rtm.json
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

MIJN-11772-Bug sorteren fix (#1976)
  mocks/fixtures/zorgned-av-aanvragen-rtm.json
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add zaak endpoint
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add url for Q&A
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add subtype
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Pass subType
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/varen/varen.test.ts
  src/server/services/vergunningen/vergunningen.test.ts
Due: azure-pipeline-bff.yaml

filter out person doing the request
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

MIJN-11621-Feature - decos utility endpoints (#1977)
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/varen/varen.test.ts
  src/server/services/vergunningen/vergunningen.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add logging
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

add reason as comment
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml
