Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Change merge strategy
  src/client/pages/Thema/Afis/Afis-thema-config.ts
Due: azure-pipeline-ui.yaml

Show tegoed on mobile
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Add notifications
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/mocks-server/fixtures/erfpacht/erfpacht-zaak-info.json
  src/server/services/erfpacht/erfpacht-notifications.ts
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken-types.ts
  src/server/services/erfpacht/erfpacht.ts
  src/server/services/tips-and-notifications.ts
  src/universal/helpers/date.test.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change col order
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Add title
  src/client/pages/Thema/HLI/HLIThema.tsx
Due: azure-pipeline-ui.yaml

Make description optional
  src/server/services/erfpacht/erfpacht-notifications.ts
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Correct imports
  src/server/services/erfpacht/erfpacht.test.ts
Due: azure-pipeline-bff.yaml

Refactor services into separate files
  src/client/pages/Thema/Erfpacht/ErfpachtDossierDetail.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/server/services/controller.ts
  src/server/services/erfpacht/__snapshots__/erfpacht.test.ts.snap
  src/server/services/erfpacht/erfpacht-dossiers.test.ts
  src/server/services/erfpacht/erfpacht-dossiers.ts
  src/server/services/erfpacht/erfpacht-notifications.ts
  src/server/services/erfpacht/erfpacht-router.ts
  src/server/services/erfpacht/erfpacht-zaken.test.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
  src/server/services/erfpacht/erfpacht.test.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add tests
  src/mocks-server/fixtures/erfpacht/erfpacht-v2-dossierinfo-bsn.json
  src/server/services/controller.ts
  src/server/services/erfpacht/__snapshots__/erfpacht-zaken.test.ts.snap
  src/server/services/erfpacht/erfpacht-dossiers.test.ts
  src/server/services/erfpacht/erfpacht-notifications.test.ts
  src/server/services/erfpacht/erfpacht-notifications.ts
  src/server/services/erfpacht/erfpacht-router.ts
  src/server/services/erfpacht/erfpacht-zaken.test.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

Re-use var
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update snap
  src/server/services/erfpacht/__snapshots__/erfpacht.test.ts.snap
Due: azure-pipeline-bff.yaml

Remove failed deps
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Update failed dependencies + Add net mock
  src/server/services/erfpacht/__snapshots__/erfpacht.test.ts.snap
  src/server/services/erfpacht/erfpacht.test.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Fix types
  src/server/services/erfpacht/erfpacht-zaken-types.ts
Due: azure-pipeline-bff.yaml

Fix condition
  src/client/components/StatusSteps/StatusSteps.tsx
Due: azure-pipeline-ui.yaml

Rename function
  src/server/services/erfpacht/erfpacht-zaken.ts
  src/universal/helpers/date.test.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rm unused
  src/server/services/erfpacht/erfpacht-router.ts
Due: azure-pipeline-bff.yaml

Sort steps
  src/server/services/erfpacht/erfpacht-zaken.test.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

Remove explicit imports
  src/server/services/erfpacht/erfpacht-notifications.test.ts
Due: azure-pipeline-bff.yaml

MIJN-13391-CHORE: Text and design adjustments (#2698)
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
Due: azure-pipeline-ui.yaml

Thematakst voor bezwaren aangepast ook met link naar belasingen
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
Due: azure-pipeline-ui.yaml

test update snapshot
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
Due: azure-pipeline-ui.yaml

refactor(afspraakcard): use ams-prose from ds
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

feat(afspraakcard): add responsiveActionGroup
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

feat(afpraak-title): show product if length is longer then 1
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.test.tsx
  src/mocks-server/fixtures/salesforce-afspraken-stadsloket.json
  src/server/services/klantcontact/klantcontact-afspraken.ts
  src/server/services/klantcontact/klantcontact.test.ts
  src/server/services/klantcontact/klantcontact.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

test(afspraak-titles): add test
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
Due: azure-pipeline-ui.yaml

fix(dashboard): spacing of afspraken loadingstate
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

improve layout
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

adjust breakpoints
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

feat(Afspraakcard): QR only on mobile
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

feat(afspraakcard): inline links
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

small spacings updates
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

betere witruimte
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

feat(afspraak): update icon for afspraken
  src/client/assets/icons/afspraak.svg
  src/client/assets/icons/index.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

feat(contact): add icon to contact thema
  src/client/pages/Thema/KlantContact/Contactmomenten/useTransformContactmomenten.tsx
  src/client/pages/Thema/KlantContact/KlantContact-render-config.tsx
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

feat(afspraken): default styled link
  src/client/components/LinkToListPage/LinkToListPage.tsx
  src/client/components/MaLink/MaLink.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.tsx
Due: azure-pipeline-ui.yaml

feat: remove page prop
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

kalendar: add afspraak
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
