Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Change Feature toggle value
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add services + route handlers initial
  .env.local.template
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Refine types Afis
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add mock data
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
Due: none

Refine types
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Change table config
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Add function to encrypt a JSON payload
  src/server/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml

Refine type
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Use new url generating function
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Fix import
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add standard helper for decrypting json payload
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Add POM routes, add update functionality
  mocks/collections.json
  mocks/routes/afis.js
  mocks/routes/pom.js
Due: none

Fix linkListItems
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Update E-mandates service
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add object pyload
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add ActionButton component
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add refId’s
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Add generic route handler
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Use a payload object
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Use correct api
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add bff routes
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Update component and styles
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.module.scss
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Add some comments, rename var
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Align urls and payloads
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Implement POM payment links
  mocks/routes/pom.js
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Change prop
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Remove unused env var
  .env.local.template
Due: none

Updates and refactor
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add iso date helper
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add initial fetch bank account
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add static data
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Add initial external consumer endpoint
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

RM comment
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add sign request return to placeholder
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml

Add prop omits
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Add end date
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml
