Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-10065-bug Add EV wijzigen decosZaakTransformers (#1800)
  src/server/services/varen/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Add termijnen for varen zaken
  mocks/collections.json
  mocks/fixtures/decos-vergunningen-termijnens-response.json
  mocks/routes/decos.js
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-10062-FEATURE Add termijnen for varen zaken (#1801)
  mocks/collections.json
  mocks/fixtures/decos-vergunningen-termijnens-response.json
  mocks/routes/decos.js
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add test case
  src/universal/helpers/bag.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove unused lines
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix eslint else after return error
  src/server/services/my-locations.ts
Due: azure-pipeline-bff.yaml

Change mock data, so I can click on a location modal to see if it works
  mocks/fixtures/powerbrowser-bb-zaak-adres.json
  mocks/fixtures/vergunningen.json
Due: none

Made more general
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

made more general, but can't handle a single streetname yet
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
  src/universal/types/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix failing test
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable lsp diagnostic for working line
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add directives
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added three more test cases
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Improved stadspas creating test helper
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/__snapshots__/HLI.test.tsx.snap
  src/client/pages/HLI/test-helpers.ts
Due: azure-pipeline-ui.yaml

MIJN-9975 Tekst die getoond wordt bij een geblokkeerde pas bevat fouten en komt ook niet overeen met wat er in Confluence staat.
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Change readme
  readme.md
Due: none

leave with escape, refactor/add tests
  eslint.config.mjs
  src/client/components/Modal/Modal.tsx
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Simplify/improve tests
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Mocked some request that we're not mocked before, resulting in some error logs
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Close button
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

MIJN-9974 Tekstuele correctie in popup/modal van blokkeer pas.
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Change 'bedrag' to 'saldo'
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Put focus inside dialog and not outside of it
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

remove null
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

First test for the text working
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/test-helpers.ts
Due: azure-pipeline-ui.yaml

Added log level information to the readme
  readme.md
Due: none

Got the conditions right but still needs tests
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
  src/client/pages/HLI/test-helpers.ts
Due: azure-pipeline-ui.yaml

add tests and remove test-ids
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Add linkListItems to statusLinePanel description
  mocks/fixtures/decos-vergunningen-zaken-response.json
  src/client/components/StatusLine/StatusLine.tsx
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

extracted duplicate text to variable
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLI.tsx
Due: azure-pipeline-ui.yaml

Replace status action list with action buttons
  src/client/components/StatusLine/StatusLine.module.scss
  src/client/components/StatusLine/StatusLine.tsx
  src/server/services/varen/varen-status-steps.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added a few more error conditions
  src/client/components/LocationModal/LocationModal.tsx
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add a few throw conditions
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

typed and parametrized
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Handles streetname starting with Amsterdam
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add one case to throws
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

eslint suggestions
  src/client/pages/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

correct spelling mistake
  src/client/pages/ThemaPagina/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
