Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Allow undefined
  src/client/components/Alert/Alert.tsx
Due: azure-pipeline-ui.yaml

Refine type
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

RM
  pnpm-lock.yaml
Due: none

Add test
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Change pending handling
  src/client/hooks/storage.hook.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove complex failed dependency logic
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Refactor hooks
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Typos
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
Due: azure-pipeline-ui.yaml

E-mandates implementation
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/styles/main.scss
  src/server/config/source-api.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/helpers/source-api-helpers.test.ts
  src/server/helpers/source-api-helpers.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/shared/decrypt-route-param.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move fn,
  mocks/routes/afis.js
  package.json
  pnpm-lock.yaml
  src/client/components/LoadingContent/LoadingContent.module.scss
  src/client/components/LoadingContent/LoadingContent.tsx
  src/client/config/api.ts
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/config/source-api.ts
  src/server/helpers/cert.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/helpers/file-cache.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/server/services/decos/decos-service.ts
  src/server/services/patroon-c/subsidie.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

RM
  src/client/pages/Thema/Afis/Afis-thema-config.ts
Due: azure-pipeline-ui.yaml

Add update fn
  mocks/routes/afis.js
  pnpm-lock.yaml
  src/client/config/api.ts
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add interaction
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add text
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
Due: azure-pipeline-ui.yaml

Use json endpoint
  mocks/routes/pom.js
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Rename key
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
Due: azure-pipeline-ui.yaml

Error handling
  src/client/hooks/api/useDataApi.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Update package
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change feature toggle
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11744-Bug - Change feature toggle (#2054)
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

wip: add profilesection, but register is not executed
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Profile/ProfileInfoSection.tsx
Due: azure-pipeline-ui.yaml

Add pending status to multiple screens
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
Due: azure-pipeline-ui.yaml

Refine function composition
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Add some terms
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Remove unused arg
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Rename method
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Rename acceptant
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename property
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change names, add comments
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Poc
  src/client/App.routes.tsx
  src/client/hooks/useThemaRegistration.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix
  mocks/routes/pom.js
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move file
  src/server/app.ts
  src/server/routing/router-afis-external-consumer.ts
Due: azure-pipeline-bff.yaml

Make fn to update or create
  src/server/routing/router-afis-external-consumer.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

wip: get all transactions
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

wip: get all transactions; first working version
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

working version, although maybe design can be better"
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Do not set deeplink when page is an error page
  src/client/hooks/useDeeplink.hook.test.ts
  src/client/hooks/useDeeplink.hook.ts
  src/client/pages/ApplicationError/ApplicationError.tsx
Due: azure-pipeline-ui.yaml

Extract powerbrowser service from Toeristische Verhuur and separate BedAndBreakfast from Toeristische Veruur
  package.json
  src/client/components/Search/search-config.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/server/routing/router-protected.ts
  src/server/services/content-tips/predicates.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-types.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/powerbrowser-zaken.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-zaken.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactor fetchZaken until fetchZakenByIds
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
Due: azure-pipeline-bff.yaml

Refactor more types, tests and naming
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-status-steps.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-types.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.test.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
