Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Remove list
  src/server/services/horeca/config-and-types.ts
Due: azure-pipeline-bff.yaml

Change width for large screens
  src/client/pages/AVG/AVG.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Bezwaren/Bezwaren.tsx
  src/client/pages/Bodem/Bodem.tsx
  src/client/pages/Burgerzaken/Burgerzaken.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/HLI/HLIThemaPagina.tsx
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Klachten/Klachten.tsx
  src/client/pages/Krefia/Krefia.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Profile/commercial/ProfileCommercial.tsx
  src/client/pages/Profile/private/ProfilePrivate.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Zorg/Zorg.tsx
Due: azure-pipeline-ui.yaml

Add margin
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Add polling timeout as prop
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Generalize status steps for (decos) vergunningen
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Rename type
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove type
  src/client/components/Alert/Alert.tsx
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/LoadingContent/LoadingContent.tsx
  src/client/components/Modal/Modal.tsx
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Panel/Panel.tsx
  src/client/components/StatusLine/StatusLine.tsx
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Respond with error if no test accounts are present
  src/server/routing/router-development.ts
Due: azure-pipeline-bff.yaml

Allow different type
  mocks/routes/powerbrowser.js
Due: none

Rename type
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Horeca/HorecaDetail.test.tsx
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Horeca/useHorecaThemaData.hook.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Polishing, focus trap, doc title functions
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/CollapsiblePanel/CollapsiblePanel.tsx
  src/client/components/LinkToListPage/LinkToListPage.tsx
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.tsx
  src/client/components/MyArea/MyArea.tsx
  src/client/components/MyArea/MyAreaLoader.tsx
  src/client/components/MyNotification/MyNotification.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Table/TableV2.tsx
  src/client/config/thema.ts
  src/client/pages/AVG/AVG-thema-config.ts
  src/client/pages/AVG/useAVGData.hook.tsx
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Bezwaren/Bezwaren-thema-config.tsx
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Profile/private/ContactMomenten.tsx
  src/client/pages/Profile/private/VertrokkenOnbekendWaarheen.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/avg/avg-status-line-items.ts
  src/server/services/avg/avg.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add some safety
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move linkListItems
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLIThemaPagina.tsx
  src/client/pages/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

Add display status
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add new Statusline component
  src/client/components/StatusLine/StatusLineV2.module.scss
  src/client/components/StatusLine/StatusLineV2.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Update search config
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Remove extended condition
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
Due: azure-pipeline-ui.yaml

Remove old component
  src/client/components/StatusLine/StatusLine.module.scss
  src/client/components/StatusLine/StatusLine.test.tsx
  src/client/components/StatusLine/StatusLine.tsx
Due: azure-pipeline-ui.yaml

Update klachten
  src/client/pages/Klachten/KlachtenDetail.tsx
  src/client/pages/Klachten/useKlachtenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Add bezwaren detail
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add textclamp
  src/client/components/TextClamp/TextClamp.module.scss
  src/client/components/TextClamp/TextClamp.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Remove styles
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Fix import
  src/client/components/MyArea/LegendPanel/PanelContent/MyAreaDetailPanel.tsx
Due: azure-pipeline-ui.yaml

Add spans
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Update area components
  src/client/components/InfoDetail/InfoDetail.module.scss
  src/client/components/InfoDetail/InfoDetail.test.tsx
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/InfoDetail/TextClamp.module.scss
  src/client/components/InfoDetail/TextClamp.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/BedrijvenInvesteringsZones.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Bekendmaking.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Date.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/DateStartEnd.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Description.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Evenementen.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Laadpalen.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/MeldingenBuurt.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Parkeren.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Sport.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Url.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Wior.tsx
Due: azure-pipeline-ui.yaml

Update Eigenparkeerplaats
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
Due: azure-pipeline-ui.yaml

Update doc list style
  src/client/components/DocumentList/DocumentListV2.tsx
  src/client/pages/Bezwaren/BezwarenDetail.module.scss
  src/client/pages/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Fix condition
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update klachten detail
  src/client/pages/Klachten/KlachtenDetail.tsx
Due: azure-pipeline-ui.yaml

Update Test dep
  src/client/pages/MockApp.tsx
  src/client/pages/Search/Search.test.tsx
  src/client/pages/setupMockApp.tsx
Due: azure-pipeline-ui.yaml

Replace Info details with DataLists
  src/client/pages/Parkeren/detail-page-content/BZB.tsx
  src/client/pages/Parkeren/detail-page-content/BZP.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/client/pages/Parkeren/detail-page-content/GPK.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Remove import
  src/client/pages/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Add datalist
  src/client/pages/GarbageInformation/GarbageInformation.tsx
Due: azure-pipeline-ui.yaml

Post merge fixes
  src/client/pages/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml

Use deeplink redirect for logout dialog
  src/client/App.tsx
  src/client/hooks/useDeeplink.hook.ts
Due: azure-pipeline-ui.yaml

Bring status lines to services
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.test.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.tsx
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post merge fixes
  package-lock.json
  src/client/components/MaLink/MaLink.module.scss
  src/client/pages/Varen/VarenDetail.tsx
  src/server/services/controller.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/pages/Bodem/LoodMeting.test.tsx
  src/client/pages/Bodem/__snapshots__/LoodMeting.test.tsx.snap
  src/client/pages/Erfpacht/Erfpacht.test.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.test.tsx
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/server/services/bodem/loodmetingen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change ErrorMessages display
  src/client/App.tsx
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/Modal/Modal.tsx
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Fix status steps
  src/client/components/Datalist/Datalist.module.scss
  src/client/components/StatusLine/StatusLineV2.module.scss
  src/client/components/StatusLine/StatusLineV2.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
