Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Update erfpacht
  mocks/fixtures/erfpacht-v2-dossiers.json
  src/client/pages/Erfpacht/DossierDetail/DataTableFacturen.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/DossierDetail/erfpachtDossierData.hook.ts
  src/client/pages/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/client/pages/Erfpacht/erfpachtData.hook.ts
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Align styles
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.module.scss
  src/client/components/MainMenu/MainMenu.tsx
  src/client/pages/Profile/private/AdresInOnderzoek.tsx
  src/client/pages/Profile/private/ProfilePrivate.module.scss
Due: azure-pipeline-ui.yaml

Erfpacht themapagina
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/Table/TableV2.tsx
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/erfpachtData.hook.ts
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add zoeken text for all screens
  src/client/components/MainHeader/MainHeader.tsx
Due: azure-pipeline-ui.yaml

Chane displayProps handling
  src/client/components/Datalist/Datalist.module.scss
  src/client/components/DocumentList/DocumentListV2.module.scss
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/helpers.ts
  src/client/config/external-urls.ts
  src/client/pages/AVG/AVG-thema-config.ts
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Bezwaren/Bezwaren-thema-config.tsx
  src/client/pages/Bezwaren/BezwarenDetail.module.scss
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bodem/Bodem-thema-config.ts
  src/client/pages/Bodem/useBodemData.hook.tsx
  src/client/pages/Burgerzaken/config.ts
  src/client/pages/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Klachten/Klachten-thema-config.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/client/pages/Zorg/Zorg-thema-config.ts
  src/client/pages/Zorg/Zorg.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
Due: azure-pipeline-ui.yaml

Close search on nav
  src/client/components/MainHeader/useCloseMenu.hook.ts
Due: azure-pipeline-ui.yaml

Change style of notification
  src/client/components/MyNotification/MyNotification.tsx
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Change default page size
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
Due: azure-pipeline-ui.yaml

Use destructuring
  src/client/components/LocationModal/LocationModal.tsx
Due: azure-pipeline-ui.yaml

Styling
  src/client/pages/HLI/HLIThemaPagina.module.scss
Due: azure-pipeline-ui.yaml

Refine MainMenu / Search interaction, add overlay
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/useCloseMenu.hook.ts
  src/client/components/MainHeader/useMainHeaderControl.hook.ts
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/MyArea/MyArea.tsx
  src/client/components/Search/useSearch.tsx
Due: azure-pipeline-ui.yaml

Post merge fixes
  src/client/App.tsx
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLIStadspasDetail.tsx
  src/client/pages/HLI/HLIThemaPagina.tsx
  src/client/pages/HLI/useHliThemaData.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Style changes
  src/client/App.tsx
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/Modal/Modal.tsx
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/pages/Afis/Afis.tsx
  src/client/pages/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

Styling
  src/client/components/Table/TableV2.module.scss
  src/client/config/external-urls.ts
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

Update mobile props
  src/client/pages/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Implement breadcrumbs
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/AVG/AVG-thema-config.ts
  src/client/pages/AVG/AVGLijst.tsx
  src/client/pages/AVG/useAVGListPage.hook.ts
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Bezwaren/BezwarenLijst.tsx
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Bodem/Bodem-thema-config.ts
  src/client/pages/Bodem/BodemList.tsx
  src/client/pages/Bodem/useBodemListPageData.hook.ts
  src/client/pages/Burgerzaken/BurgerZaken-thema-config.ts
  src/client/pages/Burgerzaken/BurgerZakenList.tsx
  src/client/pages/Burgerzaken/useBurgerZakenData.hook.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/client/pages/Erfpacht/erfpachtData.hook.ts
  src/client/pages/HLI/HLIRegelingen.tsx
  src/client/pages/Horeca/HorecaList.tsx
  src/client/pages/Inkomen/InkomenListPage.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Klachten/KlachtenLijst.tsx
  src/client/pages/Parkeren/Parkeren-thema-config.ts
  src/client/pages/Parkeren/ParkerenList.tsx
  src/client/pages/Profile/private/Contactmomenten.config.ts
  src/client/pages/Profile/private/ContactmomentenListPage.tsx
  src/client/pages/Profile/private/useContactmomenten.hook.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurVergunningenList.tsx
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/VarenList.tsx
  src/client/pages/Varen/useVarenThemaData.hook.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Vergunningen/VergunningenList.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
Due: azure-pipeline-ui.yaml

Post rebase fixes
  src/client/pages/Erfpacht/DossierDetail/DatalistJuridisch.tsx
  src/client/pages/Erfpacht/DossierDetail/DatalistsFinancieel.tsx
  src/client/pages/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Erfpacht/constants.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-helpers.ts
  src/server/services/varen/config-and-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove unused function
  src/server/services/vergunningen/vergunningen-helpers.test.ts
  src/server/services/vergunningen/vergunningen-helpers.ts
Due: azure-pipeline-bff.yaml

MIJN-11044-Chore - Add usabilla image (#1861)
  public/resources/buttons/feedback_button_gemamsterdam_desktop_right_new.png
Due: azure-pipeline-ui.yaml

Make fetchDocumentsUrl optional
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/client/pages/Bodem/Bodem.test.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.test.tsx
  src/client/pages/Inkomen/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenList.test.tsx
  src/server/services/decos/decos-service.ts
  src/server/services/varen/varen-status-steps.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/pages/Bodem/__snapshots__/Bodem.test.tsx.snap
  src/server/services/krefia.test.ts
  src/server/services/simple-connect/__snapshots__/erfpachtv2.test.ts.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove redundant type narrowing, remove breadcrumbs
  src/client/pages/AVG/AVGDetail.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Burgerzaken/BurgerzakenIdentiteitsbewijs.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.tsx
  src/client/pages/HLI/HLIRegeling.tsx
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Horeca/HorecaList.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Inkomen/InkomenDetailTonk.tsx
  src/client/pages/Inkomen/InkomenDetailTozo.tsx
  src/client/pages/Inkomen/InkomenDetailUitkering.tsx
  src/client/pages/Inkomen/InkomenListPage.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/Klachten/KlachtenDetail.tsx
  src/client/pages/Klachten/KlachtenLijst.tsx
  src/client/pages/Parkeren/ParkerenDetail.tsx
  src/client/pages/Profile/private/ContactmomentenListPage.tsx
  src/client/pages/Profile/private/useContactmomenten.hook.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurVergunningenList.tsx
  src/client/pages/Varen/VarenDetail.tsx
  src/client/pages/Varen/VarenList.tsx
  src/client/pages/Varen/useVarenThemaData.hook.ts
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/VergunningenList.tsx
  src/client/pages/Vergunningen/useVergunningenThemaData.hook.ts
  src/client/pages/Zorg/ZorgDetail.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
  src/client/pages/Zorg/useZorgThemaData.ts
  src/server/services/vergunningen/vergunningen.ts
  src/server/services/wpi/content/bbz.ts
  src/server/services/wpi/content/bijstandsuitkering.ts
  src/server/services/wpi/content/tonk.ts
  src/server/services/wpi/content/tozo.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

RM comments
  src/client/components/MainHeader/useMainHeaderControl.hook.ts
Due: azure-pipeline-ui.yaml

Rm unused
  mocks/routes/brp.js
Due: none

Adapt link to profile type
  src/client/components/MainHeader/MainHeader.tsx
Due: azure-pipeline-ui.yaml

Change style
  src/client/pages/ApplicationError/ApplicationError.tsx
Due: azure-pipeline-ui.yaml

Update package lock
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snaps
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Inkomen/__snapshots__/InkomenSpecificaties.test.tsx.snap
Due: azure-pipeline-ui.yaml

Latest style updates
  src/client/App.tsx
  src/client/assets/icons/index.tsx
  src/client/config/themaIcons.tsx
  src/client/pages/Afval/Afval.module.scss
  src/client/pages/Afval/Afval.test.tsx
  src/client/pages/Afval/Afval.tsx
  src/client/pages/Afval/__snapshots__/AfvalInformation.test.tsx.snap
  src/client/pages/Afval/__snapshots__/GarbageInformation.test.tsx.snap
  src/server/services/afval/afvalpunten.ts
  src/server/services/afval/afvalwijzer.test.ts
  src/server/services/afval/afvalwijzer.ts
  src/universal/types/afval.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Make map work
  src/client/App.tsx
  src/client/components/MyArea/LegendPanel/PanelComponent.module.scss
  src/client/components/MyArea/LegendPanel/PanelComponent.tsx
  src/client/components/MyArea/MyArea.tsx
Due: azure-pipeline-ui.yaml

Make more readable and trim
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Add hook to determine the type of page were on
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/MaLink/MaLink.tsx
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Post rebase fix
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snap
  src/client/components/MyNotification/MyNotification.tsx
  src/client/pages/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update test
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.test.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Remove Erfpacht v1
  src/client/AppState.ts
  src/client/components/MyThemasPanel/MyThemasPanel.test.tsx
  src/client/components/Search/search-config.json
  src/client/components/Search/search-config.tsx
  src/client/config/api.ts
  src/client/config/thema.ts
  src/client/config/themaIcons.tsx
  src/client/helpers/themas.ts
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Erfpacht/DossierDetail/DatalistGeneral.tsx
  src/client/pages/Erfpacht/DossierDetail/DatalistsFinancieel.tsx
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Erfpacht/DossierDetail/KadastraleAanduidingList.tsx
  src/client/pages/Erfpacht/DossierDetail/erfpachtDossierData.hook.ts
  src/client/pages/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Erfpacht/Erfpacht.test.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.test.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.test.tsx
  src/client/pages/Erfpacht/erfpachtData.hook.ts
  src/server/config/source-api.ts
  src/server/openapi.yml
  src/server/routing/router-protected.ts
  src/server/services/controller.ts
  src/server/services/erfpacht/erfpacht.ts
  src/server/services/erfpacht/erfpachtv2.test.ts
  src/server/services/simple-connect/erfpacht.test.ts
  src/server/services/simple-connect/index.ts
  src/universal/config/feature-toggles.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
