Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Bodem-thema-config.ts:
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Bodem-render-config.tsx:
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem.test.tsx
Due: azure-pipeline-ui.yaml

BodemDetail.test.tsx:
  src/client/pages/Thema/Bodem/BodemDetail.test.tsx
  src/client/pages/Thema/Bodem/BodemDetail.tsx
Due: azure-pipeline-ui.yaml

Wat todo's geplaats als comments en search weer actief gemaakt
  src/client/components/Search/search-config.tsx
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

BodemThema.tsx:
  src/client/pages/Thema/Bodem/BodemThema.tsx
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
Due: azure-pipeline-ui.yaml

Update routeconfig name to detailPageX over detailXPage
  src/client/pages/Thema/Varen/Varen-render-config.tsx
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Thema/Varen/VarenDetailVergunningExploitatie.tsx
  src/client/pages/Thema/Varen/VarenDetailZaakExploitatie.tsx
  src/server/services/varen/varen-notifications.ts
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

useBodemDetailData.hook.tsx:
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
  src/client/pages/Thema/Bodem/useBodemListPageData.hook.ts
Due: azure-pipeline-ui.yaml

Canon feature op !IS_PRODUCTION gezet
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

useProfileData.hook.ts:
  src/client/config/themaIcons.tsx
  src/client/pages/Thema/Profile/commercial/useProfileData.hook.ts
  src/client/pages/Thema/Profile/private/useProfileThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

search-config.tsx:
  src/client/components/Search/search-config.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix bad test
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

wip: change tests
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

wip: add new test case
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

add function in pipeline to group by betrokkenen
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Added test for long chain of rtm aanvragen with herkeuringen
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

first working version of rtms handled by betrokkenen
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Add omschijving to type, since this contains more information for the type of RTM aanvraag. Also fix the new test
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

add docstring for how it is supposed to work in the next commit
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

refactor test data, for easily making more tests and adjusting existing ones
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

order betrokkenen manually, so the output has no different order. Make seperate test for ordering
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

change Einde Recht to contain the correct data
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

Add comment: eind recht
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

NODE_OPTS is not valid, its now NODE_OPTIONS
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Broaden zaakkenmerk because of migrated Varen items counter example
  src/server/services/decos/decos-types.ts
Due: azure-pipeline-bff.yaml

Mijn-12117-Chore - dependabot updates (#2130)
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add migratie as possible first step of the chain
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

reorder tests
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

wip: test for multiple betrokkenen where ontvanger has fase 2
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

Simplify Varen thema config sort and filter with common type
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenList.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
Due: azure-pipeline-ui.yaml

Remove unnecessary page param from varen list page
  src/client/pages/Thema/Varen/VarenList.tsx
Due: azure-pipeline-ui.yaml

Nog wat todo's geplaatst
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/InfoSection.tsx
Due: azure-pipeline-ui.yaml

!feauretoggle van gemaakt
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
Due: azure-pipeline-ui.yaml

handle case where we have multiple betrokkenen including the ontvanger
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Zie juiste detailtitel en zie bodem op uitlegpagina
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/InfoSection.tsx
Due: azure-pipeline-ui.yaml

themaActive erachter gezet
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
Due: azure-pipeline-ui.yaml

Type voor feautureToggle aangepast
  src/client/config/thema-types.ts
Due: azure-pipeline-ui.yaml

move line closer to usage
  src/server/services/hli/hli.ts
Due: azure-pipeline-bff.yaml

paramkinds gemaakt en verplaats
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

redactedScope toegevoegd en opmerkingen verwijderd
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Bodem-render-config.tsx:
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/BodemDetail.tsx
  src/client/pages/Thema/Bodem/InfoSection.tsx
Due: azure-pipeline-ui.yaml
