Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Hook was called twice. Now only track themas once with useTrackThemas.
  src/client/App.tsx
  src/client/hooks/useThemaMenuItems.ts
  src/client/hooks/useTrackThemas.hook.ts
Due: azure-pipeline-ui.yaml

Change tests
  src/client/hooks/useThemaMenuItems.test.tsx
  src/client/hooks/useThemaMenuItems.ts
  src/client/hooks/useTrackThemas.hook.test.tsx
Due: azure-pipeline-ui.yaml

Enable strict json parsing with json response type
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

Fix json
  mocks/routes/powerbrowser.js
Due: none

Update parkeren to use v1 parkeren date and refactor useParkerenData hook
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/ParkerenList.tsx
  src/client/pages/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Add tests
  src/server/helpers/source-api-request.test.ts
  src/server/services/vergunningen-v2/decos-service.test.ts
Due: azure-pipeline-bff.yaml

Small changes
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/server/services/horeca.test.ts
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-9277-Bug - fix bad json parsing2 (#1513)
  mocks/routes/powerbrowser.js
  src/server/config/source-api.ts
  src/server/helpers/source-api-request.test.ts
  src/server/services/vergunningen-v2/decos-service.test.ts
Due: azure-pipeline-bff.yaml

Update test
  src/client/hooks/useTrackThemas.hook.test.tsx
Due: azure-pipeline-ui.yaml

Mijn-9147-feature/2 x parkeervergunningen tonen parkeren patroon c (#1503)
  src/client/App.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/ParkerenList.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/server/services/horeca.test.ts
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-8996-feature/aantal tegels per gebruiker data gedreven ma (#1509)
  src/client/App.tsx
  src/client/hooks/useThemaMenuItems.test.tsx
  src/client/hooks/useThemaMenuItems.ts
  src/client/hooks/useTrackThemas.hook.test.tsx
  src/client/hooks/useTrackThemas.hook.ts
Due: azure-pipeline-ui.yaml

Add responsetype
  mocks/routes/powerbrowser.js
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml

Use today as historic
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/zorgned/zorgned-helpers.test.ts
Due: azure-pipeline-bff.yaml

Add responsetype (#1514)
  mocks/routes/powerbrowser.js
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/pcvergoeding.test.ts
  src/server/services/hli/status-line-items/pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Add get/hasNamenBetrokkenen
  src/server/services/hli/status-line-items/generic.ts
Due: azure-pipeline-bff.yaml

Spaces
  src/server/services/hli/status-line-items/pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Use today as historic (#1515)
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/zorgned/zorgned-helpers.test.ts
Due: azure-pipeline-bff.yaml

Mijn-9278-Bug - Mijn-9280-Bug - hli fixes (#1516)
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/pcvergoeding.test.ts
  src/server/services/hli/status-line-items/pcvergoeding.ts
Due: azure-pipeline-bff.yaml

No braces with 1 name
  src/server/services/hli/status-line-items/generic.ts
Due: azure-pipeline-bff.yaml

Remove period
  src/server/services/hli/status-line-items/pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Content notification remove after 3 months
  src/server/services/avg/avg.ts
  src/server/services/hli/stadspas.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

Add is recent notification
  src/server/services/avg/avg.ts
  src/server/services/hli/stadspas.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

Mijn-9086-Bug - hli fixes (#1517)
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Move productSoort code, remove mapping
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/wmo-status-line-items.ts
Due: azure-pipeline-bff.yaml

Move productSoort code, remove mapping (#1519)
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/wmo-status-line-items.ts
Due: azure-pipeline-bff.yaml

Make texts conditional
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
Due: azure-pipeline-bff.yaml

Fix tests
  src/client/components/Button/__snapshots__/Button.test.tsx.snap
  src/server/services/avg/avg.test.ts
  src/server/services/hli/stadspas.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Make texts conditional (#1521)
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
Due: azure-pipeline-bff.yaml

Generalize afis api response based on state
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add error handling
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Remove zaak extension
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add mock data, add paylik route
  mocks/collections.json
  mocks/fixtures/afis/afgehandelde-facturen.json
  mocks/fixtures/afis/openstaande-facturen.json
  mocks/routes/afis.js
Due: none

Fix missing paylink
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Change el
  src/client/pages/Afis/Afis-thema-config.ts
Due: azure-pipeline-ui.yaml

Add overgedragen aan belastingen
  mocks/fixtures/afis/overgedragen-facturen.json
  mocks/routes/afis.js
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add default profitcenter name
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add clearing date
  mocks/fixtures/afis/afgehandelde-facturen.json
Due: none

Determine factuurnummer, sort props
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Replace InvoiceNo with DocumentReferenceID
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
