Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Suggestion: Fix mistake where profile types defaulted to commercial
  src/client/config/menuItems.ts
Due: azure-pipeline-ui.yaml

Suggestion: Add 'Source' to variable name
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

added service, tried implementing
  .env.local.template
  src/client/AppState.ts
  src/client/config/thema.ts
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/controller.ts
  src/server/services/parkeren/parkeren.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added type annotation.
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Suggestion: Remove test
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Halfway through suggestion trying to no display parkeren tile when isKnown is false
  src/client/AppState.ts
  src/client/config/thema.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

little progerss
  src/client/config/api.ts
  src/client/config/menuItems.ts
  src/client/config/thema.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Suggestion: better name to prevent aliases everywhere
  src/server/services/afis/afis.test.ts
  src/server/services/parkeren/parkeren.test.ts
  src/test-utils.ts
Due: azure-pipeline-bff.yaml

Suggestion: interpolate instead of hardcoded remoteApiHost
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Fixed failing frontend tests.
  src/client/hooks/useThemaMenuItems.test.ts
  src/client/pages/Dashboard/Dashboard.test.tsx
Due: azure-pipeline-ui.yaml

Use fallback URL when URL could not be retrieved from external PARKEREN endpoint
  src/client/AppState.ts
  src/client/config/themas.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fixed and added tests
  .env.local.template
  mocks/routes/parkeren.js
  src/client/config/thema.ts
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9097-FEATURE-fe-mijn-parkeren-sso-fixen-voor-t-a-parkeren-patroon-c (#1424)
  .env.local.template
  mocks/collections.json
  mocks/routes/parkeren.js
  src/client/AppState.ts
  src/client/config/api.ts
  src/client/config/menuItems.ts
  src/client/config/thema.ts
  src/client/config/themas.ts
  src/client/hooks/useThemaMenuItems.test.ts
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/afis/afis.test.ts
  src/server/services/controller.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
  src/setupTests.ts
  src/test-utils.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Restore version
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9122-Bug - Temp disabled ssl verification (#1434)
  Dockerfile
  src/server/config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Temp disable
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove tests for legacy wmo
  src/client/pages/Zorg/Zorg.test.tsx
  src/client/pages/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/ZorgDetail/ZorgDetail.test.tsx
  src/client/pages/ZorgV2/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/ZorgV2/__snapshots__/ZorgDetail.test.tsx.snap
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/wmo-zorgned-service.test.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add distinction between legacy and updated WMO
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
  src/server/services/wmo/status-line-items/zorgned-helpers.ts
Due: azure-pipeline-bff.yaml

Disable regelingen
  src/client/config/thema.ts
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/helpers.ts
  src/server/services/hli/hli.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable lood
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable all non prod features
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix toggles
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

helper burgerzaken aangemaakt nog niet klaar
  src/client/config/thema.ts
  src/client/pages/Burgerzaken/helpers.ts
Due: azure-pipeline-ui.yaml

Fix setting
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

update snap
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add condition for regelingen
  src/client/pages/HLI/HLI.tsx
Due: azure-pipeline-ui.yaml

Prevent Einde recht for products that don’t have that status
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/declaratie.ts
Due: azure-pipeline-bff.yaml

Disable parkeren
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Use correct feature toggle
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Tekst aangepast en de test snap
  src/client/config/staticData.tsx
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-9127-FEATURE/toevoegen-beveiligingscode-veld-in-stadspas-endpoint (#1429)
  src/server/openapi-amsapp.yml
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Disable DB
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Log error
  src/server/helpers/env.ts
Due: azure-pipeline-bff.yaml
