Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Do not sort,do not expand
  src/server/services/bezwaren/bezwaren-service-config.ts
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Add event tracking to monitor bezwaren count
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Change comment, change implementation
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Fix sorting
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Fix sorting
  src/server/services/hr-kvk/hr-kvk.test.ts
Due: azure-pipeline-bff.yaml

Do not expose in prod
  src/server/services/bezwaren/bezwaren-router.ts
Due: azure-pipeline-bff.yaml

Move
  src/server/services/bezwaren/bezwaren-router.ts
Due: azure-pipeline-bff.yaml

Add titles to Dashboard map
  mocks/fixtures/hr-kvk/maatschappelijkeactiviteiten-eenmanszaak.json
  mocks/routes/kvk.js
  src/client/components/MyArea/MyAreaDashboardMap.tsx
Due: azure-pipeline-ui.yaml

Update icons
  package.json
  pnpm-lock.yaml
  src/client/assets/icons/index.tsx
  src/client/components/DocumentList/DocumentLink.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Search/useSearch.tsx
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/pages/Thema/Parkeren/ParkerenThema.tsx
  src/client/pages/Thema/Profile/private/useContactmomenten.hook.tsx
  src/client/pages/Thema/Varen/VarenDetailVergunningExploitatie.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add Page component according to design system
  src/client/components/Page/Page.module.scss
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.module.scss
  src/client/components/PageHeading/PageHeadingV2.tsx
Due: azure-pipeline-ui.yaml

Use new Page component + align layout
  src/client/App.module.scss
  src/client/App.tsx
  src/client/pages/Landing/Landing.module.scss
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Align headings and icons
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/MyArea/LegendPanel/CollapsiblePanel.tsx
  src/client/components/MyArea/LegendPanel/PanelComponent.tsx
  src/client/components/MyArea/MyAreaHomeControlButton.tsx
  src/client/components/MyArea/MyAreaLoadingIndicator.tsx
Due: azure-pipeline-ui.yaml

Adjust ThemaPagina component
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Thema/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Update ProfilePrivate
  src/client/components/CollapsiblePanel/CollapsiblePanel.module.scss
  src/client/components/CollapsiblePanel/CollapsiblePanel.tsx
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
  src/client/components/Thema/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Move LinkedList up
  src/client/components/Thema/ThemaPagina.module.scss
  src/client/components/Thema/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Add OAuth token verification middleware for specific private routes
  .env.local.template
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/server/openapi-dienstverlening.yml
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-private.ts
  src/server/services/afis/afis-router.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use new Page component
  src/client/components/Page/Page.tsx
  src/client/pages/Thema/Afval/AfvalThema.tsx
Due: azure-pipeline-ui.yaml

generate lock file
  pnpm-lock.yaml
Due: none

Update ThemaDetail pagina component
  src/client/components/Thema/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

MIJN-12154-Feature - Combine documents from aanvragen within same casus (#2249)
  mocks/fixtures/zorgned-jzd-aanvragen.json
  src/client/components/Search/search-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/ZorgDetail.tsx
  src/client/pages/Thema/Zorg/ZorgThema.tsx
  src/client/pages/Thema/Zorg/useZorgDetailData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
  src/server/services/content-tips/predicates.ts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/wmo-config-and-types.ts
  src/server/services/wmo/wmo-service-config.ts
  src/server/services/wmo/wmo-types.ts
  src/server/services/wmo/wmo-zorgned-service.ts
  src/server/services/wmo/wmo.ts
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update ListPage
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
Due: azure-pipeline-ui.yaml

Update Notifications page
  src/client/components/MyNotification/MyNotification.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

Clarify generated values
  src/server/routing/route-handlers.test.ts
Due: azure-pipeline-bff.yaml

Update leftover pages
  src/client/components/Page/Page.tsx
  src/client/pages/ApplicationError/ApplicationError.tsx
  src/client/pages/BffError/BffError.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/NotFound/NotFound.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

Move cobrowse code to frontend to be build from source
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/components/MainFooter/CobrowseFooter/lib/cobrowse-widget.d.ts
  src/client/components/MainFooter/CobrowseFooter/lib/cobrowse-widget.js
  src/client/config/api.ts
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/helpers/cobrowse.test.tsx
  src/client/helpers/cobrowse.ts
  src/client/helpers/env.ts
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/server/routing/bff-routes.ts
  src/server/routing/router-public.ts
  src/testing/setup.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update Dashboard
  src/client/components/Page/Page.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Dashboard/WelcomHeading.tsx
  src/client/pages/Dashboard/WelcomeHeading.module.scss
Due: azure-pipeline-ui.yaml

Adjust themas panel
  src/client/components/MaLink/MaLink.module.scss
  src/client/components/MyThemasPanel/MyThemasPanel.module.scss
  src/client/components/MyThemasPanel/MyThemasPanel.tsx
Due: azure-pipeline-ui.yaml

Fix buurt layout
  src/client/App.module.scss
  src/client/App.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
Due: azure-pipeline-ui.yaml

Prepend redactedClass with dot because cobrowse expects a view, not a classname
  .env.local.template
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
Due: azure-pipeline-ui.yaml

Add > 0 condition
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

MIJN-12375-Bug - Add > 0 condition (#2267)
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

Set size
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
Due: azure-pipeline-ui.yaml

Fix ZoomControl Buttons
  src/client/assets/icons/index.tsx
  src/client/components/MyArea/LegendPanel/LegendPanel.tsx
  src/client/components/MyArea/Map/ZoomControl.module.scss
  src/client/components/MyArea/Map/ZoomControl.tsx
  src/client/components/MyArea/MyArea.tsx
  src/client/components/MyArea/MyAreaCustomLocationControlButton.tsx
  src/client/components/MyArea/MyAreaHomeControlButton.tsx
Due: azure-pipeline-ui.yaml

Adjust status line size
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/components/StatusSteps/StatusSteps.tsx
Due: azure-pipeline-ui.yaml

RM obsolete class
  src/client/components/MainHeader/MainHeader.module.scss
Due: azure-pipeline-ui.yaml

Tweak size a bit
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/components/StatusSteps/StatusSteps.tsx
Due: azure-pipeline-ui.yaml
