Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Revert accidental change in incorrect file
  src/client/pages/Bodem/config.ts
  src/client/pages/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml

Fix list items and intro text
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Revert "Simplify decos parameter types"
  src/server/services/decos/decos-service.ts
  src/server/services/varen/varen.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Early return
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Add component
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Typo
  .env.local.template
Due: none

Implement env feature toggle for Afis thema
  .env.local.template
  src/server/config/source-api.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Change heading, add feature toggle
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Add message capture for stats
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Typo’s
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Change intro
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Change to facturatiegegevens
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Fix
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Change tekst
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
Due: azure-pipeline-ui.yaml

Rename title path parameter to caseType for consistency
  src/client/config/routes.ts
  src/client/pages/HorecaDetail/HorecaDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/VergunningDetail/VergunningDetail.test.tsx
  src/server/services/decos/decos-service.ts
  src/server/services/decos/helpers.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/varen.ts
  src/server/services/vergunningen/vergunningen.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add VarenDetail page
  src/client/App.tsx
  src/client/pages/Varen/VarenDetail.tsx
Due: azure-pipeline-ui.yaml

Remove redundant clear cache call
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Add request logs flag
  .env.local.template
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Remove redundant capture
  src/server/app.ts
  src/server/helpers/env.ts
Due: azure-pipeline-bff.yaml

Remove redundant logging
  src/server/helpers/source-api-request.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml

Disable SVWI
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix Some sass warnings
  src/client/AppState.ts
  src/client/pages/Dashboard/WelcomeHeading.module.scss
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/styles/_z-index.scss
Due: azure-pipeline-ui.yaml

Remove SectionCollapsible component
  src/client/components/SectionCollapsible/SectionCollapsible.module.scss
  src/client/components/SectionCollapsible/SectionCollapsible.test.tsx
  src/client/components/SectionCollapsible/SectionCollapsible.tsx
  src/client/components/index.ts
Due: azure-pipeline-ui.yaml

Remove Section
  src/client/components/Section/Section.module.scss
  src/client/components/Section/Section.test.tsx
  src/client/components/Section/Section.tsx
  src/client/components/index.ts
Due: azure-pipeline-ui.yaml

Remove comments
  src/client/pages/Krefia/Krefia.tsx
Due: azure-pipeline-ui.yaml

Add vergunningen transformers
  src/client/pages/Vergunningen/detail-page-content/AanbiedenDiensten.tsx
  src/client/pages/Vergunningen/detail-page-content/ERVV.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementMelding.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Migrate Verguninngen P1
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/Location.tsx
  src/client/pages/Vergunningen/detail-page-content/Nachtwerkontheffing.tsx
  src/client/pages/Vergunningen/detail-page-content/Omzettingsvergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Vergunningen/detail-page-content/StatusLineItems.tsx
  src/client/pages/Vergunningen/detail-page-content/TVMRVVObject.tsx
  src/client/pages/Vergunningen/detail-page-content/VOB.tsx
  src/client/pages/Vergunningen/detail-page-content/Woonvergunningen.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunning-rvv-sloterweg.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add decos raw data service
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix some typing
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunning-rvv-sloterweg.ts
Due: azure-pipeline-bff.yaml

Take correct
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add some checks
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Select everything
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add sequential fetching
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Surround decos query filter value in single quotes (#1735)
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add selectFields prop
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Replace ThemaPagina buttonItems with pageContentSecondary
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Set thema configs as const and remove export from non-exported types/values
  src/client/pages/AVG/config.ts
  src/client/pages/Bodem/config.ts
  src/client/pages/Burgerzaken/config.ts
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/VergunningenV2/config.ts
  src/client/pages/Zorg/Zorg-thema-config.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable SVWI (#1752)
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
