Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Api spec updates
  src/client/App.tsx
  src/client/components/LinkToListPage/LinkToListPage.tsx
  src/client/components/Search/search-config.json
  src/client/components/Table/TableV2.module.scss
  src/client/components/Table/TableV2.tsx
  src/client/components/TablePagePaginated/ListPagePaginated.tsx
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.module.scss
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/server/mock-data/json/erfpacht-v2-dossiers.json
  src/server/services/simple-connect/erfpacht.ts
  src/universal/config/chapter.ts
  src/universal/config/routes.ts
  src/universal/helpers/chapters.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Chage pristine response content
  src/client/AppState.ts
Due: azure-pipeline-ui.yaml

Update env reference
  src/client/components/Search/useSearch.tsx
  src/client/pages/VergunningDetail/Location.tsx
  src/server/cache/dev.search-config.flat-cache.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update mock data and values according to spec
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/server/mock-data/json/erfpacht-v2-dossierinfo-bsn.json
  src/server/mock-data/json/erfpacht-v2-dossiers.json
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add type safety, change name
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add intermediate call
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Remove call
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Add caching hook
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

Update env reference (#1090)
  src/client/components/Search/useSearch.tsx
  src/client/pages/VergunningDetail/Location.tsx
  src/server/cache/dev.search-config.flat-cache.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add useAppStateBagApi
  src/client/AppState.ts
  src/client/hooks/useAppState.ts
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/server/generate-user-data-overview.ts
  src/universal/config/chapter.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Temporary Add button
  src/client/styles/components/design-system-button.scss
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Add variant
  src/client/components/LinkToListPage/LinkToListPage.tsx
Due: azure-pipeline-ui.yaml

Use hook
  src/client/hooks/useAppState.ts
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

Fix property display
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add column styles, change display props
  src/client/components/Table/TableV2.tsx
  src/client/components/TablePagePaginated/ListPagePaginated.tsx
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
Due: azure-pipeline-ui.yaml

Bump! release-v4.83.0
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add loading placeholder
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

Update packages, add Facturen page
  package-lock.json
  package.json
  src/client/App.tsx
  src/client/components/TablePagePaginated/ListPagePaginated.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change column spans
  src/client/pages/Erfpacht/Erfpacht.module.scss
Due: azure-pipeline-ui.yaml

Re-organize packages, update tests
  package-lock.json
  package.json
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.test_.tsx
  src/client/hooks/useAppState.test.tsx
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/client/pages/Erfpacht/Erfpacht.test.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/server/helpers/source-api-request.test.ts
  src/server/services/afval/afvalwijzer.test.ts
  src/server/services/simple-connect/cleopatra.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Implement featureToggle dbEnabled
  src/server/services/db/db.ts
  src/server/services/db/fake-db.ts
  src/server/services/visitors.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Date formatting, chapter title, icon
  src/client/assets/icons/erfpachtv2.svg
  src/client/assets/icons/index.tsx
  src/client/config/chapterIcons.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/server/mock-data/json/erfpacht-v2-dossierinfo-bsn.json
  src/server/services/simple-connect/erfpacht.ts
  src/universal/config/chapter.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove map
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

Add media query
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/pages/Erfpacht/ErfpachtDossierDetail.module.scss
Due: azure-pipeline-ui.yaml

Add zakelijk determination
  src/server/services/simple-connect/erfpacht.ts
  src/universal/config/app.ts
  src/universal/config/chapter.ts
  src/universal/helpers/chapters.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove redundant params
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Parse url
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Add tests for fake-db
  src/server/services/db/fake-db.test.ts
  src/server/services/db/fake-db.ts
Due: azure-pipeline-bff.yaml

Add tests file
  src/server/services/simple-connect/erfpachtv2.test.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/services/simple-connect/__snapshots__/erfpachtv2.test.ts.snap
  src/server/services/simple-connect/erfpacht.ts
  src/server/services/simple-connect/erfpachtv2.test.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml

Componentize, finetune for mobile
  src/client/App.tsx
  src/client/components/DataList/DataList.module.scss
  src/client/components/DataList/DataList.tsx
  src/client/components/DesignSystemStyleAdjust/DesignSystemStyleAdjust.tsx
  src/client/components/MaRouterLink/MaRouterLink.module.scss
  src/client/components/MaRouterLink/MaRouterLink.tsx
  src/client/components/Search/searchConfig.tsx
  src/client/components/Search/useSearch.tsx
  src/client/components/Table/Table.tsx
  src/client/components/Table/TableV2.module.scss
  src/client/components/Table/TableV2.tsx
  src/client/components/TablePagePaginated/ListPagePaginated.tsx
  src/client/pages/Erfpacht/DossierDetail/DataListBijzondereBepalingen.tsx
  src/client/pages/Erfpacht/DossierDetail/DataListGeneral.tsx
  src/client/pages/Erfpacht/DossierDetail/DataListJuridisch.tsx
  src/client/pages/Erfpacht/DossierDetail/DataListcanons.tsx
  src/client/pages/Erfpacht/DossierDetail/DataListsFinancieel.tsx
  src/client/pages/Erfpacht/DossierDetail/DataTableFacturen.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.module.scss
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Erfpacht/DossierDetail/KadastraleAanduidingList.tsx
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/pages/Erfpacht/Erfpacht.test.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossierDetail.module.scss
  src/client/pages/Erfpacht/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/server/cache/dev.search-config.flat-cache.json
  src/server/mock-data/json/erfpacht-v2-dossierinfo-bsn.json
  src/server/mock-data/json/erfpacht-v2-dossiers.json
  src/server/services/simple-connect/erfpacht.ts
  src/server/services/simple-connect/erfpachtv2.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add to search
  src/client/components/DataList/DataList.tsx
  src/client/hooks/useAppState.ts
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
Due: azure-pipeline-ui.yaml

Disable Jenkins builds for ACC
  Jenkinsfile
Due: none

Update snap
  src/server/services/simple-connect/__snapshots__/erfpachtv2.test.ts.snap
Due: azure-pipeline-bff.yaml

Update condition
  src/client/hooks/useAppState.ts
  src/server/config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove padding
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Allow builds of main
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
Due: none

Mijn-5783 allow main on az (#1094)
  Jenkinsfile
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
Due: none

Trigger on main
  azure-pipeline-bff.yaml
Due: none

Mijn-5783 allow main on az (#1095)
  azure-pipeline-bff.yaml
Due: none

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
