Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Add description
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
Due: azure-pipeline-ui.yaml

RM
  src/client/hooks/storage.hook.ts
Due: azure-pipeline-ui.yaml

Change implementation
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Implement status check for account number change
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.test.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
  src/client/pages/Thema/Afis/useAfisEmandateActionsApi.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesApi.tsx
Due: azure-pipeline-ui.yaml

Change deactivated date
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

fix
  src/client/App.tsx
  src/client/render-root.tsx
Due: azure-pipeline-ui.yaml

fix and split up test
  src/client/App.test.tsx
Due: azure-pipeline-ui.yaml

remove whitespace
  src/client/App.test.tsx
Due: azure-pipeline-ui.yaml

improve test names
  src/client/App.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-7269-BUG: Fix flicker welcome loading text (#2442)
  src/client/App.test.tsx
  src/client/App.tsx
  src/client/render-root.tsx
Due: azure-pipeline-ui.yaml

Nog niet klaar > belastingen is alleen voor private?
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

4 likns gewijzigd en 1 link onderdeel van tip > tip verwijderd
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurThema.tsx
  src/server/services/content-tips/tips-content.ts
  src/server/services/wpi/content/bbz.ts
  src/server/services/wpi/content/bijstandsuitkering.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Parse all notifications datePublished to iso format
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/testing/setup.ts
  src/universal/helpers/date.test.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12709-CHORE: Dode links vervangen verwijderen (#2443)
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurThema.tsx
  src/server/services/content-tips/tips-content.ts
  src/server/services/wpi/content/bbz.ts
  src/server/services/wpi/content/bijstandsuitkering.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

type gewijzigd
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Use explicit version
  src/client/components/UserFeedback/InlineKTO.tsx
  src/server/services/user-feedback/user-feedback.route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add logging when fetchNotification functions don't have content
  src/server/services/controller.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-12747-FEATURE: Er worden geen notificaties getoond op productie (#2447)
  src/server/services/controller.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

change Brieven to Bestanden
  src/client/pages/Thema/Zorg/ZorgDetail.tsx
Due: azure-pipeline-ui.yaml

Also check for undefined
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/controller.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Fix failing test
  src/server/services/amsapp/notifications/amsapp-notifications.test.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary type cast
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml

MIJN-12746-BUG: Use explicit version (#2446)
  src/client/components/UserFeedback/InlineKTO.tsx
  src/server/services/user-feedback/user-feedback.route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12747-FEATURE: Er worden geen notificaties getoond op productie 2 (#2448)
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/controller.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-12070-CHORE: Dead link script improve accuracy for automatic usage (#2445)
  scripts/get-dead-links
Due: none

Capture thrown exception and return apiError instead
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Fix
  src/client/components/UserFeedback/InlineKTO.tsx
Due: azure-pipeline-ui.yaml

MIJN-12747-FEATURE: Er worden geen notificaties getoond op productie 3 (#2449)
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-12746-BUG: RM import (#2451)
  src/client/components/UserFeedback/InlineKTO.tsx
Due: azure-pipeline-ui.yaml

Fix import ext
  scripts/generate-user-data-overview.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Varen/Varen-render-config.tsx
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/client/pages/Thema/Varen/useVarenDetailPage.hook.ts
  src/client/pages/Thema/Varen/useVarenThemaData.hook.ts
  src/server/app-start.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/amsapp/notifications/amsapp-notifications-helper.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/controller.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix ts problems
  scripts/generate-user-data-overview.ts
  src/client/components/Search/Search.tsx
  src/client/components/Search/useSearch.tsx
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/TableV2.types.ts
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Horeca/HorecaDetail.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/horeca/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add search config
  src/client/components/Search/search-config.tsx
Due: azure-pipeline-ui.yaml

Fix ts problems
  src/client/components/Search/search-config.tsx
  src/client/components/UserFeedback/InlineKTO.tsx
  src/client/config/themaIcons.tsx
  src/client/data-transform/appState.tsx
  src/client/hooks/api/useBffApi.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Thema/Varen/VarenList.test.tsx
  src/client/pages/Thema/Varen/VarenThema.test.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/client/pages/Thema/Varen/useVarenDetailPage.hook.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/controller.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix missing icon
  src/client/assets/icons/Chevron-Down.svg
  src/client/styles/mixins.scss
Due: azure-pipeline-ui.yaml

Post merge fix
  eslint.config.mjs
  src/server/services/user-feedback/user-feedback.route-handlers.ts
Due: azure-pipeline-bff.yaml

Fix path
  index.html
  pnpm-lock.yaml
  src/client/config/feature-toggles.ts
  src/server/app.ts
  src/server/config/app.ts
  src/server/helpers/dir.ts
  src/server/helpers/file-cache.ts
  tsconfig.build-fe.json
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix ext
  src/index.tsx
  tsconfig.json
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
