Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Release termijnfactuur implementatie
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12292-Chore - Release termijnfactuur implementatie (#2242)
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Enable termijnFacturen
  src/server/services/afis/afis-service-config.ts
Due: azure-pipeline-bff.yaml

MIJN-11102-Chore - Rtm FAT fixes (#2241)
  src/server/services/hli/hli.test.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/rtm/regeling-rtm-aanvragen-testset.ts
  src/server/services/hli/rtm/regeling-rtm.test.ts
  src/server/services/hli/rtm/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

RM
  mocks/routes/brp.js
Due: none

Update template
  .env.local.template
Due: none

Add info page
  src/client/pages/Burgerzaken/Burgerzaken.tsx
Due: azure-pipeline-ui.yaml

Add property access safety
  src/server/services/parkeren/parkeren-egis-service.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/helpers/env.ts
  src/server/services/hr-kvk/hr-kvk.test.ts
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Exclude documents in step
  src/server/services/hli/rtm/regeling-rtm.test.ts
  src/server/services/hli/rtm/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Change name
  src/server/services/hli/rtm/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Update sorting
  src/server/services/hli/rtm/regeling-rtm.test.ts
  src/server/services/hli/rtm/regeling-rtm.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/server/services/hli/rtm/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Update id’s
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Add initial version of pb products for wonen, vob and omzetvergunningen
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  mocks/fixtures/powerbrowser-bb-zaken.json
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

MIJN-12316-Bug - Remove props for clarity (#2230)
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-11102-Bug - Exclude documents in step (#2244)
  src/server/services/hli/rtm/regeling-rtm.test.ts
  src/server/services/hli/rtm/regeling-rtm.ts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Mijn-12341-bug - transform response (#2243)
  src/server/services/parkeren/parkeren-egis-service.ts
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12328-Bug-date-range - Add tests (#2238)
  src/server/services/brp/brp-service-config.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
  src/server/services/hr-kvk/hr-kvk.test.ts
  src/server/services/hr-kvk/hr-kvk.ts
  src/server/services/hr-kvk/hr-kvk.types.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add tests
  src/server/services/hr-kvk/hr-kvk-helpers.test.ts
  src/server/services/hr-kvk/hr-kvk-helpers.ts
  src/server/services/hr-kvk/hr-kvk.test.ts
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Add import
  src/server/services/brp/brp.test.ts
Due: azure-pipeline-bff.yaml

Fix types
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

Add explanation
  mocks/routes/zorgned.js
Due: none

Enable feature toggle
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

Add condition
  src/client/pages/Thema/Profile/Profile-render-config.tsx
Due: azure-pipeline-ui.yaml

RM exports
  src/server/services/bag/bag.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12356 add _pageSize
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Remove unused transformFields
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Add possible transformDocLinks PB names of documents and comment with ticket
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Add initial PB status steps
  src/server/services/decos/decos-helpers.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/parkeren-decos-service.test.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/decos-status-steps.test.ts
  src/server/services/vergunningen/decos-status-steps.ts
  src/server/services/vergunningen/pb-status-steps.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Let vergunningen detail pages use combined zaakfrontendcombined
  src/client/components/Search/search-config.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/LigplaatsVergunning.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/Omzettingsvergunning.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/Woonvergunningen.tsx
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move rechtsvorm
  src/server/services/hr-kvk/hr-kvk.test.ts
  src/server/services/hr-kvk/hr-kvk.ts
  src/server/services/hr-kvk/hr-kvk.types.ts
Due: azure-pipeline-bff.yaml

Dedupe
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml
