Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Name change parkeren collection id's and removed unused
  mocks/collections.json
  mocks/routes/parkeren.js
Due: none

Added back the fallback URL
  .env.local.template
  src/server/config/source-api.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Renamed because it did not align with name in keyvault
  .env.local.template
  src/server/config/source-api.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Add transform hook, refine types
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Vergunningen/useVergunningenTransformed.hook.ts
Due: azure-pipeline-ui.yaml

Extract decos-service to its own service
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/helpers.test.ts
  src/server/services/decos/helpers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/server/services/vergunningen-v2/vergunningen-notifications.ts
  src/server/services/vergunningen-v2/vergunningen-route-handlers.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Refactored
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

Removed redundant any type
  src/client/pages/Parkeren/Parkeren.test.tsx
Due: azure-pipeline-ui.yaml

Added test
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/Parkeren.tsx
Due: azure-pipeline-ui.yaml

Moved helpers, data to bottom. Added forTesting
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/Parkeren.tsx
Due: azure-pipeline-ui.yaml

MIJN-9578-BUG-thema-parkeren-wordt-niet-getoond-indien-persoon-alleen-vergunningen-in-mijn-parkeren-heeft (#1654)
  .env.local.template
  Dockerfile
  mocks/README.md
  mocks/collections.json
  mocks/routes/parkeren.js
  src/client/App.tsx
  src/client/components/MaLink/MaLink.module.scss
  src/client/components/MaLink/MaLink.tsx
  src/client/config/thema.ts
  src/client/helpers/themas.ts
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/ParkerenList.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Vergunningen/useVergunningenTransformed.hook.ts
  src/client/styles/main.scss
  src/server/config/source-api.ts
  src/server/services/controller.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
  src/server/services/vergunningen/vergunningen.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added varen mock data templates
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

Changed 'template' fields to concrete ones
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

MIJN-9621-CHORE/toevoegen-varen-zaken-aan-decos-mock-data (#1661)
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

Wat overbodige code weggehaald
  src/client/pages/Burgerzaken/helpers.ts
Due: azure-pipeline-ui.yaml

Testen naar de testbranch
  package-lock.json
  package.json
  src/server/services/brp.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

URL gewijzigd, bug routering en bug dynamische naamgeving gewijzigd
  package.json
  src/client/config/thema.ts
  src/client/pages/Burgerzaken/helpers.ts
  src/server/services/brp.ts
  src/universal/types/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

eerste opzet burgerzaken dynamisch gemaakt: Paspoort, ID of beide
  src/client/config/thema.ts
  src/client/pages/Burgerzaken/helpers.ts
Due: azure-pipeline-ui.yaml

Post merge fixes
  src/client/config/routes.ts
  src/client/pages/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Burgerzaken/helpers.test.ts
  src/client/pages/Burgerzaken/helpers.ts
  src/server/services/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change title
  src/client/pages/Burgerzaken/config.ts
Due: azure-pipeline-ui.yaml

Remove obsolete prop
  src/client/pages/Burgerzaken/config.ts
Due: azure-pipeline-ui.yaml

Add E-mandates initial
  .env.local.template
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add services + route handlers initial
  .env.local.template
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
  src/server/config/source-api.ts
  src/server/routing/route-helpers.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Add standard helper for decrypting json payload
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Change table config
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Change type extends
  src/server/auth/auth-helpers.ts
Due: azure-pipeline-bff.yaml

Add function to encrypt a JSON payload
  src/server/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml

Add bff url helper
  src/client/helpers/api.ts
Due: azure-pipeline-ui.yaml

Add mock data
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
Due: none

Refine types
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Refine types Afis
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add ActionButton component
  src/client/pages/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add bff routes
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Change Feature toggle value
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Boyscout import order
  src/client/components/DocumentList/DocumentLink.tsx
Due: azure-pipeline-ui.yaml

Add routes
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Refine types
  src/server/services/cms-content.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Use a payload object
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Use new url generating function
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Use statuscode object
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
