Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Fix dateTimeRange
  src/client/pages/Thema/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Simplify filtering
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-11554 - Add processed condition
  src/client/pages/Thema/Vergunningen/detail-page-content/EvenementMelding.tsx
Due: azure-pipeline-ui.yaml

Add helpers + refine expirable
  src/client/pages/Thema/Vergunningen/Vergunningen-helpers.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

Update Verlopen step
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml

Fix filters
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-11522 - Evenement melding
  src/client/pages/Thema/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add parkeren to search
  src/client/components/Search/search-config.tsx
Due: azure-pipeline-ui.yaml

MIJN-11535 - Fix FE
  src/client/pages/Thema/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove redundant optional chaining
  src/client/pages/Thema/Vergunningen/Vergunningen-helpers.ts
Due: azure-pipeline-ui.yaml

null ipv - placeholder
  src/client/pages/Thema/Vergunningen/detail-page-content/AanbiedenDienstenEnStraatartiesten.tsx
Due: azure-pipeline-ui.yaml

Change boolean determination
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml

Simplify return
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

Always return - if no content found
  src/client/pages/Thema/Vergunningen/detail-page-content/AanbiedenDienstenEnStraatartiesten.tsx
Due: azure-pipeline-ui.yaml

Remove redundant variable in assignment
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml

Change commonTransformer implementation
  src/client/pages/Thema/Horeca/HorecaDetail.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/BZB.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/BZP.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/GPK.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/GPP.tsx
  src/client/pages/Thema/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/AanbiedenDienstenEnStraatartiesten.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/ERVV.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/EvenementMelding.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/Omzettingsvergunning.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/TVMRVVObject.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/VOB.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/Woonvergunningen.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update test data
  src/client/pages/Thema/Parkeren/Parkeren.test.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

Add workflows endpoint
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add select props
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Fix type and imports
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Update function charecteristics
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Fix condition
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Refactor decos service + transformer
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/decos/decos-field-transformers.ts
  src/server/services/decos/decos-helpers.test.ts
  src/server/services/decos/decos-helpers.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/decos-zaken.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.ts
  src/server/services/varen/varen.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move consts
  src/server/services/decos/decos-field-transformers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Fix tests
  src/server/services/decos/decos-service.test.ts
  src/server/services/parkeren/parkeren-decos-service.test.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Change header name and use it in the cache.
  mocks/routes/zorgned.js
  src/server/config/source-api.ts
  src/server/services/wmo/wmo-zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Remove requestID from getRequestConfigCacheKey
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

Remove redundant profiletype check, this is already done a few lines above it
  src/testing/utils.ts
Due: none

can now disable cache
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

Add debugging
  .env.local.template
  package-lock.json
  package.json
  src/server/app.ts
  src/server/helpers/source-api-request.ts
  src/server/services/decos/decos-service.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  .env.local.template
  src/server/helpers/source-api-request.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/horeca.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/vergunningen/vergunningen-status-steps.test.ts
  src/server/services/vergunningen/vergunningen.test.ts
Due: azure-pipeline-bff.yaml

Change debugger
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

Add a simple option
  src/server/app.ts
Due: azure-pipeline-bff.yaml

mostly removed requestid and working tests
  src/client/hooks/useAppState.test.tsx
  src/client/pages/Thema/Bodem/BodemDetail.test.tsx
  src/client/pages/Thema/HLI/test-helpers.ts
  src/client/pages/Thema/Jeugd/JeugdDetail.test.tsx
  src/client/pages/Thema/Jeugd/JeugdThema.test.tsx
  src/mijnamsterdam.d.ts
  src/server/config/source-api.ts
  src/server/helpers/source-api-request.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-public.ts
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/buurt/supercluster.ts
  src/server/services/controller.test.ts
  src/server/services/controller.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/hli.test.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/horeca/horeca.test.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/wpi/api-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix wrong query field
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/vergunningen/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Add proper response code
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml

Update readme
  readme.md
Due: none

Fix wrongly placed cache key
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
