Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-13194-BUG: Zorgned handle optional voornamen (#2629)
  src/mocks-server/fixtures/zorgned-av-persoonsgegevensNAW.json
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
  src/universal/helpers/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable inkomen thema
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
Due: azure-pipeline-ui.yaml

Toon alert en maak documenten niet te downloaden
  src/client/pages/Thema/Inkomen/InkomenThema.tsx
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/server/services/wpi/helpers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add document download toggle and turn off
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/server/services/wpi/api-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move closer to usage
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Add better error handling and remove seemingly redundant check
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Rm (unused) usecache for service
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Update value
  src/server/routing/route-helpers.test.ts
Due: azure-pipeline-bff.yaml

Change statement
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove slash
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

Change expected behavior to not say ERROR
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Rename
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Add dummy account to show unknown fields
  src/server/auth/generated/digid-test-accounts.json
Due: azure-pipeline-bff.yaml

Add state merging
  src/client/AppState.ts
  src/client/hooks/useAppStateStore.test.ts
  src/client/hooks/useAppStateStore.ts
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/useCommunicatieVoorkeuren.ts
Due: azure-pipeline-ui.yaml

Add warning
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/useCommunicatieVoorkeuren.ts
Due: azure-pipeline-ui.yaml

Correct dependency array
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ValueInputAndValidation.tsx
Due: azure-pipeline-ui.yaml

Only check email
  src/server/services/klantcontact/klantcontact-route-handlers.ts
Due: azure-pipeline-bff.yaml

Return error if everything fails
  src/server/services/klantcontact/klantcontact-communicatievoorkeuren.ts
Due: azure-pipeline-bff.yaml

RM import
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Fix imports
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/AVG/useAVGData.hook.tsx
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesApi.tsx
  src/client/pages/Thema/Afis/useAfisListPageData.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/client/pages/Thema/Horeca/useHorecaThemaData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenDetailData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/Thema/Jeugd/useJeugdThemaData.ts
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Thema/KlantContact/useKlantcontactData.hook.tsx
  src/client/pages/Thema/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Thema/Profile/private/useWonenThemaData.hook.ts
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-render-config.tsx
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/Thema/Varen/Varen-render-config.tsx
  src/client/pages/Thema/Varen/useVarenThemaData.hook.ts
  src/client/pages/Thema/Vergunningen/useVergunningenThemaData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
Due: azure-pipeline-ui.yaml

Remove unnecessary console log
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

Fix condition
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Add explanation to flushTelemetry
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

MIJN-13143-FEATURE: Database migratie logging (#2626)
  src/server/services/db/migrate.ts
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

Separate tests
  src/client/hooks/useThemaBreadcrumbs.test.tsx
  src/client/hooks/useThemaMenuItems.test.tsx
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix tests
  src/client/pages/Thema/Afis/useAfisListPageData.test.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/useCommunicatieVoorkeuren.ts
Due: azure-pipeline-ui.yaml

bugfix stadspas thema always true
  src/scripts/generate-user-data-overview.ts
Due: none

Change loading checks to cope for non-existing state
  src/client/config/thema-types.ts
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afval/Afval-render-config.tsx
  src/client/pages/Thema/Belastingen/Belastingen-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/Horeca/Horeca-render-config.tsx
  src/client/pages/Thema/Jeugd/Jeugd-render-config.tsx
  src/client/pages/Thema/Klachten/Klachten-render-config.tsx
  src/client/pages/Thema/Krefia/Krefia-render-config.tsx
  src/client/pages/Thema/Milieuzone/Milieuzone-render-config.tsx
  src/client/pages/Thema/Overtredingen/Overtredingen-render-config.tsx
  src/client/pages/Thema/Parkeren/Parkeren-render-config.tsx
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Subsidies/Subsidies-render-config.tsx
  src/client/pages/Thema/Svwi/Svwi-render-config.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-render-config.tsx
  src/client/pages/Thema/Varen/Varen-render-config.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Revert change did not work
  src/scripts/generate-user-data-overview.ts
Due: none

Loosen parameter types
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add safety
  src/client/pages/Thema/Krefia/Krefia-render-config.tsx
Due: azure-pipeline-ui.yaml

Add ability to supply multiple types
  src/server/routing/route-helpers.test.ts
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Separate hooks
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/MaLink/MaLink.tsx
  src/client/config/menuItems.ts
  src/client/hooks/usePageTypeSetting.ts
  src/client/hooks/useThemaBreadcrumbs.test.tsx
  src/client/hooks/useThemaBreadcrumbs.ts
  src/client/hooks/useThemaMenuItems.test.tsx
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Thema/AVG/useAVGData.hook.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesApi.tsx
  src/client/pages/Thema/Afis/useAfisListPageData.test.tsx
  src/client/pages/Thema/Afis/useAfisListPageData.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/client/pages/Thema/Horeca/useHorecaThemaData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenDetailData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/Thema/Jeugd/useJeugdThemaData.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Thema/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Thema/Profile/private/useWonenThemaData.hook.ts
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/Thema/Varen/useVarenThemaData.hook.ts
  src/client/pages/Thema/Vergunningen/useVergunningenThemaData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
Due: azure-pipeline-ui.yaml

Fix import
  src/client/pages/Thema/KlantContact/useKlantcontactData.hook.tsx
Due: azure-pipeline-ui.yaml

Use MA link props
  src/client/hooks/useThemaBreadcrumbs.ts
Due: azure-pipeline-ui.yaml

Add to dep array
  src/client/hooks/usePageTypeSetting.ts
Due: azure-pipeline-ui.yaml

MIJN-13038-FEATURE: Change loading checks to cope for non existing state (#2638)
  src/client/config/thema-types.ts
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afval/Afval-render-config.tsx
  src/client/pages/Thema/Belastingen/Belastingen-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/Horeca/Horeca-render-config.tsx
  src/client/pages/Thema/Jeugd/Jeugd-render-config.tsx
  src/client/pages/Thema/Klachten/Klachten-render-config.tsx
  src/client/pages/Thema/Krefia/Krefia-render-config.tsx
  src/client/pages/Thema/Milieuzone/Milieuzone-render-config.tsx
  src/client/pages/Thema/Overtredingen/Overtredingen-render-config.tsx
  src/client/pages/Thema/Parkeren/Parkeren-render-config.tsx
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Subsidies/Subsidies-render-config.tsx
  src/client/pages/Thema/Svwi/Svwi-render-config.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-render-config.tsx
  src/client/pages/Thema/Varen/Varen-render-config.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13100-CHORE: Generate user data klaar maken voor pipeline (#2605)
  .env.local.template
  src/scripts/generate-user-data-overview.test.ts
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-development.ts
  src/server/auth/generated/digid-test-accounts.json
  src/server/auth/generated/eherkenning-test-accounts.json
  src/server/routing/app-router-development.ts
  src/server/routing/bff-routes.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

Various changes
  package.json
  src/client/components/Modal/Modal.tsx
  src/client/hooks/useAppStateStore.test.ts
  src/client/hooks/useAppStateStore.ts
  src/client/pages/NotFound/NotFound-routes.ts
  src/client/pages/NotFound/NotFound.tsx
  src/client/pages/NotFound/Redirect.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisFactuur.test.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use pre-defined values
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
