Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Change name
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

fix
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

Add helper
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Breakup details into readable statements
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml

Add check for header kid
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml

Change input handling
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Typos
  scripts/generate-user-data-overview.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Change import
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

breadscrums met nieuwe type aan de praat gekregen
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

Fix endpoint
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Add logging
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Capture additional info
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

type weer terug gezet
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-12509-CHORE-fix-page-route-resolver-type-issue (#2350)
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

Fix notation
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Typefoutje uitlegpagina gecorrigeerd
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

Use other date formats
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Always use post
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

detailPage aan themaConfig toegevoegd
  src/client/pages/Thema/Profile/private/Contactmomenten.config.ts
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/Zorg.test.tsx
  src/client/pages/Thema/Zorg/ZorgDetail.test.tsx
  src/client/pages/Thema/Zorg/ZorgDetail.tsx
  src/client/pages/Thema/Zorg/useZorgDetailData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update props
  mocks/routes/pom.js
Due: none

Add debug
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Revert "Always use post"
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Fix account creation
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix types
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

MIJN-12509-CHORE-toeristische-verhuur-themaconfig-adhv-bodem-hli-alg-techniek (#2345)
  src/client/components/Search/search-config.tsx
  src/client/config/thema-types.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/HLI/InfoSection.tsx
  src/client/pages/Thema/ToeristischeVerhuur/InfoSection.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-render-config.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurList.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurThema.tsx
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/content-tips/tips-content.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add message
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

themaConfig returnd in UseData > en Zorglist niet meer geimporteerd, bij ZorgDetail lukt het me niet, daar importeer ik m nog steeds uit de thema-config...
  src/client/pages/Thema/Zorg/ZorgList.tsx
  src/client/pages/Thema/Zorg/useZorgDetailData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
Due: azure-pipeline-ui.yaml

make more generic
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

Test gedraaid en snap gewijzigd
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
Due: azure-pipeline-ui.yaml

factor out and add productsoortcode test
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

update doc
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

add test
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

small rename
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

Bodem de list page hooks aangepast
  src/client/pages/Thema/Bodem/BodemList.tsx
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Bodem/useBodemListPageData.hook.ts
Due: azure-pipeline-ui.yaml

fix test
  src/client/pages/Thema/Zorg/ZorgThema.tsx
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
Due: azure-pipeline-ui.yaml

pageLinks en themaConfig als const opgenomen bij fucntie useBodemDetailData
  src/client/pages/Thema/Bodem/BodemThema.tsx
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
Due: azure-pipeline-ui.yaml

Nog een opmerking waar nog naar te kijken
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
Due: azure-pipeline-ui.yaml

MIJN-12508-CHORE-wmo-thema-config-omzetten-adhv-hli-bodem-alg-techniek (#2353)
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Profile/private/Contactmomenten.config.ts
  src/client/pages/Thema/Zorg/InfoSection.tsx
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/Zorg.test.tsx
  src/client/pages/Thema/Zorg/ZorgDetail.test.tsx
  src/client/pages/Thema/Zorg/ZorgDetail.tsx
  src/client/pages/Thema/Zorg/ZorgList.tsx
  src/client/pages/Thema/Zorg/ZorgThema.tsx
  src/client/pages/Thema/Zorg/useZorgDetailData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-12289-bug - api handling (#2349)
  .env.local.template
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

use objects for more readability
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml
