Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

use component creator
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/HLI/HLI.tsx
Due: azure-pipeline-ui.yaml

Fix double text when no historic regelingen - MIJN-10060
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/__snapshots__/HLI.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-10062-FEATURE Add action buttons to status step (#1802)
  mocks/fixtures/decos-vergunningen-zaken-response.json
  src/client/components/StatusLine/StatusLine.module.scss
  src/client/components/StatusLine/StatusLine.tsx
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-10094-Chore - erfpacht v2 release prep (#1796)
  src/client/config/thema.ts
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/client/pages/Erfpacht/Erfpacht.test.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/server/config/source-api.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Enable overtredingen
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-8117-Feature - Enable overtredingen (#1803)
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added three more test cases
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add test case
  src/universal/helpers/bag.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add one case to throws
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix eslint else after return error
  src/server/services/my-locations.ts
Due: azure-pipeline-bff.yaml

Added a few more error conditions
  src/client/components/LocationModal/LocationModal.tsx
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add a few throw conditions
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable lsp diagnostic for working line
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Made more general
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add directives
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix failing test
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

typed and parametrized
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

made more general, but can't handle a single streetname yet
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
  src/universal/types/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Handles streetname starting with Amsterdam
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove unused lines
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change mock data, so I can click on a location modal to see if it works
  mocks/fixtures/powerbrowser-bb-zaak-adres.json
  mocks/fixtures/vergunningen.json
Due: none

First test for the text working
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/test-helpers.ts
Due: azure-pipeline-ui.yaml

Mocked some request that we're not mocked before, resulting in some error logs
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

extracted duplicate text to variable
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLI.tsx
Due: azure-pipeline-ui.yaml

add tests and remove test-ids
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

leave with escape, refactor/add tests
  eslint.config.mjs
  src/client/components/Modal/Modal.tsx
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

remove null
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Got the conditions right but still needs tests
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
  src/client/pages/HLI/test-helpers.ts
Due: azure-pipeline-ui.yaml

MIJN-9974 Tekstuele correctie in popup/modal van blokkeer pas.
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Added log level information to the readme
  readme.md
Due: none

Simplify/improve tests
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

eslint suggestions
  src/client/pages/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Change 'bedrag' to 'saldo'
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Close button
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

refactor tests
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/HLI/HLIStadspas.test.tsx
  src/client/pages/HLI/__snapshots__/HLIStadspas.test.tsx.snap
  src/client/pages/HLI/test-helpers.ts
Due: azure-pipeline-ui.yaml

added test
  src/client/pages/HLI/HLI.test.tsx
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
