Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Style a bit
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/ProfileName.tsx
  src/client/pages/Dashboard/WelcomeHeading.module.scss
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Add margin
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Use different polling selector
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MyArea/Map/Zoom.tsx
  src/client/components/MyArea/MyArea.tsx
Due: azure-pipeline-ui.yaml

Respond with error if no test accounts are present
  src/server/routing/router-development.ts
Due: azure-pipeline-bff.yaml

Upate route
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Generate url with encrypted id
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Align statussteps
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.module.scss
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen.module.scss
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename type
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move linkListItems
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLIThemaPagina.tsx
  src/client/pages/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

Add some safety
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change width for large screens
  src/client/pages/AVG/AVG.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Bezwaren/Bezwaren.tsx
  src/client/pages/Bodem/Bodem.tsx
  src/client/pages/Burgerzaken/Burgerzaken.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/HLI/HLIThemaPagina.tsx
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Klachten/Klachten.tsx
  src/client/pages/Krefia/Krefia.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Profile/commercial/ProfileCommercial.tsx
  src/client/pages/Profile/private/ProfilePrivate.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Zorg/Zorg.tsx
Due: azure-pipeline-ui.yaml

Replace Info details with DataLists
  src/client/pages/Parkeren/detail-page-content/BZB.tsx
  src/client/pages/Parkeren/detail-page-content/BZP.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/client/pages/Parkeren/detail-page-content/GPK.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Update klachten detail
  src/client/pages/Klachten/KlachtenDetail.tsx
Due: azure-pipeline-ui.yaml

Fix condition
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add bezwaren detail
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update doc list style
  src/client/components/DocumentList/DocumentListV2.tsx
  src/client/pages/Bezwaren/BezwarenDetail.module.scss
  src/client/pages/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Add new Statusline component
  src/client/components/StatusLine/StatusLineV2.module.scss
  src/client/components/StatusLine/StatusLineV2.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Post merge fixes
  package-lock.json
  src/client/components/MaLink/MaLink.module.scss
  src/client/pages/Varen/VarenDetail.tsx
  src/server/services/controller.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove extended condition
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
Due: azure-pipeline-ui.yaml

Update Eigenparkeerplaats
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
Due: azure-pipeline-ui.yaml

Remove import
  src/client/pages/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Fix import
  src/client/components/MyArea/LegendPanel/PanelContent/MyAreaDetailPanel.tsx
Due: azure-pipeline-ui.yaml

Remove old component
  src/client/components/StatusLine/StatusLine.module.scss
  src/client/components/StatusLine/StatusLine.test.tsx
  src/client/components/StatusLine/StatusLine.tsx
Due: azure-pipeline-ui.yaml

Add datalist
  src/client/pages/GarbageInformation/GarbageInformation.tsx
Due: azure-pipeline-ui.yaml

Add display status
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/varen.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update area components
  src/client/components/InfoDetail/InfoDetail.module.scss
  src/client/components/InfoDetail/InfoDetail.test.tsx
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/InfoDetail/TextClamp.module.scss
  src/client/components/InfoDetail/TextClamp.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/BedrijvenInvesteringsZones.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Bekendmaking.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Date.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/DateStartEnd.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Description.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Evenementen.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Laadpalen.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/MeldingenBuurt.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Parkeren.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Sport.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Url.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Wior.tsx
Due: azure-pipeline-ui.yaml

Update search config
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Post merge fixes
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Add spans
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Update klachten
  src/client/pages/Klachten/KlachtenDetail.tsx
  src/client/pages/Klachten/useKlachtenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Update Test dep
  src/client/pages/MockApp.tsx
  src/client/pages/Search/Search.test.tsx
  src/client/pages/setupMockApp.tsx
Due: azure-pipeline-ui.yaml

Add textclamp
  src/client/components/TextClamp/TextClamp.module.scss
  src/client/components/TextClamp/TextClamp.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Remove styles
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Change ErrorMessages display
  src/client/App.tsx
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/Modal/Modal.tsx
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Fix status steps
  src/client/components/Datalist/Datalist.module.scss
  src/client/components/StatusLine/StatusLineV2.module.scss
  src/client/components/StatusLine/StatusLineV2.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Align styles
  src/client/components/Datalist/Datalist.module.scss
  src/client/pages/Erfpacht/DossierDetail/DataTableFacturen.tsx
  src/client/pages/Erfpacht/DossierDetail/DatalistBijzondereBepalingen.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.module.scss
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Parkeren/ParkerenDetail.tsx
  src/client/pages/Vergunningen/VergunningDetail.tsx
Due: azure-pipeline-ui.yaml

Refine types
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/decos/config-and-types.ts
  src/server/services/decos/decos-helpers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/parkeren/config-and-types.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunningen-helpers.ts
  src/server/services/vergunningen/vergunningen-notification-labels.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/AppState.ts
  src/client/components/Search/search-config.tsx
  src/client/components/Search/useSearch.test.tsx
  src/client/components/Search/useSearch.tsx
  src/client/config/thema.ts
  src/client/helpers/themas.ts
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.test.tsx
  src/client/pages/Inkomen/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Profile/private/useContactmomenten.hook.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

Fix afis download mock
  mocks/collections.json
  mocks/routes/afis.js
Due: none

Align types
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenDetail.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/server/services/decos/decos-helpers.test.ts
  src/server/services/decos/decos-helpers.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/decos-zaken.ts
  src/server/services/parkeren/parkeren-notifications.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-helpers.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/universal/types/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
