Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Update parkeren
  mocks/routes/parkeren.js
  src/client/AppState.ts
  src/client/config/themas.ts
  src/client/hooks/useThemaMenuItems.test.tsx
  src/client/hooks/useTrackThemas.hook.test.tsx
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/server/services/controller.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Reuse mock endpoints and change themas parkeren logic
  mocks/routes/parkeren.js
  src/client/config/themas.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update burgerzaken header image (#1582)
  public/header/1024x256-burgerzaken.jpg
  public/header/1024x256-burgerzaken.webp
  public/header/1080x432-burgerzaken.jpg
  public/header/1080x432-burgerzaken.webp
  public/header/1366x342-burgerzaken.jpg
  public/header/1366x342-burgerzaken.webp
  public/header/1600x400-burgerzaken.jpg
  public/header/1600x400-burgerzaken.webp
  public/header/360x144-burgerzaken.jpg
  public/header/360x144-burgerzaken.webp
  public/header/720x288-burgerzaken.jpg
  public/header/720x288-burgerzaken.webp
Due: azure-pipeline-ui.yaml

Remove unnecessary feature toggle parkerenpatroonc
  src/client/AppState.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove parkeren patroon c
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

Fix start date determination, add separate document paragraph
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add tests, separate types
  src/server/services/tips/predicates.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuuur-powerbrowser-bb-vergunning-types.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Typo
  src/server/services/tips/predicates.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml

MIJN-9504 - Change betaald statustekst
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Filter out non existing values
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

MIJN-9508 - meldingtekst
  src/server/services/afis/afis-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-9508 - Change condition
  src/server/services/afis/afis-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-9556 - change button text
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Re-add address mock data
  mocks/routes/afis.js
Due: none

MIJN-9504 - Different statukstext for betaalde facturen with deelbetaling
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-9550 - Add geannuleerd status, refactor text notation
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-9534 - change target
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Change argument name, add country extension
  src/universal/helpers/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add feature toggle for phone
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add address type properties
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add snaps
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.module.scss
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add address data
  mocks/routes/afis.js
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Change amount variable/property names
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snaps
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

Change test data
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

typo
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

typo
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

MIJN-9528-Bug - take redenOntbinding into account
  src/client/pages/Profile/formatDataPrivate.tsx
Due: azure-pipeline-ui.yaml

Remove unused style
  src/client/styles/_global.scss
Due: azure-pipeline-ui.yaml

Fix parkeren.test.ts file
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Fix tests
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Add promise all and simplify logic
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

Fix Afvalcontainers timeout
  src/server/services/buurt/datasets.ts
  src/server/services/buurt/dso-helpers.ts
Due: azure-pipeline-bff.yaml

Mijn-8175-feature/parkeren evs aansluiting (#1580)
  mocks/collections.json
  mocks/routes/parkeren.js
  src/client/AppState.ts
  src/client/config/themas.ts
  src/client/hooks/useThemaMenuItems.test.tsx
  src/client/hooks/useTrackThemas.hook.test.tsx
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix Modal/Dialog styling
  package-lock.json
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.test.tsx
  src/client/components/Modal/Modal.tsx
  src/client/components/index.ts
  src/client/styles/main.scss
  src/index.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Always show doc text
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
Due: azure-pipeline-ui.yaml

Move step
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Add documents fetch to inital loading
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/routing/router-protected.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-route-handlers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mixin status meer informatie
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml
