Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Fix test
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-9150-feature/fe facturen overzicht afis facturen (#1482)
  mocks/fixtures/afis/afgehandelde-facturen.json
  mocks/fixtures/afis/openstaande-facturen.json
  mocks/routes/afis.js
  src/client/App.tsx
  src/client/components/Datalist/Datalist.module.scss
  src/client/components/Datalist/Datalist.tsx
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/Table/TableV2.tsx
  src/client/config/api.ts
  src/client/config/thema.ts
  src/client/hooks/useAppState.ts
  src/client/hooks/usePageChange.test.ts
  src/client/hooks/usePageChange.ts
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.module.scss
  src/client/pages/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/__snapshots__/AfisBetaalVoorkeuren.test.tsx.snap
  src/client/pages/Afis/__snapshots__/AfisFacturen.test.tsx.snap
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/universal/config/routes.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-9150-Chore - boyscout fixes (#1490)
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/hli/hli.ts
  src/server/services/shared/decrypt-route-param.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/vergunningen-v2/vergunningen.ts
  src/server/services/wmo/wmo-zorgned-service.test.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/wmo/wmo.ts
  src/server/services/wpi/helpers.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Added geld-terug status and seperated fixtures to prevent conflicting interests with frontend
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/afis/test-fixtures/afgehandelde-facturen.json
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml

Copied fixtures over to prevent conflicting interests when frontend wants to adjust mock data
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

adjusted mock data, looked weird with negative number
  mocks/fixtures/afis/openstaande-facturen.json
Due: none

typo
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

reduced file size
  src/server/services/afis/test-fixtures/afgehandelde-facturen.json
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml

Add missing IsCleared to select query
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Update texts
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

MIJN-9219-FEATURE/Toevoegen-geld-terug-status (#1493)
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/afis/test-fixtures/afgehandelde-facturen.json
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml

Change einde recht texts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Remove period
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Fix test
  src/client/pages/InkomenSpecificaties/InkomenSpecificaties.test.tsx
Due: azure-pipeline-ui.yaml

Fix test (#1495)
  src/client/pages/InkomenSpecificaties/InkomenSpecificaties.test.tsx
Due: azure-pipeline-ui.yaml

Mijn-9179-Bug - update pg text (#1494)
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Update link
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Update link (#1497)
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Add product
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/wmo-status-line-items.ts
Due: azure-pipeline-bff.yaml

Remove stadsdeelaanvulling
  src/client/pages/GarbageInformation/GarbageInformation.test.tsx
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-9155-chore-linkjes-afval-wijzigen-acc-prod-meldingen (#1453)
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
  src/server/services/afval/afvalpunten-data.json
  src/server/services/afval/afvalwijzer.test.ts
  src/server/services/afval/afvalwijzer.ts
  src/universal/types/afval.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add product (#1498)
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/wmo-status-line-items.ts
Due: azure-pipeline-bff.yaml

Restore static descriptions
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
Due: azure-pipeline-bff.yaml

Adjust multiline strings
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
Due: azure-pipeline-bff.yaml

Add periods
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Clarify implementation
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
Due: azure-pipeline-bff.yaml

removed fonts (already available)
  src/server/routing/router-stadspas-external-consumer.test.ts
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
  src/setupTests.ts
  src/test-utils.ts
Due: azure-pipeline-bff.yaml

Moved fonts and img, factored out css
  public/css/amsapp-landing.css
  public/fonts/AmsterdamSans/AmsterdamSans-Regular.woff
  public/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2
  public/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff
  public/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2
  public/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff
  public/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2
  public/img/logo-amsterdam.svg
  src/client/styles/fonts.scss
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Organize imports
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Update id
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml

Improved landingspage
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml

fixed pre tag messing everything up
  public/css/amsapp-landing.css
  src/server/routing/router-stadspas-external-consumer.ts
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

added nonce to style
  .env.local.template
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml

use resolve instead of join (suspect relative path not working)
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Remove headers, enable cors for all OTAP envs
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Remove headers after merge
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Added tests. Made other tests less dependant on the actual content
  src/server/routing/router-stadspas-external-consumer.test.ts
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml

added nonce to header
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

fix test
  src/server/routing/router-stadspas-external-consumer.test.ts
Due: azure-pipeline-bff.yaml

MIJN-9172-Chore-MIJN-9235-Chore - Restore static descriptions (#1500)
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
Due: azure-pipeline-bff.yaml
