Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

better error when missing dependencies
  src/server/services/dev-proxy.ts
Due: azure-pipeline-bff.yaml

make placeholders
  src/client/components/Card/Card.tsx
  src/client/pages/Thema/Contact/MijnContactThema.tsx
Due: azure-pipeline-ui.yaml

remove brp thing
  src/client/pages/Thema/Contact/MijnContactThema.tsx
Due: azure-pipeline-ui.yaml

Add history design
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.module.scss
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove DEPENDENCY_ERROR status
  src/client/config/api.test.ts
  src/client/config/api.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/bag/my-locations.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/varen/varen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Return success if no locations found
  src/server/services/bag/my-locations.ts
  src/server/services/wonen/zwd.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/bag/my-locations.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/varen/varen-notifications.test.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Design system updates
  .github/dependabot.yml
  package.json
  pnpm-lock.yaml
  src/client/components/Pagination/Pagination.test.tsx
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/KlachtenDetail.test.tsx.snap
  src/client/pages/Thema/Profile/private/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/server/services/bag/my-locations.test.ts
  src/server/services/varen/varen-notifications.test.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

PR comments
  eslint.config.mjs
  src/client/config/api.ts
  src/server/services/wonen/zwd.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add top level wait imports
  src/server/routing/app-router-admin.ts
Due: azure-pipeline-bff.yaml

No newline
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml

Remove test modifier
  src/client/components/Pagination/Pagination.test.tsx
Due: azure-pipeline-ui.yaml

wip: card
  src/client/components/Card/Card.tsx
  src/client/pages/Thema/Contact/MijnContactThema.tsx
Due: azure-pipeline-ui.yaml

remove double log
  src/server/services/dev-proxy.ts
Due: azure-pipeline-bff.yaml

MIJN-12949-BUG: Missing bag locations2 / MIJN 12943 Chore design system update (#2546)
  .github/dependabot.yml
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/client/components/Pagination/Pagination.test.tsx
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/config/api.test.ts
  src/client/config/api.ts
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/KlachtenDetail.test.tsx.snap
  src/client/pages/Thema/Profile/private/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/bag/my-locations.test.ts
  src/server/services/bag/my-locations.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/varen/varen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/wonen/zwd.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change mandate display
  mocks/fixtures/afis/openstaande-facturen.json
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateFactuurReference.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
Due: azure-pipeline-ui.yaml

Change name
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Change label, add defaults
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateFactuurReference.tsx
Due: azure-pipeline-ui.yaml

Update some types, fetch after deactivating
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/useAfisEmandateActionsApi.tsx
Due: azure-pipeline-ui.yaml

first working iteration of the cards
  src/client/components/Card/Card.tsx
  src/client/pages/Thema/Contact/MijnContactThema.tsx
Due: azure-pipeline-ui.yaml

first iteration for both mobile and desktop
  src/client/components/Card/Card.tsx
Due: azure-pipeline-ui.yaml

clarity isLargeScreen
  src/client/components/Card/Card.tsx
Due: azure-pipeline-ui.yaml

rename
  src/client/components/Card/Card.tsx
Due: azure-pipeline-ui.yaml

Rm dep
  src/client/pages/Thema/Afis/useAfisEmandateActionsApi.tsx
Due: azure-pipeline-ui.yaml

MIJN-7700-FEATURE: Entra id admin (#2534)
  .env.local.template
  package.json
  pnpm-lock.yaml
  src/server/app.test.ts
  src/server/app.ts
  src/server/auth/auth-config.ts
  src/server/config/app.ts
  src/server/config/feature-toggles.ts
  src/server/helpers/env.test.ts
  src/server/helpers/env.ts
  src/server/routing/app-router-admin.ts
  src/server/routing/app-router-development.ts
  src/server/routing/app-router-oidc.test.ts
  src/server/routing/app-router-oidc.ts
  src/server/routing/app-router-private.ts
  src/server/routing/app-router-protected.ts
  src/server/routing/app-router-public-external-consumer.ts
  src/server/routing/app-router-public.test.ts
  src/server/routing/app-router-public.ts
  src/server/routing/bff-routes.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-admin.ts
  src/server/services/admin/admin-auth.test.ts
  src/server/services/admin/admin-auth.ts
  src/server/services/admin/admin-helpers.test.ts
  src/server/services/admin/admin-helpers.ts
  src/server/services/admin/admin-route-handlers.test.ts
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/admin/admin-service-config.ts
  src/server/services/admin/admin-types.ts
  src/server/services/admin/admin-visitors.ts
  src/server/services/admin/admin.ts
  src/server/services/amsapp/notifications/amsapp-notifications-service-config.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/server/views/admin-index.pug
  src/server/views/api-response-html.pug
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Show open facturen in modal
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateFactuurReference.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move to separate function
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

rename key
  .env.local.template
  src/server/services/dev-proxy.ts
Due: azure-pipeline-bff.yaml

rename another env and add good default for allow list
  .env.local.template
  src/server/services/dev-proxy.ts
Due: azure-pipeline-bff.yaml

Update test matches
  src/server/helpers/source-api-request.test.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis.test.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp.test.ts
  src/server/services/cms/cms-maintenance-notifications.test.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/hli/hli-zorgned-service.test.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/wpi/api-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/helpers/source-api-request.test.ts
Due: azure-pipeline-bff.yaml

Add tests, defaults env values and authentication disable
  .env.local.template
  src/server/app.test.ts
  src/server/routing/app-router-admin.test.ts
  src/server/routing/app-router-admin.ts
  src/server/routing/route-helpers.ts
  src/server/services/admin/admin-service-config.ts
Due: azure-pipeline-bff.yaml

Don’t expose details, make tests more generic
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis.test.ts
  src/server/services/brp/brp.test.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/wpi/api-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Rename to clarify intent
  src/server/routing/app-router-admin.test.ts
  src/server/routing/app-router-admin.ts
  src/server/services/admin/admin-service-config.ts
Due: azure-pipeline-bff.yaml

Fix
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Throw if disabled in non-prod
  src/server/routing/app-router-admin.ts
Due: azure-pipeline-bff.yaml

Add vi.resetModules();
  src/server/routing/app-router-admin.test.ts
Due: azure-pipeline-bff.yaml

Change layout
  src/client/pages/Thema/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

MIJN-12975-BUG: Prevent over capturing (#2549)
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis.test.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp.test.ts
  src/server/services/cms/cms-maintenance-notifications.test.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/hli/hli-zorgned-service.test.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/wpi/api-service.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12976-BUG: Change layout (#2551)
  src/client/pages/Thema/Bezwaren/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml
