Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Update snap
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
Due: azure-pipeline-ui.yaml

Change header handling
  src/client/components/DocumentList/DocumentListV2.tsx
Due: azure-pipeline-ui.yaml

Fix sorting
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

Add text
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
Due: azure-pipeline-ui.yaml

Add font-weight/fam
  src/client/components/DocumentList/DocumentListV2.module.scss
Due: azure-pipeline-ui.yaml

Add documents fetch
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use single alert
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
Due: azure-pipeline-ui.yaml

Fix step date
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
Due: azure-pipeline-bff.yaml

Change link conditions
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

Change visibility
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
Due: azure-pipeline-ui.yaml

Add document endpoint
  src/server/services/toeristische-verhuur/tv-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Add mock data + endpoints
  mocks/collections.json
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  mocks/fixtures/powerbrowser-bb-search-person.json
  mocks/fixtures/powerbrowser-bb-vergunningen.json
  mocks/fixtures/powerbrowser-bb-zaak-status.json
  mocks/fixtures/powerbrowser-bb-zaken.json
  mocks/routes/powerbrowser.js
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Use mockdate
  src/client/pages/VergunningDetail/VergunningDetail-RVVSloterweg.test.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests/mock data
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

Show all registration items, simplify mocks route
  mocks/collections.json
  mocks/fixtures/registraties-toeristische-verhuur-bsn.json
  mocks/routes/toeristische-verhuur-registraties.js
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
Due: azure-pipeline-ui.yaml

Remove success if not found
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Fix overgangsrecht determination
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Use const
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

Lint fixes
  src/client/App.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurVergunningenList.tsx
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/VergunningDetail/VergunningDetail-RVVSloterweg.test.tsx
  src/client/pages/VergunningDetail/VergunningDetail.tsx
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
  src/server/auth/auth-helpers.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-public.test.ts
  src/server/services/hli/status-line-items/regeling-czm.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-lvv-registratie.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-route-handlers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/vergunningen-v2/helpers.ts
  src/server/services/wmo/wmo-zorgned-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

use query params
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Use query params instead of route params
  src/server/routing/bff-routes.ts
  src/server/routing/route-helpers.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis.test.ts
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Make decrypted param configurable
  src/server/routing/route-helpers.ts
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Update urls
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
Due: azure-pipeline-ui.yaml

Lint fixes
  src/client/App.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/client/pages/VergunningDetail/VergunningDetail.tsx
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
  src/server/auth/auth-helpers.ts
  src/server/routing/router-public.test.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/hli/status-line-items/regeling-czm.ts
  src/server/services/shared/document-download-route-handler.ts
  src/server/services/wmo/wmo-zorgned-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-9226-Chore - afis perf optimizations (clear logging/measuring of urls) (#1531)
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/route-helpers.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis.test.ts
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove tagOverrides, add types
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

Add types
  src/server/helpers/file-cache.ts
Due: azure-pipeline-bff.yaml

Fix locale ref
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change propname
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Compensate offset
  src/client/components/LinkToListPage/LinkToListPage.tsx
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
Due: azure-pipeline-ui.yaml

Update styles
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.module.scss
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
Due: azure-pipeline-ui.yaml

Update imports
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix
  src/server/services/buurt/datasets.ts
  src/server/services/buurt/dso-helpers.ts
Due: azure-pipeline-bff.yaml

Check for useable data (Types)
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snaps
  package-lock.json
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/__snapshots__/zorgned-service.test.ts.snap
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update lock file
  package-lock.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix type imports
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

Change stub interface
  src/server/helpers/file-cache.test.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
