Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

comment https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2459#discussion_r2945715200
  readme.md
Due: none

Move isValidPBDocument logic to zaakTransformer
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-pb-zaken.ts
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Refactor transformDoclinks to allow default use of omschrijving field
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

fix
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12760-FEATURE: Last login date notificaties openapi spec (#2462)
  src/server/openapi-amsapp-notificaties.yml
Due: azure-pipeline-bff.yaml

MIJN-12780-FEATURE: Remove import from server from universal and client (#2460)
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/config/api.ts
  src/client/helpers/logging.ts
  src/client/helpers/monitoring.ts
  src/client/hooks/storage.hook.ts
  src/client/hooks/useProfileType.ts
  src/client/hooks/useSSE.ts
  src/client/pages/BffError/BffError.tsx
  src/client/pages/NotFound/NotFound.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
  src/universal/helpers/date.test.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename zaaktransformer isValidPBDocument to filterValidDocumentPredicate
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-pb-zaken.ts
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Rename defaultFetchZaakIdFilter to defaultFetchZaakFilter
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-pb-zaken.ts
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Remove transformDoclinks to fallback on default omschrijving
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Update status step logic for vth pb
  src/server/services/vergunningen/pb-status-steps.ts
Due: azure-pipeline-bff.yaml

simplify comment
  readme.md
Due: none

remove more text
  compose.yaml
  readme.md
Due: none

remove more text
  readme.md
Due: none

Fixes
  package.json
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Landing/Landing.module.scss
  src/server/services/brp/brp.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.ts
  tsconfig.build-bff.json
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post merge fix
  eslint.config.mjs
  src/server/services/user-feedback/user-feedback.route-handlers.ts
Due: azure-pipeline-bff.yaml

Fix ts problems
  src/client/components/Search/search-config.tsx
  src/client/components/UserFeedback/InlineKTO.tsx
  src/client/config/themaIcons.tsx
  src/client/data-transform/appState.tsx
  src/client/hooks/api/useBffApi.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Thema/Varen/VarenList.test.tsx
  src/client/pages/Thema/Varen/VarenThema.test.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/client/pages/Thema/Varen/useVarenDetailPage.hook.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/controller.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix ts problems
  scripts/generate-user-data-overview.ts
  src/client/components/Search/Search.tsx
  src/client/components/Search/useSearch.tsx
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/TableV2.types.ts
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Horeca/HorecaDetail.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/horeca/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix import ext
  scripts/generate-user-data-overview.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Varen/Varen-render-config.tsx
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/client/pages/Thema/Varen/useVarenDetailPage.hook.ts
  src/client/pages/Thema/Varen/useVarenThemaData.hook.ts
  src/server/app-start.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/amsapp/notifications/amsapp-notifications-helper.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/controller.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add search config
  src/client/components/Search/search-config.tsx
Due: azure-pipeline-ui.yaml

Fix missing icon
  src/client/assets/icons/Chevron-Down.svg
  src/client/styles/mixins.scss
Due: azure-pipeline-ui.yaml

Fix path
  index.html
  pnpm-lock.yaml
  src/client/config/feature-toggles.ts
  src/server/app.ts
  src/server/config/app.ts
  src/server/helpers/dir.ts
  src/server/helpers/file-cache.ts
  tsconfig.build-fe.json
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix ext
  src/index.tsx
  tsconfig.json
Due: azure-pipeline-ui.yaml

Add reference to build-fe
  vite.config.ts
Due: none

Fix
  src/server/helpers/file-cache.ts
Due: azure-pipeline-bff.yaml

Fix path
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

RM
  mockserver/main/mocks/fixtures/decos/decos-zaken-raw-commercial.cjson
  mockserver/main/mocks/fixtures/decos/decos-zaken-raw.cjson
Due: none

Restore
  tsconfig.json
Due: none

Fix copy
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change imports
  src/client/components/Search/Search.test.tsx
  src/server/helpers/file-cache.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/avg/avg.test.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/brp/brp.test.ts
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/erfpacht/erfpacht.test.ts
  src/server/services/krefia/krefia.test.ts
  src/server/services/patroon-c/svwi.test.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix imports
  src/client/components/DateInput/DateInput.test.tsx
  src/client/components/ErrorMessages/ErrorMessages.test.tsx
  src/client/components/Modal/Modal.test.tsx
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/components/Pagination/Pagination.test.tsx
  src/client/components/Search/Search.test.tsx
  src/client/components/Search/useSearch.test.tsx
  src/client/components/UserFeedback/InlineKTO.test.tsx
  src/client/data-transform/appState.test.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.test.tsx
  src/client/pages/Thema/Krefia/Krefia.test.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
Due: azure-pipeline-ui.yaml

Post merge fix
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snaps!
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
  src/universal/helpers/date.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix types
  src/client/components/MyArea/LegendPanel/PanelComponent.tsx
  src/client/components/Search/search-config.tsx
Due: azure-pipeline-ui.yaml

Change type ref
  src/client/hooks/analytics.hook.ts
Due: azure-pipeline-ui.yaml

Fix startup
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Fix route ref
  src/client/pages/NotFound/NotFound.tsx
Due: azure-pipeline-ui.yaml

Fix type
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml
