Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Use one test file
  src/client/pages/Thema/HLI/HLIDetail.tsx
  src/server/services/hli/hli-regelingen-types.ts
  src/server/services/hli/hli.ts
  vite.config.ts
  vitest.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Een hele spatie toegevoegd tussen relatie en betaler aanpassen link en de link iets meer omhooggeplaatst
  src/client/pages/Thema/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.module.scss
Due: azure-pipeline-ui.yaml

Rm unused
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Simplify filter
  src/server/services/hli/status-line-items/generic.ts
Due: azure-pipeline-bff.yaml

remove redundant async keyword
  src/server/services/parkeren/parkeren-egis-service.ts
Due: azure-pipeline-bff.yaml

Add test
  src/client/pages/Thema/HLI/HLIThema.test.tsx
Due: azure-pipeline-ui.yaml

Mijn-11102-Chore - rtm fat bevindingen (#2041)
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.test.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/server/services/hli/hli-regelingen-types.ts
  src/server/services/hli/hli-zorgned-service.test.ts
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
  vite.config.ts
  vitest.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Testconditie verwijderd en de opmaak ook
  src/client/pages/Thema/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.module.scss
Due: azure-pipeline-ui.yaml

MIJN-11901-FEATURE-clone-fe-erfpacht-betaler-aanpassen-wijzigen (#2042)
  src/client/pages/Thema/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.module.scss
Due: azure-pipeline-ui.yaml

MIJN-11921-Chore - change test env
  package.json
  pnpm-lock.yaml
  src/client/App.test.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.test.tsx
  src/client/components/DocumentList/DocumentLink.tsx
  src/client/components/DocumentList/DocumentListV2.test.tsx
  src/client/components/MainFooter/MainFooter.test.tsx
  src/client/pages/ApplicationError/ApplicationError.test.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/Horeca/Horeca.test.tsx
  src/client/pages/Thema/Horeca/HorecaDetail.test.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.test.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.tsx
  src/client/pages/Thema/Parkeren/Parkeren.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenList.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/testing/setup.ts
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add vendored dependency
  deno.json
  package.json
  scripts/generate-user-data-overview.ts
  vendor/cdn.sheetjs.com/xlsx-0.20.3/package/xlsx.mjs
  vendor/xlsx-0.20.2.tgz
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

update lock, add .ts node suffix/prefix
  deno.lock
  scripts/generate-thema.js
Due: none

change build name because it conflicts with deno
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

watch and regular serve
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add types
  scripts/generate-user-data-overview.ts
Due: none

Permanently add info
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

MIJN-11922-chore-u-heeft
  src/client/pages/ApplicationError/ApplicationError.tsx
  src/client/pages/Landing/Landing.tsx
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/Thema/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Thema/Parkeren/ParkerenThema.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
  src/server/services/content-tips/tips-content.ts
  src/server/services/patroon-c/belasting.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add test
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

dockerfile working
  .env.local.template
  Dockerfile
  azure-pipeline-bff.yaml
  package.json
  scripts/docker-entrypoint-bff.sh
  src/bffserver.ts
  src/server/app.ts
  tsconfig.bff.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove env copy
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11922-chore-u-heeft (#2045)
  src/client/pages/ApplicationError/ApplicationError.tsx
  src/client/pages/Landing/Landing.tsx
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/Thema/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Thema/Parkeren/ParkerenThema.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
  src/server/services/content-tips/tips-content.ts
  src/server/services/patroon-c/belasting.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

try with specifying cert store
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

turn on http to https
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove http to https line"
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11102-chore - Permanently add info (#2044)
  src/server/services/hli/status-line-items/generic.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Add cobrowse styling and footer button
  public/css/cobrowse.css
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/components/MainFooter/MainFooter.tsx
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Cobrowse footer shows modal by simulating shift6 keydown event
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
Due: azure-pipeline-ui.yaml

Fix styling of cobrowse stop button
  public/css/cobrowse.css
Due: azure-pipeline-ui.yaml

Wait for script load to show cobrowse button
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/hooks/useUsabilla.ts
Due: azure-pipeline-ui.yaml

Add keycode and which for good measure
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
Due: azure-pipeline-ui.yaml

fix krefia being null and throwing error, also made more resillient against errors
  scripts/generate-user-data-overview.ts
Due: none

Change ID sor sorting
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Mijn-11744-feature schermdelen modal co browser schermdelen (#2047)
  public/css/cobrowse.css
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/components/MainFooter/MainFooter.tsx
  src/client/hooks/useUsabilla.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add conditional text
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Change test
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml

Do not modify data
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

RM aanvrager check
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

wip: infopage
  src/client/components/Page/Page.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

Afgehandele en openstaande facturen lijst uit zoeken gehaald
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Lift cobrowse sharing-banner and frame out of .cobrowse-wrapper and fix blue frame border
  public/css/cobrowse.css
Due: azure-pipeline-ui.yaml
