Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-9398 - Disclaimer
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisFacturen.tsx
Due: azure-pipeline-ui.yaml

Boyscout
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-types.ts
Due: azure-pipeline-bff.yaml

Change fonts ref
  src/client/styles/fonts.scss
Due: azure-pipeline-ui.yaml

Boyscout
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Change Themapagina text
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Implement optional handling/fetching of token to accompany requests
  src/server/config/source-api.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-documents.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Gedeeltelijke betaling
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Lint scout
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

Merge headers
  src/server/helpers/source-api-helpers.ts
Due: azure-pipeline-bff.yaml

Add disclaimer for Overgedragen facturen
  src/client/components/Table/TableV2.tsx
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
Due: azure-pipeline-ui.yaml

Betaaltermijm herinnering
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Update test data
  src/server/helpers/source-api-helpers.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml

Add sorting
  package-lock.json
  package.json
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add disclaimers
  .env.local.template
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisFacturen.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add content length check
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Add amount to statusses
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Replace sign
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Add linebreak to address, add document heading
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.module.scss
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change layout of doc
  src/client/components/DocumentList/DocumentListV2.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add content length check (#1544)
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Change term
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.module.scss
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
Due: azure-pipeline-ui.yaml

Change var names
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

MIJN-7288-Chore - Add linebreak to address, add document heading (#1545)
  src/client/components/DocumentList/DocumentListV2.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.module.scss
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-8333-Feature - afis fixes fat (#1543)
  .env.local.template
  mocks/fixtures/afis/openstaande-facturen.json
  package-lock.json
  package.json
  src/client/components/Table/TableV2.tsx
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/client/styles/fonts.scss
  src/server/app.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-types.ts
  src/server/config/source-api.ts
  src/server/helpers/source-api-helpers.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-documents.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Show vergunningen on click parkeren when there are any in vergunningen
  src/client/config/thema.ts
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update link
  src/client/pages/Parkeren/Parkeren.tsx
Due: azure-pipeline-ui.yaml

Also update snapshot
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
Due: azure-pipeline-ui.yaml

Tweak modal + timeout
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/server/auth/auth-config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Tweak modal + timeout (#1548)
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/server/auth/auth-config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snap + test
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
Due: azure-pipeline-ui.yaml

Fix return to url
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers.ts
  src/server/routing/router-oidc.ts
Due: azure-pipeline-bff.yaml

Enable DB
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

User type
  src/server/routing/router-oidc.ts
Due: azure-pipeline-bff.yaml

Fix ref
  src/server/auth/auth-helpers.ts
Due: azure-pipeline-bff.yaml

Describe feature toggles
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add missing titles
  src/client/config/thema.ts
Due: azure-pipeline-ui.yaml

Enable Zorgned
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable HLI
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
