Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Add dtapName
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
Due: none

Add displayName
  azure-pipelines.yaml
Due: none

Also change requested and done
  src/server/services/vergunningen/vergunningen-content.ts
Due: azure-pipeline-bff.yaml

MIJN-8300/Add custom inProgress title func for WVOS (#1242)
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen-content.ts
Due: azure-pipeline-bff.yaml

Mijn-7071 adjustments excel export (#1243)
  src/server/generate-user-data-overview.ts
Due: azure-pipeline-bff.yaml

Change case
  src/server/router-oidc.ts
Due: azure-pipeline-bff.yaml

Add react plugin
  package-lock.json
  package.json
  src/client/utils/monitoring.ts
  src/index.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Simplify error capture
  src/client/hooks/api/useDataApi.ts
  src/client/hooks/useAppState.ts
  src/server/app.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add dependency instead of vendor
  public/js/app-insights-2024-03-07.js
  src/client/utils/monitoring.ts
Due: azure-pipeline-ui.yaml

Add error wrap
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Mijn-7876 insights config (#1245)
  package-lock.json
  package.json
  public/js/app-insights-2024-03-07.js
  src/client/hooks/api/useDataApi.ts
  src/client/hooks/useAppState.ts
  src/client/utils/monitoring.ts
  src/index.tsx
  src/server/app.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Show revoked status on wvos detail page
  package-lock.json
  src/client/pages/VergunningDetail/WVOS.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Show also for 'niet verleend'
  src/client/pages/VergunningDetail/WVOS.tsx
Due: azure-pipeline-ui.yaml

Change it so its like most other Detail components
  src/client/pages/VergunningDetail/WVOS.tsx
Due: azure-pipeline-ui.yaml

Update snapshot
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Bump! release-v4.97.0
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove appsettings option
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: none

Bump! release-v4.97.0 (#1247)
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove appsettings option (#1248)
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  azure-pipelines.yaml
Due: none

Bump! release-v4.98.0
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Break loop
  src/server/services/wmo/wmo-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Break loop (#1249)
  src/server/services/wmo/wmo-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Bump! release-v4.98.0 (#1250)
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bump! release-v4.99.0
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bump! release-v4.99.0 (#1251)
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove redundant tracking of exception
  src/server/app.ts
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

MIJN-8305/Show revoked status on wvos detail page (#1246)
  package-lock.json
  src/client/pages/VergunningDetail/WVOS.tsx
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail.test.tsx.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

De severity en title van twee alerts aangepast toeristische verhuur en de mockdata
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/server/mock-data/json/vergunningen.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Test gedraaid
  src/client/pages/ToeristischeVerhuur/__snapshots__/ToeristischeVerhuur.test.tsx.snap
Due: azure-pipeline-ui.yaml

backend getest
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
Due: azure-pipeline-bff.yaml

Remove redundant tracking of exception (#1252)
  src/server/app.ts
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

WMO logic updates
  src/server/services/wmo/status-line-items/wmo-status-line-items.ts
  src/server/services/wmo/wmo-config-and-types.ts
  src/server/services/wmo/wmo-zorgned-service.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

Change content of toekomstige periode
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Erfpacht/DossierDetail/DatalistsFinancieel.tsx
Due: azure-pipeline-ui.yaml

Add date format
  src/client/pages/Erfpacht/DossierDetail/DatalistsFinancieel.tsx
Due: azure-pipeline-ui.yaml

Update snaps
  src/server/services/wmo/__snapshots__/wmo-zorgned-service.test.ts.snap
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
Due: azure-pipeline-bff.yaml

Add appinsights proxy
  src/server/config.ts
  src/server/router-public.ts
Due: azure-pipeline-bff.yaml

Change endpoint
  src/server/config.ts
  src/server/router-public.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
