Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Fixed spelling mistake
  mocks/README.md
Due: none

Added docs on how to test
  mocks/README.md
Due: none

Removed the offending line
  src/server/helpers/auth.ts
Due: azure-pipeline-bff.yaml

MIJN-9105-BUG-amsapp-word-naar-de-verkeerde-url-geredirect-bij-het-aanroepen-van-administratienummer (#1419)
  src/server/helpers/auth.ts
Due: azure-pipeline-bff.yaml

One route threw a bunch of error logging, added custom request as a fix
  mocks/hit-endpoints.js
Due: none

All endpoints being hit but some seem to have incomplete post data
  mocks/collections.json
  mocks/hit-endpoints.js
Due: none

Added start for hitting all endpoints but urls need cleaning up
  mocks/hit-endpoints.js
  mocks/hit-endpoints.sh
Due: none

Attempt at requested changes
  mocks/README.md
  mocks/hit-endpoints.js
  mocks/routes/bezwaren.js
Due: none

Added README and fixed remaining endpoint, and also added a missing endpoint
  mocks/README.md
  mocks/collections.json
  mocks/handlers/IntermediateAPIHandler.js
  mocks/hit-endpoints.js
  mocks/routes/enableu-2-smile.js
Due: none

MIJN-8954-CHORE/Script om alle endpoints te laten raken van de mock server (#1417)
  mocks/README.md
  mocks/collections.json
  mocks/handlers/IntermediateAPIHandler.js
  mocks/hit-endpoints.js
  mocks/hit-endpoints.sh
  mocks/routes/bezwaren.js
  mocks/routes/enableu-2-smile.js
Due: none

Stamdata business partner endpoint
  mocks/collections.json
  mocks/routes/afis.js
  src/client/App.tsx
  src/client/config/api.ts
  src/client/pages/Afis/Afis.tsx
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove api is dirty check
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Implemented changes request of PR review
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Fixed types, added test halfway
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

Added test
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Renamed function for consistency with fetchStadpasAanbiedingenTransactions
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

fix swagger mistake
  src/server/openapi-amsapp.yml
Due: azure-pipeline-bff.yaml

Added swagger doc
  src/server/openapi-amsapp.yml
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Implemented types
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Made function to generate new functions that require the same verification logic
  src/client/pages/HLI/HLIStadspas.tsx
  src/server/config.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-8896-FEATURE/Api uitbreiden met aanbiedingen transacties amsapp (#1416)
  src/client/pages/HLI/HLIStadspas.tsx
  src/server/config.ts
  src/server/openapi-amsapp.yml
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change tagname which gives an error
  .github/workflows/release-notification.yml
Due: none

MIJN-9071 > Detailpagina > documenten naar brieven
  src/client/pages/ZorgDetail/ZorgDetail.tsx
Due: azure-pipeline-ui.yaml

PGB tekst aangepast
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

MIJN-9072 Tekstuele aanpassingen statustrein, die van PGB moet nog worden verbeterd
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
  src/server/services/wmo/wmo-config-and-types.ts
Due: azure-pipeline-bff.yaml

Tests gedraaid
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
Due: azure-pipeline-bff.yaml

MIJN-9071 Disclaimer en kleine tekstuele aanpassing
  src/client/pages/Zorg/ZorgV2.tsx
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix snapshot
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
Due: azure-pipeline-bff.yaml

Format datefield
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

MIJN-9070 Themapag Zorg en ondersteuning Label Voorzieningen toegevoegd
  src/client/pages/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

Nogmaals teksten aangepast
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

MIJN-9037/Stamdata business partner endpoint (#1418)
  mocks/collections.json
  mocks/routes/afis.js
  src/client/App.tsx
  src/client/config/api.ts
  src/client/pages/Afis/Afis.tsx
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Kleine aanpassingen statustreintekst
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Added comment (to trigger pipeline)
  src/setupTests.ts
Due: none

Updated snapshot, because it was blocking build (and no changes)
  src/client/pages/VergunningDetail/__snapshots__/VergunningDetail-RVVSloterweg.test.tsx.snap
  src/setupTests.ts
Due: azure-pipeline-ui.yaml

MIJN-9061-feature-fe-teksten-en-meer-wijzigen-wmo-fase-2 (#1415)
  src/client/pages/Zorg/Zorg-thema-config.ts
  src/client/pages/Zorg/ZorgV2.tsx
  src/client/pages/ZorgDetail/ZorgDetail.tsx
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/status-line-items/wmo-wra.ts
  src/server/services/wmo/wmo-config-and-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fixed type error, by conforming to endpoint
  src/client/AppState.ts
Due: azure-pipeline-ui.yaml

Fixed type error, by conforming to endpoint (#1425)
  src/client/AppState.ts
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
