Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-10042-Bug - change number for migrated invoices (#1759)
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Bypass transformation atm
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Update snap
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

Mijn-10042-bug - revert transformation (#1760)
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Add extra check for arcDocId exisitence
  src/server/services/afis/afis-documents.ts
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

MIJN-10042-Bug - Change logic
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Pass on statuscode
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Use helper
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Mijn-10042-bug - afis arcdocid (#1761)
  src/server/services/afis/afis-documents.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/shared/document-download-route-handler.ts
Due: azure-pipeline-bff.yaml

Remove redundant clearRequestCache call
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Remove redundant clearRequestCache call (#1762)
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Enable document id transform
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Enable document id transform (#1763)
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-9984-Feature - generate changelog
  scripts/get-change-log.js
Due: none

ADd commit title
  scripts/get-change-log.js
Due: none

Update scripts/get-change-log.js
  scripts/get-change-log.js
Due: none

MIJN-9984-Feature - generate changelog (#1765)
  scripts/get-change-log.js
Due: none

Just fill until 10 digits
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

MIJN-10042-Bug - Just fill until 10 digits (#1766)
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Don’t install psql client
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add unknowns
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Mijn-9973-Feature - log instance + remove psql client (#1767)
  Dockerfile
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add varen detail page
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Varen/VarenDetail.tsx
  src/client/pages/Varen/helpers.ts
  src/client/pages/Varen/useVarenDetailPage.hook.tsx
  src/client/pages/Varen/useVarenThemaData.hook.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/varen.ts
  src/server/services/varen/vergunningen-status-steps.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add types
  src/server/services/tips/tips-service.test.ts
Due: azure-pipeline-bff.yaml

Refactor tip function names and types
  .env.local.template
  mocks/fixtures/gpass-stadspas.json
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/predicates.ts
  src/server/services/content-tips/tip-types.ts
  src/server/services/content-tips/tips-content.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/content-tips/tips-service.ts
  src/server/services/controller.test.ts
  src/server/services/controller.ts
  src/server/services/index.ts
  src/server/services/simple-connect/api-service.ts
  src/server/services/simple-connect/belasting.ts
  src/server/services/tips-and-notifications.test.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/tips/collect-tips.ts
  src/server/services/tips/tips-service.ts
  src/server/services/wpi/content/specificaties.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactor tip services
  src/server/services/adoptable-trash-containers.ts
  src/server/services/content-tips/tip-types.ts
  src/server/services/content-tips/tips-service.ts
  src/server/services/controller.ts
  src/server/services/simple-connect/api-service.ts
  src/server/services/simple-connect/belasting.ts
  src/server/services/tips-and-notifications.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

More transformation
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

Update stadspas
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Update Pagination
  src/client/components/Pagination/Pagination.tsx
Due: azure-pipeline-ui.yaml

More updates
  src/client/pages/GarbageInformation/GarbageInformation.module.scss
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
  src/client/pages/InkomenSpecificaties/InkomenSpecificaties.tsx
  src/client/pages/Klachten/Klachten.tsx
  src/client/pages/KlachtenDetail/KlachtenDetail.tsx
  src/client/pages/Krefia/Krefia.tsx
  src/client/pages/NotFound/NotFound.tsx
  src/client/pages/Search/Search.tsx
  src/client/pages/StatusDetail/StatusDetail.tsx
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Bezwaren new components
  src/client/pages/BezwarenDetail/BezwarenDetail.tsx
Due: azure-pipeline-ui.yaml

Fix size
  src/client/components/Datalist/Datalist.module.scss
Due: azure-pipeline-ui.yaml

Hide search on menu open
  src/client/components/MainHeader/useMainHeaderData.hook.ts
Due: azure-pipeline-ui.yaml

Add typing
  src/client/components/MainHeader/useMainHeaderData.hook.ts
Due: azure-pipeline-ui.yaml

Update Erfpacht
  src/client/pages/Erfpacht/Erfpacht.tsx
Due: azure-pipeline-ui.yaml

Implement Design system components
  src/client/App.tsx
  src/client/assets/icons/inkomen-svwi.svg
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.module.scss
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/MainNavSubmenu/MainNavSubmenu.module.scss
  src/client/components/MainNavSubmenu/MainNavSubmenu.test.tsx
  src/client/components/MainNavSubmenu/MainNavSubmenu.tsx
  src/client/components/MyNotification/MyNotification.module.scss
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/components/MyNotification/MyNotification.tsx
  src/client/components/MyNotifications/MyNotifications.module.scss
  src/client/components/MyNotifications/MyNotifications.test.tsx
  src/client/components/MyNotifications/MyNotifications.tsx
  src/client/components/MyNotifications/Notification.tsx
  src/client/components/MyThemasPanel/MyThemasPanel.module.scss
  src/client/components/MyThemasPanel/MyThemasPanel.test.tsx
  src/client/components/MyThemasPanel/MyThemasPanel.tsx
  src/client/components/ThemaIcon/ThemaIcon.tsx
  src/client/components/index.ts
  src/client/config/themaIcons.tsx
  src/client/hooks/useNotifications.ts
  src/client/pages/Dashboard/Dashboard.module.scss
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/MyNotifications/MyNotifications.test.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

Remove Innerhtml + moreInformation prop
  package.json
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
  src/client/components/MyNotification/MyNotification.tsx
  src/client/pages/VergunningDetail/BZB.tsx
  src/client/pages/VergunningenV2/detail-page-content/BZB.tsx
  src/server/openapi.yml
  src/server/services/cms-maintenance-notifications.ts
  src/server/services/tips-and-notifications.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update page
  src/client/pages/ZorgDetail/ZorgDetail.tsx
Due: azure-pipeline-ui.yaml

Remove unused component
  src/client/components/TablePagePaginated/TablePagePaginated.module.scss
  src/client/components/TablePagePaginated/TablePagePaginated.tsx
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
