Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add a docstring to make it clear what is returned without reading the code or looking at examples.
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add translator function to map 2026 codes
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Update url param conversion
  mocks/fixtures/erfpacht-v2-dossiers.json
  src/server/services/erfpacht/__snapshots__/erfpacht.test.ts.snap
  src/server/services/erfpacht/erfpacht.test.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Add case
  src/server/services/erfpacht/erfpacht.test.ts
Due: azure-pipeline-bff.yaml

Mijn-12402-bug - erfpacht url (#2283)
  mocks/fixtures/erfpacht-v2-dossiers.json
  src/server/services/erfpacht/__snapshots__/erfpacht.test.ts.snap
  src/server/services/erfpacht/erfpacht.test.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Update test
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
Due: azure-pipeline-ui.yaml

Mijn-12402-bug - erfpacht url (#2286)
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
Due: azure-pipeline-ui.yaml

Removed featuretoggle: https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2285#discussion_r2607870179
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add docstring explaining purpose of function
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Correct testname: https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2285#discussion_r2609794717
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
Due: azure-pipeline-bff.yaml

Use more clearly made up code: https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2285#discussion_r2609798488
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Remove isVerzilvering call, this would always be false anyway because of the used codes.
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

prefix unused variables
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

MIJN-12376-FEATURE-aanpassing-proces-pc-verzilvering-tegoed-voor-1-1-2026 (#2285)
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12379-Chore - Add info section (#2281)
  src/client/pages/Thema/HLI/InfoSection.tsx
Due: azure-pipeline-ui.yaml

Refactor notifications-model to take camelize in the queries
  src/server/services/db/db.ts
  src/server/services/notifications/config-and-types.ts
  src/server/services/notifications/helper.ts
  src/server/services/notifications/notifications-model.ts
  src/universal/helpers/text.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refaction notification types to be PascalCase
  src/server/services/notifications/config-and-types.ts
  src/server/services/notifications/helper.ts
  src/server/services/notifications/notifications-model.ts
  src/server/services/notifications/notifications.ts
Due: azure-pipeline-bff.yaml

Fix isRecrod check to not recongnize null as isRecord
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move camelizeKeys to db directory
  src/server/services/db/helper.test.ts
  src/server/services/db/helper.ts
  src/server/services/notifications/notifications-model.ts
Due: azure-pipeline-bff.yaml

enabled "ontvanger" columns
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

boyscout: silence noisy log messages when error is expected
  src/client/hooks/api/useBffApi.test.ts
Due: azure-pipeline-ui.yaml

also add a comment for the boyscout
  src/client/hooks/api/useBffApi.test.ts
Due: azure-pipeline-ui.yaml

Mijn-12073-feature wijzigingen voor mvp (#2282)
  src/server/openapi-amsapp-notificaties.yml
  src/server/services/db/db.ts
  src/server/services/db/helper.test.ts
  src/server/services/db/helper.ts
  src/server/services/notifications/config-and-types.ts
  src/server/services/notifications/notifications-model.ts
  src/server/services/notifications/notifications.ts
  src/universal/helpers/text.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12136-CHORE-enable-ontvager-column-inside-HLI-thema-page (#2287)
  src/client/hooks/api/useBffApi.test.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

set date earlier for acceptance testing
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Change label for nevenvestigingen
  mocks/fixtures/hr-kvk/vestigingen.json
  mocks/routes/kvk.js
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
Due: azure-pipeline-ui.yaml

Update test
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
Due: azure-pipeline-ui.yaml

Change table + label
  src/server/routing/router-development.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

Enable VTHOnPowerbrowserActive on test to test
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change fields requirement
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

Update mijn subsidies url to include grant type
  src/server/services/patroon-c/subsidie.ts
Due: azure-pipeline-bff.yaml

feature toggles alle tests slagen website werkt ook met de nieuwe veranderingen
  src/client/config/buildFeatureToggle.ts
  src/client/config/featuretoggle.test.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Remove wrong statement
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
Due: azure-pipeline-ui.yaml

Update implementations
  src/server/services/bag/my-locations.test.ts
  src/server/services/bag/my-locations.ts
  src/server/services/buurt/helpers.ts
  src/server/services/hr-kvk/hr-kvk-helpers.ts
Due: azure-pipeline-bff.yaml

Fix loading display
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
Due: azure-pipeline-ui.yaml

Add info
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
Due: azure-pipeline-ui.yaml

Add info
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
Due: azure-pipeline-ui.yaml

MIJN-12381-Feature - activate prod
  src/server/services/wmo/wmo-service-config.ts
Due: azure-pipeline-bff.yaml

Add fetch notifications amsapp job script
  package.json
  src/jobs/fetch-notifications-amsapp.ts
  src/server/helpers/env.ts
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12381-Feature - activate prod (#2293)
  src/server/services/wmo/wmo-service-config.ts
Due: azure-pipeline-bff.yaml
