Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Rename varen boat to vessel
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Remove todo about featureToggle from Varen
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Extract GridDetails for gegevens aanvrager to own component
  src/client/pages/Varen/GridDetails.tsx
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

findings from FAT (#1734)
  src/client/pages/Profile/private/Contactmomenten.config.ts
  src/server/services/salesforce/contactmomenten.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine types + postfix merges
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/routing/bff-routes.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Upgrade Bezwaren
  src/client/config/api.ts
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.tsx
  src/client/pages/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Vergunningen/detail-page-content/useVergunningDocumentsList.hook.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/bezwaren/bezwaren-route-handlers.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add dependency error handling
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Upgrade klacht detail
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Klachten/KlachtenDetail.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

Add statuscode, add more flexible route matcher
  mocks/handlers/IntermediateAPIHandler.js
  mocks/routes/enableu-2-smile.js
Due: none

Conver inkomen detail pagina’s
  src/client/pages/InkomenDetail/InkomenDetailBbz.tsx
  src/client/pages/InkomenDetail/InkomenDetailTonk.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
  src/client/pages/InkomenDetail/InkomenDetailUitkering.tsx
  src/client/pages/InkomenDetail/useInkomenDetailData.hook.ts
  src/client/pages/StatusDetail/StatusDetail.module.scss
  src/client/pages/StatusDetail/StatusDetail.test.tsx
  src/client/pages/StatusDetail/StatusDetail.tsx
  src/client/pages/StatusDetail/__snapshots__/StatusDetail.test.tsx.snap
  src/server/services/wpi/wpi-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename components
  src/client/App.tsx
  src/client/pages/InkomenDetail/InkomenDetailTonk.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
Due: azure-pipeline-ui.yaml

MIJN-9980-Chore - Add feature toggle
  src/client/pages/HLI/HLIStadspas.tsx
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move GridDetails component to own component file
  src/client/components/GridDetails/GridDetails.tsx
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Replace isDateAfter with isAfter from imported library
  src/server/services/hli/stadspas-gpass-service.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9980-BUG/geblokkeerde-passen-worden-eruit-gefiltert (#1724)
  mocks/fixtures/gpass-pashouders.json
  mocks/routes/gpass.js
  scripts/deploy-to-test
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/HLIStadspas.tsx
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/tips/tips-content.ts
  src/universal/config/feature-toggles.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added featuretoggle to backedn
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Inkomen upgrade
  src/client/App.tsx
  src/client/config/routes.ts
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Inkomen/InkomenDetailTonk.tsx
  src/client/pages/Inkomen/InkomenDetailTozo.tsx
  src/client/pages/Inkomen/InkomenDetailUitkering.tsx
  src/client/pages/Inkomen/InkomenListPage.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.module.scss
  src/client/pages/Inkomen/InkomenSpecificaties.test.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Inkomen/useAddDocumentLinks.tsx
  src/client/pages/Inkomen/useInkomenDetailData.hook.ts
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/InkomenSpecificaties/InkomenSpecificaties.tsx
  src/client/pages/InkomenSpecificaties/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/InkomenSpecificaties/useAddDocumentLinks.tsx
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Revert "MIJN-9980-BUG/geblokkeerde-passen-worden-eruit-gefiltert (#1724)"
  mocks/fixtures/gpass-pashouders.json
  mocks/routes/gpass.js
  scripts/deploy-to-test
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/HLIStadspas.tsx
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/tips/tips-content.ts
  src/universal/config/feature-toggles.ts
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9980-BUG/geblokkeerde-passen-worden-eruit-gefiltert (#1739)
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Refactor prop names
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/Inkomen.test.tsx
  src/server/services/wpi/api-service.ts
  src/server/services/wpi/content/specificaties.ts
  src/server/services/wpi/helpers.ts
  src/server/services/wpi/wpi-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

wip
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/pages/Varen/Varen.module.scss
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Corrected condition
  mocks/fixtures/vergunningen.json
  src/client/pages/Vergunningen/__snapshots__/Vergunningen.test.tsx.snap
  src/client/pages/VergunningenV2/config.ts
Due: azure-pipeline-ui.yaml

Add safety railing to script, if checkout fails it hard resets your own branch :)
  scripts/deploy-to-test
Due: none

Aligned table columns
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/VergunningenV2/Vergunningen.module.scss
  src/client/pages/VergunningenV2/config.ts
Due: azure-pipeline-ui.yaml

update snapshot
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-9745-BUG/onder-thema-parkeren-worden-de-decos-vergunningen-en-ontheffingen-niet-onder-de-juiste-kopjes-getoond (#1740)
  mocks/fixtures/vergunningen.json
  scripts/deploy-to-test
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
  src/client/pages/Vergunningen/__snapshots__/Vergunningen.test.tsx.snap
  src/client/pages/VergunningenV2/Vergunningen.module.scss
  src/client/pages/VergunningenV2/config.ts
Due: azure-pipeline-ui.yaml

Improve grid finetuning for Datalist
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

MIJN-10017-Feature - Better release flow
  azure-pipelines.yaml
  package.json
  readme.md
  scripts/release.sh
  scripts/semver.sh
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-10018-Bug - additional check for contactmomenten
  src/server/services/salesforce/contactmomenten.ts
Due: azure-pipeline-bff.yaml

update wrong status code cache clear condition
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

MIJN-10017-Feature - better release pipeline (flow)
  azure-pipelines.yaml
  azure-release-pipeline.yaml
Due: none

Add branch
  azure-release-pipeline.yaml
Due: none

update wrong status code cache clear condition (#1743)
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
Due: azure-pipeline-bff.yaml

Mijn-10017-Bug-MIJN-10018-Bug - better release pipeline and prod bug (#1744)
  azure-pipelines.yaml
  azure-release-pipeline.yaml
  package.json
  readme.md
  scripts/release.sh
  scripts/semver.sh
  src/server/services/salesforce/contactmomenten.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

comment corrected
  scripts/create-release-notes.py
Due: none

remove disallowed quote pattern
  .github/workflows/pr-title-check.yml
Due: none

Updated to working version from my forked repo
  .github/workflows/create-release-notes.yml
  .github/workflows/release-notification.yml
  scripts/create-release-notes.py
Due: none

MIJN-10018-Bug - Only run if the tag was created on main
  azure-release-pipeline.yaml
Due: none

Specify real main
  azure-release-pipeline.yaml
Due: none

Add message job
  azure-release-pipeline.yaml
Due: none

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
