Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

RM duplicate sheet
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Make bool
  src/client/components/Thema/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Fix import
  src/client/apps/admin/Pages/Home/Home-render-config.tsx
Due: azure-pipeline-ui.yaml

Add props
  src/client/apps/admin/Pages/Home/Home-render-config.tsx
Due: azure-pipeline-ui.yaml

Update comment
  src/client/apps/admin/App.tsx
Due: azure-pipeline-ui.yaml

Add keepalive
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
Due: azure-pipeline-ui.yaml

Check for prop
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.helpers.tsx
Due: azure-pipeline-ui.yaml

Add Account and Userfeedback pages initial
  src/client/apps/admin/App.routes.tsx
  src/client/apps/admin/AppTabs.tsx
  src/client/apps/admin/Pages/Account/Account-render-config.tsx
  src/client/apps/admin/Pages/Account/Account-thema-config.ts
  src/client/apps/admin/Pages/Account/Account.module.scss
  src/client/apps/admin/Pages/Account/Account.tsx
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback-render-config.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback-thema-config.ts
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.helpers.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.hooks.ts
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/client/components/TextClamp/TextClamp.tsx
Due: azure-pipeline-ui.yaml

Reuse hook
  src/client/apps/admin/Pages/Account/Account.tsx
Due: azure-pipeline-ui.yaml

Change post logout url
  .env.local.template
Due: none

Finalize feature
  .env.local.template
  src/client/apps/admin/Pages/Account/Account.tsx
  src/client/apps/admin/Pages/UserFeedback/TicketControls.module.scss
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/client/hooks/useScript.ts
  src/server/routing/route-handlers.ts
  src/server/services/admin/admin-account.route-handlers.ts
  src/server/services/admin/admin-helpers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/user-feedback/user-feedback-handoff.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.router.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add extra check for disabling authentication middleware
  src/server/services/admin/admin-router.ts
Due: azure-pipeline-bff.yaml

Add env
  .env.local.template
Due: none

Add bff services and routers
  db-migrations/0003_sudden_magneto.sql
  db-migrations/0004_bent_martin_li.sql
  db-migrations/0005_rare_stepford_cuckoos.sql
  db-migrations/0006_powerful_forge.sql
  db-migrations/0007_gray_cammi.sql
  db-migrations/0008_mighty_master_mold.sql
  db-migrations/meta/0003_snapshot.json
  db-migrations/meta/0004_snapshot.json
  db-migrations/meta/0005_snapshot.json
  db-migrations/meta/0006_snapshot.json
  db-migrations/meta/0007_snapshot.json
  db-migrations/meta/0008_snapshot.json
  db-migrations/meta/_journal.json
  src/server/config/feature-toggles.ts
  src/server/routing/route-helpers.ts
  src/server/services/admin/admin-account.model.ts
  src/server/services/admin/admin-account.route-handlers.test.ts
  src/server/services/admin/admin-account.route-handlers.ts
  src/server/services/admin/admin-account.types.ts
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/admin/admin-service-config.ts
  src/server/services/admin/admin-types.ts
  src/server/services/db/schema/admin-accounts.ts
  src/server/services/db/schema/user-feedback-meta.ts
  src/server/services/user-feedback/jira/user-feedback-jira.helpers.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
  src/server/services/user-feedback/jira/user-feedback-jira.types.ts
  src/server/services/user-feedback/user-feedback-handoff.ts
  src/server/services/user-feedback/user-feedback-meta.helpers.ts
  src/server/services/user-feedback/user-feedback-meta.model.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.router.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml

Enable account
  src/client/apps/admin/App.tsx
Due: azure-pipeline-ui.yaml

Update sign-request flow
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Remove unused function
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add mokum
  src/client/components/UserFeedback/InlineKTO.tsx
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Encrypt the api token
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/admin/admin-account.model.ts
  src/server/services/admin/admin-account.types.ts
Due: azure-pipeline-bff.yaml

Add debounce
  src/client/apps/admin/Pages/Account/Account.tsx
Due: azure-pipeline-ui.yaml

Remove redundant error handling
  src/server/services/user-feedback/jira/user-feedback-jira.helpers.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
Due: azure-pipeline-bff.yaml

Update feature toggles
  src/server/config/feature-toggles.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/client/components/Thema/ThemaPagina.tsx
  src/server/services/admin/admin-account.route-handlers.test.ts
  src/server/services/admin/admin-route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Prevent timeout from lingering
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml

MIJN-13451-CHORE: Fix typo (#2733)
  src/client/pages/Thema/Afis/AfisEMandateDetail.test.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
Due: azure-pipeline-ui.yaml

Fix grid
  src/client/pages/Thema/Afval/AfvalThema.tsx
Due: azure-pipeline-ui.yaml

fix(dataviewlist): circular render
  src/client/components/DataView/DataViewList.test.tsx
  src/client/components/DataView/DataViewList.tsx
Due: azure-pipeline-ui.yaml

chore: remove unused function
  src/client/components/DataView/DataViewList.tsx
Due: azure-pipeline-ui.yaml

chore: whitespace removed
  src/client/components/DataView/DataViewList.tsx
Due: azure-pipeline-ui.yaml

Update src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

make recursive function
  src/client/components/DataView/DataViewList.test.tsx
  src/client/components/DataView/DataViewList.tsx
Due: azure-pipeline-ui.yaml

MIJN-13470-BUG: Render stringified html correctly (#2741)
  src/client/components/DataView/DataViewList.test.tsx
  src/client/components/DataView/DataViewList.tsx
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-12798-BUG: Safari blocking requests (#2738)
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml

MIJN-13524-BUG: Fix grid (#2740)
  src/client/pages/Thema/Afval/AfvalThema.tsx
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
Due: azure-pipeline-ui.yaml

chore: erfpacht mockdata
  src/mocks-server/fixtures/erfpacht/erfpacht-zaak-info.json
Due: none

Add feature toggle
  src/client/pages/Thema/Afis/AfisFactuur.tsx
Due: azure-pipeline-ui.yaml

MIJN-13563-CHORE: Add feature toggle (#2743)
  src/client/pages/Thema/Afis/AfisFactuur.tsx
Due: azure-pipeline-ui.yaml

Use ==
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Rstr
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml
