Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Found new type of address that worked, so added to tests and fixed problem with it.
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix test
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
Due: azure-pipeline-bff.yaml

fe test
  src/client/config/thema.ts
  src/client/pages/Profile/ProfilePrivate.test.tsx
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
Due: azure-pipeline-ui.yaml

ListPage
  src/client/App.tsx
  src/client/AppState.ts
  src/client/pages/Profile/ContactmomentenListPage.tsx
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/formatDataPrivate.tsx
  src/client/pages/Profile/useContactmomenten.hook.tsx
  src/universal/config/routes.ts
  src/universal/types/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

isLoading on Collapsible
  src/client/pages/Profile/ProfilePrivate.tsx
Due: azure-pipeline-ui.yaml

tests
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
  src/server/services/salesforce/contactmomenten.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9805-chore - Decos service lostrekken uit vergunningen-v2 (#1676)
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/decos/helpers.test.ts
  src/server/services/decos/helpers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/server/services/vergunningen-v2/vergunningen-notification-labels.ts
  src/server/services/vergunningen-v2/vergunningen-notifications.ts
  src/server/services/vergunningen-v2/vergunningen-route-handlers.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Refactor types
  src/client/config/menuItems.ts
  src/client/config/thema.ts
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Profile/formatDataPrivate.tsx
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

be test
  src/server/services/salesforce/contactmomenten.test.ts
  src/server/services/salesforce/contactmomenten.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

remove console
  src/server/services/salesforce/contactmomenten.ts
Due: azure-pipeline-bff.yaml

MIJN-9702-CHORE/BAG-endpoint-vervangen-ivm-deprecation-huidig-endpoint (#1680)
  mocks/fixtures/bag.json
  src/client/components/LocationModal/LocationModal.tsx
  src/server/config/source-api.ts
  src/server/services/bag.test.ts
  src/server/services/bag.ts
  src/server/services/brp.test.ts
  src/server/services/my-locations.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/universal/config/url.ts
  src/universal/helpers/bag.test.ts
  src/universal/helpers/bag.ts
  src/universal/types/bag.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Conditionally set note headers
  .github/workflows/pr-title-check.yml
  .github/workflows/release-notification.yml
Due: none

Remove unneeded script, fix test
  src/server/services/adoptable-trash-containers.test.ts
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml

Add extra redirect via TMA
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-development.ts
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
  src/server/views/amsapp-stadspas-landing.pug
Due: azure-pipeline-bff.yaml

Update tests with redirect argument checks
  src/server/routing/router-stadspas-external-consumer.test.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/routing/router-stadspas-external-consumer.test.ts
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/services/decos/decos-types.ts
Due: azure-pipeline-bff.yaml

Fix types
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/auth/auth-helpers.test.ts
  src/server/auth/auth-helpers.ts
Due: azure-pipeline-bff.yaml

move stuff around
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/formatDataPrivate.tsx
  src/client/pages/Profile/useContactmomenten.hook.tsx
  src/server/services/salesforce/contactmomenten.ts
  src/universal/types/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

test: click for table
  src/client/pages/Profile/ProfilePrivate.test.tsx
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
Due: azure-pipeline-ui.yaml

add url component to identifier instead of 'soort vergunningen'
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Vergunningen/useVergunningenTransformed.hook.ts
Due: azure-pipeline-ui.yaml

Add statusDates to DecosZaakBase and DecosZaakTransformer to fetch multiple workflow steps dates
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/universal/helpers/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove unused line
  src/client/pages/Parkeren/ParkerenList.test.tsx
Due: azure-pipeline-ui.yaml

updated snapshots
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
Due: azure-pipeline-ui.yaml

Revert to {}
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Add eslint directive
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

extracted repeated code into function
  .github/workflows/release-notification.yml
Due: none

Remove redundant dateInBehandeling property of DecosZaakBase
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/decos/decos-types.ts
  src/server/services/decos/helpers.ts
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/vergunningen-notification-labels.ts
  src/server/services/vergunningen-v2/vergunningen-notifications.ts
  src/server/services/vergunningen-v2/vergunningen-status-steps.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

removed unnecessary line
  src/client/pages/Vergunningen/useVergunningenTransformed.hook.ts
Due: azure-pipeline-ui.yaml

wait for both verunningen and parkeren to be loaded
  src/client/helpers/themas.ts
Due: azure-pipeline-ui.yaml

removed var
  src/client/helpers/themas.ts
Due: azure-pipeline-ui.yaml

Organize files, migrate to new design system
  eslint.config.mjs
  src/client/App.tsx
  src/client/AppState.ts
  src/client/config/api.ts
  src/client/pages/Profile/AdresInOnderzoek.tsx
  src/client/pages/Profile/ContactMomenten.tsx
  src/client/pages/Profile/ContactmomentenListPage.tsx
  src/client/pages/Profile/Profile.module.scss
  src/client/pages/Profile/ProfilePrivate.test.tsx
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/VertrokkenOnbekendWaarheen.tsx
  src/client/pages/Profile/config.ts
  src/client/pages/Profile/formatDataPrivate.tsx
  src/client/pages/Profile/useAantalBewonersOpAdres.hook.ts
  src/client/pages/Profile/useContactmomenten.hook.tsx
  src/client/pages/Profile/useProfileData.hook.tsx
  src/client/pages/Profile/useProfileThemaData.hook.tsx
  src/server/services/controller.ts
  src/server/services/salesforce/contactmomenten.test.ts
  src/server/services/salesforce/contactmomenten.ts
  src/universal/config/feature-toggles.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Turned off feature toggles, because not reflecting main
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

added blauwe kaart ontheffing voor bedrijven
  src/client/pages/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Add styling
  src/client/components/Datalist/Datalist.tsx
  src/client/pages/Profile/Profile.module.scss
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/ProfileSectionPanel.tsx
  src/client/pages/Profile/profilePanelConfig.ts
  src/client/pages/Profile/useContactmomenten.hook.tsx
Due: azure-pipeline-ui.yaml

MIJN-9884-feature/Conditionally set release note headers (#1684)
  .github/workflows/pr-title-check.yml
  .github/workflows/release-notification.yml
Due: none

Remove unneeded script, fix test (#1691)
  src/server/services/adoptable-trash-containers.test.ts
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml

MIJN-9740-BUG/themapagina-parkeren-toont-iets-andere-vergunning-naam-dan-op-themapagina-vergunningen-en-ontheffingen (#1694)
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Vergunningen/useVergunningenTransformed.hook.ts
Due: azure-pipeline-ui.yaml

Move function, add codes
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo-status-line-items.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

Comment out product codes
  src/server/services/wmo/wmo-status-line-items.ts
Due: azure-pipeline-bff.yaml
