Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

MIJN-9445 changed title and color
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-9445 changed title and color (#1566)
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
Due: azure-pipeline-ui.yaml

Fixed more eslint issues
  mocks/routes/afis.js
Due: none

Added http status codes to satisfy eslint rule
  mocks/http-status-codes.js
  mocks/routes/afis.js
Due: none

Added filter with basic tests
  mocks/fixtures/afis/openstaande-facturen.json
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Turned off eslint rule for undefined globals, because this fills the mock server files with error and the solution to this is annoying
  eslint.config.mjs
Due: none

Fix mistaked of mixing op posting date and system time, plus refactor
  mocks/fixtures/afis/openstaande-facturen.json
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Use Mockdate instead of vi
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

Update src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Added ISO instead of new Date
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Renamed function
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Use helper function
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Simplify usepagechange
  src/client/hooks/usePageChange.ts
Due: azure-pipeline-ui.yaml

Fixes
  src/client/hooks/usePageChange.ts
Due: azure-pipeline-ui.yaml

remove imports
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

rewrite logic
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

status codes replaced and reverted logic
  mocks/http-status-codes.js
  mocks/routes/afis.js
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

changed constant name
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

factored out expression to constant
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Added doc comment
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Added featuretoggle
  src/server/services/afis/afis-facturen.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update src/universal/config/feature-toggles.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added comment
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

moved comment
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix error
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

show link under adres
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Profile/formatDataPrivate.tsx
  src/universal/types/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix test
  src/client/hooks/usePageChange.test.tsx
  src/client/hooks/usePageChange.ts
Due: azure-pipeline-ui.yaml

MIJN-9460-FEATURE-facturen-pas-tonen-na-19-00-als-aanmaak-datum-vandaag-is-afis-facturen (#1571)
  eslint.config.mjs
  mocks/routes/afis.js
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9431-feature/Scroll top gedrag af laten hangen van pathstack (#1557)
  src/client/hooks/usePageChange.test.tsx
  src/client/hooks/usePageChange.ts
Due: azure-pipeline-ui.yaml

Map deelbetalingen by InvoiceReference
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Fetch token per session
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-documents.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Use Decimal lib
  package-lock.json
  package.json
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine some types, add notifications test
  package-lock.json
  package.json
  src/server/helpers/text.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-notifications.ts
  src/server/services/home.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/wior.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove log
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml

Rename type
  src/client/components/Search/searchConfig.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove businesspartnerid
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add 0,00 default
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Use Facturen response in BusinesspartnerKnown
  src/client/AppState.ts
  src/client/components/Search/searchConfig.tsx
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
