Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Formulieren redirect naar thema detailpagina
  package-lock.json
  package.json
  src/client/App.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

new routes
  src/universal/config/routes.ts
  src/universal/config/thema-data.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

HLI added
  src/universal/config/thema-data.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Sort and enable horeca
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Sort and enable Horeca
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Implement aes-256-cbc general encryption
  src/server/router-protected.ts
  src/server/services/simple-connect/subsidie.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/universal/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update test key
  src/setupTests.ts
Due: none

Sort and enable horeca (#1334)
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-7695 - Implement aes-256-cbc general encryption (#1335)
  src/server/router-protected.ts
  src/server/services/simple-connect/subsidie.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/setupTests.ts
  src/universal/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add api key
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Add Decos service
  src/server/services/vergunningen-v2/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-service.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/server/services/vergunningen-v2/helpers.test.ts
  src/server/services/vergunningen-v2/helpers.ts
  src/universal/types/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add decos mock service
  mocks/fixtures/decos-vergunningen-addressbook-response.json
  mocks/fixtures/decos-vergunningen-documents-list-response.json
  mocks/fixtures/decos-vergunningen-workflowinstances-response.json
  mocks/fixtures/decos-vergunningen-workflows-response.json
  mocks/fixtures/decos-vergunningen-zaakdetail-response.json
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

Sort flags
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comments
  src/client/components/Search/searchConfig.tsx
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add themapagina defaults
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/pages/ThemaPagina/ZakenTable.tsx
Due: azure-pipeline-ui.yaml

Add api config
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/client/components/Table/TableV2.tsx
Due: azure-pipeline-ui.yaml

Fix name
  src/server/services/vergunningen-v2/config-and-types.ts
Due: azure-pipeline-bff.yaml

Use constants
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/helpers.ts
Due: azure-pipeline-bff.yaml

Use generic thema components
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/client/pages/VergunningenV2/Vergunningen.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

Add renewed thema
  src/client/AppState.ts
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/client/pages/VergunningenV2/Vergunningen.module.scss
  src/client/pages/VergunningenV2/Vergunningen.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
  src/client/pages/VergunningenV2/__snapshots__/Stadspas.test.tsx.snap
  src/client/pages/VergunningenV2/config.ts
  src/client/pages/VergunningenV2/helpers.ts
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  src/server/services/vergunningen-v2/decos-service.ts
Due: azure-pipeline-bff.yaml

Add bff route handlers
  src/server/router-protected.ts
Due: azure-pipeline-bff.yaml

Add extends
  src/server/services/vergunningen-v2/config-and-types.ts
Due: azure-pipeline-bff.yaml

Add formatUrl fn
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Add VergunningenV2
  src/client/AppState.ts
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add feature toggles, generalize list route + component
  src/client/App.tsx
  src/client/pages/VergunningenV2/Vergunningen.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
  src/client/pages/VergunningenV2/config.ts
  src/universal/config/app.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add intermediate service
  src/client/hooks/useAppState.ts
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-service.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename vergunning
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-service.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/server/services/vergunningen-v2/helpers.ts
Due: azure-pipeline-bff.yaml

Add fallback title
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/VergunningenV2/VergunningDetail.tsx
Due: azure-pipeline-ui.yaml

Add encrypt layer
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-service.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Organize imports
  src/server/services/vergunningen-v2/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Add endpoints
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Rename statekey
  src/client/AppState.ts
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/client/pages/VergunningenV2/Vergunningen.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add —inspect
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add listpage, fix urls, add fetchUrl
  src/client/App.tsx
  src/client/pages/StatusDetail/StatusDetail.tsx
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/client/pages/VergunningenV2/Vergunningen.module.scss
  src/client/pages/VergunningenV2/Vergunningen.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
  src/server/services/controller.ts
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/vergunningen.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine types
  src/client/components/DocumentList/DocumentListV2.tsx
  src/client/pages/VergunningenV2/VergunningDetail.tsx
  src/client/pages/VergunningenV2/config.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/toeristische-verhuur/vakantieverhuur-vergunning.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add logs
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-service.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Add debug helper
  src/mijnamsterdam.d.ts
Due: none

Add number
  src/server/router-protected.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
