Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Don’t show afspraken if there are none
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

Don’t show if loading
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

Remove pre
  src/client/components/AfspraakCard/AfspraakCard.module.scss
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/server/services/klantcontact/klantcontact-afspraken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix display of ErrorMessages bar
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/ErrorMessages/ErrorMessages.tsx
Due: azure-pipeline-ui.yaml

Fix nesting
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

Add safety
  src/client/pages/Thema/Profile/Profile-render-config.tsx
Due: azure-pipeline-ui.yaml

Change typing
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

Remove unnecessary fallback
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
Due: azure-pipeline-ui.yaml

Change name
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

Change theme title
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

Add page content top
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

Add pagelinks
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

Meerinfo bij melding GPK in behandeling
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

Track service duration
  src/server/services/controller.test.ts
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml

Update budget pas mock data
  mocks/fixtures/gpass-stadspas.json
Due: none

Use new piwik-tracker-react alpha version
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/client/App.tsx
  src/client/hooks/analytics.hook.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add readMoreLink to budget
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Add link to pc vergoeding
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

add "Meer informatie" link
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

Create test
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-12357-CHORE: Verwijderen feature toggle code ligplaatsen kamerverhuur migratie decos pb (#2573)
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/server/config/feature-toggles.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

lint
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Potential fix for pull request finding
  src/server/services/controller.test.ts
Due: azure-pipeline-bff.yaml

Add comment
  pnpm-workspace.yaml
Due: none

MIJN-12796-FEATURE: Hli links naar pc tegoed en kindtegoed (#2587)
  mocks/fixtures/gpass-stadspas.json
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Test aangemaakt en opmerking verwerkt
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

MIJN-12270-FEATURE: Piwik implementatie nieuwe custom events (#2585)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/client/App.tsx
  src/client/hooks/analytics.hook.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13063-CHORE: Emit services duration (#2586)
  src/server/services/controller.test.ts
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Thema/KlantContact/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
  src/client/pages/Thema/KlantContact/KlantContactThema.test.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/server/services/klantcontact/klantcontact.test.ts
Due: azure-pipeline-bff.yaml

Use var
  src/client/components/LocationModal/LocationModal.tsx
Due: azure-pipeline-ui.yaml

Optimize rendering, fix Bodem modal bug
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MaLink/MaLink.tsx
  src/client/components/Modal/Modal.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Bodem/BodemDetail.tsx
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/LigplaatsVergunning.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

base vergunning added
  src/server/services/vergunningen/vergunningen-notifications.test.ts
Due: azure-pipeline-bff.yaml

Remove pre-optimization
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

Remove additional details
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

Update
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

Update assertion
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-13061-CHORE: De meerinfo tekst moet ook in de melding van gpx in behandeling komen alg user e xperience (#2584)
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

move to directory to reflect source code usage
  src/scripts/generate-user-data-overview.test.ts
  src/scripts/generate-user-data-overview.ts
Due: none

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
