Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Update src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Boyscout: decrease row space for nicer design in mobile
  src/client/components/Datalist/Datalist.module.scss
Due: azure-pipeline-ui.yaml

Use AppInsights OperationID for correlation
  src/server/services/brp/brp.ts
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

THEMA-TYPES.TS:
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Op basis van nieuwe inzichten is het weer teruggezet naar hoe het eerst was.
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

links hernoemd naar pageLinks in thema-types, bodem-thema-config en usebodemdata.hook.ts
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
Due: azure-pipeline-ui.yaml

removed themaconfig imports in favor of useBodemData
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
  src/client/pages/Thema/Bodem/useBodemListPageData.hook.ts
Due: azure-pipeline-ui.yaml

revert params to simpler times
  src/client/pages/Thema/Bodem/useBodemListPageData.hook.ts
Due: azure-pipeline-ui.yaml

run formatter
  tsconfig.json
Due: none

revert pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

MIJN-12092-Chore - Add comment (#2185)
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

MIJN-9748-Feature - Add temp router (#2184)
  src/server/routing/router-private.ts
  src/server/services/afis/afis-temp-router.ts
Due: azure-pipeline-bff.yaml

When making a copy of an aanvraag, change the betrokkenen accordingly.
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Elk bestand met name thema-confg bestanden waar nodig trackingurl: null, togevoegd.
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afval/Afval-thema-config.ts
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Burgerzaken/Burgerzaken-thema-config.ts
  src/client/pages/Thema/Horeca/Horeca-thema-config.ts
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Krefia/Krefia-thema-config.ts
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

remove some test data (will be used in other branch)
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

small refactor
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Change account handling
  src/server/routing/router-development.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

updated snapshot: WMO gets a filename in the documents
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
Due: azure-pipeline-bff.yaml

resterende errors opgelost
  src/client/components/MyArea/MyArea-thema-config.ts
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-11443-Feature - add proper correlation (#2186)
  src/client/components/Datalist/Datalist.module.scss
  src/server/services/brp/brp.ts
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

tekst aangepast naar het juiste
  src/client/pages/Thema/Burgerzaken/Burgerzaken-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-11934-Chore - Change account handling (#2187)
  src/server/routing/router-development.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

RM - cannot determine
  src/server/routing/router-development.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

wip
  mocks/fixtures/zorgned-av-aanvragen-rtm.json
  src/client/components/Thema/ThemaPaginaTable.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/server/services/hli/hli-regelingen-types.ts
  src/server/services/hli/hli.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add afis/e-mandates/sign-request-status-notify request to dienstverlening openapi spec
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Fix header value
  src/server/services/brp/brp.test.ts
Due: azure-pipeline-bff.yaml

MIJN-11934-Bug - RM - cannot determine (#2188)
  src/server/routing/router-development.ts
  src/server/services/brp/brp.test.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

MIJN-9748-FEATURE Add afis/e-mandates/sign-request-status-notify request to dienstverle… (#2189)
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Test results
  src/server/routing/route-helpers.test.ts
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/wmo/wmo-router.test.ts
Due: azure-pipeline-bff.yaml

Textual changes from redaction and add extra local testdata to view
  mocks/fixtures/decos-vergunningen-varens-response.json
  mocks/fixtures/decos-vergunningen-zaken-response.json
  src/client/pages/Thema/Varen/VarenDetailZaakExploitatie.tsx
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/decos-zaken.ts
  src/server/services/varen/varen-status-steps.test.ts
  src/server/services/varen/varen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

GeneralInfo.tsx:
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

Fix tests
  src/client/pages/Thema/Afis/AfisList.test.tsx
  src/client/pages/Thema/Afis/AfisList.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis.test.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Specification table implemented, but listpage is wrong.
  mocks/fixtures/zorgned-av-aanvragen-rtm.json
  src/client/data-transform/useAddDocumentLinks.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
  src/server/services/hli/hli-regelingen-types.ts
  src/server/services/hli/hli.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

UseBodemDetailData.hook.tsx:
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
Due: azure-pipeline-ui.yaml

Fix request url
  src/client/config/api.ts
  src/client/pages/Thema/Afis/AfisList.test.tsx
  src/client/pages/Thema/Afis/AfisList.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Added paginated listpage
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLISpecificatieList.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

boyscout
  src/server/services/hli/hli.test.ts
Due: azure-pipeline-bff.yaml

useBodemDetailData.hook.tsx:
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
Due: azure-pipeline-ui.yaml

bug fix
  src/client/pages/Thema/Profile/commercial/useProfileData.hook.ts
  src/client/pages/Thema/Profile/private/useProfileThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Update tests
  src/client/config/api.ts
  src/client/helpers/api.ts
  src/client/hooks/api/useBffApi.test.ts
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Afis/AfisList.test.tsx
  src/client/pages/Thema/Afis/useAfisEmandateApi.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/Bodem/BodemDetail.test.tsx
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
