Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add bezwaren lijst pagina
  mocks/routes/bezwaren.js
  src/client/App.tsx
  src/client/pages/AVG/AVGLijst.tsx
  src/client/pages/Bezwaren/BezwarenLijst.tsx
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Fix route generation
  src/client/pages/Klachten/Klachten-thema-config.tsx
  src/client/pages/Klachten/KlachtenLijst.tsx
Due: azure-pipeline-ui.yaml

Fixed widths on large screens
  src/client/pages/Krefia/Krefia.module.scss
  src/client/pages/Krefia/Krefia.tsx
Due: azure-pipeline-ui.yaml

Update services to use Decos and Vergunningen V2
  src/client/components/Search/search-config.tsx
  src/client/components/Table/TableV2.tsx
  src/client/pages/Horeca/Horeca-thema-config.tsx
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/server/services/controller.ts
  src/server/services/horeca.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.test.ts
  src/server/services/horeca/horeca.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-lvv-registratie.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post merge fixes
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/server/services/decos/decos-types.ts
  src/server/services/decos/helpers.ts
  src/server/services/vergunningen/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename file
  src/client/config/thema.ts
  src/client/helpers/themas.ts
  src/client/pages/HorecaDetail/HorecaDetail.tsx
  src/client/pages/Parkeren/Parkeren-thema-config.ts
  src/client/pages/Parkeren/Parkeren.test.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/VergunningenV2/VergunningenThemaPagina.tsx
  src/client/pages/VergunningenV2/detail-page-content/StatusLineItems.tsx
  src/client/pages/VergunningenV2/detail-page-content/Touringcar.tsx
  src/server/services/decos/helpers.test.ts
  src/server/services/decos/helpers.ts
  src/server/services/horeca.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen-v2/config-and-types.ts
  src/server/services/vergunningen-v2/decos-zaken.ts
  src/server/services/vergunningen-v2/helpers.ts
  src/server/services/vergunningen-v2/vergunningen-status-steps.ts
  src/universal/types/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post merge fixes
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Align props
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/vergunningen-v2/vergunningen-notification-labels.ts
  src/server/services/vergunningen-v2/vergunningen-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add detail page content
  src/client/App.tsx
  src/client/pages/HorecaDetail/HorecaDetail.test.tsx
  src/client/pages/HorecaDetail/HorecaDetail.tsx
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/detail-page-content/AanbiedenDiensten.tsx
  src/client/pages/Vergunningen/detail-page-content/BZB.tsx
  src/client/pages/Vergunningen/detail-page-content/GPP.tsx
  src/client/pages/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/universal/types/decos-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add detail hook, refine types
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementMelding.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/detail-page-content/useVergunningDetailData.hook.ts
Due: azure-pipeline-ui.yaml

Gelijktrekken data
  src/client/App.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ToeristischeVerhuur/toeristischeVerhuur-thema-config.ts
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/client/pages/Vergunningen/detail-page-content/useVergunningDetailData.hook.ts
  src/server/services/decos/decos-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunningen.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post merge cleaning / aligning
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-types.ts
  src/server/services/decos/helpers.test.ts
  src/server/services/decos/helpers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/vergunningen/decos-zaken.ts
  src/server/services/vergunningen/helpers.test.ts
Due: azure-pipeline-bff.yaml

Change route set-up
  src/client/pages/Zorg/Zorg.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add title link
  src/client/pages/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Simplify Toeristische verhuur
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/detail-page-content/useVergunningDetailData.hook.ts
  src/client/pages/Vergunningen/detail-page-content/useVergunningDocumentsList.hook.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Types + fix display prop
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/client/pages/Vergunningen/useVergunningenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Refine types + postfix merges
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Separate concerns
  src/client/App.tsx
  src/client/pages/Parkeren/Parkeren.module.scss
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenDetail.tsx
  src/client/pages/Parkeren/detail-page-content/BZB.tsx
  src/client/pages/Parkeren/detail-page-content/BZP.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/client/pages/Parkeren/detail-page-content/GPK.tsx
  src/client/pages/Parkeren/detail-page-content/GPP.tsx
  src/client/pages/Parkeren/detail-page-content/Touringcar.tsx
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Vergunningen/VergunningenList.tsx
  src/client/pages/Vergunningen/detail-page-content/WVOS.tsx
  src/client/pages/Vergunningen/useVergunningenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Add generic route handler
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.test.ts
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add mock data, fix row automation
  mocks/fixtures/decos-vergunningen-zaken-response.json
  src/client/components/index.ts
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunningen-notification-labels.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine some types
  src/client/pages/Vergunningen/VergunningDetail.tsx
  src/server/services/decos/helpers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning-types.ts
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add statuscode, add more flexible route matcher
  mocks/handlers/IntermediateAPIHandler.js
  mocks/routes/enableu-2-smile.js
Due: none

Upgrade klacht detail
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Klachten/KlachtenDetail.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
Due: azure-pipeline-ui.yaml

Update ListPage component, remove redundant PageContentCell
  src/client/App.tsx
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.test.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
Due: azure-pipeline-ui.yaml

Refactor prop names
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/Inkomen.test.tsx
  src/server/services/wpi/api-service.ts
  src/server/services/wpi/content/specificaties.ts
  src/server/services/wpi/helpers.ts
  src/server/services/wpi/wpi-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Upgrade Bezwaren
  src/client/config/api.ts
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/BezwarenStatusLines.tsx
  src/client/pages/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Vergunningen/detail-page-content/useVergunningDocumentsList.hook.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/bezwaren/bezwaren-route-handlers.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Inkomen upgrade
  src/client/App.tsx
  src/client/config/routes.ts
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Inkomen/InkomenDetailTonk.tsx
  src/client/pages/Inkomen/InkomenDetailTozo.tsx
  src/client/pages/Inkomen/InkomenDetailUitkering.tsx
  src/client/pages/Inkomen/InkomenListPage.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.module.scss
  src/client/pages/Inkomen/InkomenSpecificaties.test.tsx
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Inkomen/useAddDocumentLinks.tsx
  src/client/pages/Inkomen/useInkomenDetailData.hook.ts
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/InkomenSpecificaties/InkomenSpecificaties.tsx
  src/client/pages/InkomenSpecificaties/__snapshots__/InkomenSpecificaties.test.tsx.snap
  src/client/pages/InkomenSpecificaties/useAddDocumentLinks.tsx
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add dependency error handling
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/ThemaPagina/ThemaDetailPagina.tsx
Due: azure-pipeline-ui.yaml

Rename components
  src/client/App.tsx
  src/client/pages/InkomenDetail/InkomenDetailTonk.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
Due: azure-pipeline-ui.yaml

Conver inkomen detail pagina’s
  src/client/pages/InkomenDetail/InkomenDetailBbz.tsx
  src/client/pages/InkomenDetail/InkomenDetailTonk.tsx
  src/client/pages/InkomenDetail/InkomenDetailTozo.tsx
  src/client/pages/InkomenDetail/InkomenDetailUitkering.tsx
  src/client/pages/InkomenDetail/useInkomenDetailData.hook.ts
  src/client/pages/StatusDetail/StatusDetail.module.scss
  src/client/pages/StatusDetail/StatusDetail.test.tsx
  src/client/pages/StatusDetail/StatusDetail.tsx
  src/client/pages/StatusDetail/__snapshots__/StatusDetail.test.tsx.snap
  src/server/services/wpi/wpi-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Improve hooks, remove bloat
  src/client/pages/Inkomen/useAddDocumentLinks.tsx
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Add decos raw data service
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaatsOpheffen.tsx
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove comments
  src/client/pages/Krefia/Krefia.tsx
Due: azure-pipeline-ui.yaml

Take correct
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Fix list items and intro text
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Remove Section
  src/client/components/Section/Section.module.scss
  src/client/components/Section/Section.test.tsx
  src/client/components/Section/Section.tsx
  src/client/components/index.ts
Due: azure-pipeline-ui.yaml
