Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Use own logger
  src/mocks-server/logger.ts
Due: none

Nitpick typo
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

Add test, change markup, typo
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

RM
  src/mocks-server/tests/route-file-discovery.test.ts
Due: none

Update
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-11571-FEATURE: Backend afspraken stadsloket4 (#2593)
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

put debug logging inside the debug section
  src/mocks-server/route-file-discovery.ts
  src/mocks-server/route-registry.ts
Due: none

MIJN-13070-CHORE: Zet logging naar debug om geen server startup spam te hebben (#2594)
  src/mocks-server/route-file-discovery.ts
  src/mocks-server/route-registry.ts
Due: none

MIJN-13071-BUG-wrap-in-missende-featuretoggle
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

hello world
  src/client/components/Thema/ThemaPagina.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

MIJN-13071-BUG: Wrap in missende featuretoggle (#2595)
  src/client/components/Thema/ThemaPagina.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

Spyon logger debug instead of logger info after change to debug
  src/mocks-server/tests/route-file-discovery.test.ts
Due: none

Exclude temporary test files created by the mock server from the vitest test runner
  vite.config.ts
Due: none

MIJN-13070-BUG: FIX LOGGER SPY (#2596)
  src/mocks-server/tests/route-file-discovery.test.ts
  vite.config.ts
Due: none

Fix bug: mock server urls were included
  scripts/get-dead-links
Due: none

Polish
  package.json
  pnpm-lock.yaml
  src/client/components/Modal/Modal.tsx
  src/client/config/api.ts
  src/client/hooks/useAppStateStore.ts
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieMediumValue.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieVoorkeuren-config.ts
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieVoorkeuren.module.scss
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieVoorkeuren.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ContactgegevenInstellen.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ContactgegevenValue.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/EmailInputAndValidation.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/EmailvoorkeurInstellen.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/useCommunicatieVoorkeuren.ts
  src/client/pages/Thema/KlantContact/KlantContact-render-config.tsx
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
  src/server/routing/route-helpers.ts
  src/server/services/klantcontact/klantcontact-communicatievoorkeuren.ts
  src/server/services/klantcontact/klantcontact-helpers.ts
  src/server/services/klantcontact/klantcontact-profieldienst-types.ts
  src/server/services/klantcontact/klantcontact-profieldienst.ts
  src/server/services/klantcontact/klantcontact-route-handlers.ts
  src/server/services/klantcontact/klantcontact-router.ts
  src/server/services/klantcontact/klantcontact-service-config.ts
  src/server/services/klantcontact/klantcontact-verify.ts
  src/server/services/klantcontact/klantcontact-verify.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Make type agnostic
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieVoorkeuren-config.ts
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieVoorkeuren.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ContactgegevenInstellen.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ContactgegevenValue.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/EmailvoorkeurInstellen.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ValueInputAndValidation.module.scss
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ValueInputAndValidation.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/useCommunicatieVoorkeuren.ts
  src/server/services/klantcontact/klantcontact-helpers.ts
  src/server/services/klantcontact/klantcontact-profieldienst-types.ts
  src/server/services/klantcontact/klantcontact-profieldienst.ts
  src/server/services/klantcontact/klantcontact-route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refine
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ContactgegevenInstellen.tsx
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/ValueInputAndValidation.tsx
Due: azure-pipeline-ui.yaml

Rename
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/useCommunicatieVoorkeuren.ts
Due: azure-pipeline-ui.yaml

Add info box
  src/client/pages/Thema/KlantContact/Communicatievoorkeuren/CommunicatieVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Update env template
  .env.local.template
Due: none

Add feature toggle
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/VvEDetail.tsx
  src/server/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13074-BUG: Fix mock server urls included in dead link script (#2600)
  scripts/get-dead-links
Due: none

MIJN-13079-FEATURE: Add feature toggle (#2601)
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/VvEDetail.tsx
  src/server/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use new piwk major
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/client/hooks/analytics.hook.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Track link click for wijzigen emandate
  src/client/App.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/mocks-server/fixtures/afis/openstaande-facturen.json
Due: azure-pipeline-ui.yaml

Fix async button doubleClick
  src/client/hooks/analytics.hook.ts
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.test.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

MIJN-12990-FEATURE: Use new piwik major (#2602)
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/client/App.tsx
  src/client/hooks/analytics.hook.ts
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.test.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/mocks-server/fixtures/afis/openstaande-facturen.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove unused stack-trace
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Create openapi spec
  CONTEXT.md
  src/server/openapi-amsapp-notificaties.yml
Due: azure-pipeline-bff.yaml

Rewrite notifications to use Drizzle ORM
  drizzle.config.ts
  drizzle/0000_nappy_leech.sql
  drizzle/0001_fresh_vindicator.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/server/services/amsapp/notifications/amsapp-notifications-model.integration.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/db/migrate.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/db/schema/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix last problems for phase 1
  src/server/openapi-amsapp-notificaties.yml
  src/server/services/db/schema/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Add consumerDetails table
  drizzle/0002_acoustic_daimon_hellstrom.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  src/server/services/amsapp/notifications/amsapp-notifications-model.integration.test.ts
  src/server/services/db/schema/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Eerste opzet tekst toegevoegd
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
Due: azure-pipeline-ui.yaml

Remove variable
  src/scripts/generate-user-data-overview.ts
Due: none

Remove fallback, use files in json.
  .env.local.template
  src/scripts/generate-user-data-overview.ts
  src/universal/config/auth.development.ts
  src/universal/config/digid-test-accounts.json
  src/universal/config/eherkenning-test-accounts.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add flag for choosing a filepath where to save digid-test-accounts
  src/scripts/generate-user-data-overview.ts
  src/server/routing/app-router-development.ts
  src/universal/config/auth.development.ts
  src/universal/config/digid-test-accounts.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

can use stdinput
  src/scripts/generate-user-data-overview.ts
Due: none

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
