Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Remove NetPaymentAmount
  src/client/config/api.ts
  src/server/app.test.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Load overview data to regular AppState
  src/client/AppState.ts
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add AFIS notification
  src/server/services/afis/afis-notifications.ts
  src/server/services/afis/afis-types.ts
  src/server/services/controller.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Update sorting
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Rename prop
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable fetching of unwanted file
  src/client/utils/monitoring.ts
Due: azure-pipeline-ui.yaml

Refine status
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Add initial amount
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

Fix trimming
  src/server/helpers/text.ts
  src/server/services/afis/afis-notifications.test.ts
Due: azure-pipeline-bff.yaml

Add amount inital
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Fix test
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Set date to now
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-notifications.ts
Due: azure-pipeline-bff.yaml

Remove redundant comment
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Add facturen to failed deps
  src/client/config/api.ts
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9496 remove wijzigen link
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Change sorting
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Add status
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add missing prop
  src/server/services/afis/afis-facturen.test.ts
Due: azure-pipeline-bff.yaml

Change name
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Sort
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Add to notification count + sort
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-notifications.ts
Due: azure-pipeline-bff.yaml

Fix post merge import
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Typo
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

MIJN-9695-Bug - Map deelbetalingen by InvoiceReference MIJN-9487-Feature - laden facturen (#1570)
  package-lock.json
  package.json
  src/client/AppState.ts
  src/client/components/Search/searchConfig.tsx
  src/client/config/api.ts
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/Afis.test.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/ThemaPagina/ThemaPagina.tsx
  src/client/utils/monitoring.ts
  src/server/app.test.ts
  src/server/helpers/text.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-documents.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-notifications.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/afis/test-fixtures/openstaande-facturen.json
  src/server/services/controller.ts
  src/server/services/home.ts
  src/server/services/parkeren/parkeren.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/wior.ts
  src/universal/helpers/api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add parkeren mock data to mocks
  mocks/collections.json
  mocks/routes/parkeren.js
Due: none

Show link to WOZ-waardeloket under adres (#1573)
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Profile/formatDataPrivate.tsx
  src/universal/types/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add search
  src/client/components/Search/search-config.json
  src/client/components/Search/searchConfig.tsx
Due: azure-pipeline-ui.yaml

Add prefix
  src/client/components/Search/searchConfig.tsx
Due: azure-pipeline-ui.yaml

Mijn-9435-Feature - search afis (#1574)
  src/client/components/Search/search-config.json
  src/client/components/Search/searchConfig.tsx
Due: azure-pipeline-ui.yaml

Implement document + address logic, change endpoint handling
  mocks/collections.json
  mocks/fixtures/powerbrowser-bb-attachments.json
  mocks/fixtures/powerbrowser-bb-zaak-adres.json
  mocks/routes/powerbrowser.js
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/routing/bff-routes.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-route-handlers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove mocks for console functions
  src/setupTests.ts
Due: none

Remove DB setting (in favor of env setting)
  .env.local.template
  src/server/auth/auth-session-store.ts
  src/server/services/db/config.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix test
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
Due: azure-pipeline-ui.yaml

Conditionally show thema parkeren
  mocks/collections.json
  mocks/routes/parkeren.js
  src/client/AppState.ts
  src/client/config/themas.ts
  src/client/hooks/useTrackThemas.hook.test.tsx
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/server/services/controller.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove condition
  src/client/config/themas.ts
Due: azure-pipeline-ui.yaml

Update mocks/routes/powerbrowser.js
  mocks/routes/powerbrowser.js
Due: none

MIJN-9516-Feature - Implement document + address logic, change endpoint handling (#1579)
  .env.local.template
  mocks/collections.json
  mocks/fixtures/powerbrowser-bb-attachments.json
  mocks/fixtures/powerbrowser-bb-zaak-adres.json
  mocks/routes/powerbrowser.js
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/auth/auth-session-store.ts
  src/server/routing/bff-routes.ts
  src/server/services/db/config.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-route-handlers.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-types.ts
  src/setupTests.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update burgerzaken header image
  public/header/1024x256-burgerzaken.jpg
  public/header/1024x256-burgerzaken.webp
  public/header/1080x432-burgerzaken.jpg
  public/header/1080x432-burgerzaken.webp
  public/header/1366x342-burgerzaken.jpg
  public/header/1366x342-burgerzaken.webp
  public/header/1600x400-burgerzaken.jpg
  public/header/1600x400-burgerzaken.webp
  public/header/360x144-burgerzaken.jpg
  public/header/360x144-burgerzaken.webp
  public/header/720x288-burgerzaken.jpg
  public/header/720x288-burgerzaken.webp
Due: azure-pipeline-ui.yaml

Update parkeren
  src/client/hooks/useTrackThemas.hook.test.tsx
Due: azure-pipeline-ui.yaml
