Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add early return
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Add id fallback, add nullable
  src/server/services/erfpacht/erfpacht-types.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

MIJN-11801-bug - Amsapp bug (#1990)
  src/server/routing/router-protected.ts
  src/server/routing/router-stadspas-external-consumer.test.ts
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Mijn-11719-bug - afval (#1991)
  src/client/pages/Thema/Afval/Afval.module.scss
Due: azure-pipeline-ui.yaml

refactor ProfileName
  src/client/components/MainHeader/ProfileName.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
Due: azure-pipeline-ui.yaml

Mock data in test files verwerkt
  mocks/fixtures/brp.json
  src/server/services/content-tips/predicates.test.ts
  src/server/services/profile/brp.test.ts
Due: azure-pipeline-bff.yaml

Kleine bugfixes, true gezet
  mocks/fixtures/brp.json
  src/server/services/content-tips/predicates.ts
  src/server/services/content-tips/tips-content.ts
  src/server/services/content-tips/tips-service.test.ts
Due: azure-pipeline-bff.yaml

Mijn-11809-bug - fix various small (dataquality) bugs (#1992)
  src/server/services/erfpacht/erfpacht-types.ts
  src/server/services/erfpacht/erfpacht.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

Update src/server/services/content-tips/tips-content.ts
  src/server/services/content-tips/tips-content.ts
Due: azure-pipeline-bff.yaml

Format opgemaaktName to use more voorletters if possible
  src/client/components/MainHeader/ProfileName.tsx
Due: azure-pipeline-ui.yaml

MIJN-11641-FEATURE-Twee constanten leeftijd constanten toegevoegd en twee tips betreft 1… (#1986)
  mocks/fixtures/brp.json
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/predicates.ts
  src/server/services/content-tips/tips-content.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/profile/brp.test.ts
Due: azure-pipeline-bff.yaml

Fit as much voorletters on the screen as possible
  src/client/components/MainHeader/ProfileName.tsx
Due: azure-pipeline-ui.yaml

remove name in welcome message for commercial users
  src/client/pages/Dashboard/WelcomHeading.tsx
Due: azure-pipeline-ui.yaml

rename for clarity
  src/client/pages/Dashboard/WelcomHeading.tsx
Due: azure-pipeline-ui.yaml

rename
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove useless conditional branch
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

use arrays
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

remove unused
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

use object with codes
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

remove git st
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Change texts to 'Alle berichten'
  src/client/App.test.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/MyNotifications/MyNotifications-config.ts
  src/client/pages/MyNotifications/MyNotifications.tsx
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

add missing mock service, correct change
  src/client/App.test.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Add cache renewal for cms data
  src/server/routing/router-public.ts
  src/server/services/cms/cms-content.ts
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/server/services/controller.test.ts
Due: azure-pipeline-bff.yaml

remove inthedocuments and text change
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

MIJN-11558-FEATURE/nieuwe-pc-verzilvering-codes (#1987)
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11743-CHORE-actueel-etc-naamsverandering-naar-alle-berichten (#1996)
  src/client/App.test.tsx
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/MyNotifications/MyNotifications-config.ts
  src/client/pages/MyNotifications/MyNotifications.tsx
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

Fix spacing
  src/client/components/StatusSteps/StatusSteps.module.scss
Due: azure-pipeline-ui.yaml

Mijn-11729-Chore - cms cache release (#1997)
  src/server/routing/router-public.ts
  src/server/services/cms/cms-content.ts
  src/server/services/controller.test.ts
  src/server/services/controller.ts
Due: azure-pipeline-bff.yaml

Remove redundant click
  src/client/components/Search/Search.tsx
Due: azure-pipeline-ui.yaml

Update tests
  src/client/components/MainHeader/MainHeader.test.tsx
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update matcher
  src/client/components/MainHeader/MainHeader.test.tsx
Due: azure-pipeline-ui.yaml

Chore: UX updates
  package.json
  pnpm-lock.yaml
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/useMainHeaderControl.hook.ts
  src/client/components/Search/Search.module.scss
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

melding aangeapst en id toegevoegd in melding
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

Copy paste test output to test file
  src/server/services/klachten/klachten.test.ts
Due: azure-pipeline-bff.yaml

MIJN-11774-Bug - Fix spacing (#1999)
  src/client/components/StatusSteps/StatusSteps.module.scss
Due: azure-pipeline-ui.yaml

Notificaties aangepast zaaknummer toegevoegd en test gedraaid en aangepast
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
Due: azure-pipeline-bff.yaml
