Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Remove skip blob storage
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

rename
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

MIJN-12965-FEATURE: Automatic notifications login expire (#2613)
  .env.local.template
  Dockerfile
  azure-pipeline-bff.yaml
  azure-pipelines.yaml
  db-migrations/0000_nappy_leech.sql
  db-migrations/0001_fresh_vindicator.sql
  db-migrations/0002_short_kulan_gath.sql
  db-migrations/meta/0000_snapshot.json
  db-migrations/meta/0001_snapshot.json
  db-migrations/meta/0002_snapshot.json
  db-migrations/meta/_journal.json
  drizzle.config.ts
  eslint.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  readme.md
  src/jobs/fetch-notifications-amsapp.ts
  src/mocks-server/routes/app-amsterdam-nl.ts
  src/server/config/source-api.ts
  src/server/openapi-amsapp-notificaties.yml
  src/server/services/amsapp/notifications/amsapp-notifications-model.integration.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/notifications/amsapp-notifications-types.ts
  src/server/services/amsapp/notifications/amsapp-notifications.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/db/migrate.legacy-rehearsal.integration.test.ts
  src/server/services/db/migrate.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/db/schema/amsapp-notifications.ts
  src/testing/setup.ts
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Set the client, forgot to set before.
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

MIJN-13080-FEATURE: Add exclude matcher (#2619)
  src/server/services/jzd/jzd-types.ts
  src/server/services/jzd/jzd-voorzieningen-api-config.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.test.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.ts
Due: azure-pipeline-bff.yaml

MIJN-13176-BUG: Remove imports universal to server (#2623)
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-development.ts
  src/server/routing/app-router-development.ts
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

fix misspelling
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

Keep compatible with env
  src/server/auth/auth-development.ts
Due: azure-pipeline-bff.yaml

And fallback if needed
  src/server/auth/auth-development.ts
Due: azure-pipeline-bff.yaml

Log error when invalid connection string
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

feat(jeugd): add 'voorziening' slug to detailpage url
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
  src/server/services/jzd/jeugd/jeugd.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

feat(zorg): add slug in url
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/server/services/jzd/wmo/wmo.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

feat(jeugd): add slug function
  src/server/services/jzd/jeugd/jeugd.ts
Due: azure-pipeline-bff.yaml

Improve agents md stubbing
  agents.client.md
  src/client/hooks/api/agents.md
Due: azure-pipeline-ui.yaml

Enhance agent playbook with service structure best practices and test data boundaries
  agents.server.md
Due: none

Remove section on reusing mock data from agent playbook
  agents.server.md
Due: none

Revert test string
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

test(jeugd&zorg): update snapshot tests
  src/client/pages/Thema/Jeugd/JeugdDetail.test.tsx
  src/client/pages/Thema/Zorg/ZorgDetail.test.tsx
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-13143-FEATURE: Refactor database migration checks and improve error handling
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Fix error message consistency
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Move comment to right location
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary await
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

MIJN-13163-CHORE: Integreer azure storage blob in app voor test account export (#2621)
  .env.local.template
  package.json
  pnpm-lock.yaml
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-development.ts
  src/server/config/azure-storage.ts
  src/server/routing/app-router-development.ts
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

chore(wmo): remove empty lines
  src/server/services/jzd/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

feat(hli,jeugd,zorg): update tracking-url
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

Add delay before finishing migrate script to allow captureException to finish
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Send trackEvent on database migrations
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

test(jeugd-bff): update test
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/wmo/__snapshots__/wmo.test.ts.snap
Due: azure-pipeline-bff.yaml

MIJN-13127-FEATURE: Slug productnaam toevoegen in url voor zorg en jeugd (#2627)
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/Jeugd/Jeugd-thema-config.ts
  src/client/pages/Thema/Jeugd/JeugdDetail.test.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/ZorgDetail.test.tsx
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/jeugd/jeugd.ts
  src/server/services/jzd/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/jzd/wmo/wmo.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Enhance getFullName function for better handling of optional voornamen
  src/mocks-server/fixtures/zorgned-av-persoonsgegevensNAW.json
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-types.ts
  src/universal/helpers/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Import trackEvent from local await import
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary null check for persoon
  src/universal/helpers/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Log if trackEvent is enabled
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

Log first 10 chars of app connection string for debugging
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Refactor and reorganize routing structure, remove long timeout tests
  src/server/app.test.ts
  src/server/app.ts
  src/server/routing/app-router-admin.test.ts
  src/server/routing/app-router-admin.ts
  src/server/routing/app-router-main.test.ts
  src/server/routing/app-router-main.ts
Due: azure-pipeline-bff.yaml

Refactor admin router tests more
  src/server/routing/app-router-admin.test.ts
  src/server/routing/app-router-admin.ts
  src/server/routing/app-router-main.test.ts
Due: azure-pipeline-bff.yaml

Increase delay before migrate exit to 60 seconds
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Make more clear
  src/scripts/generate-user-data-overview.ts
Due: none

Readability: Put on single line
  src/server/auth/auth-development.ts
Due: azure-pipeline-bff.yaml
