Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Omit custom props from init
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml

Update signature, add data access hook
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml

Add tabs
  src/client/apps/admin/AppTabs.tsx
Due: azure-pipeline-ui.yaml

Make bool
  src/client/components/Thema/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Add styles for Design system components
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Fix import
  src/client/apps/admin/Pages/Home/Home-render-config.tsx
Due: azure-pipeline-ui.yaml

Add App
  src/client/apps/admin/App.routes.tsx
  src/client/apps/admin/App.tsx
Due: azure-pipeline-ui.yaml

Add props for breadbrumb control, pagelinks option
  src/client/components/Thema/ThemaPagina.tsx
Due: azure-pipeline-ui.yaml

Add props
  src/client/apps/admin/Pages/Home/Home-render-config.tsx
Due: azure-pipeline-ui.yaml

Check for prop
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.helpers.tsx
Due: azure-pipeline-ui.yaml

Add Account and Userfeedback pages initial
  src/client/apps/admin/App.routes.tsx
  src/client/apps/admin/AppTabs.tsx
  src/client/apps/admin/Pages/Account/Account-render-config.tsx
  src/client/apps/admin/Pages/Account/Account-thema-config.ts
  src/client/apps/admin/Pages/Account/Account.module.scss
  src/client/apps/admin/Pages/Account/Account.tsx
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback-render-config.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback-thema-config.ts
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.helpers.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.hooks.ts
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/client/components/TextClamp/TextClamp.tsx
Due: azure-pipeline-ui.yaml

Add keepalive
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
Due: azure-pipeline-ui.yaml

Add extra check for disabling authentication middleware
  src/server/services/admin/admin-router.ts
Due: azure-pipeline-bff.yaml

Enable account
  src/client/apps/admin/App.tsx
Due: azure-pipeline-ui.yaml

Encrypt the api token
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/admin/admin-account.model.ts
  src/server/services/admin/admin-account.types.ts
Due: azure-pipeline-bff.yaml

Finalize feature
  .env.local.template
  src/client/apps/admin/Pages/Account/Account.tsx
  src/client/apps/admin/Pages/UserFeedback/TicketControls.module.scss
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/client/hooks/useScript.ts
  src/server/routing/route-handlers.ts
  src/server/services/admin/admin-account.route-handlers.ts
  src/server/services/admin/admin-helpers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/user-feedback/user-feedback-handoff.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.router.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add env
  .env.local.template
Due: none

Add debounce
  src/client/apps/admin/Pages/Account/Account.tsx
Due: azure-pipeline-ui.yaml

Add mokum
  src/client/components/UserFeedback/InlineKTO.tsx
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/components/Thema/ThemaPagina.tsx
  src/server/services/admin/admin-account.route-handlers.test.ts
  src/server/services/admin/admin-route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update feature toggles
  src/server/config/feature-toggles.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
Due: azure-pipeline-bff.yaml

Add bff services and routers
  db-migrations/0003_sudden_magneto.sql
  db-migrations/0004_bent_martin_li.sql
  db-migrations/0005_rare_stepford_cuckoos.sql
  db-migrations/0006_powerful_forge.sql
  db-migrations/0007_gray_cammi.sql
  db-migrations/0008_mighty_master_mold.sql
  db-migrations/meta/0003_snapshot.json
  db-migrations/meta/0004_snapshot.json
  db-migrations/meta/0005_snapshot.json
  db-migrations/meta/0006_snapshot.json
  db-migrations/meta/0007_snapshot.json
  db-migrations/meta/0008_snapshot.json
  db-migrations/meta/_journal.json
  src/server/config/feature-toggles.ts
  src/server/routing/route-helpers.ts
  src/server/services/admin/admin-account.model.ts
  src/server/services/admin/admin-account.route-handlers.test.ts
  src/server/services/admin/admin-account.route-handlers.ts
  src/server/services/admin/admin-account.types.ts
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/admin/admin-service-config.ts
  src/server/services/admin/admin-types.ts
  src/server/services/db/schema/admin-accounts.ts
  src/server/services/db/schema/user-feedback-meta.ts
  src/server/services/user-feedback/jira/user-feedback-jira.helpers.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
  src/server/services/user-feedback/jira/user-feedback-jira.types.ts
  src/server/services/user-feedback/user-feedback-handoff.ts
  src/server/services/user-feedback/user-feedback-meta.helpers.ts
  src/server/services/user-feedback/user-feedback-meta.model.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.router.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml

Remove redundant error handling
  src/server/services/user-feedback/jira/user-feedback-jira.helpers.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
Due: azure-pipeline-bff.yaml

Change post logout url
  .env.local.template
Due: none

Reuse hook
  src/client/apps/admin/Pages/Account/Account.tsx
Due: azure-pipeline-ui.yaml

feat(themaconfig): add global config for profileTypes
  src/client/config/create-thema-config.ts
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
  src/client/pages/Thema/Parkeren/ParkerenDetail.tsx
  src/client/pages/Thema/Parkeren/ParkerenList.tsx
  src/client/pages/Thema/Parkeren/ParkerenThema.tsx
  src/client/pages/Thema/Parkeren/useParkerenData.hook.tsx
Due: azure-pipeline-ui.yaml

Move thema-types and create necessary files to redirect to bob
  src/client/apps/bob/App.test.tsx
  src/client/apps/bob/pages/Thema/Afis/AfisEMandateDetail.test.tsx
  src/client/apps/bob/pages/Thema/Afis/AfisEmandateFactuurReference.test.tsx
  src/client/apps/bob/pages/Thema/Afis/useAfisBetaalVoorkeurenData.test.tsx
  src/client/apps/bob/pages/Thema/Afis/useAfisEmandatesData.test.tsx
  src/client/apps/bob/pages/Thema/Afis/useAfisListPageData.test.tsx
  src/client/apps/bob/pages/Thema/Afval/Afval.test.tsx
  src/client/apps/bob/pages/Thema/Inkomen/InkomenListSpecificaties.test.tsx
  src/client/helpers/cobrowse.test.tsx
  src/client/hooks/useThemaBreadcrumbs.test.tsx
  src/client/hooks/useThemaMenuItems.test.tsx
  src/testing/setup.ts
Due: azure-pipeline-ui.yaml

fix snaps
  src/client/apps/bob/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/apps/bob/pages/Thema/Afis/__snapshots__/AfisEMandateDetail.test.tsx.snap
  src/client/apps/bob/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/apps/bob/pages/Thema/Erfpacht/DossierDetail/__snapshots__/DatalistsFinancieel.test.tsx.snap
  src/client/apps/bob/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/apps/bob/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/apps/bob/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/apps/bob/pages/Thema/Profile/private/__snapshots__/ProfilePrivate.test.tsx.snap
Due: azure-pipeline-ui.yaml

Move thema-types to universal and create bob files
  src/client/apps/bob/index.tsx
  src/client/apps/bob/render-bob.tsx
  src/client/apps/bob/styles/bob.scss
  src/client/apps/config.ts
  src/client/apps/start-app.ts
  src/client/components/ApplicationRoutes/ApplicationRoutes.tsx
  src/universal/types/thema-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update paths to reflect new structure in /apps/bob for other items
  agents.client.md
  readme.md
  scripts/generate-thema.js
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Add admin client app
  admin.html
  src/client/apps/admin/App.routes.tsx
  src/client/apps/admin/App.tsx
  src/client/apps/admin/ApplicationError.tsx
  src/client/apps/admin/index.tsx
  src/client/apps/admin/render-admin.tsx
  src/client/apps/admin/styles/admin.scss
Due: azure-pipeline-ui.yaml

Revert "Build(deps): bump the production-dependencies group across 1 director…"
  package.json
  pnpm-lock.yaml
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisEMandateDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/KlantContact/Contactmomenten/__snapshots__/ContactmomentenTable.test.tsx.snap
  src/client/pages/Thema/Profile/private/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13632-CHORE: Revert 2759 dependabot/npm and yarn/production dependencies bdfdac386f (#2772)
  package.json
  pnpm-lock.yaml
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisEMandateDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/KlantContact/Contactmomenten/__snapshots__/ContactmomentenTable.test.tsx.snap
  src/client/pages/Thema/Profile/private/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add missing changes
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
