Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

MIJN-12383-Bug - Move router, consolidate routers (#2275)
  src/server/routing/router-private.ts
Due: azure-pipeline-bff.yaml

Mijn-12165-chore - design system updates p6 (#2268)
  mocks/routes/afis.js
  src/client/App.tsx
  src/client/assets/icons/index.tsx
  src/client/assets/icons/map/pin.svg
  src/client/components/Checkbox/Checkbox.tsx
  src/client/components/DocumentList/DocumentLink.module.scss
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/MainHeader/EnvLabel.tsx
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/OtapLabel.module.scss
  src/client/components/MyArea/MyAreaCustomLocationControlButton.tsx
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Search/Search.module.scss
  src/client/components/Search/Search.tsx
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/components/Table/TableV2.tsx
  src/client/pages/ApplicationError/ApplicationError.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Jeugd/JeugdDetail.tsx
Due: azure-pipeline-ui.yaml

Mijn-12165-chore - design system updates p5 (#2265)
  mocks/routes/afis.js
  src/client/App.module.scss
  src/client/App.tsx
  src/client/assets/icons/index.tsx
  src/client/assets/icons/map/pin.svg
  src/client/components/Checkbox/Checkbox.tsx
  src/client/components/DocumentList/DocumentLink.module.scss
  src/client/components/MaLink/MaLink.module.scss
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/MainHeader/EnvLabel.tsx
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/OtapLabel.module.scss
  src/client/components/MyArea/LegendPanel/LegendPanel.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/GenericBase.tsx
  src/client/components/MyArea/Map/ZoomControl.module.scss
  src/client/components/MyArea/Map/ZoomControl.tsx
  src/client/components/MyArea/MyArea.tsx
  src/client/components/MyArea/MyAreaCustomLocationControlButton.tsx
  src/client/components/MyArea/MyAreaHomeControlButton.tsx
  src/client/components/MyThemasPanel/MyThemasPanel.module.scss
  src/client/components/MyThemasPanel/MyThemasPanel.tsx
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Search/Search.module.scss
  src/client/components/Search/Search.tsx
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/components/Table/TableV2.tsx
  src/client/pages/ApplicationError/ApplicationError.tsx
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Jeugd/JeugdDetail.tsx
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove unused class + el
  src/client/components/CollapsiblePanel/CollapsiblePanel.module.scss
  src/client/components/CollapsiblePanel/CollapsiblePanel.tsx
Due: azure-pipeline-ui.yaml

Remove delay
  mocks/routes/afis.js
Due: none

Mijn-12378-Chore - jzd statustrein testen oplossen (#2273)
  src/server/services/wmo/wmo-status-line-items.ts
  src/server/services/zorgned/zorgned-status-line-items.test.ts
Due: azure-pipeline-bff.yaml

ik commit en push dit even zodat mokhtar het kan pullen.
  src/client/config/buildFeatureToggle.ts
  src/client/config/practiceRecursive.ts
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/components/MyThemasPanel/MyThemasPanel.tsx
  src/client/components/Page/Page.test.tsx
  src/client/components/Page/Page.tsx
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/KlachtenDetail.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
Due: azure-pipeline-ui.yaml

Implemented minimal statustrein for detailpage
  mocks/fixtures/klachten.json
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
  src/server/services/smile/smile-types.ts
Due: azure-pipeline-bff.yaml

wip: Split up tables
  mocks/fixtures/klachten.json
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add length
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.transform.tsx
Due: azure-pipeline-ui.yaml

Update test
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
Due: azure-pipeline-ui.yaml

Compensate margins
  src/client/components/MyArea/MyAreaDashboard.module.scss
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Add enable-u api key header
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

MIJN-12165-Bug - Compensate margins (#2280)
  src/client/components/MyArea/MyAreaDashboard.module.scss
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Add status error handling
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

Remove replacing functionality
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Add type
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Only ON ?
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

Change deactivation implementation
  src/client/hooks/useDeeplink.hook.ts
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/server/routing/router-private.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update test data
  src/client/pages/Thema/Afis/useAfisEmandatesData.test.tsx
Due: azure-pipeline-ui.yaml

Add info section
  src/client/pages/Thema/HLI/InfoSection.tsx
Due: azure-pipeline-ui.yaml

Camelize keys from postgres fields AND group notifications into services
  src/server/openapi-amsapp-notificaties.yml
  src/server/services/notifications/config-and-types.ts
  src/server/services/notifications/helper.ts
  src/server/services/notifications/notifications-model.ts
  src/server/services/notifications/notifications.ts
Due: azure-pipeline-bff.yaml

Remove unused function
  src/server/services/notifications/notifications.ts
Due: azure-pipeline-bff.yaml

Cleanup notification helper and add test
  src/server/services/notifications/helper.test.ts
  src/server/services/notifications/helper.ts
Due: azure-pipeline-bff.yaml

- De nieuwe builder voor de featureToggle op basis van de feedback om het recursief te maken.
  src/client/config/buildFeatureToggle.ts
Due: azure-pipeline-ui.yaml

Het meegeven van de generic type T op basis van feedback.
  src/client/config/thema-types.ts
Due: azure-pipeline-ui.yaml

Hli-thema-config.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Het aanpassen van themaActive naar active op basis van hernoemen naamgeving
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Het omzetten van de featuretoggle op basis van de nieuwe featuretoggle structuur en op basis van feedback.
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
Due: azure-pipeline-ui.yaml

Hetzelfde omzetten zoals ik in de vorige commit aangaf
  src/server/config/source-api.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Omzetten
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

wip: Translate pc codes based on date
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
