Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Stop double voorziening from being added
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Add cobrowse-redacted to elements that should be private
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/MyThemasPanel/MyThemasPanel.tsx
  src/client/components/Thema/ThemaDetailPagina.tsx
  src/client/components/Thema/ThemaPagina.tsx
  src/client/helpers/utils.ts
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/Inkomen/InkomenDetailBbz.tsx
  src/client/pages/Thema/Inkomen/InkomenDetailTonk.tsx
  src/client/pages/Thema/Inkomen/InkomenDetailTozo.tsx
  src/client/pages/Thema/Inkomen/InkomenDetailUitkering.tsx
  src/client/pages/Thema/Inkomen/InkomenList.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.tsx
  src/client/pages/Thema/Inkomen/InkomenThema.tsx
  src/client/pages/Thema/Inkomen/useInkomenDetailData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/client/pages/Thema/Zorg/ZorgDetail.tsx
  src/client/pages/Thema/Zorg/ZorgList.tsx
  src/client/pages/Thema/Zorg/ZorgThema.tsx
  src/client/pages/Thema/Zorg/useZorgDetailData.hook.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
Due: azure-pipeline-ui.yaml

Add missing changes from utils
  src/client/helpers/utils.ts
Due: azure-pipeline-ui.yaml

Update snaps
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Do not send set-cookie for session cookie on tracking endpoint
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Redact bezwaren, facturen and hli
  src/client/helpers/utils.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisList.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Thema/Bezwaren/BezwarenList.tsx
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Thema/Burgerzaken/BurgerzakenDetail.tsx
  src/client/pages/Thema/HLI/HLIDetail.tsx
  src/client/pages/Thema/HLI/HLIList.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

feature toggle and icon
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/WoningIcon.svg
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snaps
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-11969-CHORE-use-MARouteLink (#2071)
  src/client/pages/NotFound/NotFound.tsx
Due: azure-pipeline-ui.yaml

Update notificatie test responses
  src/server/services/varen/varen-notifications.test.ts
Due: azure-pipeline-bff.yaml

opmerkingen roan verwerkt MALink ipv Link
  src/client/pages/NotFound/NotFound.tsx
Due: azure-pipeline-ui.yaml

MIJN-11966-BUG Do not send set-cookie for session cookie on tracking endpoint (#2074)
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Enforce passing id to themaPagina component
  src/client/components/Thema/ThemaPagina.tsx
  src/client/pages/Thema/AVG/AVGThema.tsx
  src/client/pages/Thema/AVG/useAVGData.hook.tsx
  src/client/pages/Thema/Bodem/BodemThema.tsx
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/Burgerzaken/BurgerzakenThema.tsx
  src/client/pages/Thema/Burgerzaken/useBurgerZakenData.hook.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.ts
  src/client/pages/Thema/Horeca/HorecaThema.tsx
  src/client/pages/Thema/Horeca/useHorecaThemaData.hook.ts
  src/client/pages/Thema/Jeugd/JeugdThema.tsx
  src/client/pages/Thema/Jeugd/useJeugdThemaData.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Thema/Krefia/KrefiaThema.tsx
  src/client/pages/Thema/Krefia/useKrefiaThemaData.hook.tsx
  src/client/pages/Thema/Parkeren/ParkerenThema.tsx
  src/client/pages/Thema/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
  src/client/pages/Thema/Profile/commercial/useProfileData.hook.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.tsx
  src/client/pages/Thema/Profile/private/useProfileThemaData.hook.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurThema.tsx
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/client/pages/Thema/Varen/useVarenThemaData.hook.ts
  src/client/pages/Thema/Vergunningen/VergunningenThema.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Pass themaId to themaDetailPagina component
  src/client/components/Thema/ThemaDetailPagina.tsx
  src/client/pages/Thema/AVG/AVGDetail.tsx
  src/client/pages/Thema/AVG/useAVGDetailPage.hook.tsx
  src/client/pages/Thema/Bodem/BodemDetail.tsx
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
  src/client/pages/Thema/Burgerzaken/BurgerzakenDetail.tsx
  src/client/pages/Thema/Burgerzaken/useBurgerZakenDetailData.hook.tsx
  src/client/pages/Thema/Erfpacht/DossierDetail/erfpachtDossierData.hook.ts
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.tsx
  src/client/pages/Thema/Horeca/HorecaDetail.tsx
  src/client/pages/Thema/Jeugd/JeugdDetail.tsx
  src/client/pages/Thema/Klachten/KlachtenDetail.tsx
  src/client/pages/Thema/Parkeren/ParkerenDetail.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/client/pages/Thema/Varen/VarenDetail.tsx
  src/client/pages/Thema/Varen/useVarenDetailPage.hook.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
Due: azure-pipeline-ui.yaml

Pass themaId to listPagePaginated component
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Thema/AVG/AVGList.tsx
  src/client/pages/Thema/AVG/useAVGListPage.hook.ts
  src/client/pages/Thema/Bodem/BodemList.tsx
  src/client/pages/Thema/Bodem/useBodemListPageData.hook.ts
  src/client/pages/Thema/Burgerzaken/BurgerzakenList.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtList.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtListFacturen.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtListOpenFacturen.tsx
  src/client/pages/Thema/Horeca/HorecaList.tsx
  src/client/pages/Thema/Jeugd/JeugdList.tsx
  src/client/pages/Thema/Klachten/KlachtenList.tsx
  src/client/pages/Thema/Parkeren/ParkerenList.tsx
  src/client/pages/Thema/Profile/private/ContactmomentenListPage.tsx
  src/client/pages/Thema/Profile/private/useContactmomenten.hook.tsx
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurList.tsx
  src/client/pages/Thema/Varen/VarenList.tsx
  src/client/pages/Thema/Vergunningen/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

Correctly redact fields on dashboard, notification list and paspoort pages
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
  src/client/pages/Thema/Burgerzaken/BurgerzakenDetail.tsx
Due: azure-pipeline-ui.yaml

tijdelijke wijzi
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snapshot
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

Sport niet meer default aangevinkt
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Test logout logic
  src/server/auth/auth-helpers.ts
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Fix routes
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

MIJN-11969-FEATURE-algemene-404-pagina-zelfde-tekst-als-amsterdam-nl (#2069)
  src/client/pages/NotFound/NotFound.tsx
Due: azure-pipeline-ui.yaml

Redact contactmomente rows that should be redacted
  src/client/components/Table/TableV2.tsx
  src/client/helpers/utils.ts
  src/client/pages/Thema/Profile/private/Contactmomenten.config.ts
  src/client/pages/Thema/Profile/private/useContactmomenten.hook.tsx
Due: azure-pipeline-ui.yaml

Move isRedacted logic to work with themaMenuItems
  src/client/config/thema-types.ts
  src/client/helpers/utils.ts
  src/client/hooks/useNotifications.ts
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/MyNotifications/MyNotifications.tsx
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/Inkomen/Inkomen-render-config.tsx
  src/client/pages/Thema/Svwi/Svwi-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
Due: azure-pipeline-ui.yaml

Refactor isRedacted to redactedScope on themaMenuItems
  src/client/config/thema-types.ts
  src/client/helpers/utils.ts
  src/client/hooks/useNotifications.ts
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/Inkomen/Inkomen-render-config.tsx
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Svwi/Svwi-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
Due: azure-pipeline-ui.yaml

Show content_empty on varen registratie not present
  src/client/pages/Thema/Varen/VarenThema.tsx
Due: azure-pipeline-ui.yaml

Refactor varen registratie address
  src/client/pages/Thema/Varen/VarenThema.test.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
Due: azure-pipeline-ui.yaml

Use the zaak vesselname when the vergunning does not have a vesselname
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Add inactive einde recht step for betrokkenen RTM part two
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

add test
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Merge documents of double RTM
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

use foreach
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

rename tests, use object buckets instead of loops
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

use correct einde recht text
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Add beschiktProductIdentifictie to type
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
Due: azure-pipeline-bff.yaml

cleanup testdata
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

Redact tips by default
  src/client/hooks/useNotifications.ts
Due: azure-pipeline-ui.yaml

add einde recht back in condition
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Extract dedupRTMDeel2 from simplified filterCombineRTMData
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Rename variables for readability
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
