Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

delete no longer used snapshot
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
Due: azure-pipeline-ui.yaml

Remove RAW implementation
  src/server/services/bezwaren/bezwaren-route-handlers.ts
  src/server/services/bezwaren/bezwaren-router.ts
  src/server/services/bezwaren/bezwaren-service-config.ts
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

RM comment
  src/server/services/bezwaren/bezwaren-service-config.ts
Due: azure-pipeline-bff.yaml

Change name
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Use pure fn
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

snapshot fix
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
Due: azure-pipeline-ui.yaml

fix: https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2295#discussion_r2630650003
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

Make Redaction work with new PageV2 set-up
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/Page/Page.tsx
  src/client/components/Search/Search.tsx
  src/client/components/Search/search-config.tsx
  src/client/components/Search/useSearch.test.tsx
  src/client/components/Search/useSearch.tsx
  src/client/config/thema-types.ts
  src/client/helpers/cobrowse.test.tsx
  src/client/helpers/cobrowse.ts
  src/client/hooks/useNotifications.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Update src/server/services/klachten/klachten.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

fix tests
  src/server/services/klachten/klachten.test.ts
Due: azure-pipeline-bff.yaml

Move
  src/client/pages/BffError/BffError.tsx
Due: azure-pipeline-ui.yaml

Restore comment
  src/client/config/thema-types.ts
Due: azure-pipeline-ui.yaml

RM test classes
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

remove isActive in favor of displayStatus
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove gemeentelijk. Zie MIJN-12310
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change line
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

MIJN-12310-FEATURE-uitbreiding-statustrein-klachten-meldingen (#2295)
  mocks/fixtures/klachten.json
  mocks/routes/enableu-2-smile.js
  src/client/pages/Thema/Klachten/Klachten-render-config.tsx
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/Klachten.test.tsx
  src/client/pages/Thema/Klachten/KlachtenList.tsx
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.tsx
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
  src/server/services/smile/smile-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-12436-Bug - redacted fix (#2300)
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/Page/Page.tsx
  src/client/components/Search/Search.tsx
  src/client/components/Search/search-config.tsx
  src/client/components/Search/useSearch.test.tsx
  src/client/components/Search/useSearch.tsx
  src/client/helpers/cobrowse.test.tsx
  src/client/helpers/cobrowse.ts
  src/client/hooks/useNotifications.ts
  src/client/pages/BffError/BffError.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

Mijn-12280-bug - increase page size and add logging (#2298)
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/bezwaren/__snapshots__/bezwaren.test.ts.snap
  src/server/services/bezwaren/bezwaren-router.ts
  src/server/services/bezwaren/bezwaren-service-config.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
Due: azure-pipeline-bff.yaml

de nieuwe bestanden in deze branch toegevoegd/ tests gerunt
  src/client/config/buildFeatureToggle.ts
  src/client/config/featuretoggle.test.ts
  src/client/config/thema-types.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/server/config/source-api.ts
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/rtm/regeling-rtm.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

RM obsolete codes, change name
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Add env var
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Mijn-12376-Chore - pctegoed (#2302)
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml

Werk van de stagaires
  src/client/config/buildFeatureToggle.ts
  src/client/config/featuretoggle.test.ts
  src/client/config/thema-types.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/server/config/source-api.ts
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/rtm/regeling-rtm.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.test.ts
  src/server/services/hli/status-line-items/regeling-pcvergoeding.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

detail page happy flow
  .env.local.template
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/VvEDetail.tsx
  src/client/pages/Thema/Profile/private/useProfileData.hook.tsx
  src/client/pages/Thema/Profile/private/useVvEThemaData.hook.ts
  src/server/services/wonen/zwd-vve.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Post fixes
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bodem/BodemList.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIDetail.tsx
  src/client/pages/Thema/HLI/HLIList.tsx
  src/client/pages/Thema/HLI/HLISpecificatieList.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.test.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/helpers.test.ts
  src/client/pages/Thema/HLI/helpers.ts
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/content-tips/tips-content.ts
  src/server/services/hli/stadspas-config-and-content.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add scope
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Transform to regular function
  src/client/config/buildFeatureToggle.ts
Due: azure-pipeline-ui.yaml

locations
  src/server/services/wonen/zwd-vve.ts
Due: azure-pipeline-bff.yaml

Re-use env loading
  package.json
  pnpm-lock.yaml
  src/jobs/fetch-notifications-amsapp.ts
  src/server/app.ts
  src/server/helpers/env.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Also build jobs
  tsconfig.bff.json
Due: none

Add websjob script
  scripts/webjob-trigger-amsapp-notifications.sh
Due: none

Use node script
  scripts/webjob-trigger-amsapp-notifications.sh
Due: none

Copy webjob
  Dockerfile
  scripts/appservice-webjobs/triggered/amsapp-notifications-trigger/settings.job
  scripts/appservice-webjobs/triggered/amsapp-notifications-trigger/webjob-trigger-amsapp-notifications.sh
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Copy files after container deployed
  Dockerfile
  scripts/docker-entrypoint-bff.sh
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename
  scripts/webjobs/triggered/amsapp-notifications-trigger/settings.job
  scripts/webjobs/triggered/amsapp-notifications-trigger/webjob-trigger-amsapp-notifications.sh
Due: none

Install rsync
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-12075-feature - cronjob (#2299)
  Dockerfile
  package.json
  pnpm-lock.yaml
  scripts/docker-entrypoint-bff.sh
  scripts/webjobs/triggered/amsapp-notifications-trigger/settings.job
  scripts/webjobs/triggered/amsapp-notifications-trigger/webjob-trigger-amsapp-notifications.sh
  src/jobs/fetch-notifications-amsapp.ts
  src/server/app.ts
  src/server/helpers/env.ts
  src/server/routing/route-handlers.ts
  tsconfig.bff.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
