Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Boyscout ts fixes
  src/client/hooks/useAppState.ts
Due: azure-pipeline-ui.yaml

Implement deelbetalingen
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add max top of 2000
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Download PDF when searching…
  src/client/components/Search/Search.tsx
  src/client/components/Search/searchConfig.tsx
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change text
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Go through all available facturen
  src/client/components/Search/searchConfig.tsx
Due: azure-pipeline-ui.yaml

Add to search
  src/client/components/Search/search-config.json
  src/client/components/Search/searchConfig.tsx
  src/client/components/Search/useSearch.tsx
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add mock route, throw token error
  .env.local.template
  mocks/collections.json
  mocks/routes/afis.js
  src/client/pages/Afis/Afis.tsx
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix types
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Update snap
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Scroll top gedrag af laten hangen van pathstack
  src/client/hooks/usePageChange.test.tsx
  src/client/hooks/usePageChange.ts
Due: azure-pipeline-ui.yaml

Remove only
  src/client/hooks/usePageChange.test.tsx
Due: azure-pipeline-ui.yaml

Remove log call
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Change conditional
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

One-liner
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Add comment
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Remove casting
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Separate function
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Separate tests
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/afis/test-fixtures/openstaande-facturen.json
  src/setupTests.ts
Due: azure-pipeline-bff.yaml

Mijn-9433-Bug Mijn-9434-Bug - afis dingen (#1556)
  .env.local.template
  mocks/collections.json
  mocks/routes/afis.js
  src/client/components/Search/Search.tsx
  src/client/components/Search/search-config.json
  src/client/components/Search/searchConfig.tsx
  src/client/components/Search/useSearch.tsx
  src/client/hooks/useAppState.ts
  src/client/pages/Afis/Afis.tsx
  src/server/services/afis/afis-business-partner.test.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/afis/test-fixtures/openstaande-facturen.json
  src/server/services/db/db.ts
  src/server/services/db/postgres.ts
  src/server/services/visitors.ts
  src/setupTests.ts
  src/universal/config/feature-toggles.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add to search config
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Add to search config (#1558)
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Group dev deps
  .github/dependabot.yml
Due: none

Group dev deps (#1559)
  .github/dependabot.yml
Due: none

Add dependabot pattern
  .github/workflows/pr-title-check.yml
Due: none

Add dependabot pattern (#1562)
  .github/workflows/pr-title-check.yml
Due: none

Fix types, add markup for better layout
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/VergunningenV2/config.ts
Due: azure-pipeline-ui.yaml

Change heading
  src/client/pages/Parkeren/Parkeren.tsx
Due: azure-pipeline-ui.yaml

Change markup
  src/client/pages/Parkeren/Parkeren.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
Due: azure-pipeline-ui.yaml

Chores: Test, Add Historic items mention,
  src/client/App.tsx
  src/client/pages/HLI/HLI.module.scss
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/HLIRegelingen.tsx
  src/client/pages/HLI/__snapshots__/HLI.test.tsx.snap
  src/client/pages/HLI/__snapshots__/Stadspas.test.tsx.snap
  src/client/pages/Zorg/Zorg.module.scss
  src/client/pages/Zorg/Zorg.test.tsx
  src/client/pages/Zorg/Zorg.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
  src/client/pages/Zorg/ZorgV2.tsx
Due: azure-pipeline-ui.yaml

Change color
  src/client/pages/HLI/HLI.module.scss
  src/client/pages/Zorg/Zorg.module.scss
Due: azure-pipeline-ui.yaml

Enable HLI for prod
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add no-explicit-any for test files as well
  eslint.config.mjs
Due: none

Change typing
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/Zorg/Zorg.test.tsx
Due: azure-pipeline-ui.yaml

Add nullable for 3 props
  src/server/openapi-amsapp.yml
Due: azure-pipeline-bff.yaml

Add some tests (with help of CoPilot)
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Mijn-9328-Bug - change button margin (#1563)
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/VergunningenV2/config.ts
Due: azure-pipeline-ui.yaml

Mijn-9451-Feature-Chore - hli deploy zorgned disclaimer (#1564)
  eslint.config.mjs
  src/client/App.tsx
  src/client/pages/HLI/HLI.module.scss
  src/client/pages/HLI/HLI.test.tsx
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/HLIRegelingen.tsx
  src/client/pages/HLI/__snapshots__/HLI.test.tsx.snap
  src/client/pages/HLI/__snapshots__/Stadspas.test.tsx.snap
  src/client/pages/Zorg/Zorg.module.scss
  src/client/pages/Zorg/Zorg.test.tsx
  src/client/pages/Zorg/Zorg.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
  src/client/pages/Zorg/ZorgV2.tsx
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-9450-Bug - add null defaults (#1565)
  src/server/openapi-amsapp.yml
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
