Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Fix
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

Fix snap
  src/client/pages/Thema/Afis/useAfisFacturenApi.test.tsx
Due: azure-pipeline-ui.yaml

FEAT TOGGLE
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo-service-config.ts
Due: azure-pipeline-bff.yaml

PR comment
  src/client/pages/Thema/Erfpacht/DossierDetail/DatalistsFinancieel.tsx
Due: azure-pipeline-ui.yaml

MIJN-12591-BUG: Factuur status (#2377)
  src/client/pages/Thema/Afis/useAfisFacturenApi.test.tsx
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

ThemaConfigBase gemaakt en getest
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/AVG/AVG.test.tsx
  src/client/pages/Thema/AVG/AVGThema.tsx
  src/client/pages/Thema/AVG/InfoSection.tsx
  src/client/pages/Thema/AVG/useAVGData.hook.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/avg/avg.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12194-FEATURE: Cobrowse redacted tekst oranje omlijnen en melding tonen (#2363)
  src/client/App.tsx
  src/client/components/Alert/CobrowseScreenshareDisclaimer.tsx
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/components/MainFooter/CobrowseFooter/lib/cobrowse-widget.d.ts
  src/client/components/MainFooter/CobrowseFooter/lib/cobrowse-widget.js
  src/client/components/MyThemasPanel/MyThemasPanel.tsx
  src/client/components/Search/Search.tsx
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/helpers/cobrowse.ts
  src/client/hooks/api/useBffApi.test.ts
  src/client/hooks/api/useBffApi.ts
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

MIJN-12489-CHORE: Text improvement GBW disclaimer (#2375)
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo-service-config.ts
Due: azure-pipeline-bff.yaml

MIJN-12542-BUG: Change afkoop display (#2376)
  src/client/pages/Thema/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Thema/Erfpacht/DossierDetail/DatalistsFinancieel.test.tsx
  src/client/pages/Thema/Erfpacht/DossierDetail/DatalistsFinancieel.tsx
  src/client/pages/Thema/Erfpacht/DossierDetail/__snapshots__/DatalistsFinancieel.test.tsx.snap
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.module.scss
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/server/services/erfpacht/erfpacht-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Enable performance metrics
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

WithDetailPage ook toegevoegd en getest
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/AVG/AVGDetail.test.tsx
  src/client/pages/Thema/AVG/AVGDetail.tsx
  src/client/pages/Thema/AVG/useAVGDetailPage.hook.tsx
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

WithListPage toegevoegd en getest
  src/client/pages/Thema/AVG/AVG-render-config.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/AVG/AVGList.tsx
  src/client/pages/Thema/AVG/useAVGData.hook.tsx
  src/client/pages/Thema/AVG/useAVGListPage.hook.ts
Due: azure-pipeline-ui.yaml

Changed Dialog into custom BottomComponent
  src/client/components/LocationModal/LocationModal.module.scss
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

removed commented code
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

test update
  src/client/components/Modal/Modal.test.tsx
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

wip search
  src/client/components/ListPagePaginated/ListPagePaginated.module.scss
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisList.tsx
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

implement first featuretoggle
  package.json
  pnpm-lock.yaml
  src/server/app.ts
  src/server/config/azure-appconfiguration.ts
  src/server/services/hli/hli-service-config.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

rename env, add to template, mock featuremanager
  .env.local.template
  src/server/config/azure-appconfiguration.ts
Due: azure-pipeline-bff.yaml

Do not allow logging all http data in production
  src/server/app.ts
Due: azure-pipeline-bff.yaml

add terms to config and mock config
  mocks/collections.json
  mocks/routes/search-config.js
  src/client/components/Search/search-config.json
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add text, source: https://www.amsterdam.nl/parkeren/parkeerbon/parkeerbon-betalen/
  src/client/pages/Thema/Belastingen/InfoSection.tsx
Due: azure-pipeline-ui.yaml

Remove copy pasted
  mocks/routes/search-config.js
Due: none

suggestion: https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2381#discussion_r2782081281
  src/client/pages/Thema/Belastingen/InfoSection.tsx
Due: azure-pipeline-ui.yaml

transator for bagId + resolved some comments
  .env.local.template
  mocks/routes/zwd.js
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/VvEDetail.tsx
  src/client/pages/Thema/Profile/private/useVvEThemaData.hook.ts
  src/server/services/wonen/zwd-vve.test.ts
  src/server/services/wonen/zwd-vve.ts
  src/server/services/wonen/zwd-vve.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

wip: search works, order works. next: filter
  package.json
  pnpm-lock.yaml
  src/client/components/ListPagePaginated/ListPagePaginated.module.scss
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/Table/TableV2.module.scss
  src/client/components/Table/TableV2.tsx
  src/client/components/Table/TableV2.types.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

styling changes after comments
  src/client/components/ErrorMessages/ErrorMessages.module.scss
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainMenu/MainMenu.module.scss
  src/client/components/Search/Search.module.scss
  src/client/pages/Dashboard/Dashboard.module.scss
  src/client/pages/Thema/Profile/ProfileSectionPanel.module.scss
Due: azure-pipeline-ui.yaml

decided to use ADS dialog for desktop, custom for mobile
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

test update, conditional useeffect solved
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Add statement to readme about not logging http data in production
  readme.md
Due: none

themaConfig ID en Title ook getest
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/InfoSection.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

'profileTypes' | 'redactedScope' toegevoegd
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
Due: azure-pipeline-ui.yaml

pageLinks en getest
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

featureToggle ook getest tevens in search klachten aangapst
  src/client/components/Search/search-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/InfoSection.tsx
Due: azure-pipeline-ui.yaml

route en uitlegPageSections opgevoerd en getest
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/Bezwaren.test.tsx
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/InfoSection.tsx
Due: azure-pipeline-ui.yaml

WithDetailPage toegevoegd en getest
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/BezwarenDetail.test.tsx
  src/client/pages/Thema/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenDetailData.hook.ts
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

listPage toegevoegd en getest
  src/client/pages/Thema/Bezwaren/Bezwaren-render-config.tsx
  src/client/pages/Thema/Bezwaren/Bezwaren-thema-config.ts
  src/client/pages/Thema/Bezwaren/BezwarenDetail.tsx
  src/client/pages/Thema/Bezwaren/BezwarenList.tsx
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/useBezwarenDetailData.hook.ts
  src/client/pages/Thema/Bezwaren/useBezwarenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

Meerdere opmerkingen verwerkt
  src/client/components/Search/search-config.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/AVG/AVGDetail.test.tsx
  src/client/pages/Thema/AVG/AVGList.tsx
  src/client/pages/Thema/AVG/useAVGDetailPage.hook.tsx
  src/client/pages/Thema/AVG/useAVGListPage.hook.ts
Due: azure-pipeline-ui.yaml

MIJN-12595-BUG: Http log (#2380)
  readme.md
  src/server/app.ts
Due: azure-pipeline-bff.yaml

MIJN-12535-FEATURE: Parkeerbon naheffing toevoegen aan search (#2381)
  mocks/collections.json
  mocks/routes/search-config.js
  src/client/components/Search/search-config.json
  src/client/pages/Thema/Belastingen/InfoSection.tsx
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
