Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add jsdoc comment
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add explanation of priority
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename notification priority to sortPriority to clarify intent
  src/server/services/afis/afis-notifications.ts
  src/server/services/brp/brp-notifications.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/tips-and-notifications.test.ts
  src/server/services/tips-and-notifications.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use sortPriority in tests
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/tips-and-notifications.test.ts
Due: azure-pipeline-bff.yaml

Overwerite custom dimension 25
  src/client/App.tsx
Due: azure-pipeline-ui.yaml

MIJN-12971-BUG: Notifications datepublished should not be today (#2553)
  src/client/pages/Thema/Profile/private/AdresInOnderzoek.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.tsx
  src/server/routing/app-router-admin.test.ts
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-notifications.ts
  src/server/services/amsapp/notifications/amsapp-notifications.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/brp/brp-notifications.ts
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/patroon-c/belasting.ts
  src/server/services/tips-and-notifications.test.ts
  src/server/services/tips-and-notifications.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add tests
  src/client/pages/Thema/Afis/AfisEmandateFactuurReference.test.tsx
Due: azure-pipeline-ui.yaml

wip: ical
  src/client/pages/Thema/Contact/MijnContactThema.tsx
Due: azure-pipeline-ui.yaml

Add condition
  src/server/services/afis/afis-service-config.ts
Due: azure-pipeline-bff.yaml

wmo stopzet url gewijzigd
  src/server/services/jzd/jzd-voorzieningen-api-config.ts
Due: azure-pipeline-bff.yaml

dupe function to prevent import from module that errors because of missing env
  scripts/generate-user-data-overview.ts
Due: none

fix type error, because design system is not exporting a type...
  src/client/components/Card/Card.tsx
  src/client/pages/Thema/Contact/MijnContactThema.tsx
Due: azure-pipeline-ui.yaml

Remove log call
  src/client/components/Table/TableV2.tsx
Due: azure-pipeline-ui.yaml

keep
  scripts/generate-user-data-overview.ts
Due: none

Refine ;-)
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml

Remove commented line
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
Due: azure-pipeline-ui.yaml

Use var
  src/client/pages/Thema/Afis/AfisEMandateDetail.module.scss
Due: azure-pipeline-ui.yaml

Remove comment
  src/client/pages/Thema/Afis/AfisEMandateDetail.test.tsx
Due: azure-pipeline-ui.yaml

Change order
  src/client/pages/Thema/Afis/AfisEMandateDetail.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-12991-CHORE: Dead links onderzoeken vervangen alg meldingen en beheer (#2558)
  src/server/services/jzd/jzd-voorzieningen-api-config.ts
Due: azure-pipeline-bff.yaml

MIJN-13002-BUG: Generate user data overview error (#2559)
  scripts/generate-user-data-overview.ts
Due: none

Update mocks/routes/salesforce.cjs
  mocks/routes/salesforce.cjs
Due: none

Update mocks/collections.json
  mocks/collections.json
Due: none

rename back to contactmomenten
  src/client/AppState.ts
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Thema/Contact/Contact-thema-config.ts
  src/client/pages/Thema/Contact/MijnContactThema.test.tsx
  src/client/pages/Thema/Contact/MijnContactThema.tsx
  src/client/pages/Thema/Contact/useContactmomentenListData.hook.tsx
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/server/services/controller.ts
  src/server/services/salesforce/contactmomenten.test.ts
  src/server/services/salesforce/contactmomenten.ts
  src/server/services/salesforce/contactmomenten.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

rename appointments -> afspraken
  src/client/AppState.ts
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Thema/Contact/AppointmentQRCodePage.tsx
  src/client/pages/Thema/Contact/Contact-render-config.ts
  src/client/pages/Thema/Contact/Contact-thema-config.ts
  src/client/pages/Thema/Contact/MijnContactThema.test.tsx
  src/client/pages/Thema/Contact/MijnContactThema.tsx
  src/server/config/feature-toggles.ts
  src/server/services/salesforce/contactmomenten.test.ts
  src/server/services/salesforce/contactmomenten.ts
  src/server/services/salesforce/contactmomenten.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

file renames
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Thema/Contact/Contact-render-config.ts
  src/client/pages/Thema/Contact/Contact-thema-config.ts
  src/client/pages/Thema/Contact/KlantContactThema.test.tsx
  src/client/pages/Thema/Contact/KlantContactThema.tsx
  src/client/pages/Thema/Contact/useContactmomentenListData.hook.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/server/services/controller.ts
  src/server/services/salesforce/klantcontact.test.ts
  src/server/services/salesforce/klantcontact.ts
  src/server/services/salesforce/klantcontact.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

rename detailpage
  src/client/pages/Thema/Contact/AppointmentQRCodePage.tsx
  src/client/pages/Thema/Contact/Contact-render-config.ts
  src/client/pages/Thema/Contact/Contact-thema-config.ts
  src/client/pages/Thema/Contact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

rename components and card
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/pages/Thema/Contact/AfspraakQRCodeDetailPage.module.scss
  src/client/pages/Thema/Contact/AfspraakQRCodeDetailPage.tsx
  src/client/pages/Thema/Contact/Contact-render-config.ts
  src/client/pages/Thema/Contact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

factor out calendarlink and afsprakenlist data
  src/client/components/CalendarLink/CalendarLink.tsx
  src/client/pages/Thema/Contact/Contact-thema-config.ts
  src/client/pages/Thema/Contact/KlantContactThema.tsx
  src/client/pages/Thema/Contact/useAfsprakenListData.hook.tsx
Due: azure-pipeline-ui.yaml

rename Contact folder
  src/client/App.routes.tsx
  src/client/config/thema.ts
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.module.scss
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.tsx
  src/client/pages/Thema/KlantContact/ContactmomentenListPage.tsx
  src/client/pages/Thema/KlantContact/KlantContact-render-config.ts
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
  src/client/pages/Thema/KlantContact/KlantContactThema.test.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
  src/client/pages/Thema/KlantContact/useAfsprakenListData.hook.tsx
  src/client/pages/Thema/KlantContact/useContactmomentenListData.hook.tsx
  src/client/pages/Thema/KlantContact/useKlantcontactData.hook.tsx
Due: azure-pipeline-ui.yaml

meldingen twee verscillende urls'eerste opzet
  src/server/services/vergunningen/vergunningen-notifications-config.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

Nu ook de tekst in de constante opgenomen
  src/server/services/vergunningen/vergunningen-notifications-config.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
Due: azure-pipeline-bff.yaml

use iso dates, and padstart
  src/client/pages/Thema/KlantContact/useAfsprakenListData.hook.tsx
  src/server/services/salesforce/klantcontact.test.ts
  src/server/services/salesforce/klantcontact.ts
  src/server/services/salesforce/klantcontact.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add some data in frontend afspraken
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.tsx
  src/client/pages/Thema/KlantContact/useAfsprakenListData.hook.tsx
Due: azure-pipeline-ui.yaml

and the forgotten place
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.tsx
  src/client/pages/Thema/KlantContact/useAfsprakenListData.hook.tsx
Due: azure-pipeline-ui.yaml

remove fragment
  src/client/pages/Thema/KlantContact/AfspraakQRCodeDetailPage.tsx
Due: azure-pipeline-ui.yaml

Poging tot statustrein tekst aanpassen
  src/server/services/vergunningen/decos-status-steps.ts
Due: azure-pipeline-bff.yaml

seperate logic: move to afspraak card and listdata
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
  src/client/pages/Thema/KlantContact/useAfsprakenListData.hook.tsx
Due: azure-pipeline-ui.yaml
