Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Reuse hook
  src/client/apps/admin/Pages/Account/Account.tsx
Due: azure-pipeline-ui.yaml

Enable account
  src/client/apps/admin/App.tsx
Due: azure-pipeline-ui.yaml

Add bff services and routers
  db-migrations/0003_sudden_magneto.sql
  db-migrations/0004_bent_martin_li.sql
  db-migrations/0005_rare_stepford_cuckoos.sql
  db-migrations/0006_powerful_forge.sql
  db-migrations/0007_gray_cammi.sql
  db-migrations/0008_mighty_master_mold.sql
  db-migrations/meta/0003_snapshot.json
  db-migrations/meta/0004_snapshot.json
  db-migrations/meta/0005_snapshot.json
  db-migrations/meta/0006_snapshot.json
  db-migrations/meta/0007_snapshot.json
  db-migrations/meta/0008_snapshot.json
  db-migrations/meta/_journal.json
  src/server/config/feature-toggles.ts
  src/server/routing/route-helpers.ts
  src/server/services/admin/admin-account.model.ts
  src/server/services/admin/admin-account.route-handlers.test.ts
  src/server/services/admin/admin-account.route-handlers.ts
  src/server/services/admin/admin-account.types.ts
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/admin/admin-service-config.ts
  src/server/services/db/schema/admin-accounts.ts
  src/server/services/db/schema/user-feedback-meta.ts
  src/server/services/user-feedback/jira/user-feedback-jira.helpers.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
  src/server/services/user-feedback/jira/user-feedback-jira.types.ts
  src/server/services/user-feedback/user-feedback-handoff.ts
  src/server/services/user-feedback/user-feedback-meta.helpers.ts
  src/server/services/user-feedback/user-feedback-meta.model.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.router.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml

Add env
  .env.local.template
Due: none

Add extra check for disabling authentication middleware
  src/server/services/admin/admin-router.ts
Due: azure-pipeline-bff.yaml

Finalize feature
  .env.local.template
  src/client/apps/admin/Pages/Account/Account.tsx
  src/client/apps/admin/Pages/UserFeedback/TicketControls.module.scss
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/client/hooks/useScript.ts
  src/server/routing/route-handlers.ts
  src/server/services/admin/admin-account.route-handlers.ts
  src/server/services/admin/admin-helpers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/user-feedback/user-feedback-handoff.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.router.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add mokum
  src/client/components/UserFeedback/InlineKTO.tsx
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/components/Thema/ThemaPagina.tsx
  src/server/services/admin/admin-account.route-handlers.test.ts
  src/server/services/admin/admin-route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add debounce
  src/client/apps/admin/Pages/Account/Account.tsx
Due: azure-pipeline-ui.yaml

Encrypt the api token
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/admin/admin-account.model.ts
  src/server/services/admin/admin-account.types.ts
Due: azure-pipeline-bff.yaml

Remove redundant error handling
  src/server/services/user-feedback/jira/user-feedback-jira.helpers.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
Due: azure-pipeline-bff.yaml

Update feature toggles
  src/server/config/feature-toggles.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
Due: azure-pipeline-bff.yaml

Fix feature toggle for jira user feedbackj
  src/server/config/feature-toggles.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
Due: azure-pipeline-bff.yaml

Improve test data
  src/mocks-server/routes/amsapp-survey.ts
Due: none

Fix spelling
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
Due: azure-pipeline-bff.yaml

Fix redirect after login
  src/server/services/admin/admin-auth.ts
  src/server/services/admin/admin-helpers.test.ts
  src/server/services/admin/admin-helpers.ts
Due: azure-pipeline-bff.yaml

Refactor table to use Dataview component instead
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
Due: azure-pipeline-ui.yaml

Add nginx rule
  conf/nginx-server-default.template.conf
Due: none

Make sure data shows up in the right columns
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.helpers.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/server/services/user-feedback/user-feedback.route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Improve UX of ticketControls
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
Due: azure-pipeline-ui.yaml

Fix closing tag
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
Due: azure-pipeline-ui.yaml

Re-add button change
  src/client/apps/admin/Pages/UserFeedback/TicketControls.tsx
Due: azure-pipeline-ui.yaml

Re-add missing type
  src/server/services/admin/admin-types.ts
Due: azure-pipeline-bff.yaml

MIJN-13694-CHORE: Update vitest (#2805)
  package.json
  pnpm-lock.yaml
  src/client/apps/bob/pages/Thema/Afis/useAfisEMandatesSignRequest.test.tsx
  src/server/helpers/source-api-debug.test.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-router.test.ts
  src/server/services/jzd/jzd-router.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13595-BUG: Invalidate stadspas caches after block (#2797)
  src/server/helpers/source-api-helpers.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

PR Feedback
  src/client/apps/admin/Pages/Account/Account-render-config.tsx
  src/client/apps/admin/Pages/Account/Account.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback-render-config.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.helpers.tsx
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.module.scss
  src/client/apps/admin/Pages/UserFeedback/UserFeedback.tsx
  src/server/services/admin/admin-account.types.ts
  src/server/services/admin/admin-router.ts
  src/server/services/user-feedback/jira/user-feedback-jira.service-config.ts
  src/server/services/user-feedback/jira/user-feedback-jira.ts
  src/universal/types/thema-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update node minimal version to 22.12 for concurrently
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update erfpacht thema and substatus texts
  src/client/apps/bob/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix merge conflicts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
