Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

krefia aan general toegevoegd
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

use correct command
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12560-CHORE: Overtredingen voertuigen thema config omzetten adhv hli bodem alg techniek (#2413)
  scripts/generate-user-data-overview.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Overtredingen/InfoSection.tsx
  src/client/pages/Thema/Overtredingen/Overtredingen-render-config.tsx
  src/client/pages/Thema/Overtredingen/Overtredingen-thema-config.ts
  src/server/services/patroon-c/cleopatra.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use range helper
  src/server/services/user-feedback/user-feedback.route-handlers.ts
Due: azure-pipeline-bff.yaml

Omit consumer ids
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-types.ts
Due: azure-pipeline-bff.yaml

een afisSectionProps verwijderd
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

themaId en themaTitlle verwijderd
  scripts/generate-user-data-overview.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-12634-FEATURE: Kto pagination (#2416)
  mocks/collections.json
  mocks/routes/amsapp-survey.js
  src/server/services/user-feedback/user-feedback.route-handlers.test.ts
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
  src/server/views/user-feedback-overview.pug
Due: azure-pipeline-bff.yaml

MIJN-12628-CHORE: Amsap notifications service update (#2415)
  src/server/openapi-amsapp-notificaties.yml
  src/server/routing/router-oidc.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/notifications/amsapp-notifications-router.ts
  src/server/services/amsapp/notifications/amsapp-notifications-service-config.ts
  src/server/services/amsapp/notifications/amsapp-notifications-types.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

RM prop
  src/server/openapi-amsapp-notificaties.yml
Due: azure-pipeline-bff.yaml

test draait
  src/server/services/vergunningen/vergunningen-notifications.test.ts
Due: azure-pipeline-bff.yaml

Refine spec a bit
  src/server/openapi-amsapp-notificaties.yml
Due: azure-pipeline-bff.yaml

themId en themaTitle in themaConfig verwerkt, maar krijg fout bij test
  scripts/generate-user-data-overview.ts
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

featuretoggle en route toegevoegd aan themaConfig
  src/client/pages/Thema/Vergunningen/InfoSection.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-render-config.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenThema.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenThemaData.hook.ts
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
Due: azure-pipeline-ui.yaml

nogeen foutj bij route opgelost
  src/client/pages/ZaakStatus/ZaakStatus.tsx
Due: azure-pipeline-ui.yaml

pageLinks toegevoegd aan themaConfig
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenThema.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

MIJN-12614-Bug - Disable caching for user feedback response
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

MIJN-12628-CHORE: RM prop (#2417)
  src/server/openapi-amsapp-notificaties.yml
Due: azure-pipeline-bff.yaml

themaConfi de Base afgerond
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Vergunningen/InfoSection.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

listPage toegevoegd aan themaConfig
  src/client/pages/Thema/Vergunningen/InfoSection.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-render-config.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

detailpgae oegevoegd aan themaConfig
  src/client/pages/Thema/Vergunningen/Vergunningen-render-config.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12614-BUG: Disable caching for user feedback response (#2421)
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

volgorde aangepast
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

fix startup inside build
  src/server/app.ts
Due: azure-pipeline-bff.yaml

add a start in the docker compose file
  compose.yaml
  src/server/app-start.ts
Due: azure-pipeline-bff.yaml

remove amsapp routes from bad merge
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

add to global
  src/index.tsx
  src/mijnamsterdam.d.ts
  src/server/config/azure-appconfiguration.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Center on page
  src/client/components/UserFeedback/UserFeedback.module.scss
Due: azure-pipeline-ui.yaml

MIJN-11931-Chore - remove usabilla
  src/client/App.tsx
  src/client/config/staticData.tsx
  src/client/hooks/useUsabilla.ts
  src/client/pages/ApplicationError/ApplicationError.tsx
Due: azure-pipeline-ui.yaml

werkt nog niet goed
  scripts/generate-user-data-overview.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/MyNotifications/MyNotifications.test.tsx
  src/client/pages/Thema/Parkeren/InfoSection.tsx
  src/client/pages/Thema/Parkeren/Parkeren-render-config.tsx
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
  src/client/pages/Thema/Parkeren/Parkeren.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenDetail.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenDetail.tsx
  src/client/pages/Thema/Parkeren/ParkerenList.test.tsx
  src/client/pages/Thema/Parkeren/ParkerenList.tsx
  src/client/pages/Thema/Parkeren/ParkerenThema.tsx
  src/client/pages/Thema/Parkeren/useParkerenData.hook.tsx
  src/client/pages/Thema/Profile/private/Contactmomenten.config.ts
  src/client/pages/Thema/Vergunningen/VergunningenThema.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/parkeren/parkeren-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12600-BUG: Mijn 11936 Feature release KTO (#2423)
  src/client/App.tsx
  src/client/components/UserFeedback/UserFeedback.module.scss
  src/client/config/staticData.tsx
  src/client/hooks/useUsabilla.ts
  src/client/pages/ApplicationError/ApplicationError.tsx
Due: azure-pipeline-ui.yaml

split globalThis declarations in own file to fix typeerror
  src/bffserver.ts
  src/mijnamsterdam.d.ts
  tsconfig.bff.json
Due: none

and commit the file...
  src/global.d.ts
Due: none

themaConfig toegevoegd
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
Due: azure-pipeline-ui.yaml

MIJN-12936-Feature - Add config / fix feature toggle
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml

MIJN-11931-FEATURE: Add config / fix feature toggle (#2424)
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml

Disable cache
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

MIJN-11931-BUG: Disable cache (#2425)
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

Disable cache for overview
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
