Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Add query param
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

een en ander aangepast en zie vakantieverhuur nu ook verschijnen
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
Due: azure-pipeline-bff.yaml

Test gedraaid en aangepast
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
Due: azure-pipeline-ui.yaml

Nog een kleine TO DO, maar kan wel al gereviewed worden
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

Nog een voorwaarde voor de pagelinks opgenomen
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

Make more robust
  scripts/generate-user-data-overview.ts
Due: none

MIJN-12485-Bug - Add query param (#2346)
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

de ene pagelink variabele eruit gehaald, dan geen error
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2345#discussion_r2713140238
  src/client/components/Search/search-config.tsx
Due: azure-pipeline-ui.yaml

fix isActive, does not have featuretoggle
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-render-config.tsx
Due: azure-pipeline-ui.yaml

use config to easily add new items
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

fix spelling
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

add docstring
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

search en general kleine letter toeristen toegpeat en comment uit types
  src/client/components/Search/search-config.tsx
  src/client/config/thema-types.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
Due: azure-pipeline-ui.yaml

rename and reType
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

waarde aangepast en T > t gweijzigd
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
Due: azure-pipeline-ui.yaml

linkListItems aangepast
  src/client/pages/Thema/ToeristischeVerhuur/useToeristischeVerhuur.hook.ts
Due: azure-pipeline-ui.yaml

Featuretoggle getest en comments weggehaald
  src/client/pages/Thema/ToeristischeVerhuur/ToeristischeVerhuur-thema-config.ts
Due: azure-pipeline-ui.yaml

themaConfig id en title
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

themaConfig Featuretoggle
  src/client/pages/Thema/Zorg/InfoSection.tsx
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

Featuretoggle gefixed
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

refactor and add test
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

nog meer fix featuretoggle
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
Due: azure-pipeline-ui.yaml

redactedScope en profiletypes in themaConfig opgenomen
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

UItlegpagina toegevoegd aan themaConfig
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Zorg/InfoSection.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

route in themaconfig geplaatst
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/useZorgThemaData.ts
Due: azure-pipeline-ui.yaml

route even gefixed
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
Due: azure-pipeline-ui.yaml

thema opgelost
  src/client/pages/Thema/Zorg/ZorgThema.tsx
Due: azure-pipeline-ui.yaml

remove unused fortesting export
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

remove double type annotations
  src/server/services/wmo/status-line-items/wmo-hulpmiddelen.ts
Due: azure-pipeline-bff.yaml

listpage toegevoegd
  src/client/pages/Thema/Zorg/Zorg-render-config.tsx
  src/client/pages/Thema/Zorg/Zorg-thema-config.ts
  src/client/pages/Thema/Zorg/ZorgList.tsx
Due: azure-pipeline-ui.yaml

tip contect T naar t
  src/server/services/content-tips/tips-content.ts
Due: azure-pipeline-bff.yaml

MIJN-12227-BUG-export-test-data-excel-pipeline-crashes (#2347)
  scripts/generate-user-data-overview.ts
  src/server/auth/auth-helpers-development.ts
  src/server/routing/router-development.ts
  tsconfig.bff.json
Due: azure-pipeline-bff.yaml

Update error messages
  src/server/routing/route-handlers.ts
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Omit id
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml

Change key implementation
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml

Fix test
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml

Rm obsolete env key
  .env.local.template
  src/server/routing/route-handlers.test.ts
Due: azure-pipeline-bff.yaml

Add debugmessage
  src/server/routing/route-handlers.ts
  src/server/routing/route-helpers.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
