Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Change name
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Move to date helpers
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/hli/hli.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/varen/varen.ts
  src/universal/helpers/date.ts
  src/universal/helpers/utils.test.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Revert "Remove replacing functionality"
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Various fixes of implementation details
  src/client/App.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

kleine naam wijziging
  src/client/config/buildFeatureToggle.ts
  src/client/config/featuretoggle.test.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Add last comments and simplify activeVergunningCasetypes for pb and decos
  src/server/services/vergunningen/pb-zaken.ts
  src/server/services/vergunningen/vergunningen.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Update text
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
Due: azure-pipeline-ui.yaml

Rename npm script job with prefix bff-api
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Add margins
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
Due: azure-pipeline-ui.yaml

Remove filtering
  src/server/services/bezwaren/bezwaren-route-handlers.ts
  src/server/services/bezwaren/bezwaren-service-config.ts
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Remove unused codein vergunningen config-and-types
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Mijn-12373-Chore - Mijn-12370-Chore - pom env and error handling (#2288)
  src/client/App.tsx
  src/client/hooks/useDeeplink.hook.ts
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.test.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/client/pages/Thema/Varen/VarenThema.tsx
  src/server/config/source-api.ts
  src/server/routing/router-private.ts
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
  src/server/services/decos/decos-service.ts
  src/server/services/hli/hli.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/varen/varen.ts
  src/universal/helpers/date.ts
  src/universal/helpers/utils.test.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add error handling
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml

Verify wmo and afis router on specific role
  src/server/routing/router-private.ts
Due: azure-pipeline-bff.yaml

Centralize OAUTH roles in auth to clarify oauth roles used in the application
  src/server/auth/auth-config.ts
  src/server/routing/router-private.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Restore
  src/client/config/staticData.tsx
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Update snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update page
  src/client/pages/Burgerzaken/Burgerzaken.tsx
Due: azure-pipeline-ui.yaml

Only enable OAuthVerificationHandler middleware in TAP with conditional middleware helper
  src/server/helpers/middleware.ts
  src/server/routing/router-private.ts
Due: azure-pipeline-bff.yaml

With eslint working
  src/server/helpers/middleware.ts
  src/server/routing/router-private.ts
Due: azure-pipeline-bff.yaml

Group related condition
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Change code a bit
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

RM
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
Due: azure-pipeline-ui.yaml

delete file
  src/client/config/practiceRecursive.ts
  src/server/services/hli/hli.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-12430-feature use specific oauth role and add error logging (#2296)
  src/server/auth/auth-config.ts
  src/server/helpers/middleware.ts
  src/server/routing/route-handlers.ts
  src/server/routing/router-private.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

include missing date
  src/server/services/klachten/klachten.test.ts
Due: azure-pipeline-bff.yaml

remove last snapshot from test
  src/client/pages/Thema/Klachten/Klachten.test.tsx
Due: azure-pipeline-ui.yaml

wip: Split up tables
  mocks/fixtures/klachten.json
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Sort render route config
  src/client/pages/Thema/Klachten/Klachten-render-config.tsx
Due: azure-pipeline-ui.yaml

improve name of test
  src/server/services/klachten/klachten.test.ts
Due: azure-pipeline-bff.yaml

Add tests for thema page
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/Klachten.test.tsx
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
Due: azure-pipeline-ui.yaml

change text according to business feedback. Other texts have been approved
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml

refactor tests, add statustrein and notification tests
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
Due: azure-pipeline-bff.yaml

mock server pagination fix, finalize tableconfig
  mocks/routes/enableu-2-smile.js
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/KlachtenList.tsx
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/client/pages/Thema/Klachten/useKlachtenThemaData.hook.ts
  src/server/services/klachten/types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Implemented minimal statustrein for detailpage
  mocks/fixtures/klachten.json
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
  src/server/services/smile/smile-types.ts
Due: azure-pipeline-bff.yaml
