Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Select everything
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Migrate Verguninngen P1
  src/client/pages/Parkeren/detail-page-content/EigenParkeerplaats.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/Location.tsx
  src/client/pages/Vergunningen/detail-page-content/Nachtwerkontheffing.tsx
  src/client/pages/Vergunningen/detail-page-content/Omzettingsvergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvHeleStad.tsx
  src/client/pages/Vergunningen/detail-page-content/RvvSloterweg.tsx
  src/client/pages/Vergunningen/detail-page-content/StatusLineItems.tsx
  src/client/pages/Vergunningen/detail-page-content/TVMRVVObject.tsx
  src/client/pages/Vergunningen/detail-page-content/VOB.tsx
  src/client/pages/Vergunningen/detail-page-content/Woonvergunningen.tsx
  src/client/pages/Vergunningen/detail-page-content/ZwaarVerkeer.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunning-rvv-sloterweg.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix Some sass warnings
  src/client/AppState.ts
  src/client/pages/Dashboard/WelcomeHeading.module.scss
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/styles/_z-index.scss
Due: azure-pipeline-ui.yaml

Remove SectionCollapsible component
  src/client/components/SectionCollapsible/SectionCollapsible.module.scss
  src/client/components/SectionCollapsible/SectionCollapsible.test.tsx
  src/client/components/SectionCollapsible/SectionCollapsible.tsx
  src/client/components/index.ts
Due: azure-pipeline-ui.yaml

Add vergunningen transformers
  src/client/pages/Vergunningen/detail-page-content/AanbiedenDiensten.tsx
  src/client/pages/Vergunningen/detail-page-content/ERVV.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementMelding.tsx
  src/client/pages/Vergunningen/detail-page-content/EvenementVergunning.tsx
  src/client/pages/Vergunningen/detail-page-content/Flyeren.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
Due: azure-pipeline-ui.yaml

Add some more props
  src/server/services/decos/decos-field-transformers.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add selectFields prop
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Add some checks
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add sequential fetching
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Fix some typing
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/vergunning-rvv-sloterweg.ts
Due: azure-pipeline-bff.yaml

Fix styles
  mocks/fixtures/wpi-specificaties.json
  src/client/pages/Inkomen/InkomenSpecificaties.module.scss
  src/client/pages/Inkomen/InkomenSpecificaties.tsx
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Inkomen/useInkomenThemaData.hook.ts
  src/server/services/wpi/api-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add some mock data
  mocks/fixtures/wpi-specificaties.json
Due: none

Go back
  src/client/components/PageHeading/PageHeadingV2.tsx
Due: azure-pipeline-ui.yaml

Change import
  src/client/App.tsx
  src/client/pages/BffError/BffError.tsx
Due: azure-pipeline-ui.yaml

Style a bit
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/ProfileName.tsx
  src/client/pages/Dashboard/WelcomeHeading.module.scss
  src/client/pages/Varen/Varen.tsx
Due: azure-pipeline-ui.yaml

Upate route
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

Chane import style
  src/client/App.tsx
  src/client/components/MainHeaderHero/MainHeaderHero.tsx
  src/client/components/MyArea/MyAreaLoader.tsx
  src/client/pages/Accessibility/Accessibility.tsx
  src/client/pages/BffError/BffError.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtDossierDetail.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/HLIRegeling.tsx
  src/client/pages/HLI/HLIRegelingen.tsx
  src/client/pages/HLI/HLIStadspas.tsx
  src/client/pages/Landing/Landing.tsx
  src/client/pages/NotFound/NotFound.tsx
  src/client/pages/Search/Search.tsx
  src/client/pages/Vergunningen/detail-page-content/fields-config.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/client/pages/Zorg/Zorg.tsx
  src/client/pages/Zorg/ZorgRegelingen.tsx
  src/client/pages/ZorgDetail/ZorgDetail.tsx
Due: azure-pipeline-ui.yaml

Remove components
  src/client/components/MainHeader/SecondaryLinks.module.scss
  src/client/components/MainHeader/SecondaryLinks.tsx
Due: azure-pipeline-ui.yaml

Fix footer styling
  src/client/components/MainFooter/MainFooter.module.scss
Due: azure-pipeline-ui.yaml

Add vergunnng
  mocks/fixtures/decos-vergunningen-zaken-response.json
Due: none

Post merge fixes
  src/client/pages/HLI/HLIStadspas.tsx
  src/client/pages/Parkeren/Parkeren.module.scss
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen.module.scss
  src/client/pages/Vergunningen/Vergunningen.tsx
Due: azure-pipeline-ui.yaml

Remove list
  src/server/services/horeca/config-and-types.ts
Due: azure-pipeline-bff.yaml

Change width for large screens
  src/client/pages/AVG/AVG.tsx
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Bezwaren/Bezwaren.tsx
  src/client/pages/Bodem/Bodem.tsx
  src/client/pages/Burgerzaken/Burgerzaken.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/HLI/HLI.tsx
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Inkomen/Inkomen.tsx
  src/client/pages/Klachten/Klachten.tsx
  src/client/pages/Krefia/Krefia.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Profile/commercial/ProfileCommercial.tsx
  src/client/pages/Profile/private/ProfilePrivate.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/Varen/Varen.tsx
  src/client/pages/Vergunningen/Vergunningen.tsx
  src/client/pages/Zorg/Zorg.tsx
Due: azure-pipeline-ui.yaml

Move linkListItems
  src/client/pages/HLI/HLI-thema-config.ts
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

Polishing, focus trap, doc title functions
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/CollapsiblePanel/CollapsiblePanel.tsx
  src/client/components/LinkToListPage/LinkToListPage.tsx
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.tsx
  src/client/components/MyArea/MyArea.tsx
  src/client/components/MyArea/MyAreaLoader.tsx
  src/client/components/MyNotification/MyNotification.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Table/TableV2.tsx
  src/client/config/thema.ts
  src/client/pages/AVG/AVG-thema-config.ts
  src/client/pages/AVG/useAVGData.hook.tsx
  src/client/pages/Afis/Afis-thema-config.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Bezwaren/Bezwaren-thema-config.tsx
  src/client/pages/Bezwaren/useBezwarenThemaData.hook.ts
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Klachten/useKlachtenThemaData.hook.ts
  src/client/pages/Profile/private/ContactMomenten.tsx
  src/client/pages/Profile/private/VertrokkenOnbekendWaarheen.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/server/services/avg/avg-status-line-items.ts
  src/server/services/avg/avg.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename type
  src/client/pages/Horeca/Horeca.tsx
  src/client/pages/Horeca/HorecaDetail.test.tsx
  src/client/pages/Horeca/HorecaDetail.tsx
  src/client/pages/Horeca/useHorecaThemaData.hook.ts
  src/server/services/horeca/config-and-types.ts
  src/server/services/horeca/horeca.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Align statussteps
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.module.scss
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Vergunningen/Vergunningen.module.scss
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use different polling selector
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/MyArea/Map/Zoom.tsx
  src/client/components/MyArea/MyArea.tsx
Due: azure-pipeline-ui.yaml

Add polling timeout as prop
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Allow different type
  mocks/routes/powerbrowser.js
Due: none

Add margin
  src/client/components/MaintenanceNotifications/MaintenanceNotifications.tsx
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Rename type
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuurDetail.test.tsx
  src/server/services/toeristische-verhuur/toeristische-verhuur-config-and-types.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove type
  src/client/components/Alert/Alert.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/LoadingContent/LoadingContent.tsx
  src/client/components/Modal/Modal.tsx
  src/client/components/Page/Page.tsx
  src/client/components/PageHeading/PageHeadingV2.tsx
  src/client/components/Panel/Panel.tsx
  src/client/components/StatusLine/StatusLine.tsx
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Generalize status steps for (decos) vergunningen
  src/server/services/parkeren/config-and-types.ts
  src/server/services/parkeren/parkeren-decos-service.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-vakantieverhuur-vergunning.ts
  src/server/services/vergunningen/vergunningen-status-steps.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml

Generate url with encrypted id
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Add session id to documents url
  src/server/helpers/encrypt-decrypt.ts
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/server/services/decos/decos-service.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Remove portal
  index.html
  src/client/components/Modal/Modal.tsx
Due: azure-pipeline-ui.yaml

Respond with error if no test accounts are present
  src/server/routing/router-development.ts
Due: azure-pipeline-bff.yaml

Add some safety
  src/server/routing/router-protected.ts
  src/server/services/decos/decos-route-handlers.ts
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
