Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Remove stadsdeelaanvulling (#1499)
  src/client/pages/GarbageInformation/GarbageInformation.test.tsx
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-9178-FEATURE/open-app-pagina-stadspas-api-voor-app-team (#1501)
  .env.local.template
  public/css/amsapp-landing.css
  public/fonts/AmsterdamSans/AmsterdamSans-Regular.woff
  public/fonts/AmsterdamSans/AmsterdamSans-Regular.woff2
  public/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff
  public/fonts/AmsterdamSansBold/AmsterdamSans-Bold.woff2
  public/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff
  public/fonts/AmsterdamSansExtraBold/AmsterdamSans-ExtraBold.woff2
  public/img/logo-amsterdam.svg
  src/client/styles/fonts.scss
  src/server/app.ts
  src/server/routing/router-stadspas-external-consumer.test.ts
  src/server/routing/router-stadspas-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
  src/setupTests.ts
  src/test-utils.ts
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Enable aquascan
  azure-pipelines.yaml
Due: none

Enable aquascan (#1502)
  azure-pipelines.yaml
Due: none

Parkeren and parkerenlist
  src/client/App.tsx
  src/client/pages/Parkeren/Parkeren.tsx
  src/client/pages/Parkeren/ParkerenList.test.tsx
  src/client/pages/Parkeren/ParkerenList.tsx
  src/client/pages/Parkeren/__snapshots__/Parkeren.test.tsx.snap
  src/client/pages/Parkeren/__snapshots__/ParkerenList.test.tsx.snap
  src/client/pages/Parkeren/useParkerenData.hook.tsx
  src/client/pages/VergunningenV2/VergunningenList.tsx
  src/server/services/parkeren/config-and-types.ts
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove
  src/server/services/parkeren/config-and-types.ts
Due: azure-pipeline-bff.yaml

Undo changes
  src/client/pages/VergunningenV2/VergunningenList.tsx
Due: azure-pipeline-ui.yaml

Track themamenuItems
  src/client/hooks/useThemaMenuItems.test.tsx
  src/client/hooks/useThemaMenuItems.ts
Due: azure-pipeline-ui.yaml

Change datumEindeGeldigheid
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/wmo-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Change name
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

Remove IS_PG, install pg client
  Dockerfile
  src/server/services/db/config.ts
  src/server/services/db/db.test.ts
  src/server/services/db/postgres.ts
  src/server/services/session-blacklist.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Updat test
  src/server/routing/route-handlers.test.ts
  src/server/services/session-blacklist.test.ts
Due: azure-pipeline-bff.yaml

Change const name
  src/server/services/db/config.ts
  src/server/services/db/db.test.ts
Due: azure-pipeline-bff.yaml

Add some logging
  src/server/services/session-blacklist.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml

Use separate feature toggle
  src/server/auth/auth-session-store.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add option
  src/server/auth/auth-session-store.ts
Due: azure-pipeline-bff.yaml

Implement PG session store
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers.test.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-session-store.ts
  src/server/auth/auth-types.ts
  src/server/services/db/postgres.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add try/catch block
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml

Add memoize for devToken
  src/server/auth/auth-helpers-development.ts
Due: azure-pipeline-bff.yaml

Add env to template
  .env.local.template
Due: none

Add logging
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Add logging
  src/server/services/db/db.ts
Due: azure-pipeline-bff.yaml

Don’t throw
  src/server/helpers/env.ts
Due: azure-pipeline-bff.yaml

Add end of the day
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml

Simplify test/dev login
  .env.local.template
  src/mijnamsterdam.d.ts
  src/server/routing/router-development.ts
  src/universal/config/auth.development.ts
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add db memoize
  src/server/services/db/db.ts
Due: azure-pipeline-bff.yaml

Rename default tables
  src/server/services/db/config.ts
Due: azure-pipeline-bff.yaml

Wrap with condition
  src/server/services/session-blacklist.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml

Add ai call
  src/server/helpers/env.ts
Due: azure-pipeline-bff.yaml

Add PG session store
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Shorten variable assignment
  src/server/auth/auth-session-store.ts
Due: azure-pipeline-bff.yaml

Add ttl
  src/server/auth/auth-config.ts
  src/server/auth/auth-session-store.ts
Due: azure-pipeline-bff.yaml

MIJN-9172-Bug - Change datumEindeGeldigheid (#1506)
  src/server/services/wmo/status-line-items/wmo-diensten.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/wmo-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Mijn-9202-Chore - db (OIDC) connection + session store (#1496)
  .env.local.template
  Dockerfile
  package-lock.json
  package.json
  src/mijnamsterdam.d.ts
  src/server/app.ts
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers-development.ts
  src/server/auth/auth-helpers.test.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-session-store.ts
  src/server/auth/auth-types.ts
  src/server/helpers/env.ts
  src/server/routing/route-handlers.test.ts
  src/server/routing/router-development.ts
  src/server/services/db/config.ts
  src/server/services/db/db.test.ts
  src/server/services/db/db.ts
  src/server/services/db/postgres.ts
  src/server/services/session-blacklist.test.ts
  src/server/services/session-blacklist.ts
  src/server/services/visitors.ts
  src/universal/config/auth.development.ts
  src/universal/config/feature-toggles.ts
  vite.config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change typing, add ref
  src/client/hooks/useThemaMenuItems.ts
Due: azure-pipeline-ui.yaml

Fix status assignment, disable logging in tests
  src/server/services/hli/status-line-items/pcvergoeding.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml

Update type
  src/server/services/hli/hli.test.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/services/hli/hli.test.ts
  src/server/services/hli/status-line-items/pcvergoeding.test.ts
Due: azure-pipeline-bff.yaml

Mijn-9273-Bug - hli fix verkeerde status toewijzing (#1510)
  src/server/services/hli/hli.test.ts
  src/server/services/hli/status-line-items/pcvergoeding.test.ts
  src/server/services/hli/status-line-items/pcvergoeding.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml

changes
  src/client/hooks/useThemaMenuItems.ts
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
