Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

RM comment
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Align urls and payloads
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add object pyload
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add bff routes
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Add initial fetch bank account
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add static data
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Add fetch bank account function
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Add sign request return to placeholder
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml

Add payload example
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Add createBankAccount
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Use base url
  mocks/routes/afis.js
Due: none

Remove custom fn
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Change formatting
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Updates and refactor
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add bankaccount check
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

ADd comment
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Move
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Remove unused styles, rename selectors
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Add initial external consumer endpoint
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Change comment
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

MIJN-11844-Bug - MIJN-11875-Bug - Fix bugs, Polish stadspas services, update filtering (#2030)
  mocks/fixtures/gpass-pashouders.json
  mocks/routes/gpass.js
  src/client/AppState.ts
  src/client/components/Search/search-config.tsx
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI.hooks.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/helpers.test.ts
  src/client/pages/Thema/HLI/helpers.ts
  src/client/pages/Thema/HLI/test-helpers.ts
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/client/pages/Thema/HLI/useStadspassen.hook.tsx
  src/server/helpers/source-api-request.test.ts
  src/server/helpers/source-api-request.ts
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/predicates.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/hli/hli-regelingen-types.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
  src/server/services/patroon-c/api-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update scripts/generate-user-data-overview.ts
  scripts/generate-user-data-overview.ts
Due: none

Add delivery mock endpoint
  mocks/collections.json
  mocks/routes/pom.js
  src/server/app.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Fix post merge errors
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Add BFF sign request norification endpoint
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Update design
  mocks/routes/afis.js
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix ref
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Post rebase fixes
  .env.local.template
  mocks/routes/afis.js
  package.json
  pnpm-lock.yaml
  src/client/helpers/api.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/config/source-api.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/shared/decrypt-route-param.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

update comment
  scripts/generate-user-data-overview.ts
Due: none

Fix + Update lock file
  pnpm-lock.yaml
Due: none

add krefia and replace zeros for blank columns
  scripts/generate-user-data-overview.ts
Due: none

MIJN-11841-CHORE/tekst-op-pagina-mijn-gegevens-achter-geheimhouding-klopt-niet (#2029)
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
Due: azure-pipeline-ui.yaml

Add comments, parse body, change name
  mocks/routes/pom.js
  src/server/app.ts
  src/server/routing/bff-routes.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

MIJN-11868-Bug - Change route/path (#2032)
  src/client/pages/Thema/Profile/private/ContactMomenten.tsx
  src/client/pages/Thema/Profile/private/useContactmomenten.hook.tsx
Due: azure-pipeline-ui.yaml

Parse xml payload
  package.json
  pnpm-lock.yaml
  src/server/services/afis/afis-router-external-consumer.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Handle missing data
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Mijn-11840-chore update major versions alg techniek (#2031)
  package.json
  pnpm-lock.yaml
  src/client/pages/GeneralInfo/__snapshots__/GeneralInfo.test.tsx.snap
  src/client/pages/Landing/__snapshots__/Landing.test.tsx.snap
  src/client/pages/MyNotifications/__snapshots__/MyNotifications.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/BezwarenDetail.test.tsx.snap
  src/client/pages/Thema/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/Klachten.test.tsx.snap
  src/client/pages/Thema/Klachten/__snapshots__/KlachtenDetail.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/server/helpers/source-api-helpers.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
