Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Fix imports
  src/client/components/DateInput/DateInput.test.tsx
  src/client/components/DocumentList/DocumentListV2.test.tsx
  src/client/components/ErrorMessages/ErrorMessages.test.tsx
  src/client/components/Modal/Modal.test.tsx
  src/client/components/MyNotification/MyNotification.test.tsx
  src/client/components/Pagination/Pagination.test.tsx
  src/client/components/Search/Search.test.tsx
  src/client/components/Search/useSearch.test.tsx
  src/client/components/UserFeedback/InlineKTO.test.tsx
  src/client/data-transform/appState.test.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.test.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/Inkomen/InkomenListSpecificaties.test.tsx
  src/client/pages/Thema/Krefia/Krefia.test.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
Due: azure-pipeline-ui.yaml

RM
  mockserver/main/mocks/fixtures/decos/decos-zaken-raw-commercial.cjson
  mockserver/main/mocks/fixtures/decos/decos-zaken-raw.cjson
Due: none

Fixes
  package.json
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/pages/Landing/Landing.module.scss
  src/server/services/brp/brp.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.ts
  tsconfig.build-bff.json
  tsconfig.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change imports
  src/client/components/Search/Search.test.tsx
  src/server/helpers/file-cache.ts
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/avg/avg.test.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/brp/brp.test.ts
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/erfpacht/erfpacht.test.ts
  src/server/services/krefia/krefia.test.ts
  src/server/services/patroon-c/svwi.test.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix
  src/server/helpers/file-cache.ts
Due: azure-pipeline-bff.yaml

Add additional information
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Disable cache
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add test
  package.json
  pnpm-lock.yaml
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.test.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Incorporate sign request status checks
  src/client/hooks/storage.hook.ts
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/AfisEmandateDateAdjust.tsx
  src/client/pages/Thema/Afis/AfisEmandateFetchInterval.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
  src/client/pages/Thema/Afis/useAfisEmandateActionsApi.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesApi.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.test.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/client/pages/Thema/Afis/useAfisFacturenApi.test.tsx
  src/client/pages/Thema/Afis/useAfisFacturenApi.tsx
  src/client/pages/Thema/Afis/useAfisListPageData.tsx
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

RM
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Remove zwembaden
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Fix tests
  src/client/hooks/api/useBffApi.ts
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afis/useAfisEmandatesData.test.tsx
  src/client/pages/Thema/Afis/useAfisFacturenApi.test.tsx
  src/client/pages/Thema/Afis/useAfisFacturenApi.tsx
  src/client/pages/Thema/Afis/useAfisListPageData.test.tsx
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Restore
  mocks.config.js
Due: none

Update test match
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

Fix status display
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

Add status endpoint
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Update types, prevent immediate rerender of hook
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml

Make warning more persistent
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
Due: azure-pipeline-ui.yaml

Add long duration threshold
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add global zustand store
  src/client/hooks/api/useCmsMaintenanceNotifications.ts
  src/client/hooks/storage.hook.ts
  src/client/hooks/useTrackThemas.hook.ts
Due: azure-pipeline-ui.yaml

Whitespace
  src/client/pages/Thema/Afis/useAfisEmandateActionsApi.tsx
Due: azure-pipeline-ui.yaml

Add spinner
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
Due: azure-pipeline-ui.yaml

Add description
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
Due: azure-pipeline-ui.yaml

RM
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
Due: azure-pipeline-ui.yaml

Fix link item
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Remove pads in FE
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Update mocks api
  mocks.config.js
  mocks/collections.json
  mocks/routes/pom.js
Due: none

Update
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add debugger
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

rename
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

ADd paid status as well
  src/client/pages/Thema/Afis/Afis-thema-config.ts
Due: azure-pipeline-ui.yaml

Add comment
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Update interval
  src/client/pages/Thema/Afis/AfisEmandateFetchInterval.tsx
Due: azure-pipeline-ui.yaml

Update tests
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.test.tsx
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update test
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

Implement status check for account number change
  mocks/routes/afis.js
  mocks/routes/pom.js
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.test.tsx
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
  src/client/pages/Thema/Afis/useAfisEmandateActionsApi.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesApi.tsx
Due: azure-pipeline-ui.yaml

Remove user interaction
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
Due: azure-pipeline-ui.yaml

Change implementation
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/useAfisEMandatesSignRequest.tsx
Due: azure-pipeline-ui.yaml

Shorten text
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Remove annoying redaction
  src/server/services/afis/afis-helpers.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
