Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
      - name: dtapName
        value: t
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
      - name: btdTest
        value: true
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdTest
        value: true
      - name: btdDeploy
        value: false
      - name: dtapName
        value: t

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Remove exclamation
  src/client/components/MegaMenu/MegaMenu.tsx
Due: azure-pipeline-ui.yaml

Remove key
  src/client/components/MegaMenu/MegaMenu.tsx
Due: azure-pipeline-ui.yaml

Alternative solution
  src/client/components/MegaMenu/MegaMenu.module.scss
  src/client/components/MegaMenu/MegaMenu.tsx
Due: azure-pipeline-ui.yaml

Add check for nonsense date value
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Add check for nonsense date value (#1293)
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Tips u naar ik (#1292)
  src/client/components/MyNotifications/Notification.tsx
Due: azure-pipeline-ui.yaml

Make mijn amsterdam title go to homepage
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
Due: azure-pipeline-ui.yaml

MIJN-8595/Add missing mega menu snap test file (#1290)
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainNavBar/__snapshots__/MainNavBar.test.tsx.snap
  src/client/components/MegaMenu/MegaMenu.module.scss
  src/client/components/MegaMenu/MegaMenu.tsx
Due: azure-pipeline-ui.yaml

MIJN-8221-enable zorgned prod
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

title snap
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
Due: azure-pipeline-bff.yaml

Add iso variant
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml

Refine variable set for
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
Due: azure-pipeline-ui.yaml

Remove file copy
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-8590 - Add iso variant (#1295)
  Dockerfile
  azure-pipeline-bff.yaml
  azure-pipeline-ui.yaml
  src/server/services/bezwaren/bezwaren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-8612 - change cert loading
  src/server/config.ts
  src/server/services/simple-connect/cleopatra.ts
Due: azure-pipeline-bff.yaml

MIJN-8612 - change cert loading (#1296)
  src/server/config.ts
  src/server/services/simple-connect/cleopatra.ts
Due: azure-pipeline-bff.yaml

Fix condition, change type and fix accordingly
  src/server/config.ts
  src/server/services/simple-connect/cleopatra.ts
Due: azure-pipeline-bff.yaml

MIJN-8221-enable zorgned prod (#1294)
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix condition, change type and fix accordingly (#1297)
  src/server/config.ts
  src/server/services/simple-connect/cleopatra.ts
Due: azure-pipeline-bff.yaml

MIJN-6502 oplossen bevindingen fat her testen eigen parkeerplaats vergunning V2 (#1298)
  src/client/pages/VergunningDetail/EigenParkeerplaats.tsx
  src/server/services/vergunningen/__snapshots__/vergunningen.test.ts.snap
  src/server/services/vergunningen/vergunningen-content.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add separation of zorgned users
  src/server/config.ts
  src/server/services/stadspas/stadspas-zorgned-service.ts
  src/server/services/wmo/wmo-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add AV response
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

themaMenuItems and browserTabNames
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Nog wat themas verbouwd > werkt nog niet routes wordt nog aangeroepen per thema
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove obsolete snap
  src/client/components/MainNavBar/__snapshots__/MainNavBar.test.tsx.snap
Due: azure-pipeline-ui.yaml

Change positioning
  src/client/components/MainHeader/MainHeader.module.scss
Due: azure-pipeline-ui.yaml

Add href, change aria-labels
  src/client/components/MainHeader/MainHeader.tsx
Due: azure-pipeline-ui.yaml

Add logout url
  src/client/components/MainHeader/MainHeader.tsx
Due: azure-pipeline-ui.yaml

Fix import references
  src/client/components/MainHeader/MainHeader.constants.ts
Due: azure-pipeline-ui.yaml

Rename menu items hook
  src/client/components/MainHeader/MainHeader.tsx
  src/client/hooks/useThemas.test.ts
  src/client/hooks/useThemas.ts
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Merge functions
  src/client/hooks/useThemas.ts
Due: azure-pipeline-ui.yaml

Rename hook
  src/client/hooks/useThemaMenuItems.test.ts
  src/client/hooks/useThemaMenuItems.ts
Due: azure-pipeline-ui.yaml

nog wat themas
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove Mijn Thema’s, remove Redundant titles object
  src/client/components/MainHeader/MainHeader.constants.ts
Due: azure-pipeline-ui.yaml

Separate into components, add secondarylinks to nav
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/OtapLabel.module.scss
  src/client/components/MainHeader/OtapLabel.tsx
  src/client/components/MainHeader/SecondaryLinks.tsx
  src/client/components/MainNavSubmenu/MainNavSubmenu.tsx
  src/client/components/MegaMenu/MegaMenu.tsx
Due: azure-pipeline-ui.yaml

Add icons
  src/client/components/MainHeader/ProfileName.tsx
  src/client/components/MainHeader/SecondaryLinks.module.scss
  src/client/components/MainHeader/SecondaryLinks.tsx
  src/client/components/MegaMenu/MegaMenu.tsx
Due: azure-pipeline-ui.yaml

MIJN-8031 - Add separation of zorgned users (#1299)
  src/server/config.ts
  src/server/mock-data/index.ts
  src/server/services/stadspas/stadspas-zorgned-service.ts
  src/server/services/wmo/wmo-zorgned-service.ts
Due: azure-pipeline-bff.yaml

Mijn-8644 uitloggen knop (#1300)
  src/client/components/MainHeader/MainHeader.constants.ts
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/OtapLabel.module.scss
  src/client/components/MainHeader/OtapLabel.tsx
  src/client/components/MainHeader/ProfileName.tsx
  src/client/components/MainHeader/SecondaryLinks.module.scss
  src/client/components/MainHeader/SecondaryLinks.tsx
  src/client/components/MainNavBar/__snapshots__/MainNavBar.test.tsx.snap
  src/client/components/MainNavSubmenu/MainNavSubmenu.tsx
  src/client/components/MegaMenu/MegaMenu.tsx
  src/client/hooks/useThemaMenuItems.test.ts
  src/client/hooks/useThemaMenuItems.ts
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Change default to safe side
  src/server/services/toeristische-verhuur/bb-vergunning.ts
Due: azure-pipeline-bff.yaml
