Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

redactedscope en profileTypes
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
Due: azure-pipeline-ui.yaml

pageLinks toegevoegd
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

MIJN-12783-CHORE: Kto improvements (#2504)
  mocks/collections.json
  mocks/routes/amsapp-survey.cjs
  src/server/services/user-feedback/user-feedback.route-handlers.ts
  src/server/services/user-feedback/user-feedback.test.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
  src/server/views/user-feedback-overview.pug
  src/universal/helpers/utils.test.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

themaConfig route toegevoegd
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/client/pages/Thema/Afis/AfisThema.test.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/server/services/afis/afis-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix condition
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

ThemaConfigBase klaar behalve FeatureToggle Emandaten
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/InfoSection.tsx
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

listPage toegevoegd
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisList.test.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Update view, add tests
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Inkomen/Inkomen.test.tsx
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
Due: azure-pipeline-ui.yaml

Deatilpage toegevoegd
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

detailpage
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml

Update test
  src/client/pages/Thema/Inkomen/Inkomen.test.tsx
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
Due: azure-pipeline-ui.yaml

betaalVoorkeurenpagina toegevoegd
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesApi.tsx
Due: azure-pipeline-ui.yaml

MIJN-12889-BUG: Remove condition (#2513)
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Inkomen/Inkomen.test.tsx
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Inkomen/useInkomenThemaData.hook.ts
Due: azure-pipeline-ui.yaml

EmandaatPage toegevoegd
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisEMandateDetail.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change fetchMeldingenBuurt implementation
  src/server/config/source-api.ts
  src/server/helpers/source-api-request.ts
  src/server/services/buurt/buurt.ts
  src/server/services/buurt/datasets.test.ts
  src/server/services/buurt/datasets.ts
  src/server/services/buurt/dso-helpers.ts
Due: azure-pipeline-bff.yaml

Add config
  src/server/services/wmo/wmo-service-config.ts
  src/server/services/wmo/wmo-status-line-items.ts
  src/server/services/wmo/wmo-voorzieningen-api-config.ts
Due: azure-pipeline-bff.yaml

ADd test
  src/server/services/buurt/datasets.test.ts
  src/server/services/buurt/datasets.ts
Due: azure-pipeline-bff.yaml

Change param
  src/server/services/buurt/datasets.ts
Due: azure-pipeline-bff.yaml

Change condition
  src/server/services/buurt/datasets.ts
Due: azure-pipeline-bff.yaml

MIJN-12738-FEATURE: Afgehandelde termijn facturen (#2507)
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/styles/ma-utility-classes.scss
  src/client/styles/main.scss
  src/server/services/afis/afis-facturen.test.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add dynamic assignment
  src/server/services/wmo/wmo-types.ts
  src/server/services/wmo/wmo-voorzieningen-api-config.ts
  src/server/services/wmo/wmo-voorzieningen-api-service.ts
Due: azure-pipeline-bff.yaml

Remove redundant file
  src/server/services/zorgned/zorgned-jzd-aanvragen.json
Due: azure-pipeline-bff.yaml

wat copilot fixes gedaan
  src/client/pages/MyNotifications/MyNotifications.test.tsx
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-11236-FEATURE: Powerbrowser vth inbehandeling (#2511)
  mocks/fixtures/powerbrowser-zaak-status.json
  src/client/pages/Thema/Vergunningen/detail-page-content/VergunningDetailDocumentsList.tsx
  src/server/services/vergunningen/pb-status-steps.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  src/server/services/wmo/wmo-voorzieningen-api-config.ts
Due: azure-pipeline-bff.yaml

Add props
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Refactor
  src/server/routing/router-private.ts
  src/server/routing/router-protected.ts
  src/server/services/jzd/jeugd/jeugd.ts
  src/server/services/jzd/jeugd/route-handlers.ts
  src/server/services/jzd/jzd-route-handlers.ts
  src/server/services/jzd/jzd-router.test.ts
  src/server/services/jzd/jzd-router.ts
  src/server/services/jzd/jzd-service-config.ts
  src/server/services/jzd/jzd-voorzieningen-api-config.ts
  src/server/services/jzd/wmo/wmo-zorgned-service.ts
  src/server/services/jzd/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

Fix tests
  src/server/services/jzd/jeugd/jeugd.test.ts
  src/server/services/jzd/jeugd/jeugd.ts
  src/server/services/jzd/jeugd/status-line-items.ts
  src/server/services/jzd/jzd-router.test.ts
  src/server/services/jzd/jzd-types.ts
  src/server/services/jzd/jzd-voorzieningen-api-config.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.test.ts
  src/server/services/jzd/jzd-voorzieningen-api-service.ts
  src/server/services/jzd/wmo/wmo-zorgned-service.test.ts
  src/server/services/jzd/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12919-BUG: Change fetchMeldingenBuurt implementation (#2514)
  src/server/config/source-api.ts
  src/server/helpers/source-api-request.ts
  src/server/services/buurt/buurt.ts
  src/server/services/buurt/datasets.test.ts
  src/server/services/buurt/datasets.ts
  src/server/services/buurt/dso-helpers.ts
Due: azure-pipeline-bff.yaml

Add entra auth
  package.json
  pnpm-lock.yaml
  src/server/app.ts
  src/server/config/app.ts
  src/server/config/feature-toggles.ts
  src/server/routing/app-router-admin.ts
  src/server/routing/app-router-development.ts
  src/server/routing/app-router-oidc.test.ts
  src/server/routing/app-router-oidc.ts
  src/server/routing/app-router-private.ts
  src/server/routing/app-router-protected.ts
  src/server/routing/app-router-public-external-consumer.ts
  src/server/routing/app-router-public.test.ts
  src/server/routing/app-router-public.ts
  src/server/routing/bff-routes.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-admin.ts
  src/server/services/admin/admin-auth.ts
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/admin/admin-service-config.ts
  src/server/services/admin/admin-types.ts
  src/server/services/admin/admin-visitors.ts
  src/server/services/admin/admin.ts
  src/server/services/amsapp/notifications/amsapp-notifications-service-config.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/testing/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Hide links for not authenticated users
  src/server/services/admin/admin-route-handlers.ts
Due: azure-pipeline-bff.yaml

Change session name, chores
  src/server/auth/auth-config.ts
  src/server/routing/app-router-admin.ts
  src/server/services/admin/admin-auth.ts
  src/server/services/admin/admin-route-handlers.ts
  src/server/services/admin/admin-router.ts
  src/server/services/admin/admin-service-config.ts
Due: azure-pipeline-bff.yaml

Change key
  src/server/config/app.ts
Due: azure-pipeline-bff.yaml

Add scopes
  src/server/services/admin/admin-auth.ts
Due: azure-pipeline-bff.yaml

Update lock file
  pnpm-lock.yaml
Due: none

Boyscout: remove padding
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.module.scss
Due: azure-pipeline-ui.yaml

Remove dead code
  src/client/helpers/utils.ts
Due: azure-pipeline-ui.yaml

coplit bevindingen aangepast
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Profile/private/useContactmomenten.hook.tsx
Due: azure-pipeline-ui.yaml

Use latest value for navigating
  src/client/components/Search/Search.tsx
Due: azure-pipeline-ui.yaml
