Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Refactor BFF_API_BASE_URL functionality
  package-lock.json
  package.json
  src/mijnamsterdam.d.ts
  src/server/app.ts
  src/server/config.ts
  src/server/generate-user-data-overview.ts
  src/server/helpers/app.ts
  src/server/router-protected.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/stadspas/stadspas-gpass-service.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add logging when debug is on
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Add bff base url, restore proxy
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/wpi/content/bbz.ts
  src/server/services/wpi/content/specificaties.ts
Due: azure-pipeline-bff.yaml

Remove All Yivi + Sia
  src/client/App.tsx
  src/client/AppState.ts
  src/client/assets/icons/index.tsx
  src/client/assets/icons/siameldingen.svg
  src/client/components/Search/searchConfig.tsx
  src/client/config/api.ts
  src/client/config/themaIcons.tsx
  src/client/pages/Landing/Landing.module.scss
  src/client/pages/Landing/LandingYivi.tsx
  src/client/pages/Landing/yivi-logo.svg
  src/client/pages/Sia/Sia.module.scss
  src/client/pages/Sia/Sia.test.tsx
  src/client/pages/Sia/Sia.tsx
  src/client/pages/Sia/SiaListClosed.tsx
  src/client/pages/Sia/SiaListOpen.tsx
  src/client/pages/SiaDetail/SiaDetail.module.scss
  src/client/pages/SiaDetail/SiaDetail.test.tsx
  src/client/pages/SiaDetail/SiaDetail.tsx
  src/mijnamsterdam.d.ts
  src/server/config.ts
  src/server/helpers/app.ts
  src/server/mock-data/index.ts
  src/server/router-development.ts
  src/server/router-oidc.ts
  src/server/router-protected.ts
  src/server/services/controller.ts
  src/server/services/sia.test.ts
  src/server/services/sia.ts
  src/server/services/visitors.ts
  src/server/views/login-count.pug
  src/setupTests.ts
  src/universal/config/app.ts
  src/universal/config/routes.ts
  src/universal/config/thema.ts
  src/universal/helpers/themas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove All Yivi + Sia (#1316)
  src/client/App.tsx
  src/client/AppState.ts
  src/client/assets/icons/index.tsx
  src/client/assets/icons/siameldingen.svg
  src/client/components/Search/searchConfig.tsx
  src/client/config/api.ts
  src/client/config/themaIcons.tsx
  src/client/pages/Landing/Landing.module.scss
  src/client/pages/Landing/LandingYivi.tsx
  src/client/pages/Landing/yivi-logo.svg
  src/client/pages/Sia/Sia.module.scss
  src/client/pages/Sia/Sia.test.tsx
  src/client/pages/Sia/Sia.tsx
  src/client/pages/Sia/SiaListClosed.tsx
  src/client/pages/Sia/SiaListOpen.tsx
  src/client/pages/SiaDetail/SiaDetail.module.scss
  src/client/pages/SiaDetail/SiaDetail.test.tsx
  src/client/pages/SiaDetail/SiaDetail.tsx
  src/mijnamsterdam.d.ts
  src/server/config.ts
  src/server/helpers/app.ts
  src/server/mock-data/index.ts
  src/server/router-development.ts
  src/server/router-oidc.ts
  src/server/router-protected.ts
  src/server/services/controller.ts
  src/server/services/sia.test.ts
  src/server/services/sia.ts
  src/server/services/visitors.ts
  src/server/views/login-count.pug
  src/setupTests.ts
  src/universal/config/app.ts
  src/universal/config/routes.ts
  src/universal/config/thema.ts
  src/universal/helpers/themas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update voortgang
  src/client/App.tsx
  src/universal/config/routes.ts
  src/universal/config/thema.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Feature flag Bezwaren op True gezet
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Feature flag Bezwaren op True gezet (#1317)
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-7887/Add new dialog to modal component (#1304)
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.module.scss
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/MainHeader/SecondaryLinks.tsx
  src/client/components/Modal/Modal.module.scss
  src/client/components/Modal/Modal.test.tsx
  src/client/components/Modal/Modal.tsx
  src/client/styles/main.scss
Due: azure-pipeline-ui.yaml

Do a history push when clicking mijn amsterdam main header nav title (#1305)
  src/client/components/MainHeader/MainHeader.tsx
Due: azure-pipeline-ui.yaml

MIJN-3624/Track custom events when clicking tip link or tip expand tip (#1306)
  src/client/components/MyNotifications/Notification.tsx
  src/client/utils/monitoring.ts
Due: azure-pipeline-ui.yaml

Mijn-8778 niet alle bijlagen worden getoond (#1311)
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bezwaren/types.ts
Due: azure-pipeline-bff.yaml

Mijn-3624 improve custom events (#1318)
  src/client/components/MyNotifications/Notification.tsx
Due: azure-pipeline-ui.yaml

brp plus handler added
  mocks.config.js
  mocks/collections.json
  mocks/fixtures/belastingen.json
  mocks/handlers/commercial-handler.js
  mocks/routes/belastingen.js
  mocks/routes/brp.js
  package-lock.json
  package.json
  src/server/config.ts
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

svwi geimplemteerd maar deze is nog niet werkend https://gemeente-amsterdam.atlassian.net/wiki/spaces/MA/pages/780927155/SVWI+Werk+en+Inkomen
  mocks/collections.json
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

erfpacht toegevoegd
  mocks/collections.json
  mocks/fixtures/erfpacht.json
  mocks/handlers/ProfileTypeHandler.js
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

wmo toegevoegd
  mocks.config.js
  mocks/collections.json
  mocks/handlers/ProfileTypeHandler.js
  mocks/routes/bezwaren_documenten.js
  mocks/routes/bezwaren_status.js
  mocks/routes/wmo.js
  src/server/app.ts
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

gpass geimplementeerd
  mocks.config.js
  mocks/collections.json
  mocks/fixtures/zorgned.json
  mocks/handlers/ProfileTypeHandler.js
  mocks/routes/bezwaren_documenten.js
  mocks/routes/bezwaren_list.js
  mocks/routes/bezwaren_status.js
  mocks/routes/gpass.js
  mocks/routes/wmo.js
  mocks/routes/zorgned.js
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

wildcard na zorgned url toegevoegd
  mocks/routes/wmo.js
Due: none

wpi route toegevoegd
  mocks/collections.json
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

efpacht toegevoegd
  mocks/collections.json
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

Added bezwaren_list but mijn-amsterdam does not yet pick this up
  mocks/collections.json
  mocks/routes/bezwaren_list.js
Due: none

added bezwaren status
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

added subsidies + bugfix voor commercial user
  mocks/collections.json
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

added toeristische verhuur, but not finished (some invalid json while actually valid error)
  mocks/collections.json
  mocks/hit_endpoints.sh
  mocks/routes/toeristische_verhuur_registraties.js
  src/server/helpers/source-api-request.ts
  src/server/services/toeristische-verhuur.ts
Due: azure-pipeline-bff.yaml

kvk toegevoegd
  mocks/collections.json
  mocks/routes/kvk.js
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

fixed broken imports
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/client/pages/Erfpacht/Erfpacht.test.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.test.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.test.tsx
  src/client/pages/Horeca/Horeca.test.tsx
  src/client/pages/HorecaDetail/HorecaDetail.test.tsx
  src/client/pages/Krefia/Krefia.test.tsx
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.test.tsx
  src/client/pages/VergunningDetail/VergunningDetail-RVVSloterweg.test.tsx
  src/client/pages/VergunningDetail/VergunningDetail.test.tsx
  src/client/pages/Vergunningen/Vergunningen.test.tsx
  src/server/mock-data/json/search/results-full.json
  src/server/mock-data/json/search/results-suggest.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

vergunningen toegevoegd
  mocks/collections.json
  mocks/handlers/ProfileTypeHandler.js
  mocks/routes/bezwaren_documenten.js
  mocks/routes/bezwaren_list.js
  mocks/routes/bezwaren_status.js
  mocks/routes/brp.js
  mocks/routes/cleopatra.js
  mocks/routes/gpass.js
  mocks/routes/svwi.js
  mocks/routes/vergunningen.js
  mocks/routes/wpi.js
  mocks/routes/zorgned.js
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

reverted because broken serve-dev
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

loodmetingen toegevoegd
  mocks/collections.json
  mocks/routes/loodmetingen.js
Due: none

zorgned seperatie toegevoegd
  mocks/collections.json
  mocks/fixtures/zorgned-av.json
  mocks/fixtures/zorgned-jzd.json
  mocks/routes/zorgned.js
Due: none

added last routes
  mocks.config.js
  mocks/collections.json
  mocks/routes/bezwaren/documenten.js
  mocks/routes/bezwaren/list.js
  mocks/routes/bezwaren/status.js
  mocks/routes/cms.js
  src/server/cache/dev.cms-maintenance-notifications.flat-cache.json
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

smile verwijdert uit mock-data
  mocks/routes/enableu_2_smile.js
Due: none

added enableu2smile endpoint
  mocks.config.js
  mocks/collections.json
  mocks/routes/enableu_2_smile.js
  mocks/routes/krefia.js
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

toeristische verhuur toegevoegdt
  mocks/routes/toeristische_verhuur_registraties.js
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

small change plus deleted SIA from old mock implementation
  mocks/routes/erfpacht.js
  mocks/routes/subsidie.js
  mocks/routes/svwi.js
  mocks/routes/wpi.js
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml

cleopatra toegevoegd
  mocks/collections.json
  src/server/mock-data/index.ts
Due: azure-pipeline-bff.yaml
