Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Throw error, no null
  src/server/services/patroon-c/cleopatra.test.ts
  src/server/services/patroon-c/cleopatra.ts
Due: azure-pipeline-bff.yaml

https://github.com/Amsterdam/mijn-amsterdam-frontend/pull/2652#discussion_r3491050921
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/server/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Extract to component, change headers
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Use Design system variables
  src/client/pages/Thema/HLI/HLIStadspasDetail.module.scss
Due: azure-pipeline-ui.yaml

remove node-jose
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Temp throw error on purpose in migrate step
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

MIJN-13239-CHORE: Verwijder node jose voor jose (#2654)
  package.json
  pnpm-lock.yaml
  src/server/services/patroon-c/cleopatra.test.ts
  src/server/services/patroon-c/cleopatra.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add BFF migration parameter to pipeline configuration
  azure-pipelines.yaml
Due: none

Fix display names for parameters in Azure pipeline configuration
  azure-pipelines.yaml
Due: none

Update display name explanation for btdMigrate parameter in Azure pipeline configuration
  azure-pipelines.yaml
Due: none

Revert edit comment
  azure-pipelines.yaml
Due: none

Update btdMigrate parameter handling in Azure pipeline configuration
  azure-pipelines.yaml
Due: none

Add name to alerts for database migration errors
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

MIJN-13243-CHORE: Add btd migrate parameter to azure pipeline (#2659)
  azure-pipelines.yaml
Due: none

MIJN-12903-FEATURE: Stadspas pincode tonen (#2652)
  src/client/pages/Thema/HLI/HLIStadspasDetail.module.scss
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/useStadspassen.hook.tsx
  src/server/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Overal automatische incasso gewijzigd naar incassomachtiging
  src/client/components/Search/search-config.json
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Belastingen/Belastingen-thema-config.ts
  src/mocks-server/fixtures/belastingen.json
  src/mocks-server/fixtures/cms-producten.json
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-facturen.ts
  src/server/services/patroon-c/belasting.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Replace jsonwebtoken with jose for OAuthVerificationHandler
  package.json
  pnpm-lock.yaml
  src/server/routing/app-router-oidc.test.ts
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add explicit test instruction for running Vitest with CI
  agents.md
Due: none

Add envMap helpers
  src/server/helpers/env.test.ts
  src/server/helpers/env.ts
Due: azure-pipeline-bff.yaml

Remove azue blob sdk
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Use new envMap helpers
  src/server/services/brp/brp.ts
  src/server/services/hr-kvk/hr-kvk.ts
  src/server/services/patroon-c/belasting.ts
  src/server/services/wonen/zwd.ts
Due: azure-pipeline-bff.yaml

Rm obsolete files
  src/server/auth/auth-development.ts
  src/server/auth/generated/digid-test-accounts.json
  src/server/auth/generated/eherkenning-test-accounts.json
  src/server/config/azure-storage.ts
Due: azure-pipeline-bff.yaml

Add storage accoun blob route
  src/mocks-server/routes/storage-account-blob.ts
Due: none

Boyscout error pretty display
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Remove test error
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Align routing + simplify test account generation
  .env.local.template
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-helpers-development.ts
  src/server/routing/app-router-development.ts
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary describe await
  src/server/routing/route-handlers.test.ts
Due: azure-pipeline-bff.yaml

Refactor tracking events in database migration command for consistency
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Separate into helper file
  src/scripts/generate-user-data-overview.ts
  src/server/auth/auth-helpers-development.ts
  src/server/helpers/test-accounts.ts
  src/server/routing/app-router-development.ts
  src/server/services/decos/decos-route-handlers.ts
Due: azure-pipeline-bff.yaml

Proper merge, remove some redundant logic
  src/server/routing/app-router-development.ts
  src/server/views/select-test-account.pug
Due: azure-pipeline-bff.yaml

MIJN-13165-CHORE: Add explicit test instruction for running Vitest with CI (#2661)
  agents.md
Due: none

MIJN-12393-CHORE: Replace jsonwebtoken with jose (#2662)
  package.json
  pnpm-lock.yaml
  src/server/routing/app-router-oidc.test.ts
  src/server/routing/route-handlers.test.ts
  src/server/routing/route-handlers.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13225-FEATURE: Add alert on database migration error (#2663)
  src/server/services/db/migrate.ts
Due: azure-pipeline-bff.yaml

Add props
  src/mocks-server/routes/storage-account-blob.ts
  src/scripts/generate-user-data-overview.ts
  src/server/helpers/test-accounts.ts
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Replace sorting identifier
  src/server/helpers/test-accounts.ts
  src/server/routing/app-router-development.ts
Due: azure-pipeline-bff.yaml

Eerste opzet
  src/client/pages/Dashboard/WelcomHeading.tsx
Due: azure-pipeline-ui.yaml

Opmaak kleiner gemaakt
  src/client/pages/Dashboard/WelcomeHeading.module.scss
Due: azure-pipeline-ui.yaml

Add condition for processed override
  src/server/services/toeristische-verhuur/toeristische-verhuur-service-config.ts
Due: azure-pipeline-bff.yaml

Update snaps
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update lock file
  pnpm-lock.yaml
Due: none
