Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

added the minor suggestions
  mocks/routes/afis.js
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

remove unnecessary await
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Reordered functions for top to bottom reading.
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Removed Error
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Added route for document ID, etc
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

broken commit; added some suggestions
  src/server/helpers/source-api-request.ts
  src/server/router-protected.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Added and combined document ID route
  mocks/collections.json
  mocks/fixtures/afis/arc-doc-id.json
  mocks/routes/afis.js
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Link type to AfisFactuur
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

different style of multiline strings
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Use decrypt helper
  src/server/services/afis/afis-route-handlers.ts
Due: azure-pipeline-bff.yaml

Rename method to clarify it’s purpose
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/hli/stadspas.ts
  src/server/services/shared/decrypt-route-param.ts
  src/server/services/shared/document-download-route-handler.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Fix failedDependencies determination
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary multiline separator
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary multiline separators, simplify string construction
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add type
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary linebreak
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

added tims improved logic
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Fix PGB decision
  mocks/fixtures/zorgned-jzd-aanvragen.json
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-pgb.ts
  src/server/services/wmo/wmo-zorgned-service.ts
  src/server/services/zorgned/__snapshots__/zorgned-service.test.ts.snap
Due: azure-pipeline-bff.yaml

MIJN-8945-Feature - facturen service i 082 pr updates (#1477)
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/hli/stadspas.ts
  src/server/services/shared/decrypt-route-param.ts
  src/server/services/shared/document-download-route-handler.ts
  src/server/services/vergunningen-v2/vergunningen.ts
Due: azure-pipeline-bff.yaml

Add placeholder
  src/server/services/wmo/status-line-items/wmo-generic.ts
Due: azure-pipeline-bff.yaml

MIJN-9179-Feature - Fix PGB statustrein (#1478)
  mocks/fixtures/zorgned-jzd-aanvragen.json
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/status-line-items/wmo-pgb.ts
  src/server/services/wmo/wmo-zorgned-service.ts
  src/server/services/zorgned/__snapshots__/zorgned-service.test.ts.snap
Due: azure-pipeline-bff.yaml

Add comment
  src/client/App.tsx
Due: azure-pipeline-ui.yaml

Add comments, use .end
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Reduce fetch requests to check endpoint
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml

Update FeatureToggle
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Remove test account select
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Add const
  src/client/pages/Landing/Landing.tsx
Due: azure-pipeline-ui.yaml

Remove unused consts
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Refactor auth config/helpers/routes/types part 1
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers-development.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-routes.ts
  src/server/auth/auth-types.ts
  src/server/config.ts
  src/server/helpers/app.test.ts
  src/server/helpers/app.ts
  src/server/helpers/auth.ts
  src/server/helpers/source-api-request.ts
  src/server/router-development.ts
  src/server/router-oidc.ts
  src/server/router-protected.ts
  src/server/services/afval/afval.ts
  src/server/services/afval/afvalpunten.ts
  src/server/services/bag.ts
  src/server/services/controller.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/home.ts
  src/server/services/kvk.ts
  src/server/services/session-blacklist.test.ts
  src/server/services/session-blacklist.ts
Due: azure-pipeline-bff.yaml

Remove param constant
  src/client/config/thema.ts
  src/server/config.ts
  src/server/routing/bff-routes.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add routing config
  src/server/app.ts
  src/server/auth/auth-helpers.ts
  src/server/config.ts
  src/server/helpers/app.ts
  src/server/router-admin.ts
  src/server/router-protected.ts
  src/server/router-public.ts
  src/server/routing/bff-routes.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/brp.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/vergunningen-v2/vergunningen-route-handlers.ts
  src/server/services/vergunningen-v2/vergunningen.ts
  src/server/services/vergunningen/vergunningen.ts
  src/server/services/wmo/wmo.ts
  src/server/services/wpi/helpers.ts
Due: azure-pipeline-bff.yaml

Move routers
  src/server/app.ts
  src/server/config.ts
  src/server/helpers/app.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-admin.ts
  src/server/routing/router-development.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Move dev keys
  src/server/auth/auth-helpers-development.ts
  src/server/config.ts
  src/server/config/development.ts
  src/server/helpers/app.test.ts
  src/test-utils.ts
Due: azure-pipeline-bff.yaml

Add midlleware and cert files
  src/server/auth/auth-helpers.ts
  src/server/config.ts
  src/server/helpers/cert.ts
  src/server/routing/middleware.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
  src/server/services/session-blacklist.ts
  src/server/services/simple-connect/cleopatra.ts
Due: azure-pipeline-bff.yaml

Move constants
  src/server/auth/auth-config.ts
  src/server/config/app.ts
  src/server/config/source-api.ts
  src/server/middleware.ts
  src/server/routing/middleware.ts
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/session-blacklist.ts
  src/server/services/vergunningen-v2/decos-service.ts
  src/server/services/vergunningen-v2/vergunningen-notifications.ts
  src/server/services/vergunningen-v2/vergunningen.ts
  src/server/services/vergunningen/vergunningen.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Move helpers
  src/server/app.ts
  src/server/auth/auth-helpers.ts
  src/server/helpers/app.ts
  src/server/routing/helpers.ts
  src/server/routing/middleware.ts
  src/server/routing/router-development.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-public.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/brp.ts
  src/server/services/controller.ts
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas.ts
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/vergunningen-v2/vergunningen-route-handlers.ts
  src/server/services/vergunningen-v2/vergunningen.ts
  src/server/services/vergunningen/vergunningen.ts
  src/server/services/wmo/wmo.ts
  src/server/services/wpi/helpers.ts
Due: azure-pipeline-bff.yaml

Move helper to service
  src/client/hooks/api/useSessionApi.ts
  src/server/helpers/app.test.ts
  src/server/helpers/app.ts
  src/server/services/controller.test.ts
  src/server/services/controller.ts
  src/server/services/session-blacklist.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
