Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

uitleg aangapast
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Disable SSH
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

condition naar Mainfooter verplaatst en naamgeving Featuretoggle aangepast
  src/client/components/MainFooter/MainFooter.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

bodemActive uit feature-toggle verwijderd
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bodemlist aangepast
  src/client/pages/Thema/Bodem/BodemList.tsx
Due: azure-pipeline-ui.yaml

Move installation of package
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Nog wat comments verwijderd
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

Update Dockerfile
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix express-open-id-connect version
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12137-Bug - Move installation of package (#2134)
  Dockerfile
  package.json
  pnpm-lock.yaml
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

add aanvraag typed documents to aanvraag
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

Aparte constante in GeneralInfo voor Bodem gemaakt en InfoSection uitgeschakeld
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Bodem/InfoSection.tsx
Due: azure-pipeline-ui.yaml

search-config.tsx:
  src/client/components/Search/search-config.tsx
  src/client/config/thema-types.ts
Due: azure-pipeline-ui.yaml

Bodem-render-config.tsx:
  src/client/pages/Thema/Bodem/Bodem-render-config.tsx
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
Due: azure-pipeline-ui.yaml

GeneralInfo gemaakt op basis van profiltype > test werkt nog niet
  src/client/components/MyArea/InfoSection.tsx
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/AVG/InfoSection.tsx
  src/client/pages/Thema/Afis/InfoSection.tsx
  src/client/pages/Thema/Afval/InfoSection.tsx
  src/client/pages/Thema/Belastingen/InfoSection.tsx
  src/client/pages/Thema/Bezwaren/InfoSection.tsx
  src/client/pages/Thema/Bodem/InfoSection.tsx
  src/client/pages/Thema/Burgerzaken/InfoSection.tsx
  src/client/pages/Thema/Erfpacht/InfoSection.tsx
  src/client/pages/Thema/HLI/InfoSection.tsx
  src/client/pages/Thema/Inkomen/InfoSection.tsx
  src/client/pages/Thema/Jeugd/InfoSection.tsx
  src/client/pages/Thema/Klachten/InfoSection.tsx
  src/client/pages/Thema/Krefia/InfoSection.tsx
  src/client/pages/Thema/Milieuzone/InfoSection.tsx
  src/client/pages/Thema/Overtredingen/InfoSection.tsx
  src/client/pages/Thema/Parkeren/InfoSection.tsx
  src/client/pages/Thema/Profile/InfoSection.tsx
  src/client/pages/Thema/Subsidies/InfoSection.tsx
  src/client/pages/Thema/ToeristischeVerhuur/InfoSection.tsx
  src/client/pages/Thema/Varen/infoSection.tsx
  src/client/pages/Thema/Vergunningen/InfoSection.tsx
  src/client/pages/Thema/Zorg/InfoSection.tsx
Due: azure-pipeline-ui.yaml

MIJN-12119-CHORE-feature-flag-canon-matiging-knop (#2132)
  src/client/components/MainFooter/MainFooter.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

source-api.ts:
  src/server/config/source-api.ts
  src/server/services/bodem/loodmetingen.ts
Due: azure-pipeline-bff.yaml

Use new fields for zaak wijzigen vergunninghouder
  src/server/services/varen/decos-zaken.ts
Due: azure-pipeline-bff.yaml

Do not show active vergunningen when their dateStart is in the future
  src/client/pages/Thema/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml

Change debug set-up and settings
  readme.md
  src/server/app.ts
  src/server/helpers/source-api-request.ts
Due: azure-pipeline-bff.yaml

Mijn-12129-bug - fetch brp (#2131)
  readme.md
  src/server/app.ts
  src/server/helpers/source-api-request.ts
  src/server/routing/router-development.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/afval/adoptable-trash-containers.ts
  src/server/services/bag/my-locations.test.ts
  src/server/services/bag/my-locations.ts
  src/server/services/brp/brp-notifications.ts
  src/server/services/brp/brp.ts
  src/server/services/controller.ts
  src/server/services/parkeren/parkeren.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Implement zustand for search part 1
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainHeader/useMainHeaderControl.hook.ts
  src/client/components/Search/Search.tsx
  src/client/components/Search/search-config.tsx
  src/client/components/Search/useSearch.tsx
  src/client/hooks/api/useDataApi-v2.ts
Due: azure-pipeline-ui.yaml

Migrate PageTypeSetting icon
  pnpm-lock.yaml
  src/client/components/Search/useSearch.tsx
  src/client/hooks/useThemaMenuItems.ts
Due: azure-pipeline-ui.yaml

Enable Amsterdam nl results
  src/client/components/Search/Search.tsx
  src/client/components/Search/useSearch.tsx
  src/client/hooks/api/useDataApi-v2.ts
Due: azure-pipeline-ui.yaml

Search only on term change
  src/client/components/Search/Search.tsx
  src/client/components/Search/useSearch.tsx
Due: azure-pipeline-ui.yaml

Replace main menu atom
  package.json
  pnpm-lock.yaml
  src/client/components/MainHeader/useMainHeaderControl.hook.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

use api hook
  src/client/pages/Thema/Vergunningen/detail-page-content/useVergunningDocumentsList.hook.ts
Due: azure-pipeline-ui.yaml

Add comments
  src/client/hooks/api/useDataApi-v2.ts
Due: azure-pipeline-ui.yaml

Disable listpage
  src/client/pages/Thema/Erfpacht/ErfpachtListFacturen.tsx
Due: azure-pipeline-ui.yaml

Remove bagState hook
  src/client/components/Search/useSearch.tsx
  src/client/hooks/useAppState.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove obsolete hook
  src/client/components/MyArea/LegendPanel/LegendPanel.tsx
  src/client/components/MyArea/MyArea.hooks.ts
Due: azure-pipeline-ui.yaml

Refactor session api
  src/client/App.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml

Remove useDataApi
  src/client/hooks/api/useDataApi.test.tsx
  src/client/hooks/api/useDataApi.ts
Due: azure-pipeline-ui.yaml

Fetch
  src/client/pages/Thema/Erfpacht/DossierDetail/erfpachtDossierData.hook.ts
Due: azure-pipeline-ui.yaml

Migrate bagApi + Refactor LocationModal
  src/client/components/LocationModal/LocationModal.module.scss
  src/client/components/LocationModal/LocationModal.tsx
  src/client/components/Search/useSearch.tsx
  src/client/hooks/api/useDataApi-v2.ts
  src/server/config/source-api.ts
  src/universal/config/url.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add item store
  mocks/routes/erfpacht.js
  src/client/hooks/api/useDataApi-v2.ts
  src/client/pages/Thema/Erfpacht/DossierDetail/useErfpachtDossierData.hook.ts
  src/client/pages/Thema/Erfpacht/ErfpachtDetail.tsx
Due: azure-pipeline-ui.yaml

Refactor api
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Add automatic fetch
  src/client/hooks/api/useDataApi-v2.ts
  src/client/pages/Thema/Erfpacht/DossierDetail/useErfpachtDossierData.hook.ts
Due: azure-pipeline-ui.yaml

Remove obsolete variables
  src/client/hooks/api/useSessionApi.ts
Due: azure-pipeline-ui.yaml
