Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

MIJN-12440-Bug-change-entrypoint (#2320)
  scripts/docker-entrypoint-bff.sh
Due: none

add featuretoggle for klachten
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

formatting
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix title
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
Due: azure-pipeline-ui.yaml

RM feature toggle
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
Due: azure-pipeline-ui.yaml

Mijn-2440-bug - rm obsolete feature toggles (#2322)
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
Due: azure-pipeline-ui.yaml

Disable KVK for private users
  src/server/services/hr-kvk/hr-kvk-service-config.ts
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Add to index
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Add soort verbintenis
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add plaats en land
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update snaps
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

MIJN-14240-Chore - add some leftover features (#2323)
  src/client/components/Search/search-config.json
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.ts
  src/server/services/hr-kvk/hr-kvk-service-config.ts
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change on/off implementation
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Update amount
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

remove sloppy console.log
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
Due: azure-pipeline-ui.yaml

Change condition
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

MIJN-12310-CHORE-featuretoggle-klachten-statustrein-en-meldingen (#2321)
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Klachten/KlachtenThema.tsx
  src/server/services/klachten/klachten.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change loading condition
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
Due: azure-pipeline-ui.yaml

Disable invoices
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Disable non required props
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

use delimiter specified by running os
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Update batchname
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

whoops, but not use fully platform agnostic paths
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Voeg Zmijn_commando's.txt toe aan .gitignore
  .gitignore
Due: none

put in normal location
  src/server/app.ts
Due: azure-pipeline-bff.yaml

Use global store and fix operation
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12468-BUG-testen-omgeving-werkt-niet-door-non-agnostische-view-dir-paden (#2326)
  src/server/app.ts
Due: azure-pipeline-bff.yaml

dynamic pagelinks;
  src/client/config/thema-types.ts
  src/client/pages/Thema/Bodem/Bodem-thema-config.ts
  src/client/pages/Thema/Bodem/useBodemData.hook.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

only function in type
  src/client/config/thema-types.ts
Due: azure-pipeline-ui.yaml

RM
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Somewhat more info
  scripts/docker-entrypoint-bff.sh
Due: none

Change marker tooltip
  src/client/components/MyArea/MyArea.module.scss
  src/client/components/MyArea/MyAreaMarker.tsx
Due: azure-pipeline-ui.yaml

MIJN-12462-Chore - Change on/off implementation (#2324)
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-helpers.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Make warning
  scripts/docker-entrypoint-bff.sh
Due: none

Mijn-12440-chore - post release fixes (#2328)
  scripts/docker-entrypoint-bff.sh
  src/client/components/MyArea/MyArea.module.scss
  src/client/components/MyArea/MyAreaMarker.tsx
Due: azure-pipeline-ui.yaml

mijn file uit gitignore gehaald
  .gitignore
  Zmijn_commando's.txt
Due: none

test title HLI en wijziging in app.ts dat ik de localhot aan de praat krijg
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/server/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Move verification middleware to designated routers
  src/server/auth/auth-config.ts
  src/server/routing/router-private.ts
  src/server/services/afis/afis-router.ts
  src/server/services/afis/afis-service-config.ts
  src/server/services/wmo/wmo-router.ts
  src/server/services/wmo/wmo-service-config.ts
Due: azure-pipeline-bff.yaml

Remov
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/server/services/afis/afis-facturen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
