Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

fix
  src/client/pages/Thema/KlantContact/KlantContact-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-13217-CHORE: Verbetervoorstel tekst themapagina bezwaren verduidelijking inhoud mijn amsterdam (#2700)
  src/client/pages/Thema/Bezwaren/BezwarenThema.tsx
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
Due: azure-pipeline-ui.yaml

Make Type argument explicit
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change status steps set-up
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

Derive type from const
  src/server/services/erfpacht/erfpacht-zaken-types.ts
Due: azure-pipeline-bff.yaml

Update helper functions
  src/server/services/erfpacht/erfpacht-zaken-config.ts
Due: azure-pipeline-bff.yaml

Make dossierId reflect dossnierNUmber
  src/mocks-server/fixtures/erfpacht/erfpacht-v2-dossiers.json
Due: none

Make col division more like Desktop
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

Change appearance
  src/client/components/StatusSteps/StatusSteps.tsx
Due: azure-pipeline-ui.yaml

Fix syntax
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

fix(afspraakcard): do not show modal when street is null
  src/client/components/AfspraakCard/AfspraakCard.tsx
Due: azure-pipeline-ui.yaml

feat(afspraakcard): remove dowloadable link
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
Due: azure-pipeline-ui.yaml

Generate dossierlinks
  src/mocks-server/routes/erfpacht.ts
  src/server/services/erfpacht/erfpacht-dossiers.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Add dossier zaken list, cross-reference dossiers/zaken
  src/client/pages/Thema/Erfpacht/DossierDetail/useErfpachtDossierDetailData.hook.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-render-config.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtDossierDetail.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtListDossierZaken.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtZaakDetail.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtZaakData.hook.ts
  src/mocks-server/fixtures/erfpacht/erfpacht-v2-dossiers.json
  src/mocks-server/fixtures/erfpacht/erfpacht-zaak-detail.json
Due: azure-pipeline-ui.yaml

Update testdata
  src/client/pages/Thema/Erfpacht/ErfpachtThema.test.tsx
  src/server/services/erfpacht/__snapshots__/erfpacht-zaken.test.ts.snap
  src/server/services/erfpacht/erfpacht-dossiers.test.ts
  src/server/services/erfpacht/erfpacht-notifications.test.ts
  src/server/services/erfpacht/erfpacht-notifications.ts
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken.test.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change notifications
  src/server/services/erfpacht/erfpacht-notifications.test.ts
  src/server/services/erfpacht/erfpacht-notifications.ts
Due: azure-pipeline-bff.yaml

Simplify create jira script
  scripts/create-jira-ticket.ts
Due: none

Improve printHelp
  scripts/create-jira-ticket.ts
Due: none

Uitleg pagina uitgebreid met Mijn onderneming
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

Profile private verrwijderd
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

Move
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

Do not translate source status
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

Change types
  src/server/services/erfpacht/erfpacht-zaken-config.ts
  src/server/services/erfpacht/erfpacht-zaken.ts
Due: azure-pipeline-bff.yaml

tekst goed aangepast
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

feat(afspraak): move title logic to the backend
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.test.tsx
  src/server/services/klantcontact/klantcontact-afspraken.ts
  src/server/services/klantcontact/klantcontact.test.ts
  src/server/services/klantcontact/klantcontact.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

feat(afspraken): remove producten en subjects
  src/client/pages/Dashboard/Dashboard.test.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.test.tsx
  src/server/services/klantcontact/klantcontact-afspraken.ts
  src/server/services/klantcontact/klantcontact.test.ts
  src/server/services/klantcontact/klantcontact.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-13409-BUG: Simplify create jira script with defaults (#2704)
  scripts/create-jira-ticket.ts
Due: none

refactor(afspraakcard): two separate components
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.tsx
Due: azure-pipeline-ui.yaml

refactor(afspraken): change compact to dashboard
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/AfspraakCard.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.test.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.tsx
Due: azure-pipeline-ui.yaml

fix: missing dashboard converts
  src/client/components/AfspraakCard/AfspraakCard.test.tsx
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
  src/client/pages/Dashboard/Dashboard.tsx
  src/client/pages/Thema/KlantContact/Afspraken/Afspraken.test.tsx
Due: azure-pipeline-ui.yaml

refactor(afspraaklistpage): add column
  src/client/pages/Thema/KlantContact/Afspraken/AfspraakListPage.tsx
Due: azure-pipeline-ui.yaml

Avoid using nested ternaries
  eslint.config.mjs
  src/client/components/StatusSteps/StatusSteps.tsx
Due: azure-pipeline-ui.yaml

opmerking gewijzigd
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-12952-CHORE: Uitlegpagina tekst voor mijn onderneming alg meldingen en beheer (#2705)
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

Hide subsstep headings
  src/client/components/StatusSteps/StatusSteps.test.tsx
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/components/Thema/ThemaDetailPagina.tsx
  src/client/pages/Thema/Erfpacht/ErfpachtZaakDetail.tsx
Due: azure-pipeline-ui.yaml

Restore max items
  src/client/pages/Thema/Erfpacht/ErfpachtDossierDetail.tsx
Due: azure-pipeline-ui.yaml

Restore page size
  src/client/pages/Thema/Erfpacht/ErfpachtListDossierZaken.tsx
Due: azure-pipeline-ui.yaml

Use date-fns
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change column widths
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

Removed TODO’s
  src/server/services/erfpacht/erfpacht-zaken-types.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
