Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Use destructuring
  src/client/components/LocationModal/LocationModal.tsx
Due: azure-pipeline-ui.yaml

Update mobile props
  src/client/pages/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

sort new -> old + feature to prod
  src/server/services/salesforce/contactmomenten.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

test
  src/server/services/salesforce/contactmomenten.test.ts
Due: azure-pipeline-bff.yaml

datesort gebruikt
  src/server/services/salesforce/contactmomenten.ts
Due: azure-pipeline-bff.yaml

MIJN-11053-feature sort new -> old + feature to prod (#1817)
  src/server/services/salesforce/contactmomenten.test.ts
  src/server/services/salesforce/contactmomenten.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-10063-FEATURE Show buttons only on active vergunningen and disable buttons when reg… (#1818)
  src/client/pages/Varen/Varen-thema-config.ts
  src/client/pages/Varen/VarenDetailExploitatie.tsx
  src/client/pages/Varen/VarenDetailLigplaats.tsx
  src/client/pages/Varen/helper.ts
  src/client/pages/Varen/useVarenDetailPage.hook.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Styling
  src/client/components/Table/TableV2.module.scss
  src/client/config/external-urls.ts
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Inkomen/useInkomenSpecificatiesListPageData.hook.ts
  src/client/pages/Vergunningen/Vergunningen-thema-config.ts
Due: azure-pipeline-ui.yaml

hash varen detail pages id
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Change types of varen vessel lengts to strings
  src/server/services/varen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Change id to hashed id in test match
  src/server/services/decos/decos-service.test.ts
Due: azure-pipeline-bff.yaml

Only show varen on commerical profiles
  src/client/components/Search/search-config.json
Due: azure-pipeline-ui.yaml

Style changes
  src/client/App.tsx
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/components/ErrorMessages/ErrorMessages.tsx
  src/client/components/MainHeader/MainHeader.module.scss
  src/client/components/MainHeader/MainHeader.tsx
  src/client/components/MainMenu/MainMenu.tsx
  src/client/components/Modal/Modal.tsx
  src/client/components/StatusSteps/StatusSteps.module.scss
  src/client/pages/Afis/Afis.tsx
  src/client/pages/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

Change style of notification
  src/client/components/MyNotification/MyNotification.tsx
  src/client/pages/Dashboard/Dashboard.tsx
Due: azure-pipeline-ui.yaml

Close search on nav
  src/client/components/MainHeader/useCloseMenu.hook.ts
Due: azure-pipeline-ui.yaml

Copilot generated tests
  src/client/pages/Varen/Varen.test.tsx
  src/client/pages/Varen/VarenDetail.test.tsx
  src/client/pages/Varen/VarenDetailExploitatie.test.tsx
  src/client/pages/Varen/useVarenDetailPage.hook.test.ts
  src/client/pages/Varen/useVarenThemaData.hook.test.ts
  src/server/services/varen/varen-status-steps.tests.ts
  src/server/services/varen/varen.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add varen notification service first notification
  src/server/services/tips-and-notifications.ts
  src/server/services/varen/varen-notifications.ts
Due: azure-pipeline-bff.yaml

Add all notifications for varen
  mocks/fixtures/decos-vergunningen-zaken-response.json
  src/server/services/varen/varen-notifications.ts
Due: azure-pipeline-bff.yaml

Mijn-9476-bug url id and vessel lengths (#1819)
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
  src/server/services/varen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Remove HTTP_STATUS_CODES in favor for axios httpstatuscodes
  src/client/components/DocumentList/DocumentLink.tsx
  src/server/routing/route-helpers.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-public.ts
  src/server/services/afis/afis-documents.ts
  src/server/services/controller.ts
  src/server/services/hli/hli-zorgned-service.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas.ts
  src/server/services/shared/decrypt-route-param.ts
  src/testing/utils.ts
  src/universal/constants/errorCodes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

added error code to success for persoongegevensNAW
  src/server/helpers/source-api-request.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

factor out another URL, also disabled memoization in tests
  src/server/services/horeca.test.ts
  src/server/services/krefia.test.ts
  src/server/services/monitoring.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-powerbrowser-bb-vergunning.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
  src/testing/setup.ts
Due: azure-pipeline-bff.yaml

make structure clear
  src/server/services/monitoring.ts
Due: azure-pipeline-bff.yaml

Add reder registered notification
  src/server/services/varen/varen-notifications.ts
Due: azure-pipeline-bff.yaml

Change to https
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add comment
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-11251-Bug - Change to https (#1822)
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Determine varen notifications based on status steps
  src/server/services/decos/decos-types.ts
  src/server/services/varen/config-and-types.ts
  src/server/services/varen/varen-notifications.ts
  src/server/services/varen/varen-status-steps.ts
  src/server/services/varen/varen.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add null as default security code
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Extract shared baseNotification from notifications
  src/server/services/varen/varen-notifications.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary generic type argument
  src/server/services/varen/varen.ts
Due: azure-pipeline-bff.yaml

MIJN-11254-Bug - Add null as default security code (#1823)
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

ADd some debug
  src/server/routing/router-oidc.ts
Due: azure-pipeline-bff.yaml

Change import order
  src/server/auth/auth-helpers.ts
Due: azure-pipeline-bff.yaml

Add accesstoken refresh, change timer behaivour
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
  src/client/hooks/api/useSessionApi.ts
  src/server/auth/auth-helpers-development.ts
  src/server/auth/auth-helpers.ts
  src/server/routing/route-handlers.ts
  src/server/routing/router-development.ts
  src/server/routing/router-oidc.test.ts
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add test endpoint
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml

Fix timer
  src/client/components/AutoLogoutDialog/AutoLogoutDialog.tsx
Due: azure-pipeline-ui.yaml

THis?
  src/server/routing/router-oidc.ts
Due: azure-pipeline-bff.yaml

Add spec prop
  src/server/openapi-amsapp.yml
Due: azure-pipeline-bff.yaml

MIJN-11254-Bug - Add spec prop (#1825)
  src/server/openapi-amsapp.yml
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
