Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Make the explanation about pc-tegoed dependent on there being a pc tegoed
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

Allow dynamic parent issue key for Jira ticket creation
  scripts/create-jira-ticket.ts
Due: none

Add todos for gpass temporary zeroing behavior for pc tegoed
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Only zero stadspas budget pc tegoed if the assigned budget minus the balance is greater than 1. Do not zero when the difference is less than 0 indicating a balance above the assigned budget
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Add temporary tests for feature toggle HLI.stadspas.pcBudgetNormalization behaviour
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
Due: azure-pipeline-ui.yaml

MIJN-13345-CHORE: Create jira skill (#2685)
  .env.jira.template
  .github/skills/jira-ticket-create/SKILL.md
  .github/skills/jira-ticket-create/references/jira-create-input.example.json
  .github/skills/jira-ticket-grill/SKILL.md
  .github/skills/write-a-skill/GLOSSARY.md
  .github/skills/write-a-skill/SKILL.md
  .gitignore
  scripts/create-jira-ticket.ts
Due: none

fix(klantcontactthema): add afspraken behind feature toggle
  src/client/pages/Thema/KlantContact/KlantContactThema.test.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

test(klantcontactthema): more dry
  src/client/pages/Thema/KlantContact/KlantContactThema.test.tsx
Due: azure-pipeline-ui.yaml

feat(stadpasdetail): voeg categorie toe in view
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

MIJN-11574-BUG: Voeg missende feature toggle toe (#2690)
  src/client/pages/Thema/KlantContact/KlantContactThema.test.tsx
  src/client/pages/Thema/KlantContact/KlantContactThema.tsx
Due: azure-pipeline-ui.yaml

feat(stadspasdetail): show type
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
Due: azure-pipeline-ui.yaml

MIJN-13253-FEATURE: Pc budget balance spend once (#2689)
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/mocks-server/fixtures/gpass-stadspas.json
  src/mocks-server/fixtures/gpass-transacties.json
  src/server/config/feature-toggles.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

test(stadspasdetails): add test for type
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

Update snaps with new svg data-directional property
  src/client/components/AfspraakCard/__snapshots__/AfspraakCard.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVG.test.tsx.snap
  src/client/pages/Thema/AVG/__snapshots__/AVGDetail.test.tsx.snap
  src/client/pages/Thema/Afis/__snapshots__/AfisThema.test.tsx.snap
  src/client/pages/Thema/Afval/__snapshots__/Afval.test.tsx.snap
  src/client/pages/Thema/Bezwaren/__snapshots__/Bezwaren.test.tsx.snap
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/Inkomen.test.tsx.snap
  src/client/pages/Thema/Inkomen/__snapshots__/InkomenListSpecificaties.test.tsx.snap
  src/client/pages/Thema/Profile/private/__snapshots__/ProfilePrivate.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/Zorg.test.tsx.snap
  src/client/pages/Thema/Zorg/__snapshots__/ZorgDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

test(stadspas): update server test
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

Fix timeout handling in getElementOnPageAsync function
  src/client/helpers/utils.ts
Due: azure-pipeline-ui.yaml

Add jest-dom types
  tsconfig.json
Due: none

Align to actual api landscape
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtThema.tsx
  src/mocks-server/fixtures/erfpacht/erfpacht-zaak-detail.json
  src/server/services/erfpacht/erfpacht-router.ts
  src/server/services/erfpacht/erfpacht-types.ts
  src/server/services/erfpacht/erfpacht-zaken-types.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Polish development experience
  src/server/routing/app-router-development.ts
  src/server/services/amsapp/amsapp-types.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-route-handlers.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-service-config.ts
  src/server/views/amsapp-open-app.pug
Due: azure-pipeline-bff.yaml

MIJN-13381-BUG: GetElementOnPage timeout not cleared causing async errors in tests (#2691)
  src/client/helpers/utils.ts
Due: azure-pipeline-ui.yaml

feat(stadpas): move kindcategorie to BFF
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
  src/client/pages/Thema/HLI/test-helpers.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-router.test.ts
  src/server/services/hli/stadspas-gpass-service.test.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

feat(erfpacht): add dossier links to zaak data
  src/mocks-server/fixtures/erfpacht/erfpacht-zaak-info.json
  src/server/services/erfpacht/erfpacht-zaken-types.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Add zaak info details
  src/client/components/StatusSteps/StatusSteps.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-helpers.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Erfpacht/ErfpachtZaakDetail.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtThemaData.hook.tsx
  src/client/pages/Thema/Erfpacht/useErfpachtZaakData.hook.ts
  src/mocks-server/fixtures/erfpacht/erfpacht-zaak-detail.json
  src/server/services/erfpacht/erfpacht-zaken-types.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Rename var
  src/server/services/amsapp/amsapp-types.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-route-handlers.ts
  src/server/views/amsapp-open-app.pug
Due: azure-pipeline-bff.yaml

Address PR comments
  src/server/routing/app-router-development.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-service-config.ts
  src/server/views/amsapp-open-app.pug
Due: azure-pipeline-bff.yaml

Change prop name
  src/server/services/amsapp/stadspas/amsapp-stadspas-router.test.ts
Due: azure-pipeline-bff.yaml

Add fallback value, show fixed steps
  src/server/services/erfpacht/erfpacht-zaken-types.ts
  src/server/services/erfpacht/erfpacht.ts
Due: azure-pipeline-bff.yaml

Restore name for token
  src/server/services/amsapp/amsapp-types.ts
  src/server/services/amsapp/stadspas/amsapp-stadspas-route-handlers.ts
  src/server/views/amsapp-open-app.pug
Due: azure-pipeline-bff.yaml

MIJN-11574-FEATURE: Fix eslint test errors (#2692)
  tsconfig.json
Due: none

Fix
  src/server/services/amsapp/stadspas/amsapp-stadspas-router.test.ts
Due: azure-pipeline-bff.yaml

feat(stadspasdetail): capitalize first letter
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/__snapshots__/HLIStadspasDetail.test.tsx.snap
Due: azure-pipeline-ui.yaml

refactor(stadspas-type): add stadspas type
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

doc: add open-api spec amsapp stadspas
  src/server/openapi-amsapp-stadspas.yml
Due: azure-pipeline-bff.yaml
