Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Remove unused env var
  .env.local.template
Due: none

Add E-mandates initial
  .env.local.template
  src/server/services/afis/afis-e-mandates.test.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Implement POM payment links
  mocks/routes/pom.js
  src/server/routing/bff-routes.ts
  src/server/routing/router-protected.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Refine type
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Update component and styles
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.module.scss
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Add initial external consumer endpoint
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Add iso date helper
  src/universal/helpers/date.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add function to encrypt a JSON payload
  src/server/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Add bff routes
  src/server/routing/bff-routes.ts
Due: azure-pipeline-bff.yaml

Hook up loading state
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Add end date
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Change Feature toggle value
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add object pyload
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add services + route handlers initial
  .env.local.template
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/shared/decrypt-route-param.ts
Due: azure-pipeline-bff.yaml

Add ActionButton component
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Change prop
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Add routes
  src/client/config/api.ts
Due: azure-pipeline-ui.yaml

Add mock data
  mocks/collections.json
  mocks/fixtures/afis/e-mandates.json
  mocks/routes/afis.js
Due: none

Add static data
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Add bff url helper
  src/client/helpers/api.ts
Due: azure-pipeline-ui.yaml

Add POM routes, add update functionality
  mocks/collections.json
  mocks/routes/afis.js
  mocks/routes/pom.js
Due: none

Refine types Afis
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Use a payload object
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Adjust payload
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

RM comment
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Fix import
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Change table config
  src/client/pages/Afis/Afis-thema-config.tsx
Due: azure-pipeline-ui.yaml

Add firstName, lastName to type
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Refine types
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Add createBankAccount
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Change formatting
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Move
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Add payload example
  src/server/services/afis/afis-e-mandates.ts
  src/server/services/afis/afis-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Updates and refactor
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Remove custom fn
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

ADd comment
  src/server/services/afis/afis-e-mandates-config.ts
Due: azure-pipeline-bff.yaml

Change comment
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Remove unused styles, rename selectors
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.module.scss
  src/client/pages/Thema/Afis/AfisEmandateActionButtons.tsx
Due: azure-pipeline-ui.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
