Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

MIJN-7269-FEATURE: Azure appconfiguration and feature toggles (#2407)
  .env.local.template
  compose.yaml
  package.json
  pnpm-lock.yaml
  src/bffserver.ts
  src/client/App.tsx
  src/client/components/Alert/CobrowseScreenshareDisclaimer.tsx
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.test.tsx
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/config/api.ts
  src/client/config/feature-toggles.ts
  src/client/config/featuretoggle.test.ts
  src/client/helpers/env.ts
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/useAfisEmandatesData.tsx
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/render-root.tsx
  src/global.d.ts
  src/index.tsx
  src/server/app-start.ts
  src/server/app.ts
  src/server/config/azure-appconfiguration.ts
  src/server/routing/bff-routes.ts
  src/server/routing/router-public.ts
  src/server/services/amsapp/notifications/amsapp-notifications-service-config.ts
  src/server/services/user-feedback/user-feedback.service-config.ts
  src/testing/setup.ts
  src/universal/config/feature-toggles.ts
  tsconfig.bff.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add query param
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

Add version as well
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

Rename
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/useAantalBewonersOpAdres.hook.ts
  src/client/pages/Thema/Profile/private/useAantalIngeschrevenPersonen.hook.ts
  src/client/pages/Thema/Profile/private/useProfileData.hook.tsx
  src/server/services/brp/brp-config.ts
  src/server/services/brp/brp-router.ts
  src/server/services/brp/brp-service-config.ts
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change label
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.module.scss
Due: azure-pipeline-ui.yaml

Add briefadres feature
  .env.local.template
  mocks/fixtures/brp/test-personen.json
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add subId to notifications to make them unique over time
  src/server/services/afis/afis-notifications.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/avg/avg.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/brp/brp-notifications.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/klachten/klachten.ts
  src/server/services/krefia/krefia.ts
  src/server/services/patroon-c/belasting.ts
  src/server/services/patroon-c/cleopatra.ts
  src/server/services/patroon-c/svwi.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/varen/varen-notifications.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/wpi/content/specificaties.ts
  src/server/services/wpi/helpers.ts
  src/universal/helpers/date.ts
  src/universal/helpers/text.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Refactore feature toggles
  .github/agents/mams-agent.agent.md
  src/client/config/feature-toggles.ts
  src/client/hooks/useAppStateRemote.ts
  src/client/pages/Landing/Landing.tsx
  src/client/pages/Thema/Inkomen/Inkomen-render-config.tsx
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-session-store.ts
  src/server/config/azure-appconfiguration.ts
  src/server/config/source-api.ts
  src/server/routing/router-protected.ts
  src/server/services/horeca/decos-zaken.ts
  src/server/services/parkeren/parkeren.ts
  src/server/services/salesforce/contactmomenten.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/vergunningen/vergunningen.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/wmo.ts
  src/testing/setup.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

themaId en tnemaTitle uit themaconfig verwijderd
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

Do stuff with toggles!
  src/client/components/MainFooter/CobrowseFooter/CobrowseFooter.tsx
  src/client/config/feature-toggles.ts
  src/client/hooks/useAppState.test.tsx
  src/client/hooks/useAppStateRemote.ts
  src/client/pages/Landing/Landing.tsx
  src/client/pages/Thema/AVG/AVG-thema-config.ts
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
  src/client/pages/Thema/Inkomen/Inkomen-thema-config.ts
  src/client/pages/Thema/Klachten/Klachten-thema-config.ts
  src/client/pages/Thema/Krefia/Krefia-thema-config.ts
  src/client/pages/Thema/Milieuzone/Milieuzone-thema-config.ts
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
  src/client/pages/Thema/Profile/Profile-render-config.tsx
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
  src/server/auth/auth-config.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-session-store.ts
  src/server/config/azure-appconfiguration.ts
  src/server/config/source-api.ts
  src/server/routing/router-protected.ts
  src/server/services/horeca/decos-zaken.ts
  src/server/services/parkeren/parkeren.test.ts
  src/server/services/parkeren/parkeren.ts
  src/server/services/salesforce/contactmomenten.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.ts
  src/server/services/vergunningen/vergunningen.ts
  src/server/services/wmo/status-line-items/wmo-generic.ts
  src/server/services/wmo/wmo.ts
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove subid for notifications
  src/server/services/afis/afis-notifications.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/avg/avg.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/brp/brp-notifications.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/klachten/klachten.ts
  src/server/services/krefia/krefia.ts
  src/server/services/patroon-c/belasting.ts
  src/server/services/patroon-c/cleopatra.ts
  src/server/services/patroon-c/svwi.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/varen/varen-notifications.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/wpi/content/specificaties.ts
  src/server/services/wpi/helpers.ts
  src/universal/helpers/text.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

feature toggle aangepast
  src/client/pages/Thema/Parkeren/Parkeren-thema-config.ts
Due: azure-pipeline-ui.yaml

test gefixed
  src/client/hooks/useHTMLDocumentTitle.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.test.tsx
Due: azure-pipeline-ui.yaml

Update all notification ids to be more similar and unique
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-notifications.ts
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
  src/server/services/bezwaren/bezwaren.test.ts
  src/server/services/bezwaren/bezwaren.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
  src/server/services/krefia/krefia.test.ts
  src/server/services/krefia/krefia.ts
  src/server/services/patroon-c/belasting.test.ts
  src/server/services/patroon-c/belasting.ts
  src/server/services/patroon-c/cleopatra.test.ts
  src/server/services/patroon-c/cleopatra.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.test.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur-notifications.ts
  src/server/services/varen/varen-notifications.test.ts
  src/server/services/varen/varen-notifications.ts
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/wpi/helpers.ts
  src/universal/helpers/notification.ts
  src/universal/helpers/text.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Small fixes
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/klachten/klachten.ts
  src/server/services/patroon-c/cleopatra.test.ts
  src/server/services/patroon-c/cleopatra.ts
  src/server/services/patroon-c/svwi.ts
  src/server/services/wpi/content/specificaties.ts
Due: azure-pipeline-bff.yaml

Revert MyNotificationType to original
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Limit notifications history to seven days
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Only store notifications for seven days
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Give all notifications a datePublished and add priority property
  src/server/services/afis/afis-notifications.test.ts
  src/server/services/afis/afis-notifications.ts
  src/server/services/brp/brp-notifications.ts
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/tips-and-notifications.test.ts
  src/server/services/tips-and-notifications.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

fix amsterdam.nl blocking the script
  scripts/get-dead-links
Due: none

Refactor tips-and-notifications and add typing
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/afval/adoptable-trash-containers.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/cms/cms-maintenance-notifications.test.ts
  src/server/services/cms/cms-maintenance-notifications.ts
  src/server/services/controller.ts
  src/server/services/patroon-c/api-service.ts
  src/server/services/tips-and-notifications.ts
  src/server/services/wior.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Store notifications on user login
  .env.local.template
  src/server/auth/auth-helpers.ts
  src/server/helpers/encrypt-decrypt.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/controller.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Add pagination to notifications enpdoint
  src/server/services/amsapp/notifications/amsapp-notifications-helper.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Add comment inside storeNotificationsResponses
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Fix small typescript warnings
  src/server/services/amsapp/notifications/amsapp-notifications-route-handlers.ts
  src/server/services/amsapp/notifications/amsapp-notifications-router.ts
Due: azure-pipeline-bff.yaml

Only allow services that are in the service_ids column to be updated in the notifications table
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
Due: azure-pipeline-bff.yaml

Add integration test
  package.json
  src/server/openapi-amsapp-notificaties.yml
  src/server/services/amsapp/notifications/amsapp-notifications-model.integration.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
  src/server/services/db/pg-test-utils.ts
  src/server/services/db/postgres.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Do not allow deploying unsafe encryptDeterministic to production yet
  src/server/helpers/encrypt-decrypt.ts
Due: azure-pipeline-bff.yaml

Add unit tests for amsapp notification service
  src/server/services/amsapp/notifications/amsapp-notifications.test.ts
Due: azure-pipeline-bff.yaml

Restructure notifications slightly
  src/server/auth/auth-helpers.ts
  src/server/services/amsapp/notifications/amsapp-notifications-helper.ts
  src/server/services/amsapp/notifications/amsapp-notifications.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Remove unnecessary comment
  src/server/services/amsapp/notifications/amsapp-notifications-model.integration.test.ts
Due: azure-pipeline-bff.yaml

Add meta field to notifications response openapi spec
  src/server/openapi-amsapp-notificaties.yml
Due: azure-pipeline-bff.yaml

Simplify logic in getConsumerProfile
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Simplify amsapp notification response
  src/server/openapi-amsapp-notificaties.yml
  src/server/services/amsapp/notifications/amsapp-notifications-types.ts
  src/server/services/amsapp/notifications/amsapp-notifications.test.ts
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

Fix db time is one hour before server time for notifications date_updated
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
Due: azure-pipeline-bff.yaml

MIJN-12706-CHORE: Themaconfig erfpacht nog even aanpassen alg techniek (#2431)
  src/client/pages/Thema/Erfpacht/Erfpacht-thema-config.ts
Due: azure-pipeline-ui.yaml

MIJN-12562-CHORE: Vergunningen thema config omzetten adhv hli bodem (#2422)
  scripts/generate-user-data-overview.ts
  src/client/helpers/cobrowse.integration.test.tsx
  src/client/hooks/useHTMLDocumentTitle.ts
  src/client/pages/GeneralInfo/GeneralInfo.tsx
  src/client/pages/Thema/Vergunningen/InfoSection.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-render-config.tsx
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.test.tsx
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/client/pages/Thema/Vergunningen/VergunningenList.tsx
  src/client/pages/Thema/Vergunningen/VergunningenThema.tsx
  src/client/pages/Thema/Vergunningen/useVergunningenDetailData.hook.ts
  src/client/pages/Thema/Vergunningen/useVergunningenThemaData.hook.ts
  src/client/pages/ZaakStatus/ZaakStatus.test.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/services/vergunningen/vergunningen-notifications.test.ts
  src/server/services/vergunningen/vergunningen-notifications.ts
  src/server/services/vergunningen/vergunningen.test.ts
  src/server/services/vergunningen/vergunningen.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Revert notifications response to services as array instead of object to not break the openapi spec
  src/server/services/amsapp/notifications/amsapp-notifications.ts
Due: azure-pipeline-bff.yaml

fix small linting
  src/jobs/fetch-notifications-amsapp.ts
  src/server/services/amsapp/notifications/amsapp-notifications-model.ts
Due: azure-pipeline-bff.yaml

Fix return value in map for ERROR response in fetchNotificationsAndTipsFromServices
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
