Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Add test
  src/client/pages/Thema/Afis/AfisFactuur.test.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
Due: azure-pipeline-ui.yaml

wip
  mocks/fixtures/zorgned-av-aanvragen-rtm.json
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Add description to afgehandeld statusstep of historic varen zaak
  src/server/services/varen/varen-status-steps.ts
Due: azure-pipeline-bff.yaml

first betrokken without aanvraag case
  src/server/services/hli/hli.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

only toegewezne
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

betrokkenen with wijziging toegeweze
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

betrokkenen: einde recht
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

add descriptions for ontvanger with another aanvrager
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

add descriptions, cleanup, and move featuretoggle
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

solve type error
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

Surround decos-service getZakenByUserKey filter in parenthesis
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Fix some tests, plus add failing test voor meerdere betrokkenen, see RP TODO
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

Rm
  src/server/services/avg/avg.test.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/klachten/klachten.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12192-BUG-Surround decos-service getZakenByUserKey filter in parenthesis (#2154)
  src/server/services/decos/decos-service.test.ts
  src/server/services/decos/decos-service.ts
Due: azure-pipeline-bff.yaml

Change name
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

add aanvraag case for meerdere betrokkenen
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

update comment
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
Due: azure-pipeline-bff.yaml

remove expired individual aanvragen
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

filter out non pdf documents
  src/server/services/hli/status-line-items/regeling-rtm.test.ts
  src/server/services/hli/status-line-items/regeling-rtm.ts
  src/server/services/wmo/__snapshots__/wmo.test.ts.snap
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
  src/universal/types/App.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-12151-Feature - Implement zaak status for AVG, Klachten and Bodem (#2150)
  src/client/pages/Thema/Bodem/Bodem.test.tsx
  src/client/pages/Thema/Bodem/BodemDetail.test.tsx
  src/client/pages/Thema/Bodem/BodemDetail.tsx
  src/client/pages/Thema/Bodem/useBodemDetailData.hook.tsx
  src/client/pages/ZaakStatus/ZaakStatus.tsx
  src/server/routing/router-public.ts
  src/server/services/avg/avg.test.ts
  src/server/services/avg/avg.ts
  src/server/services/avg/types.ts
  src/server/services/bodem/loodmeting.test.ts
  src/server/services/bodem/loodmetingen.ts
  src/server/services/bodem/types.ts
  src/server/services/klachten/klachten.test.ts
  src/server/services/klachten/klachten.ts
  src/server/services/klachten/types.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add test subjects
  src/server/routing/router-oidc.test.ts
Due: azure-pipeline-bff.yaml

Fix redirect urls
  src/server/app.ts
  src/server/routing/router-notifications-external-consumer.ts
  src/server/routing/router-oidc.ts
Due: azure-pipeline-bff.yaml

Use full urls
  src/server/auth/auth-routes.ts
  src/server/routing/router-oidc.ts
Due: azure-pipeline-bff.yaml

Fix urls
  src/server/routing/router-development.ts
Due: azure-pipeline-bff.yaml

Fix urls, move oidc router before others
  src/server/app.ts
  src/server/auth/auth-helpers.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-development.ts
  src/server/routing/router-notifications-external-consumer.ts
  src/server/routing/router-oidc.test.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-public.ts
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

Move middleware
  src/server/app.ts
  src/server/routing/router-notifications-external-consumer.ts
  src/server/routing/router-protected.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/server/app.test.ts
  src/server/auth/auth-helpers.ts
  src/server/routing/router-public.test.ts
  src/server/routing/router-public.ts
Due: azure-pipeline-bff.yaml

Mijn-12109-Feature - mobile specific detail page (#2152)
  mocks/fixtures/afis/openstaande-facturen.json
  src/client/pages/Thema/Afis/Afis-render-config.tsx
  src/client/pages/Thema/Afis/Afis-thema-config.ts
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Thema/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Thema/Afis/AfisFactuur.test.tsx
  src/client/pages/Thema/Afis/AfisFactuur.tsx
  src/client/pages/Thema/Afis/AfisThema.tsx
  src/client/pages/Thema/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

MIJN-11908-Bug - Change router order (#2159)
  src/server/app.test.ts
  src/server/app.ts
  src/server/auth/auth-helpers.ts
  src/server/auth/auth-routes.ts
  src/server/routing/route-helpers.ts
  src/server/routing/router-development.ts
  src/server/routing/router-notifications-external-consumer.ts
  src/server/routing/router-oidc.test.ts
  src/server/routing/router-oidc.ts
  src/server/routing/router-protected.ts
  src/server/routing/router-public.test.ts
  src/server/routing/router-public.ts
  src/server/routing/router-stadspas-external-consumer.ts
Due: azure-pipeline-bff.yaml

improve error handling a bit and remove some unneeded if statements
  src/server/services/hli/status-line-items/regeling-rtm.ts
Due: azure-pipeline-bff.yaml

Update show aanvragen after date varen
  src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/VarenThema.test.tsx
Due: azure-pipeline-ui.yaml

Show CONTENT_EMPTY when values are not known
  src/client/pages/Thema/Varen/VarenDetailZaakExploitatie.tsx
Due: azure-pipeline-ui.yaml

Eerste opzet aan de praat, maar is nog lang niet af
  src/client/config/thema-types.ts
  src/client/pages/Thema/HLI/HLI-render-config.tsx
  src/client/pages/Thema/HLI/HLI-thema-config.ts
  src/client/pages/Thema/HLI/HLIStadspasDetail.test.tsx
  src/client/pages/Thema/HLI/HLIStadspasDetail.tsx
  src/client/pages/Thema/HLI/HLIThema.test.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
  src/client/pages/Thema/HLI/useHliThemaData.ts
  src/server/services/hli/hli.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

themalinks toegevoegd
  src/client/pages/Thema/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

test gedraaid en gefixed
  src/client/pages/Thema/HLI/HLIThema.test.tsx
Due: azure-pipeline-ui.yaml

HLILinks in vanuit themaConfig, kindtegoed nog niet
  src/client/pages/Thema/HLI/HLI-thema-config.ts
Due: azure-pipeline-ui.yaml

Update src/client/pages/Thema/Varen/Varen-thema-config.ts
  src/client/pages/Thema/Varen/Varen-thema-config.ts
Due: azure-pipeline-ui.yaml
