Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Fix dev download
  mocks/collections.json
  mocks/routes/afis.js
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add listPageLinkLabel
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
Due: azure-pipeline-ui.yaml

Clean up declarations, sorting op names etc.
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Remove some redundant props, pass count
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Change max rows, change listpage route
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Change title
  src/client/config/thema.ts
Due: azure-pipeline-ui.yaml

Add table ceel widths
  src/client/pages/Afis/Afis.module.scss
Due: azure-pipeline-ui.yaml

Add some layout + disclaimers
  src/client/components/Table/TableV2.tsx
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/Afis.tsx
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
Due: azure-pipeline-ui.yaml

Update test
  src/client/pages/Afis/Afis.test.tsx
Due: azure-pipeline-ui.yaml

Add count
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add total items for custom count
  src/client/pages/ThemaPagina/ThemaPaginaTable.tsx
Due: azure-pipeline-ui.yaml

Add listPageData
  src/client/pages/Afis/AfisFacturen.tsx
Due: azure-pipeline-ui.yaml

Cache FE data
  src/client/hooks/useAppState.ts
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Make query less specific
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add helper
  src/client/hooks/useAppState.ts
Due: azure-pipeline-ui.yaml

Fix query
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Change page layout
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Move disclaimer
  src/client/pages/Afis/Afis.module.scss
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Add alert
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Clean up test
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Add totalCount
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
Due: azure-pipeline-ui.yaml

Add count + align queries
  mocks/fixtures/afis/afgehandelde-facturen.json
  mocks/fixtures/afis/openstaande-facturen.json
  mocks/fixtures/afis/overgedragen-facturen.json
  mocks/routes/afis.js
Due: none

Rename state params, add overgedragen
  src/client/pages/Afis/Afis-thema-config.ts
  src/server/routing/bff-routes.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add titles
  src/client/config/thema.ts
  src/client/pages/Afis/AfisFacturen.tsx
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Fix content
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Make optional
  src/server/services/db/config.ts
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml

Don’t select address data
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Change display props
  src/client/pages/Afis/Afis-thema-config.ts
  src/client/pages/Afis/Afis.module.scss
  src/server/services/visitors.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Ad herinnering
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Change order
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Error display
  src/client/pages/Afis/Afis.tsx
Due: azure-pipeline-ui.yaml

Add id
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/client/pages/Afis/AfisBetaalVoorkeuren.test.tsx
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
  src/client/pages/Afis/AfisFacturen.test.tsx
  src/client/pages/Afis/__snapshots__/Afis.test.tsx.snap
  src/client/pages/Afis/__snapshots__/AfisBetaalVoorkeuren.test.tsx.snap
  src/client/pages/Afis/__snapshots__/AfisFacturen.test.tsx.snap
  src/client/pages/Afis/useAfisThemaData.hook.tsx
  src/client/pages/BezwarenDetail/BezwarenDetail.test.tsx
  src/server/services/afis/afis.test.ts
  src/server/services/afis/test-fixtures/afgehandelde-facturen.json
  src/server/services/afis/test-fixtures/openstaande-facturen.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove style
  src/client/pages/Afis/Afis.module.scss
Due: azure-pipeline-ui.yaml

Add dependencyErrors
  src/client/pages/Afis/useAfisThemaData.hook.tsx
Due: azure-pipeline-ui.yaml

Pick factuurDocumentId first
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Start open if emandates are not active
  src/client/pages/Afis/AfisBetaalVoorkeuren.tsx
Due: azure-pipeline-ui.yaml

Disable decos
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add non-required flag
  src/universal/config/auth.development.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Set non-env-dependent values
  src/server/config/source-api.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
