Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-bff.yaml
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main
  drafts: false

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Fix types
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml

Change some names
  src/client/hooks/api/useBffApi.ts
Due: azure-pipeline-ui.yaml

Add comment
  src/server/services/afis/afis-business-partner.ts
Due: azure-pipeline-bff.yaml

Change types
  src/server/services/afis/afis-business-partner.ts
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

RM LLM junk
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

Move to config
  src/server/services/afis/afis-e-mandates-config.ts
  src/server/services/afis/afis-e-mandates.ts
Due: azure-pipeline-bff.yaml

Update snap
  src/server/services/afis/afis-business-partner.test.ts
Due: azure-pipeline-bff.yaml

Update matchers
  src/server/services/afis/afis-business-partner.test.ts
Due: azure-pipeline-bff.yaml

Fluff!
  src/server/services/afis/afis-e-mandates.test.ts
Due: azure-pipeline-bff.yaml

Fix
  src/client/hooks/api/useBffApi.test.ts
Due: azure-pipeline-ui.yaml

Het deleten van de infosection file bij hli, want het wordt niet meer gebruikt door gebruik van uitlegpagesections bij de themaconfig van hli
  src/client/pages/Thema/HLI/InfoSection.tsx
Due: azure-pipeline-ui.yaml

infosection gedelete
  src/client/pages/Thema/Bodem/BodemList.tsx
  src/client/pages/Thema/HLI/InfoSection.tsx
Due: azure-pipeline-ui.yaml

.
  src/client/pages/Thema/HLI/InfoSection.tsx
Due: azure-pipeline-ui.yaml

HLITherma.test.tsx.snap:
  src/client/pages/Thema/HLI/__snapshots__/HLIThema.test.tsx.snap
Due: azure-pipeline-ui.yaml

HLIThema.test.tsx:
  src/client/pages/Thema/HLI/HLIThema.test.tsx
Due: azure-pipeline-ui.yaml

Add tests
  src/server/services/brp/brp-service-config.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
Due: azure-pipeline-bff.yaml

useHliThemaData.ts:
  src/client/pages/Thema/HLI/useHliThemaData.ts
Due: azure-pipeline-ui.yaml

HLIDetail.tsx:
  src/client/pages/Thema/HLI/HLIDetail.tsx
  src/client/pages/Thema/HLI/HLIList.tsx
Due: azure-pipeline-ui.yaml

HLISpecificatieList.tsx:
  src/client/pages/Thema/HLI/HLISpecificatieList.tsx
  src/client/pages/Thema/HLI/HLIThema.tsx
Due: azure-pipeline-ui.yaml

Trim fixture
  mocks/fixtures/hr-kvk/maatschappelijkeactiviteiten.json
Due: none

Trim fixture
  mocks/fixtures/hr-kvk/vestigingen.json
Due: none

Remove old fixture
  mocks/fixtures/brp.json
Due: none

Use classname
  src/client/components/PreWrap/PreWrap.module.scss
  src/client/components/PreWrap/PreWrap.tsx
Due: azure-pipeline-ui.yaml

Fix import
  src/client/components/PreWrap/PreWrap.tsx
Due: azure-pipeline-ui.yaml

Add back handelsnamen
  mocks/fixtures/hr-kvk/maatschappelijkeactiviteiten.json
Due: none

Change type
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Restore accidental deletion
  src/client/components/Search/search-config.tsx
Due: azure-pipeline-ui.yaml

Fix brp response
  .env.local.template
  mocks/fixtures/brp/test-personen.json
  mocks/routes/brp.js
Due: none

Remove all MKS and deprecated features
  .env.local.template
  mocks/collections.json
  mocks/routes/brp.js
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.module.scss
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.tsx
  src/client/pages/Thema/Profile/private/useAantalBewonersOpAdres.hook.ts
  src/client/pages/Thema/Profile/private/useProfileData.hook.tsx
  src/server/config/source-api.ts
  src/server/routing/bff-routes.ts
  src/server/services/brp/brp-config.ts
  src/server/services/brp/brp-router.ts
  src/server/services/brp/brp-service-config.ts
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.ts
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/tips-service.test.ts
  src/testing/setup.ts
  src/universal/config/feature-toggles.ts
  src/universal/helpers/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change feature toggle
  src/client/pages/Thema/Profile/Profile-thema-config.ts
Due: azure-pipeline-ui.yaml

Fix tests
  src/server/helpers/source-api-request.test.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/bag/bag.test.ts
  src/server/services/bag/my-locations.test.ts
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/hr-kvk/hr-kvk-helpers.ts
  src/server/services/hr-kvk/hr-kvk.ts
Due: azure-pipeline-bff.yaml

Fix predicate
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/predicates.ts
Due: azure-pipeline-bff.yaml

Update test
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
  src/server/services/hr-kvk/hr-kvk.types.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Update tests
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
Due: azure-pipeline-ui.yaml

Mijn-12245-Chore - bewoners op adres (#2233)
  .env.local.template
  mocks/collections.json
  mocks/routes/brp.js
  src/client/pages/Thema/Profile/Profile-thema-config.ts
  src/client/pages/Thema/Profile/ProfileSectionPanel.module.scss
  src/client/pages/Thema/Profile/ProfileSectionPanel.tsx
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.test.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.transform.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.tsx
  src/client/pages/Thema/Profile/private/useAantalBewonersOpAdres.hook.ts
  src/client/pages/Thema/Profile/private/useProfileData.hook.tsx
  src/server/config/source-api.ts
  src/server/helpers/source-api-request.test.ts
  src/server/routing/bff-routes.ts
  src/server/services/afval/adoptable-trash-containers.test.ts
  src/server/services/bag/bag.test.ts
  src/server/services/bag/my-locations.test.ts
  src/server/services/brp/__snapshots__/brp.test.ts.snap
  src/server/services/brp/brp-config.ts
  src/server/services/brp/brp-router.ts
  src/server/services/brp/brp-service-config.ts
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
  src/server/services/content-tips/predicates.test.ts
  src/server/services/content-tips/predicates.ts
  src/server/services/content-tips/tips-service.test.ts
  src/server/services/hr-kvk/hr-kvk-helpers.ts
  src/server/services/hr-kvk/hr-kvk.ts
  src/server/services/hr-kvk/hr-kvk.types.ts
  src/testing/setup.ts
  src/universal/config/feature-toggles.ts
  src/universal/helpers/brp.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add bsn/kvk translation warnings
  src/client/pages/Thema/Profile/commercial/ProfileCommercial.tsx
  src/client/pages/Thema/Profile/private/ProfilePrivate.tsx
  src/server/services/brp/brp-notifications.ts
  src/server/services/brp/brp-types.ts
  src/server/services/brp/brp.test.ts
  src/server/services/brp/brp.ts
  src/server/services/hr-kvk/hr-kvk.ts
  src/server/services/hr-kvk/hr-kvk.types.ts
  src/server/services/tips-and-notifications.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml
