Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: true
      btdAppUI: false

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

fix
  scripts/generate-user-data-overview.ts
Due: none

Fix bug in transformVTHZaakResult
  src/server/services/vergunningen/VTH/pb-zaken-vth-helpers.ts
Due: azure-pipeline-bff.yaml

Fetch wb_transport details for pb vth zaken
  mocks/collections.json
  mocks/fixtures/powerbrowser-zaak-wbtransport.json
  mocks/routes/powerbrowser.cjs
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Use fieldnames of decos for pb-zaken vth ligplaats to show wb transport vesselName
  mocks/fixtures/powerbrowser-zaak-wbtransport.json
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

add log line for userfeedback
  src/server/services/user-feedback/user-feedback.test.ts
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

Add vesselKind to pb ligplaats zaken
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

En voeg vesselKind toe aan fixture
  mocks/fixtures/powerbrowser-zaak-wbtransport.json
Due: none

add test for empty case, plus comment
  src/server/services/user-feedback/user-feedback.test.ts
  src/server/services/user-feedback/user-feedback.ts
Due: azure-pipeline-bff.yaml

beforeEach to reduce repetition
  src/server/services/user-feedback/user-feedback.test.ts
Due: azure-pipeline-bff.yaml

MIJN-12823-BUG: Generate user data overview script fix wrong references (#2473)
  scripts/generate-user-data-overview.ts
Due: none

MIJN-11236-FEATURE: Powerbrowser vth (#2470)
  mocks/fixtures/powerbrowser-attachments.json
  mocks/fixtures/powerbrowser-bb-personen-zaken.json
  mocks/fixtures/powerbrowser-personen-zaken.json
  mocks/fixtures/powerbrowser-search-person.json
  mocks/fixtures/powerbrowser-zaak-adres.json
  mocks/fixtures/powerbrowser-zaak-status.json
  mocks/routes/powerbrowser.cjs
  src/client/pages/Thema/Vergunningen/Vergunningen-thema-config.ts
  src/client/pages/Thema/Vergunningen/VergunningenDetail.tsx
  src/client/pages/Thema/Vergunningen/detail-page-content/LigplaatsVergunning.tsx
  src/server/services/powerbrowser/powerbrowser-field-transformers.ts
  src/server/services/powerbrowser/powerbrowser-helpers.ts
  src/server/services/powerbrowser/powerbrowser-service.ts
  src/server/services/powerbrowser/powerbrowser-types.ts
  src/server/services/powerbrowser/powerbrowser.test.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast-pb-zaken.ts
  src/server/services/toeristische-verhuur/bed-and-breakfast/bed-and-breakfast.test.ts
  src/server/services/vergunningen/VTH/pb-zaken-vth-helpers.ts
  src/server/services/vergunningen/config-and-types.ts
  src/server/services/vergunningen/pb-status-steps.ts
  src/server/services/vergunningen/pb-zaken.ts
  src/server/services/vergunningen/vergunningen.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

remove, but include lacking connections
  compose.yaml
  readme.md
Due: none

Add vesselkind to ligplaats bedrijfsvaartuig
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Fix Ligplaatsvergunning type for wbtransport
  src/server/services/vergunningen/config-and-types.ts
Due: azure-pipeline-bff.yaml

Extract wb fields to shared const
  src/server/services/vergunningen/pb-zaken.ts
Due: azure-pipeline-bff.yaml

Add wb transport unit tests
  src/server/services/powerbrowser/powerbrowser.test.ts
Due: azure-pipeline-bff.yaml

Add api filter options
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/server/openapi-dienstverlening.yml
  src/server/services/hli/hli-status-line-items.ts
  src/server/services/jeugd/status-line-items.ts
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/wmo/wmo-service-config.ts
  src/server/services/wmo/wmo-status-line-items.ts
  src/server/services/wmo/wmo-types.ts
  src/server/services/wmo/wmo-zorgned-service.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/wmo/wmo.ts
  src/server/services/zorgned/zorgned-service.ts
  src/server/services/zorgned/zorgned-types.ts
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Separate into file
  src/server/services/wmo/wmo-external-consumer-service.ts
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/wmo/wmo.test.ts
  src/server/services/wmo/wmo.ts
Due: azure-pipeline-bff.yaml

Add test
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/wmo/wmo-router.test.ts
  src/server/services/wmo/wmo-voorzieningen-api-config.ts
Due: azure-pipeline-bff.yaml

Fix
  tsconfig.json
Due: none

Rename, move
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/wmo/wmo-voorzieningen-api-config.ts
  src/server/services/wmo/wmo-voorzieningen-api-service.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

Rename
  src/server/services/wmo/wmo-external-consumer-service.ts
  src/server/services/wmo/wmo-route-handlers.ts
  src/server/services/wmo/wmo-types.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

Add tests
  src/server/services/wmo/wmo-types.ts
  src/server/services/wmo/wmo-voorzieningen-api-service.test.ts
  src/server/services/wmo/wmo-voorzieningen-api-service.ts
  src/server/services/wmo/wmo.test.ts
Due: azure-pipeline-bff.yaml

Update tests
  src/server/services/zorgned/zorgned-service.test.ts
  src/server/services/zorgned/zorgned-service.ts
Due: azure-pipeline-bff.yaml

Add ref
  src/server/helpers/camelize.ts
Due: azure-pipeline-bff.yaml

Fix typing
  src/server/helpers/camelize.ts
  src/server/services/db/helper.ts
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/wmo/wmo-types.ts
  src/server/services/wmo/wmo-voorzieningen-api-service.ts
  tsconfig.json
Due: azure-pipeline-bff.yaml

Rename
  src/server/services/wmo/wmo-router.test.ts
Due: azure-pipeline-bff.yaml

Add final wb transport test for pbtransformraw fn
  src/server/services/powerbrowser/powerbrowser.test.ts
Due: azure-pipeline-bff.yaml

Fix wrong eslint check
  src/server/services/wmo/wmo-voorzieningen-api-config.ts
Due: azure-pipeline-bff.yaml

Fix return type
  src/server/services/wmo/wmo-voorzieningen-api-service.ts
Due: azure-pipeline-bff.yaml

Remove
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Fix type
  src/universal/helpers/utils.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add required
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Re-add id
  src/server/services/user-feedback/user-feedback.ts
  src/server/services/user-feedback/user-feedback.types.ts
Due: azure-pipeline-bff.yaml

Change type
  src/server/openapi-dienstverlening.yml
Due: azure-pipeline-bff.yaml

Rename
  src/server/services/wmo/wmo-types.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: azure-pipeline-bff.yaml, src/server, src/universal, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
