Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Add mainfooter
  src/client/components/MainFooter/MainFooter.module.scss
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/MainFooter/amsterdam-nl-footer-data.json
  src/client/styles/main.scss
  src/server/services/cms-content.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Restore authenticated, re-use props, cahnge service, add proper react key
  src/client/App.tsx
  src/client/components/MainFooter/MainFooter.tsx
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/server/cache/dev.cms-content.flat-cache.json
  src/server/cache/dev.cms-maintenance-notifications.flat-cache.json
  src/server/services/cms-content.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add unique index to footer elements
  src/client/components/MainFooter/MainFooter.tsx
Due: azure-pipeline-ui.yaml

Consider/Implement comments
  src/client/App.tsx
  src/client/components/MainFooter/MainFooter.module.scss
  src/client/components/MainFooter/MainFooter.tsx
Due: azure-pipeline-ui.yaml

remove unnecessary dep
  src/client/components/MainFooter/MainFooter.module.scss
Due: azure-pipeline-ui.yaml

mijn-8767/Add mainfooter (#1362)
  src/client/App.tsx
  src/client/components/MainFooter/MainFooter.module.scss
  src/client/components/MainFooter/MainFooter.tsx
  src/client/components/MainFooter/amsterdam-nl-footer-data.json
  src/client/pages/ZaakStatus/__snapshots__/ZaakStatus.test.tsx.snap
  src/client/styles/main.scss
  src/server/cache/dev.cms-content.flat-cache.json
  src/server/cache/dev.cms-maintenance-notifications.flat-cache.json
  src/server/services/cms-content.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove toke service, add api key
  .env.local.template
  src/server/config.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Remove oauth
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Rename key
  src/server/config.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add extra check
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Add to docker file
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add readme
  readme.md
Due: none

bff-api:serve-dev aangepast (#1373)
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change set-up
  src/server/config.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Remove mock
  mocks/collections.json
  mocks/routes/afis.js
Due: none

Remove type
  src/server/services/afis/afis-types.ts
Due: azure-pipeline-bff.yaml

Remove tests
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Enable for ACC as well
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Feature mijn-8989 add api key remove token service (#1375)
  .env.local.template
  mocks/collections.json
  mocks/routes/afis.js
  src/server/config.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
  src/universal/config/feature-toggles.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Chore mijn-8780 sso urls adjustment (#1374)
  Dockerfile
  readme.md
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Font size adjustment footer bottombar menu item
  src/client/components/MainFooter/MainFooter.module.scss
  src/client/components/MainFooter/MainFooter.tsx
Due: azure-pipeline-ui.yaml

Moved function to own file and mocked it in tests.
  src/server/config.ts
  src/server/helpers/env.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml

Use smaller header icons
  src/client/components/MainHeader/MainHeader.module.scss
Due: azure-pipeline-ui.yaml

Font size adjustment footer bottombar menu item (#1377)
  src/client/components/MainFooter/MainFooter.module.scss
  src/client/components/MainFooter/MainFooter.tsx
Due: azure-pipeline-ui.yaml

Update test
  src/server/services/hli/stadspas-router-external-consumer.test.ts
Due: azure-pipeline-bff.yaml

Change conditional
  src/client/pages/BffError/BffError.tsx
Due: azure-pipeline-ui.yaml

Separate request params
  src/server/services/hli/stadspas-gpass-service.ts
Due: azure-pipeline-bff.yaml

Update tests, fix legacy detail paga
  src/client/components/Table/Table.tsx
  src/client/pages/HLI/Stadspas.tsx
  src/client/pages/StadspasDetail/StadspasDetail.tsx
  src/client/pages/StadspasDetail/__snapshots__/StadspasDetail.test.tsx.snap
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/setupTests.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add key prop
  src/client/pages/HLI/HLI.tsx
Due: azure-pipeline-ui.yaml

Update gpass service, Stadspas pagina
  mocks/fixtures/gpass-pashouders.json
  mocks/fixtures/gpass-stadspas.json
  mocks/fixtures/gpass-transacties.json
  src/client/components/Search/searchConfig.tsx
  src/client/pages/HLI/HLI.tsx
  src/client/pages/HLI/HLIStadspas.module.scss
  src/client/pages/HLI/HLIStadspas.tsx
  src/client/pages/HLI/Stadspas.tsx
  src/client/pages/StadspasDetail/StadspasDetail.tsx
  src/server/app.ts
  src/server/router-protected.ts
  src/server/services/hli/stadspas-config-and-content.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-route-handlers.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fix data
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Disable render html altogether
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Separate function, update tests
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas.test.ts
Due: azure-pipeline-bff.yaml

No fetch if no budgets
  src/client/pages/HLI/HLIStadspas.tsx
Due: azure-pipeline-ui.yaml

Add error handling + back-channel delivery
  .env.local.template
  mocks/collections.json
  mocks/routes/app-amsterdam-nl.js
  src/client/pages/BffError/BffError.tsx
  src/server/config.ts
  src/server/helpers/auth.ts
  src/server/services/hli/router-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Translate tussenvoegsel
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-types.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: azure-pipeline-ui.yaml, src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
