Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:
  name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
  ...

azure-pipeline-ui.yaml:
  jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
  ...

Fix width
  src/client/components/MainNavSubmenu/MainNavSubmenu.module.scss
Due: azure-pipeline-ui.yaml

MIJN-7383 aanpassen teksten afval (#1181)
  src/client/components/MainNavSubmenu/MainNavSubmenu.module.scss
  src/client/pages/GarbageInformation/GarbageInformation.tsx
  src/client/pages/GarbageInformation/__snapshots__/GarbageInformation.test.tsx.snap
  src/server/cache/dev.search-config.flat-cache.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bump! release-v4.94.0
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bump! release-v4.94.0 (#1183)
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Trim value
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Change api implementation
  src/client/components/MyArea/LegendPanel/PanelContent/Sport.tsx
  src/server/cache/dev.sportaanbieder.flat-cache.json
  src/universal/config/app.ts
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Change api implementation (#1185)
  src/client/components/MyArea/LegendPanel/PanelContent/Sport.tsx
  src/server/cache/dev.sportaanbieder.flat-cache.json
  src/universal/config/app.ts
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Trim value (#1184)
  src/server/services/simple-connect/erfpacht.ts
Due: azure-pipeline-bff.yaml

Disable logout_hint
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Revert "Change api implementation (#1185)"
  src/client/components/MyArea/LegendPanel/PanelContent/Sport.tsx
  src/server/cache/dev.sportaanbieder.flat-cache.json
  src/universal/config/app.ts
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable bekendmakingen
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable logout_hint (#1186)
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-7944 rollback map updates (#1187)
  src/client/components/MyArea/LegendPanel/PanelContent/Sport.tsx
  src/server/cache/dev.sportaanbieder.flat-cache.json
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bump! release-v4.94.1
  package-lock.json
  package.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable svwi
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Disable svwi (#1189)
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Remove custom Paragraph implementation + wrap with Grid.Cell
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/Paragraph/Paragraph.module.scss
  src/client/components/Paragraph/Paragraph.tsx
  src/client/pages/Erfpacht/DossierDetail/DataTableFacturen.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
Due: azure-pipeline-ui.yaml

Remove custom Paragraph implementation + wrap with Grid.Cell (#1190)
  src/client/components/ListPagePaginated/ListPagePaginated.tsx
  src/client/components/Paragraph/Paragraph.module.scss
  src/client/components/Paragraph/Paragraph.tsx
  src/client/pages/Erfpacht/DossierDetail/DataTableFacturen.tsx
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtDossiers.tsx
  src/client/pages/Erfpacht/ErfpachtFacturen.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
Due: azure-pipeline-ui.yaml

Add oplaadpunten detail and change dataset filters
  src/client/components/MyArea/LegendPanel/PanelContent/Oplaadpunten.tsx
  src/server/services/buurt/datasets.ts
  src/server/services/buurt/helpers.ts
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add icons, rename element
  src/client/assets/icons/index.tsx
  src/client/assets/icons/map/connector-type-ccs.svg
  src/client/assets/icons/map/connector-type-chademo.svg
  src/client/assets/icons/map/connector-type-mennekes.svg
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Laadpalen.module.scss
  src/client/components/MyArea/LegendPanel/PanelContent/Laadpalen.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/MyAreaDetailPanel.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Oplaadpunten.tsx
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Bezoek ook gewijizgd voor Ondernemers (de links)
  src/client/components/DirectLinks/DirectLinks.constants.ts
  src/client/components/DirectLinks/__snapshots__/DirectLinks.test.tsx.snap
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-7909 change betaler logic
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
Due: azure-pipeline-ui.yaml

Fix condition
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
Due: azure-pipeline-ui.yaml

Increase width
  src/client/components/MainNavSubmenu/MainNavSubmenu.module.scss
Due: azure-pipeline-ui.yaml

MIJN-7909 change betaler logic (#1193)
  src/client/components/MainNavSubmenu/MainNavSubmenu.module.scss
  src/client/pages/Erfpacht/DossierDetail/ErfpachtersList.tsx
Due: azure-pipeline-ui.yaml

Bezoek ook gewijizgd voor Ondernemers (de links) (#1192)
  src/client/components/DirectLinks/DirectLinks.constants.ts
  src/client/components/DirectLinks/__snapshots__/DirectLinks.test.tsx.snap
  src/universal/config/app.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-7858/Add oplaadpunten detail and change dataset filters (#1191)
  src/client/assets/icons/index.tsx
  src/client/assets/icons/map/connector-type-ccs.svg
  src/client/assets/icons/map/connector-type-chademo.svg
  src/client/assets/icons/map/connector-type-mennekes.svg
  src/client/components/InfoDetail/InfoDetail.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Laadpalen.module.scss
  src/client/components/MyArea/LegendPanel/PanelContent/Laadpalen.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/MyAreaDetailPanel.tsx
  src/client/components/MyArea/LegendPanel/PanelContent/Oplaadpunten.tsx
  src/server/services/buurt/datasets.ts
  src/server/services/buurt/helpers.ts
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add grouping to mijn buurt filters
  src/client/components/MyArea/LegendPanel/DatasetPanel.module.scss
  src/client/components/MyArea/LegendPanel/DatasetPanel.tsx
  src/universal/config/myarea-datasets.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add grouped laadpalen cache
  src/server/cache/dev.laadpalen.flat-cache.json
Due: azure-pipeline-bff.yaml

Add guard
  src/client/components/MyArea/LegendPanel/DatasetPanel.tsx
Due: azure-pipeline-ui.yaml

UITLEG: GenericLinks.UITLEG toegevoegd aan private
  src/client/components/DirectLinks/DirectLinks.constants.ts
  src/client/components/DirectLinks/__snapshots__/DirectLinks.test.tsx.snap
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: azure-pipeline-ui.yaml

Tekst levenloos geboren kind aangepast
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
Due: azure-pipeline-ui.yaml

Tekst levenloos geboren kind aangepast (#1198)
  src/client/pages/Profile/ProfilePrivate.tsx
  src/client/pages/Profile/__snapshots__/ProfilePrivate.test.tsx.snap
Due: azure-pipeline-ui.yaml

MIJN-7986 adjust column widths
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/client/pages/Erfpacht/erfpachtData.hook.ts
  src/server/mock-data/json/erfpacht-v2-dossiers.json
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add collapsible button
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
Due: azure-pipeline-ui.yaml

UITLEG: GenericLinks.UITLEG toegevoegd aan private (#1196)
  src/client/components/DirectLinks/DirectLinks.constants.ts
  src/client/components/DirectLinks/__snapshots__/DirectLinks.test.tsx.snap
  src/client/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: azure-pipeline-ui.yaml

Add test
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/server/services/simple-connect/__snapshots__/erfpachtv2.test.ts.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Mijn-7367 fat bevindingen (#1199)
  src/client/pages/Erfpacht/DossierDetail/DatalistCanons.tsx
  src/client/pages/Erfpacht/DossierDetail/DossierDetail.test.tsx
  src/client/pages/Erfpacht/Erfpacht.module.scss
  src/client/pages/Erfpacht/Erfpacht.tsx
  src/client/pages/Erfpacht/ErfpachtOpenFacturen.tsx
  src/client/pages/Erfpacht/erfpachtData.hook.ts
  src/server/mock-data/json/erfpacht-v2-dossiers.json
  src/server/services/simple-connect/__snapshots__/erfpachtv2.test.ts.snap
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Meldingen tekst milieuzone aangepast
  src/server/mock-data/json/cleopatra.json
  src/server/services/simple-connect/cleopatra.test.ts
Due: azure-pipeline-bff.yaml

Add safety
  src/server/services/buurt/datasets.ts
Due: azure-pipeline-bff.yaml

Path conditions:
  azure-pipeline-bff.yaml: any of: src/server, src/universal, src/bffserver.ts, Dockerfile, package.json, package-lock.json
  azure-pipeline-ui.yaml: any of: src/client, src/universal, src/index.tsx, public, Dockerfile, package.json, package-lock.json
