Repository Amsterdam/mijn-amsterdam-frontend: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

azure-pipeline-bff.yaml:

name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.r)

trigger:
  batch: true
  branches:
    include:
      - ontwikkelen
      - testen
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/server
      - src/universal
      - src/bffserver.ts
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/pipeline-fe

parameters:
  - name: btdBuild
    type: boolean
    default: true
  - name: btdTest
    type: boolean
    default: true
  - name: btdDeploy
    type: boolean
    default: true

  - name: updateAppSettings
    type: boolean
    default: false

variables:
  - ${{ if eq(variables['Build.SourceBranchName'], 'ontwikkelen') }}:
      - name: dtapName
        value: o
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'testen'), eq(variables['Build.Reason'], 'PullRequest')) }}:
      - name: dtapName
        value: t
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false
  - ${{ if ne(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: ${{ parameters.btdDeploy }}

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ parameters.btdBuild }}
      btdTest: ${{ parameters.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}

      btdAppBFF: true
      btdAppUI: false
      updateAppSettings: ${{ parameters.updateAppSettings }}

azure-pipeline-ui.yaml:

trigger:
  batch: true
  branches:
    include:
      - testen
      - az-acceptance
      - main
  paths:
    include:
      - azure-pipeline-ui.yaml
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json

pr:
  autoCancel: true
  paths:
    include:
      - src/client
      - src/universal
      - src/index.tsx
      - public
      - Dockerfile
      - package.json
      - package-lock.json
  branches:
    include:
      - main

resources:
  repositories:
    - repository: MamsInfra
      type: git
      name: MijnAmsterdam/mijn-amsterdam-infra
      ref: refs/heads/main

variables:
  - name: system.debug
    value: true
  - name: btdBuild
    value: true
  - name: btdDeploy
    value: true
  - name: btdTest
    value: true
  - name: dtapName
    value: t
  - ${{ if eq(variables['Build.SourceBranchName'], 'testen') }}:
      - name: btdTest
        value: false
  - ${{ if or(eq(variables['Build.SourceBranchName'], 'az-acceptance'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      - name: dtapName
        value: a
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - name: btdDeploy
        value: false

jobs:
  - template: pipelines/jobs/apps/btd-frontend.yaml@MamsInfra
    parameters:
      dtapName: ${{ variables.dtapName }}
      btdBuild: ${{ variables.btdBuild }}
      btdTest: ${{ variables.btdTest }}
      btdDeploy: ${{ variables.btdDeploy }}
      btdAppBFF: false
      btdAppUI: true
      aquaScan: ${{ eq(variables['Build.Reason'], 'PullRequest') }}

Added content-type which should fix failing request
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Added /gelukt, /mislukt behind deeplink
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Fixed bug in aanbiedingen transacties
  mocks/collections.json
  mocks/routes/gpass.js
  src/server/config.ts
Due: azure-pipeline-bff.yaml

Change title check and add automatic releases
  .github/workflows/pr-title-check.yml
  .github/workflows/release-notification.yml
Due: none

uitsluitend themanaam gewijzigd nog niet dynamisch
  src/client/config/thema.ts
  src/client/pages/Burgerzaken/Burgerzaken.tsx
  src/client/pages/Burgerzaken/__snapshots__/Burgerzaken.test.tsx.snap
  src/client/pages/BurgerzakenDetail/__snapshots__/BurgerzakenIDKaart.test.tsx.snap
  src/universal/config/routes.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Fixed tests
  src/server/services/hli/stadspas-router-external-consumer.test.ts
Due: azure-pipeline-bff.yaml

MIJN-9109-FEATURE-ams-app-wenst-iets-andere-werking-van-de-login-workflow (#1427)
  mocks/collections.json
  mocks/routes/gpass.js
  src/server/config.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

URLs gewijzigd en die van brood verwijderd
  src/client/components/MyArea/LegendPanel/PanelContent/Afval.tsx
Due: azure-pipeline-ui.yaml

Added securityCode field
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
Due: azure-pipeline-bff.yaml

Updated swagger file
  src/server/openapi-amsapp.yml
Due: azure-pipeline-bff.yaml

Nu zonder slashes
  src/client/components/MyArea/LegendPanel/PanelContent/Afval.tsx
Due: azure-pipeline-ui.yaml

Added emailaddress to afis theme page
  mocks/collections.json
  mocks/routes/afis.js
  src/client/pages/Afis/Afis.tsx
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Add missing test
  src/server/services/afis/afis.test.ts
Due: azure-pipeline-bff.yaml

Change title check and add automatic releases (#1422)
  .github/workflows/pr-title-check.yml
  .github/workflows/release-notification.yml
Due: none

Improve afis transformers
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Transform data, organize types
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
  src/test-utils.ts
Due: azure-pipeline-bff.yaml

Remove unused var, remove comment
  src/server/services/hli/stadspas-router-external-consumer.test.ts
Due: azure-pipeline-bff.yaml

Remove optional chain operator
  src/server/services/hli/hli-route-handlers.ts
Due: azure-pipeline-bff.yaml

Rename functions, add tests
  src/server/config.ts
  src/server/openapi-amsapp.yml
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

Rename functions
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

Update swagger file
  src/server/openapi-amsapp.yml
Due: azure-pipeline-bff.yaml

MIJN-9116-URLs gewijzigd en die van brood verwijderd (#1428)
  src/client/components/MyArea/LegendPanel/PanelContent/Afval.tsx
Due: azure-pipeline-ui.yaml

Refactor initial implementation
  src/server/config.ts
  src/server/helpers/app.ts
  src/server/services/afis/afis-route-handlers.ts
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.test.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Return null if undefined
  src/server/services/afis/afis-types.ts
  src/server/services/afis/afis.ts
Due: azure-pipeline-bff.yaml

Remove budgetcode, rename key
  src/server/config.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

Remove imports
  src/server/helpers/app.ts
Due: azure-pipeline-bff.yaml

Remove exports
  src/server/services/hli/stadspas.ts
Due: azure-pipeline-bff.yaml

Mijn-9128-Feature refactor service a bit (#1431)
  src/server/config.ts
  src/server/helpers/app.ts
  src/server/openapi-amsapp.yml
  src/server/services/hli/hli-route-handlers.ts
  src/server/services/hli/stadspas-gpass-service.ts
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/services/hli/stadspas-types.ts
  src/server/services/hli/stadspas.test.ts
  src/server/services/hli/stadspas.ts
  src/test-utils.ts
Due: azure-pipeline-bff.yaml

Add nonce
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml

Update test
  src/server/services/hli/stadspas-router-external-consumer.test.ts
Due: azure-pipeline-bff.yaml

MIJN-9130-Feature - Add nonce (#1433)
  src/server/services/hli/stadspas-router-external-consumer.test.ts
  src/server/services/hli/stadspas-router-external-consumer.ts
  src/server/views/amsapp-stadspas-administratienummer.pug
Due: azure-pipeline-bff.yaml

Temp disabled ssl verification
  Dockerfile
  src/server/config.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

RM comment
  Dockerfile
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9103 - Change titles
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/toeristische-verhuur/vakantieverhuur-vergunning.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

MIJN-9103 - Change titles (#1435)
  src/client/pages/ToeristischeVerhuur/ToeristischeVerhuur.tsx
  src/server/services/toeristische-verhuur/bb-vergunning.ts
  src/server/services/toeristische-verhuur/toeristische-verhuur.test.ts
  src/server/services/toeristische-verhuur/vakantieverhuur-vergunning.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Parkeren URL is fetched and displayed succesfully
  mocks/collections.json
  mocks/routes/parkeren.js
  src/client/config/menuItems.ts
  src/client/config/thema.ts
  src/client/hooks/useThemaMenuItems.ts
  src/server/config.ts
  src/server/router-protected.ts
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml, azure-pipeline-ui.yaml

Added test and refactor
  src/server/services/parkeren/parkeren.test.ts
Due: azure-pipeline-bff.yaml

Updated env template
  .env.local.template
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml

Suggetion: changed empty string to null
  src/client/AppState.ts
Due: azure-pipeline-ui.yaml

Suggetion: Simplified creating request URL
  src/server/services/parkeren/parkeren.ts
Due: azure-pipeline-bff.yaml
